<section class="up-corner-20 article_box" style="background-size: cover; position: relative; z-index: 1; background-image: url(<%= card.image.url %>)">
  <div class="linear-gradient">
    <div style="display: flex; margin: 0vw;">
      <div class="views">         
        <img src="<%= asset_url('views.svg')%>" alt="количество просмотров статьи" style="height: 0.8vw">
        <p class="views_text"></p>
      </div>
      <div class="time_read">
        <img src="<%= asset_url('time-read.svg')%>" alt="время чтения статьи"  style="height: 0.8vw">
        <p class="time_read_text"></p>
      </div>
    </div>
    <div style="width: 100%">
      <p class="article_category">
        <a href="<%= articles_path(cathegory_id: card.cathegory_id) %>">
          <%= card.cathegory.name %>
        </a>
      </p>
    </div>
    <h3 class="article_name" >
      <a href="<% %>">
        <%= card.title %>
      </a>
    </h3>
    <div class="tags">
      <%- card.tags.each do |tag|%>
        <p class="tags_item">
          <a href="<%= articles_path(tag_name: tag)%>"><%= tag%></a></p>
      <% end %>
    </div>
  </div>
</section>
