- left = defined?(is_left) ? "float:left" : ""
.card.ml-3.mt-3{ style: "width: 25rem; #{left}" }
  .img-thunb-block
    = image_tag(card.image.url, class: 'img-thumbnail  m-3') 
  .card-body
    %h5.card-title
      = link_to card.title, card
    .card-level
      = parent_links(card.cathegory)
    .card_text{style: "width: 350px; max-width: 350px;"}
      = card.light_text.html_safe