<!--
<section class="up-corner-20 article_box" style="background-size: cover; position: relative; z-index: 1; background-image: url(<%= card.image.url %>)">
  <a href="<%= article_path(card) %>"></a>
  <div class="linear-gradient">
    <div style="display: flex; margin: 0vw;">
      <div class="views">         
        <img src="<%= asset_url('views.svg')%>" alt="количество просмотров статьи" style="height: 0.8vw">
        <p class="views_text"></p>
      </div>
      <div class="time_read">
        <img src="<%= asset_url('time-read.svg')%>" alt="время чтения статьи"  style="height: 0.8vw">
        <p class="time_read_text"></p>
      </div>
    </div>
    <div style="width: 100%">
      <p class="article_category">
        <a href="<%= articles_path(cathegory_id: card.cathegory_id) %>">
          <%= card.cathegory.name if card.cathegory %>
        </a>
      </p>
    </div>
    <h3 class="article_name" >
      <a href="<%= article_path(card) %>">
        <%= card.title %>
      </a>
    </h3>
    <div class="tags">
      <%- if card.tags.is_a?(Array) %>
        <%- card.tags.each do |tag|%>
          <p class="tags_item">
            <a href="<%= articles_path(tag_name: tag)%>"><%= tag%></a></p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>



<section class="up-corner-20 article_box">
  <span class="article_box_span">
    <span>
      <span class="tags" style="display: flex; margin: 0vw; float: left; clear: left; overflow: overlay;">
        <div class="views">         
          <img src="<%= asset_url('views.svg')%>" alt="количество просмотров статьи">
          <p class="views_text">3343</p>
        </div>
        <div class="time_read">
          <img src="<%= asset_url('time-read.svg')%>" alt="время чтения статьи">
          <p class="time_read_text">2 мин</p>
        </div>
      </span>
      <h3 class="article_category">
        <a href="<%= articles_path(category_id: card.cathegory_id) %>">
          <%= card.cathegory.name if card.cathegory %>
        </a>
      </h3>
      <span class="article_name">
        <a href="<%= article_path(card) %>" style="display: block;">
          <%= card.title %>
        </a>
      </span>
      <span class="tags" style="float: left; clear: left; overflow: overlay;">
        <%- if card.tags.is_a?(Array) %>
          <%- card.tags.each do |tag|%>
            <p class="tags_item">
              <a href="<%= articles_path(tag_name: tag)%>"><%= tag%></a></p>
          <% end %>
        <% end %>
      </span>
    </span>
  </span>
  <a href="<%= article_path(card) %>">
    <img class="card_image" src="<%= card.image.url %>"> src="<%= asset_url('article4.png')%>"
    <div id="linear-gradient">
      <div></div>
    </div>
  </a>
</section>

-->

<section class="up-corner-20 article_box">
  <span class="article_box_span">
    <span>
      <span class="tags" style="display: flex; margin: 0vw; float: left; clear: left; position: relative;">
        <div class="views">         
          <img src="<%= asset_url('views.svg')%>" alt="количество просмотров статьи">
          <p class="views_text"><%= card.view_counter %></p>
        </div>
        <div class="time_read">
          <img src="<%= asset_url('time-read.svg')%>" alt="время чтения статьи">
          <p class="time_read_text"><%= card.reading_time %> мин</p>
        </div>
      </span>
      <h3 class="article_category">
        <a href="<%= articles_path(category_id: card.cathegory_id) %>">
          <%= card.cathegory.name if card.cathegory %>
        </a>
      </h3>
      <span class="article_name">
        <a href="<%= article_path(card) %>" style="display: block;">
          <%= card.title %>
        </a>
      </span>
      <span class="tags card_tags" style="float: left; clear: left; position: relative; overflow: hidden;">
        <%- if card.tags.is_a?(Array) %>
          <%- card.tags.each do |tag|%>
            <p class="tags_item">
              <a href="<%= articles_path(tag_name: tag)%>"><%= tag%></a></p>
          <% end %>
        <% end %>
      </span>
    </span>
  </span>
  <a href="<%= article_path(card) %>">
    <img class="card_image" src="<%= card.image.url %>">
    <div id="linear-gradient">
      <div></div>
    </div>
  </a>
</section>