<%- content = I18n.locale == :ru ? card.article_contents.first : card.article_contents.last %>

<section class="articles__card" style="background-image: url(<%= card.image_file_name %>);">
  <a class="articles__card_link" href="<%= article_path(card) %>"></a>
  <sspan class="articles__card_content">
    <span class="articles__card_info">
      <div class="articles__card_views">         
        <img src="<%= asset_url('views.svg')%>" alt="количество просмотров статьи">
        <p><%= card.view_counter %></p>
      </div>
      <div class="articles__card_time_read" style="margin:0px">
        <img src="<%= asset_url('time-read.svg')%>" alt="время чтения статьи">
        <p><%= card.reading_time %> мин</p>
      </div>
    </span>
    <a class="articles__card_category" href="<%= articles_path(category_id: card.cathegory_id) %>">
      <%= card.cathegory.name if card.cathegory %>
    </a>
    <a class="articles__card_name" href="<%= article_path(card) %>">
      <%= card.title %>
    </a>
    <span class="articles__card_tags">
      <%- if content.tags.is_a?(Array) %>
        <%- content&.tags&.each do |tag|%>
          <a href="<%= articles_path(tag_name: tag)%>"><%= tag%></a>
        <% end %>
      <% end %>
    </span>
  </span>
</section>