.form-group.pl-5
  = form_for @article do |f|
    - if @article.errors.any?
      #error_explanation
        %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
        %ul
          - @article.errors.full_messages.each do |message|
            %li= message

    .form-group.row
      = f.label :title, class: 'col-sm-1'
      = f.text_field :title, class: 'form-control'
    .form-group.row
      = f.label :description, class: 'col-sm-1'
      = f.text_field :description, class: 'form-control'
    .form-group.row
      = f.label :body, class: 'col-sm-1'
    = f.text_area :body, class: 'form-control ', id: 'summernote', placeholder:"Начни свою статью ..."
    %br
    .form-group.row
      = f.label :cathegory_id, class: 'col-sm-1'
      = f.select :cathegory_id, Cathegory.all.map{|cat| [cat.name, cat.id] }, class: 'form-control'
    .form-group.row
      = f.label :style, class: 'col-sm-1'
      = f.select :style, [['Ordinary', 1], ['Pro', 2]], class: 'form-control'
    .form-group.row
      = f.label :reading_time, "Время прочтения",class: 'col-sm-1'
      = f.text_field :reading_time, class: 'form-control'
    .form-group.row
      = f.label :tags, class: 'col-sm-1'
      = f.text_field :tags, class: 'form-control'
    .form-group.row
      = f.label :image_file_name, class: 'col-sm-1'
      = f.text_field :image_file_name, class: 'form-control', style:"height:auto; border:none"
    .actions
      = f.submit 'Save', class: 'btn btn-info'

%script
  $('#summernote').summernote();