.pc_content
  %section.article{style: "background-image: url(#{card.image.url}); background-size: cover"}
    .linear-gradient
      %div{style: "display: flex; margin: 0vw; width: 100%"}
        .views
          %img{src: "#{asset_url('views.svg')}", style:"height: 0.9vw"}
          %p.views_text
            = card.view_counter
        .time_read
          %img{src: "#{asset_url('time-read.svg')}", style:"height: 0.9vw"}
          %p.time_read_text
            = card.reading_time.to_s + " мин"
        .article_date
          %img{src: "#{asset_url('article-date.svg')}", style:"height: 0.9vw"}
          %p.article_date_text
            = card.created_at.strftime("%d %m %Y")
      %div{style: "width: 100%"}
        %p.article_category
          %a{href: "#{articles_path(category_id: card.cathegory_id)}"}
            = card.cathegory.name if card.cathegory 
      %h1.article_name
        = card.title
      .edit
        - unless current_user.nil?
          .edit{style: 'clear: both'}
            = link_to "Редактировать", edit_article_path(card)
      .tags
        - card.tags.each do |t|
          %p.tags_item
            %a{href: "#{articles_path(tag_name: t)}"}
              = t

  .container{style: "margin-bottom: 2vw;"}
    = card.body.html_safe

    .article.tags_all{style: "height: 0vw; margin: 3vw 0vw; width: 86vw;"}
      - card.tags.each do |t|
        %p.tags_item
          %a{href: "#{articles_path(tag_name: t)}"}
            = t
    %h2{style: "margin: 0vw 0vw 1vw 0vw; padding-top: 5vw; text-align: center"} Популярное на сайте

    .pop_articles
      - @popular.each do |art|
        = render partial: "articles/card", locals: {card: art}





.mob
  %section.article{style: "background-image: url(#{card.image.url}); background-size: cover"}
    .linear-gradient
      %div{style: "width: 100%"}
        %p.article_category
          %a{href:""}
            = card.cathegory.name if card.cathegory 
      %h1.article_name
        = card.title
      - unless current_user.nil?
        %br
        .edit{style: 'float:right'}
          = link_to "Редактировать", edit_article_path(card)

  .container{style: "margin-bottom: 2vw;"}
    = card.body.html_safe

    .article.tags_all{style: "height: 0vw; margin: 3vw 0vw; width: 86vw;"}
      - card.tags.each do |t|
        %p.tags_item
          %a{href:"<%= articles_path(tag_name: t)%>"}
            = t
    %h2{style: "font-size: 5vw; margin: 8vw 0vw 4vw 0vw; text-align: center"} Популярное на сайте

    .articles
      - @popular.each do |art|
        = render partial: "articles/card", locals: {card: art}
