- content_for :filters do
  .actions{ style: "float: right;" }
    = link_to 'Править', edit_article_path(card), class: 'btn btn-info'
    = link_to 'Удалить', card, class: 'btn btn-danger', method: :delete, data: { confirm: 'Уверен?' }

.container.article{ style: "float: left; margin-left: 0px; border-color: black; width: 80%; height: max-content; margin-top: 200px;" }
  = image_tag(card.image.url, class: 'img-fluid', style: 'max-width: 100%; height: auto;') if card.image.exists?    
  
  .card{ style: "width: 70%; margin-left: 16%; margin-top:  -110px;" }
    .card-body  
      .card-data
        %ul
          %li Глаз 245
          %li time 3 min
          %li =card.created_at.strftime("%d %m %Y")
      .card-level{ style: "float: left;" }
        = parent_links(card.cathegory) 
      %h5.card-title
        = link_to card.title, card, style: "font-size: 2rem;"
      %h6{style: 'float:left'}
        = # TODO author Андрей Ткаченко
      - unless current_user.nil?
        %br
        .edit{style: 'float:right'}
          = link_to "Редактировать", edit_article_path(card)
      .share-block{style: "margin-top: 40px; margin-left: 25%; border-color: black; height: 50px; width: 50%;"}
        - card.tags[0..3].split(" ").each do |t|
          %font{class: "tags"}
            = "\##{t}"
      =# social_share_button_tag("Share", :allow_sites => %w(vkontakte facebook telegram))


  .article-body
    %p
      = card.body.html_safe

.right{style: "float: left; margin-left: 50px; margin-right: -200px; text-align: center;"}
  %br
  %br
  -#%h5{style: "margin-left: 200px; font-size: 24px"} Товары
  -# @courses.each do |course|
  =# render partial:  'courses/min_card', locals: {card: course}
  %br
  %h5{style: " font-size: 24px; margin-left: 50px;"} Новинки
  - @news.each do |n|
    = render partial: "articles/card", locals: {card: n} 
  

- if !@latest.empty?
  .container-fluid.latest{style: "clear: left;  padding-top: 30px; "}
    %h5{style: "margin-bottom: 20px; font-size: 24px; margin-left: 34% "} Новое в разделе
    - @latest.each do |art|
      = render partial: "articles/card", locals: {card: art, is_left: true} 