<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://tkachenkoandrey.com/articles">
  <title>Статьи | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Полезные статьи о саморазвитии и самопомощи при неврозах, тревоге, депрессии, психосоматике, ОКР, панических атаках, психотравмах и низкой самооценке.">
  <meta name="keywords" content="статьи Ткаченко Андрей, блог психолога, психология отношений, общая психология, саморазвитие, психологические проблемы, статьи о психологии, консультация психолога онлайн, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/articles">
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Статьи | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Полезные статьи о саморазвитии и самопомощи при неврозах, тревоге, депрессии, психосоматике, ОКР, панических атаках, психотравмах и низкой самооценке.">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="статьи Ткаченко Андрей">
  <meta property="article:tag" content="блог психолога"> 
  <meta property="article:tag" content="психология отношений">
  <meta property="article:tag" content="общая психология">
  <meta property="article:tag" content="саморазвитие">
  <meta property="article:tag" content="психологические проблемы">
  <meta property="article:tag" content="статьи о психологии">
  <meta property="article:tag" content="консультация психолога онлайн">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="http://tkachenkoandrey.com/articles">
  <meta name="twitter:title" content="Статьи | Психолог Ткаченко Андрей">
  <meta name="twitter:desctiption" content="Полезные статьи о саморазвитии и самопомощи при неврозах, тревоге, депрессии, психосоматике, ОКР, панических атаках, психотравмах и низкой самооценке.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="articles">
  <div class="articles__body container">
    <div class="articles__header  header_box">
      <h1 class="articles__title title"><%= I18n.t 'articles.Статьи' %></h1>
    </div>
    <div class="articles__row_menu">
      <div class="articles__column">
        <h3 class="articles__title-cathegory" style="border-radius: 4px 0px 0px 4px"><%= I18n.t 'articles.cathegory.Категории' %></h3>
        <nav class="cathegory">
          <input type="checkbox" id="cathegory" style="display: none;">
          <label for="cathegory">
            <p class="cathegory__mous" style="padding: 15px 5px; margin: 0px"><%= @category_id_text %><img src="<%= asset_url('arrow-category.svg')%>" alt="стрелка подкатегории" style="width: 12px; margin-left: 5px;"></p>
            <h3 class="cathegory__touch" style="margin: 0px; background: var(--green); padding: 15px 5px; color: var(--white);"><%= I18n.t 'articles.cathegory.Категории' %></h3>
            <ul class="cathegory__list">
              <li>
                <a href="/articles" class="cathegory__link" style="border-top: 1px solid var(--gray);"><%= I18n.t 'articles.cathegory.Все статьи' %></a>
              </li>
              <li class="cathegory__link cathegory__problem" style="padding: 15px 5px; background: var(--white); color: var(--black);"><%= I18n.t 'articles.cathegory.Проблемы' %><img src="<%= asset_url('arrow-category.svg')%>" alt="стрелка подкатегории" style="width: 12px; margin-left: 5px; transform: rotate(-90deg);">
                <ul class="sub-cathegory__list">
                  <li style="border-top-right-radius: 4px"><a class="sub-cathegory__link" style="border-top-right-radius: 4px" href="/articles?category_id=7"><%= I18n.t 'articles.cathegory.Невроз и психосоматика' %></a></li>
                  <li><a class="sub-cathegory__link" href="/articles?category_id=8"><%= I18n.t 'articles.cathegory.Тревога' %></a></li>
                  <li><a class="sub-cathegory__link" href="/articles?category_id=15"><%= I18n.t 'articles.cathegory.Психотравмы' %></a></li>
                  <li><a class="sub-cathegory__link" href="/articles?category_id=11"><%= I18n.t 'articles.cathegory.Панические атаки' %></a></li>
                  <li><a class="sub-cathegory__link" href="/articles?category_id=14"><%= I18n.t 'articles.cathegory.Низкая самооценка' %></a></li>
                  <li><a class="sub-cathegory__link" href="/articles?category_id=13"><%= I18n.t 'articles.cathegory.Навязчивости (ОКР)' %></a></li>
                  <li><a class="sub-cathegory__link" href="/articles?category_id=9" style="border: none; border-radius: 0px 0px 4px 4px"><%= I18n.t 'articles.cathegory.Депрессия и уныние' %></a></li>
                </ul>
              </li>
              <li class="cathegory__touch"><a class="cathegory__link" href="/articles?category_id=7"><%= I18n.t 'articles.cathegory.Невроз и психосоматика' %></a></li>
              <li class="cathegory__touch"><a class="cathegory__link" href="/articles?category_id=8"><%= I18n.t 'articles.cathegory.Тревога' %></a></li>
              <li class="cathegory__touch"><a class="cathegory__link" href="/articles?category_id=15"><%= I18n.t 'articles.cathegory.Психотравмы' %></a></li>
              <li class="cathegory__touch"><a class="cathegory__link" href="/articles?category_id=11"><%= I18n.t 'articles.cathegory.Панические атаки' %></a></li>
              <li class="cathegory__touch"><a class="cathegory__link" href="/articles?category_id=14"><%= I18n.t 'articles.cathegory.Низкая самооценка' %></a></li>
              <li class="cathegory__touch"><a class="cathegory__link" href="/articles?category_id=13"><%= I18n.t 'articles.cathegory.Навязчивости (ОКР)' %></a></li>
              <li class="cathegory__touch"><a class="cathegory__link" href="/articles?category_id=9"><%= I18n.t 'articles.cathegory.Депрессия и уныние' %></a></li>
              <li><a class="cathegory__link" href="/articles?category_id=2"><%= I18n.t 'articles.cathegory.Психология отношений' %></a> </li>
              <li><a class="cathegory__link" href="/articles?category_id=3"><%= I18n.t 'articles.cathegory.Общая психология' %></a></li>
              <li><a class="cathegory__link" href="/articles?category_id=4"><%= I18n.t 'articles.cathegory.Исследования' %></a></li>
              <li><a class="cathegory__link" href="/articles?category_id=5"><%= I18n.t 'articles.cathegory.Саморазвитие' %></a></li>
              <li class="for_profi" style="border-radius: 0px 0px 4px 4px"><a style="border-radius: 0px 0px 4px 4px; border-bottom: none;" class="cathegory__link" href="/articles?category_id=6"><%= I18n.t 'articles.cathegory.Для профи' %></a></li>
            </ul>
          </label>
        </nav>
      </div>
      <div class="articles__column">
        <h3 class="articles__title-cathegory" style="border-radius: 4px 0px 0px 4px;"><%= I18n.t 'articles.sorting.Сортировать по' %></h3>
        <nav class="cathegory">
          <input type="checkbox" id="sorting" style="display: none;">
          <label for="sorting" style="height: 50px;">
            <p class="cathegory__mous" style="padding: 5px; margin: 0px"><%= @sort_text %><img src="<%= asset_url('arrow-category.svg')%>" alt="стрелка подкатегории" style="width: 12px; margin-left: 5px"></p>
            <h3 class="cathegory__touch" style="margin: 0px; background: var(--green); padding: 15px 5px; color: var(--white);"><%= I18n.t 'articles.sorting.Сортировать по' %></h3>
            <ul class="cathegory__list">
              <li <%= "selected" if (@sort == 'views')%> style="border-top: 1px solid var(--gray);">
                <a class="cathegory__link" href="<%= articles_path(sort: "views") %>"><%= I18n.t 'articles.sorting.views' %></a>
              </li>
              <li <%= "selected" if (@sort == 'new')%> >
                <a class="cathegory__link" href="<%= articles_path(sort: "new") %>"><%= I18n.t 'articles.sorting.new' %></a>
              </li>
              <li <%= "selected" if (@sort == 'old')%> >
                <a class="cathegory__link" href="<%= articles_path(sort: "old") %>"><%= I18n.t 'articles.sorting.old' %></a>
              </li>
              <li <%= "selected" if (@sort == 'time_less')%>>
                <a class="cathegory__link" style="padding: 6px" href="<%= articles_path(sort: "time_less") %>"><%= I18n.t 'articles.sorting.time_less' %></a>
              </li>
              <li <%= "selected" if (@sort == 'time_more')%> style="border-bottom: none; border-radius: 0px 0px 4px 4px">
                <a class="cathegory__link" style="padding: 6px; border-radius: 0px 0px 4px 4px; border-bottom: none;" href="<%= articles_path(sort: "time_more") %>" ><%= I18n.t 'articles.sorting.time_more' %></a></li>
            </ul>
          </label>
        </nav>
      </div>
    </div>
    <div class="articles__row">
      <%- @articles.each do |article| %>
      <%= render partial: 'card', locals: {card: article } %>
      <% end %>       
      <%= paginate @articles, window: 2 %>
    </div>
  </div>
</div> 