- content_for :filters do
  %div{style: "height: 20px; float: left; margin: 10px 10px"}
    = link_to image_tag("/assets/icon/filter_blocks.png", size: "30"), nil, { id: 'filter_block', style: "margin-left: 10px" }
    = link_to image_tag("/assets/icon/filter_list.png", size: "30"),  nil, { id: 'filter_list', style: "margin-left: 10px"}

- content_for :filters_panel do
  = render partial: 'pages/articles_filters'

- content_for :buttons do
  = link_to 'New Article', new_article_path, class: "btn btn-success", style: "float: right"

%br

%div#artical_blocks{ style: 'clear: both; hight: 100%; margin-left: auto; width: 90%' }
  - @articles.each do |article|
    = render partial: 'card', locals: {card: article, is_left: true }

%table#artical_lists
  %tr
    %th
      icon
    %th
      groups
    %th
      title
    %th
      style
    %th
      tags
    %th
      buttons
  %tbody
    - @articles.each do |article|
      = render partial: 'list', locals: {card: article }