- width = defined?(hide_right_block).nil? ? "width: 40%;" : "width: 110%;" 

- hide_right_block = defined?(:hide_right_block) ? hide_right_block : nil 
- hide_days = defined?(:hide_days) ? hide_days : nil

.form-group.pl-5.pr-5{style: "min-height: 750px"}
  = form_for @client do |f|
    .left_group{style: "float:left; #{width} height: 600px"}
      - unless hide_right_block
        %h3 
          Запись на консультацию психолога
      %br
      - if @client.errors.any?
        #error_explanation
          %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
          %ul
            - @client.errors.full_messages.each do |message|
              %li= message

      .form-group.row.ml-3
        = f.text_field :name, class: 'form-control', placeholder: "Имя", style: 'width:400px'
      .form-group.row.ml-3
        = f.text_field :email, class: 'form-control', placeholder: "E-mail", style: 'width:400px'
      .form-group.row.ml-3
        = f.text_field :phone, class: 'form-control', placeholder: "Номер телефона", style: 'width:400px'
      .form-group.row.ml-3
        = text_area :request, :comment, class: 'form-control', placeholder: "Опишите проблему ", style: 'width:400px'
      - unless hide_days
        .row
          .form-group{style: "float: left; width: 200px;  height: 220px"}
            .form-group.row.ml-3.days-row
              = check_box(:request, :days, {:multiple => true}, "понедельник")
              &#8195; 
              = label(:request, :days, "Понедельник", class: "days-box")
            .form-group.row.ml-3.days-row
              = check_box(:request, :days, {:multiple => true}, "вторник", nil)
              &#8195; 
              = label(:request, :days, "Вторник", class: "days-box")
            .form-group.row.ml-3.days-row
              = check_box(:request, :days, {:multiple => true}, "среда", nil)
              &#8195; 
              = label(:request, :days, "Среда", class: "days-box")
            .form-group.row.ml-3.days-row
              = check_box(:request, :days, {:multiple => true}, "четверг", nil)
              &#8195; 
              = label(:request, :days, "Четверг", class: "days-box")
            .form-group.row.ml-3.days-row
              = check_box(:request, :days, {:multiple => true}, "пятница", nil)
              &#8195; 
              = label(:request, :days, "Пятница", class: "days-box")
            .form-group.row.ml-3.days-row
              = check_box(:request, :days, {:multiple => true}, "суббота", nil)
              &#8195; 
              = label(:request, :days, "Суббота", class: "days-box")
            .form-group.row.ml-3.days-row
              = check_box(:request, :days, {:multiple => true}, "воскресение", nil)
              &#8195; 
              = label(:request, :days, "Воскресение", class: "days-box")
          .form-group{style: "float: left; margin-left: 20px; height: 220px"}     
            Свободен
            .form-group.input-group.clockpicker.row.ml-3
              с: &#8195;
              = text_field(:request, :from, class:"form-control", value: "9:00", style: "width: 70px")
              %span.input-group-addon{style: "display: table-cell;"}
                %span.glyphicon.glyphicon-time{style: "display: inline-block; width: 20px; height: 20px;"}
                  %i.fa.fa-clock-o{style: "font-size: 20px;"}
                  
            .form-group.clockpicker.input-group.row.ml-3
              по: &#8194;
              = text_field(:request, :to, class:"form-control", value:"10:00", style: "width: 70px")
              %span.input-group-addon
                %span.glyphicon.glyphicon-time{style: "display: inline-block; width: 20px; height: 20px;"}
                  %i.fa.fa-clock-o{style: "font-size: 20px;"}  

      - unless hide_right_block  
        .form-group.form-check.ml-3
          = f.check_box :agree, class: "form-check-input", id: "agree", required: true
          %label.form-check-label{for: "agree", style: "width: 400px"} 
            С  
            = link_to "договором на предоставление психологических услуг", "#", {class: "contract_button"}
            ознакомлен и согласен
      .actions.ml-3
        = f.submit 'Отправить', class: 'btn btn-info'
      -if hide_right_block
        = "<br/>*Ответ на вопрос будет отправлен на ваш E-meil в течении суток <br/>".html_safe

      .row{style: "margin-top: 15px; margin-bottom: 15px; "}
        = link_to image_tag("/assets/icon/0fb.png", size: "50"), "https://m.me/tkachenko.psychology", {:class => "c-icon"} 
        = link_to image_tag("/assets/icon/0insta.png", size: "50"), "https://instagram.com/tkachenko_psychology", {:class => "c-icon"} 
        = link_to image_tag("/assets/icon/0skype.png", size: "50"), "skype:andreadetotti", {:class => "c-icon"} 
        = link_to image_tag("/assets/icon/0telegram.png", size: "50"), "https://t.me/tkachenko_psychology", {:class => "c-icon"} 
        = link_to image_tag("/assets/icon/0viber.png", size: "50"), "viber://chat?number=%2B380964248025", {:class => "c-icon"} 
        = link_to image_tag("/assets/icon/0vk.png", size: "50"), "https://vk.com/tkachenko.psychology", {:class => "c-icon"} 
        = link_to image_tag("/assets/icon/0youtube.png", size: "50"), "https://www.youtube.com/channel/UChccoFGukEuBtMfavtQaHTQ", {:class => "c-icon"} 
        = link_to image_tag("/assets/icon/0email.png", size: "50"), "mailto:andreadetotti@gmail.com", {:class => "c-icon"} 



    - unless hide_right_block
      .right_group{style: 'float:left; width: 60%; max-height:800px; height: auto'}
        .row
          = render(partial: "pages/client_right_panel")
        