.form-group.pl-5.pr-5{style: "min-height: 1250px; margin-top: 160px; margin-left: 160px"}
  = form_for @client do |f|
    .left_group{style: "float:left; height: 600px"}
      %h3 
        Запись на консультацию
      %br
      - if @client.errors.any?
        #error_explanation
          %ul
            - @client.errors.full_messages.each do |message|
              %li= message

      .form-group.row.ml-3
        = f.label :name, "Введите имя*"
        = f.text_field :name, class: 'form-control', style: ''
      .form-group.row.ml-3
        = f.label :email, "Введите e-mail*"
        = f.text_field :email, class: 'form-control', style: ''
      .form-group.row.ml-3
        = f.label :phone, "Введите yомер телефона*"
        = f.text_field :phone, class: 'form-control', placeholder: "+_(___) ___ __ __ ", style: ''
      .form-group.row
        .ml-3
          = f.check_box :viber
          = f.label :viber, "Viber"
        .ml-3
          = f.check_box :telegram
          = f.label :telegram, "Telegram"
        .ml-3
          = f.check_box :whatsup
          = f.label :whatsup, "Whatsup"
      .form-group.row.ml-3
        = text_area :request, :comment, class: 'form-control', placeholder: "Кратко опишите вашу проблему ", style: 'width:400px'
      .actions.ml-3
        = f.submit 'Отправить', class: "button1_style", id: "new_request"
  #error_block
  #thank_you_block
    = render partial: "/new/thank_you"
