<div class="text-reviews" id="w_reviews">
<div class="slider">
  <div class="slider__wrapper">
    <div class="slider__column">
      <div class="slider__item">
        <div class="slider__content">  
          <img class="review__icon" src="<%= asset_url('review/Максим-32-года.jpg')%>" alt="отзыв психолог Ткаченко Андрей Максим 32 года">
          <h3 class="review__name">Максим, 32 года</h3>
          <p class="review__text">
            «Я пришел с мыслями насчет моей личной жизни, от которых не было совершенно никакого отбоя. Я переживал и думал, что с этим невозможно справиться. Ведь мысли - это часть меня. Но Андрей показал, что с этим можно работать. И у меня стало получаться. Я был тревожным, неуверенным, а после практики получал огромное удовольствие, разделяя эмоции, мысли и реальность. Самое главное - что Андрей работает на результат»
          </p>
        </div>
      </div>
    </div>
    <div class="slider__column">
      <div class="slider__item">
        <div class="slider__content">
          <img class="review__icon" src="<%= asset_url('review/Татьяна-24-года.jpg')%>" alt="отзыв психолог Ткаченко Андрей Татьяна 24 года">
          <h3 class="review__name">Татьяна, 24 года</h3>
          <p class="review__text">
            «Во время наших сеансов с Андреем я научилась больше понимать свои эмоции и ощущения, избавилась от проблем, которые долго портили мне жизнь. Я посмотрела на многие ситуации под другим углом, что очень положительно повлияло на мою личную жизнь, отношения с мужем и родными. Это был отличный опыт познания себя. Спасибо за продуктивную работу, понимание с полуслова и несомненный профессионализм. А также за технику релаксации»
          </p>
        </div>
      </div>
    </div>
    <div class="slider__column">
      <div class="slider__item">
        <div class="slider__content">
          <img class="review__icon" src="<%= asset_url('review/Анастасия-20-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Анастасия 20 лет">
          <h3 class="review__name">Анастасия, 20 лет</h3>
          <p class="review__text">
            «Во время  работы с Андреем было очень легко. Некоторые вещи после консультации перестали беспокоить и стали более понятными. За одну консультацию мы решили все вопросы, сразу ощутилась легкость! Проблемы преобразовались в легкие решения. Спасибо большое Вам за проделанную работу! Очень приятным бонусом был файл, где были прописаны все проблемы и пути их решения, к которым мы пришли на консультации!»
          </p>
      </div>
      </div>
    </div>
     <div class="slider__column">
      <div class="slider__item">
        <div class="slider__content">
          <img class="review__icon" src="<%= asset_url('review/Мария-20-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Мария 20 лет">
          <h3 class="review__name">Мария, 20 лет</h3>
          <p class="review__text">
            «Я пол года занималась еженедельно с Андреем. Я не понимала, почему у меня не складываются отношения, но на определенном этапе работы оказалось, что то, с чем я пришла - это верхушка айсберга, а причина всему - тревога. Я не могу передать словами то, какого было мое удивление, восхищение методиками работы Андрея, насколько структурированы и понятны его методы. Я обрела все, чего мне не хватало. Спасибо!»
          </p>
        </div>
      </div>
    </div>
    <div class="slider__column">
      <div class="slider__item">
        <div class="slider__content">
          <img class="review__icon" src="<%= asset_url('review/Богдан-29-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Богдан 29 лет">
          <h3 class="review__name">Богдан, 29 лет</h3>
          <p class="review__text">
            «У меня 3 месяца была тревога и ПА. Я взял пробный урок, без особых надежд на успех, потому что у меня был уже отрицательный опыт. Однако, после 1-го занятия, техники, которые дал мне Андрей, дали определенный эффект, поэтому я поверил в то, что с этим специалистом можно работать. И мои ожидания абсолютно оправдались. Мы прозанимались 5 занятий и мои проблемы решились. Прошло пол года - никаких проблем нет»
          </p>
        </div>
      </div>
    </div>
    <div class="slider__column">
      <div class="slider__item">
        <div class="slider__content">
          <img class="review__icon" src="<%= asset_url('review/Светлана-37-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Светлана 37 лет">
          <h3 class="review__name">Светлана, 37 лет</h3>
          <p class="review__text">
            «Андрея я нашла, когда в моей жизни был непростой период. Мне понравился энтузиазм Андрея и то, что он никогда не оставлял меня одну (была постоянная связь в Вайбере), после каждой консультации мы уже могли отмечать какой-то результат. ДЗ мы делали вместе. Андрей грамотный психолог, он не дал мне ни одного совета, а каждую ситуацию показал с какой-то неведомой для меня стороны, тогда я всё поняла и приняла ряд верных решений»
          </p>
        </div>
      </div>
    </div>
    <div class="slider__column">
      <div class="slider__item">
        <div class="slider__content">
          <img class="review__icon" src="<%= asset_url('review/Данил-20-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Данил 20 лет">
          <h3 class="review__name">Данил, 20 лет</h3>
          <p class="review__text">
            «Очень понравился подход Андрея как специалиста, изначально он много информации передал мне во время первичного общения о том, как будет выглядеть консультация, финансовые вопросы, всё было ясно изложено, это впечатлило. Мне было легко общаться с Андреем, он задавал вопросы в нужный момент, никогда не давил. Иногда, казалось, что он видит меня насквозь. Мне кажется, это о многом свидетельствует»
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  <a class="slider__control slider__control_left" href="#" role="button"></a>
  <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
</div>
<%= render partial: "/new/slider"%>