<div class="text-reviews" id="w_reviews">
<div class="slider">
  <div class="slider__wrapper">
    <div class="slider__column">
      <div class="slider__item">
        <div class="slider__content">  
          <img class="review__icon" src="<%= asset_url('review/Максим-32-года.webp')%>" alt="отзыв психолог Ткаченко Андрей Максим 32 года">
          <h3 class="review__name"><%= t 'slider-reviews.Maksim32.name' %></h3>
          <p class="review__text"><%= t 'slider-reviews.Maksim32.text' %></p>
        </div>
      </div>
    </div>
    <div class="slider__column">
      <div class="slider__item">
        <div class="slider__content">
          <img class="review__icon" src="<%= asset_url('review/Татьяна-24-года.webp')%>" alt="отзыв психолог Ткаченко Андрей Татьяна 24 года">
          <h3 class="review__name"><%= t 'slider-reviews.Tatiana24.name' %></h3>
          <p class="review__text"><%= t 'slider-reviews.Tatiana24.text' %></p>
        </div>
      </div>
    </div>
    <div class="slider__column">
      <div class="slider__item">
        <div class="slider__content">
          <img class="review__icon" src="<%= asset_url('review/Анастасия-20-лет.webp')%>" alt="отзыв психолог Ткаченко Андрей Анастасия 20 лет">
          <h3 class="review__name"><%= t 'slider-reviews.Anastasia20.name' %></h3>
          <p class="review__text"><%= t 'slider-reviews.Anastasia20.text' %></p>
      </div>
      </div>
    </div>
     <div class="slider__column">
      <div class="slider__item">
        <div class="slider__content">
          <img class="review__icon" src="<%= asset_url('review/Мария-20-лет.webp')%>" alt="отзыв психолог Ткаченко Андрей Мария 20 лет">
          <h3 class="review__name"><%= t 'slider-reviews.Maria20.name' %></h3>
          <p class="review__text"><%= t 'slider-reviews.Maria20.text' %></p>
        </div>
      </div>
    </div>
    <div class="slider__column">
      <div class="slider__item">
        <div class="slider__content">
          <img class="review__icon" src="<%= asset_url('review/Богдан-29-лет.webp')%>" alt="отзыв психолог Ткаченко Андрей Богдан 29 лет">
          <h3 class="review__name"><%= t 'slider-reviews.Bogdan29.name' %></h3>
          <p class="review__text"><%= t 'slider-reviews.Bogdan29.text' %></p>
        </div>
      </div>
    </div>
    <div class="slider__column">
      <div class="slider__item">
        <div class="slider__content">
          <img class="review__icon" src="<%= asset_url('review/Светлана-37-лет.webp')%>" alt="отзыв психолог Ткаченко Андрей Светлана 37 лет">
          <h3 class="review__name"><%= t 'slider-reviews.Svetlana37.name' %></h3>
          <p class="review__text"><%= t 'slider-reviews.Svetlana37.text' %></p>
        </div>
      </div>
    </div>
    <div class="slider__column">
      <div class="slider__item">
        <div class="slider__content">
          <img class="review__icon" src="<%= asset_url('review/Данил-20-лет.webp')%>" alt="отзыв психолог Ткаченко Андрей Данил 20 лет">
          <h3 class="review__name"><%= t 'slider-reviews.Danil20.name' %></h3>
          <p class="review__text"><%= t 'slider-reviews.Danil20.text' %></p>
        </div>
      </div>
    </div>
  </div>
</div>
  <a class="slider__control slider__control_left" href="#" role="button"></a>
  <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
</div>
<%= render partial: "/new/slider"%>