<div class="slider" id="w_reviews">
  <div class="slider__wrapper">
    <div class="slider__item">
      <div class="review_box">
        <img class="review_icon" src="<%= asset_url('review/Мария-20-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Мария 20 лет">
        <h3 class="review_name">Мария, 20 лет</h3>
        <p class="review_text">
          «Я пол года занималась еженедельно с Андреем. Я не понимала, почему у меня не складываются отношения, но на определенном этапе работы оказалось, что то, с чем я пришла - это верхушка айсберга, а причина всему - тревога. Я не могу передать словами то, какого было мое удивление, восхищение методиками работы Андрея, насколько структурированы и понятны его методы. Я обрела все, чего мне не хватало. Спасибо!»
        </p>
      </div>
    </div>
    <div class="slider__item">
      <div class="review_box">
        <img class="review_icon" src="<%= asset_url('review/Богдан-29-лет.png')%>" alt="отзыв психолог Ткаченко Андрей Богдан 29 лет">
        <h3 class="review_name">Богдан, 29 лет</h3>
        <p class="review_text">
          «У меня 3 месяца была тревога и ПА. Я взял пробный урок, без особых надежд на успех, потому что у меня был уже отрицательный опыт. Однако, после 1-го занятия, техники, которые дал мне Андрей, дали определенный эффект, поэтому я поверил в то, что с этим специалистом можно работать. И мои ожидания абсолютно оправдались. Мы прозанимались 5 занятий и мои проблемы решились. Прошло пол года - никаких проблем нет»
        </p>
      </div>
    </div>
    <div class="slider__item">
      <div class="review_box">
        <img class="review_icon" src="<%= asset_url('review/Светлана-37-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Светлана 37 лет">
        <h3 class="review_name">Светлана, 37 лет</h3>
        <p class="review_text">
          «Андрея я нашла, когда в моей жизни был непростой период. Мне понравился энтузиазм Андрея и то, что он никогда не оставлял меня одну (была постоянная связь в Вайбере), после каждой консультации мы уже могли отмечать какой-то результат. ДЗ мы делали вместе. Андрей грамотный психолог, он не дал мне ни одного совета, а каждую ситуацию показал с какой-то неведомой для меня стороны, тогда я всё поняла и приняла ряд верных решений»
        </p>
      </div>
    </div>
    <div class="slider__item">
      <div class="review_box">
        <img class="review_icon" src="<%= asset_url('review/Максим-32-года.jpg')%>" alt="отзыв психолог Ткаченко Андрей Максим 32 года">
        <h3 class="review_name">Максим, 32 года</h3>
        <p class="review_text">
          «Я пришел с мыслями насчет моей личной жизни, от которых не было совершенно никакого отбоя. Я переживал и думал, что с этим невозможно справиться. Ведь мысли - это часть меня. Но Андрей показал, что с этим можно работать. И у меня стало получаться. Я был тревожным, неуверенным, а после практики получал огромное удовольствие, разделяя эмоции, мысли и реальность. Самое главное - что Андрей работает на результат»
        </p>
      </div>
    </div>
    <div class="slider__item">
      <div class="review_box">
        <img class="review_icon" src="<%= asset_url('review/Татьяна-24-года.png')%>" alt="отзыв психолог Ткаченко Андрей Татьяна 24 года">
        <h3 class="review_name">Татьяна, 24 года</h3>
        <p class="review_text">
          «Під час наших сеансів з Андрієм я навчилася більше розуміти себе, свої емоції і відчуття, позбулася проблем, які довгий час псували мені життя. Завдяки Андрію, я поглянула на багато ситуацій під іншим кутом, що дуже позитивно вплинуло на моє особисте життя, відносини з чоловіком та рідними. Це був чудовий досвід пізнання себе. Дякую за продуктивну роботу, розуміння з півслова та безсумнівний професіоналізм. А також за техніку релаксації :)»
        </p>
      </div>
    </div>
    <div class="slider__item">
      <div class="review_box">
        <img class="review_icon" src="<%= asset_url('review/Анастасия-20-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Анастасия 20 лет">
        <h3 class="review_name">Анастасия, 20 лет</h3>
        <p class="review_text">
          «Во время  работы с Андреем было очень легко. Некоторые вещи после консультации перестали беспокоить и стали более понятными. За одну консультацию мы решили все вопросы, сразу ощутилась легкость! Проблемы преобразовались в легкие решения. Спасибо большое Вам за проделанную работу! Очень приятным бонусом был файл, где были прописаны все проблемы и пути их решения, к которым мы пришли на консультации!»
        </p>
      </div>
    </div>
    <div class="slider__item">
      <div class="review_box">
        <img class="review_icon" src="<%= asset_url('review/Данил-20-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Данил 20 лет">
        <h3 class="review_name">Данил, 20 лет</h3>
        <p class="review_text">
          «Очень понравился подход Андрея как специалиста, изначально он много информации передал мне во время первичного общения о том, как будет выглядеть консультация, финансовые вопросы, всё было ясно изложено, это впечатлило. Мне было легко общаться с Андреем, он задавал вопросы в нужный момент, никогда не давил. Иногда, казалось, что он видит меня насквозь, мне кжется, это о многом свидетельствует»
        </p>
      </div>
    </div>
  </div>
  <a class="slider__control slider__control_left" href="#" role="button"></a>
  <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
</div>

<%= render partial: "/new/slider"%>