<% content_for :head do %>

<% end %>

<div class="pc_content">
  <div class="container">
    <h1 style="text-align: center; font-weight: 800; font-size: 3vw; margin: 5vw 0px 2vw 0vw">Обо мне</h1>
    <div style="display: flex; justify-content: space-between;">
      <div style="width: 49vw">
        <h2 style="margin: 4vw 0vw 0vw 0vw">Ткаченко Андрей</h2>
        <p style="text-align: justify;">
          Здравствуйте, друзья! Меня зовут Ткаченко Андрей, я практикующий психолог с 5-ти летним стажем, предоставляю свои услуги населению стран СНГ (на русском и украинском языках). Я являюсь официальным представителем Ассоциации Позитивной Психотерапии и в своей практике использую комбинации методов (КПТ, гипноз, позитивная психотерапия).
        </p>
        <h2 style="margin: 3vw 0vw 0vw 0vw">Моя задача - сделать вас сильными</h2>
        <p style="text-align: justify;">
          Ко мне обращаются люди, которые попали в непростые жизненные обстоятельства. На моих консультациях я поддерживаю своих клиентов, аккуратно и безболезненно обучаю их справляться со своей жизнью самостоятельно, без врачей и таблеток.
        </p>
        <p style="text-align: justify;">
          Во время консультаций мы нарабатываем те навыки мышления и поведения, которые позволят вам автоматически избавиться от накопленных проблем. Данные навыки останутся с вами на всю жизнь и помогут решать трудности в нашем быстроменяющемся мире. 
        </p>
      </div>
      <img src="<%= asset_url('Tkachenko-Andrey-certified-psychologist.png')%>" alt="Ткаченко Андрей психолог обо мне" style="height: 38vw">
    </div>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 5vw 0vw 2vw 0vw">Мое образование</h2>
    <div style="display: flex; justify-content: space-around; align-items: center;">
      <img src="<%= asset_url('education.svg')%>" alt="образование" style="height: 16vw">
      <div style="width: 40vw">
        <p style="text-align: justify;">
          Я окончил Днепровский Национальный Университет по специальности "Психология", изучил консультирование в World Association for Positive Psychotherapy, а также прошел ряд курсов иных методов психотерапии (КПТ, АСТ, гипноз) для полноты профессиональных знаний и навыков.
        </p>
        <p style="text-align: justify;">
          Безусловно, годы практики нужны и важны в психологическом ремесле, однако теоретическая база ничуть не меньше повлияла на становление меня как специалиста.
        </p>
      </div>
    </div>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 7vw 0px 2vw 0vw">Дипломы и сертификаты</h2> 
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 15vw 1vw 15vw;">Подтверждающие мои компетенции</p>

    <div class="gallery" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div style="width: 15vw;">
        <a href="<%= asset_url('certificates/1.png')%>" data-lightbox="test">
          <img src="<%= asset_url('certificates/certificate1.png')%>" title="Диплом психолога" alt="Диплом психолога ДНУ">
        </a>
        <p>Днепропетровский национальный университет - Специальность “Психология”</p>
      </div>
      <div>
        <a href="<%= asset_url('certificates/6.jpg')%>" data-lightbox="test">
          <img src="<%= asset_url('certificates/certificate6.jpg')%>" title="Диплом психолога-консультанта" alt="Диплом психолога World Association for Positive Psychotherapy">
        </a>
        <p>Психолог-консультант в методе Позитивной Психотерапии - World Association for Positive Psychotherapy</p>
      </div>
      <div>
        <a href="<%= asset_url('certificates/2.png')%>" data-lightbox="test">
          <img src="<%= asset_url('certificates/certificate2.png')%>" title="Сертификат обучения консультированию" alt="Сертификат социально-психологическое консультирование">
        </a>
        <p>Социально-психологическое консультирование - Социально-психологическая служба ДНУ</p>
      </div>
      <div>
        <a href="<%= asset_url('certificates/3.png')%>" data-lightbox="test">
          <img src="<%= asset_url('certificates/certificate3.png')%>" title="Сертификат обучения техникам стрессоустойчивости" alt="Сертификат техники стрессоустойчивости, резильентности">
        </a>
        <p>Технологии социально-психологической резильентности - Социально-психологическая служба ДНУ</p>
      </div>
      <div>
        <a href="<%= asset_url('certificates/4.png')%>" data-lightbox="test">
          <img src="<%= asset_url('certificates/certificate4.png')%>" title="Сертификат обучения методу СМД" alt="Сертификат СМД">
        </a>
        <p>Системно-мыследеятельностный подход - Социально-псиологическая служба ДНУ</p>
      </div>
      <div style="padding-left: 0px">
        <a href="<%= asset_url('certificates/5.jpg')%>" data-lightbox="test">
          <img src="<%= asset_url('certificates/certificate5.jpg')%>" title="Сертификат обучения детской психологии" alt="Сертификат детский психолог Мир Инсайт">
        </a>
        <p>Воспитание детей в стиле коучинг - Центр семейной психологии "Мир Инсайт"</p>
      </div>
      <div>
        <a href="<%= asset_url('certificates/7.jpg')%>" data-lightbox="test">
          <img src="<%= asset_url('certificates/certificate7.jpg')%>" title="Сертификат массажиста" alt="Сертификат массажист">
        </a>
        <p>Массажист. Ароматерапевтический, косметический и массаж для похудения - Первые Региональные Курсы</p>
      </div>
      <div style="width: 15vw; padding-left: 0px">
        <a href="<%= asset_url('certificates/8.png')%>" data-lightbox="test">
          <img src="<%= asset_url('certificates/certificate8.png')%>" title="Сертификат обучения работе с последствиями стресса" alt="Сертификат Puselik foundation">
        </a>
        <p>Социальная адаптация ветеранов - ГО "Простір людини" Puselik foundation</p>
      </div>   
    </div>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 5vw 0vw 2vw 0vw">Мой путь</h2>
    <div style="display: flex; justify-content: space-around; align-items: center">
      <div style="width: 40vw">
        <p style="text-align: justify;">
          Я вырос в семье медработников и всегда хотел стать врачем, но видел, что доктора не всегда могут помочь. Поэтому я долго шел к тому, чтобы научиться лечить людей словом, вместо уколов и таблеток. Для начала, я прошел свою личную терапию, получил официальное психологическое образование и обучился нескольким современным направлениям психотерапии. 
        </p>
        <p style="text-align: justify;">
          Чтоб закрепить полученные знания на практике, я работал со взрослыми и детьми в психологических центрах, проводил лекции и тренинги, индивидуальные консультации и онлайн-марафоны.
        </p>
      </div>
      <img src="<%= asset_url('my-walk.svg')%>" alt="мой путь в психологию" style="height: 16vw">
    </div>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 8vw 0px 3vw 0vw">Опыт работы</h2> 
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; text-align: center">

      <div style="width: 21%; padding: 1vw;">
        <img src="<%= asset_url('child-psychologist.svg')%>" alt="детский психолог" style="width: 80%; margin: 10% 10% 0% 10%">  
        <h3 class="service_name" style="margin: 1vw 0vw 0.7vw 0vw">Детский психолог</h3>
        <span style="font-size: 0.9vw; font-weight: 600; color: #FFFFFF; display: block; background-color: #454554; border-radius: 0.4vw; line-height: 1.8vw">2016 фев - 2018 авг</span>
        <p class="service_text">Центр семейной психологии "Мир Инсайт"</p>
      </div>

      <div style="width: 21%; padding: 1vw;">
        <img src="<%= asset_url('psychologist-lecturer.svg')%>" alt="психолог-лектор" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name" style="margin: 1vw 0vw 0.7vw 0vw">Психолог-лектор</h3>
        <span style="font-size: 0.9vw; font-weight: 600; color: #FFFFFF; margin-top: 0.5vw; display: block; background-color: #454554; border-radius: 0.4vw; line-height: 1.8vw">2017 янв - 2019 янв</span>
        <p class="service_text">Центр практической психологии "Диалог"</p>
      </div>

      <div style="width: 21%; padding: 1vw;">
        <img src="<%= asset_url('psychologist-expert.svg')%>" alt="психолог-эксперт" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name" style="margin: 1vw 0vw 0.7vw 0vw">Психолог-эксперт</h3>
        <span style="font-size: 0.9vw; font-weight: 600; color: #FFFFFF; display: block; background-color: #454554; border-radius: 0.4vw; line-height: 1.8vw">2018 ноя - 2019 май</span>
        <p class="service_text">Женский журнал clutch.ua,<br>форум dnevniki-pifagora.ru</p>
      </div>

      <div style="width: 21%; padding: 1vw;">
        <img src="<%= asset_url('practicing-psychologist.svg')%>" alt="практикующий психолог" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name" style="margin: 1vw 0vw 0.7vw 0vw">Практикующий психолог</h3>
        <span style="font-size: 0.9vw; font-weight: 600; color: #FFFFFF; display: block; background-color: #454554; border-radius: 0.4vw; line-height: 1.8vw">2018 сен - сегодня</span>
        <p class="service_text">Частная практика</p>
      </div>

    </div>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 7vw 0px 3vw 0vw">Результаты моей работы на примерах</h2> 
    <div class="slider" id="w_results">
      <div class="slider__wrapper" style="display: flex;">
        <div class="slider__item" style="flex: 0 0 50%; max-width: 50%;">
          <section class="review_box" style="width: 29.6vw; height: 34vw; background-color: #FFFFFF; padding: 2vw 3vw">
            <h3 style="margin: 0vw 0vw 0.5vw 0vw; font-size: 1.1vw">Генерализированное тревожное расстройство</h3>
            <span style="font-size: 0.9vw">Мария - 20 лет</span>
            <p style="text-align: left; font-size: 0.9vw; text-align: justify">Главный запрос терапии был - проблемы в отношениях. Неумение строить и сохранять длительные интимные отношения с противоположным полом.<br><br>
            На шестой консультации я выявил у клиентки неочевидное Генерализированное тревожное расстройство. Девушка не могла спать, мысль о предстоящем "волнительном” событии вводило ее в состояние паники, жара, судорог, проблем с дыханием.<br><br>
            Я применил когнитивно-поведенческую терапию: составил личный опросник для фиксации результатов, мы вместе проработали тревожные мысли, улучшили эмоциональный интеллект, обучились навыкам осознанности и принятия, и после полу года клиентка счастливо и самостоятельно живет свою жизнь. Перестала тревожится, улучшилось качество ее сна и, интересный факт, в данный момент она находится в серьезных близких отношениях.<br><br>
            Видео-отзыв клиентки вы можете посмотреть <a href="reviews.html" style="border-bottom: 1px solid currentColor; font-weight: 700">здесь</a> 
            </p>
          </section>
        </div>
        <div class="slider__item" style="flex: 0 0 50%; max-width: 50%;">
          <section class="review_box" style="width: 29.6vw; height: 34vw; background-color: #FFFFFF; padding: 2vw 3vw">
            <h3 style="margin: 0vw 0vw 0.5vw 0vw; font-size: 1.1vw">Ипохондрия</h3>
            <span style="font-size: 0.9vw">Светлана - 37 лет</span>
            <p style="text-align: left; font-size: 0.9vw; text-align: justify">Основная проблема - повторяющиеся тревожные мысли о своем здоровьи, общее состояние напряжения.<br><br>
            На первой диагностической консультации мы выстроили доверительные отношения, разобрали массу примеров тревожных мыслей, сформировали личный опросник для фиксации результатов.<br><br>
            Я применил терапию АСТ и элементы из КПТ: сделали декатастрофизацию страхов, сформировали конструктивные убеждения, обучились технике принятия эмоций. Далее, мы вели дневник, таблицу позицивных изменений и АВС-схему (клиентка самостоятельно научилась анализировать тревожные события в ее жизни, а мне лишь оставалось проверять домашнее задание).<br><br>
            В итоге, тревожность ушла, появились полезные навыки самоанализа и стрессоустойчивости.<br><br>
            Видео-отзыв клиентки вы можете посмотреть <a href="reviews.html" style="border-bottom: 1px solid currentColor; font-weight: 700">здесь</a> 
            </p>
          </section>
        </div>
        <div class="slider__item" style="flex: 0 0 50%; max-width: 50%;">
          <section class="review_box" style="width: 29.6vw; height: 34vw; background-color: #FFFFFF; padding: 2vw 3vw">
            <h3 style="margin: 0vw 0vw 0.5vw 0vw; font-size: 1.1vw">Панические атаки</h3>
            <span style="font-size: 0.9vw">Богдан - 29 лет</span>
            <p style="text-align: left; font-size: 0.9vw; text-align: justify">Главным запросом терапии была проблема с внезапными приступами страха, учащенный пульс, удушье, ощущение, что сильно бьется сердце.<br><br>
            На первой консультации я провел диагностику и проанализировал начало ПА, им оказался сонный паралич. Также, выявил стандартный набор страхов: "а вдруг умру / опозорюсь / сойду с ума".<br><br>
            Я предпринял ряд действий метакогнитивной терапии: мы проанализировали объективность "опасности" ПА, научились не обращать внимания на возникающее беспокойство, откладывать тревогу, сформировали конструктивные убеждения о "неконтролируемости" и "опасности" страха, развили навык принятия эмоций.<br><br>
            Прошло пол года, клиент чувствует себя хорошо, благодарит меня за проделанную работу.<br><br>Видео-отзыв клиента вы можете посмотреть <a href="reviews.html" style="border-bottom: 1px solid currentColor; font-weight: 700">здесь</a> 
            </p>
          </section>
        </div>
        <div class="slider__item" style="flex: 0 0 50%; max-width: 50%;">
          <section class="review_box" style="width: 29.6vw; height: 34vw; background-color: #FFFFFF; padding: 2vw 3vw">
            <h3 style="margin: 0vw 0vw 0.5vw 0vw; font-size: 1.1vw">Низкая самооценка</h3>
            <span style="font-size: 0.9vw">Михаил - 28 лет</span>
            <p style="text-align: left; font-size: 0.9vw; text-align: justify">Клиент пришел на консультацию, как он сказал: "познакомиться и понять, сможет ли он довериться мне, как психологу". В неспешном диалоге, он начал рассказывать всё больше о своей ситуации. Оказалось, что он сейчас разводится с женой и рад этому: "она жутко издевалась надо мной, мучала, доводила до безумия, что я даже пошел к психиатру за таблетками", "хочу повысить самооценку, я всегда был чувствительный, у меня сильно религиозная семья, меня воспитывали в основном кнутом".<br><br>
            Для лечения психотравм на 2-7 консультациях я проводил техники гипнотерапии без гипноза, потому что клиент был против "внушений", он их боялся. Такой подход оказался сложнее обычного, но в совокупности с Позитивной психотерапией и Майндфулнесс был достигнут результат: старые воспоминания о наказаниях, публичных унижениях родителей и сверстников были переработаны психикой и более не вызывали сильных негативных эмоций, клиент начал говорить громче, ушел ком в горле, изменилось отношение к себе и своим мыслям.
            </p>
          </section>
        </div>
        <div class="slider__item" style="flex: 0 0 50%; max-width: 50%;">
          <section class="review_box" style="width: 29.6vw; height: 34vw; background-color: #FFFFFF; padding: 2vw 3vw">
            <h3 style="margin: 0vw 0vw 0.5vw 0vw; font-size: 1.1vw">Депрессия</h3>
            <span style="font-size: 0.9vw">Яна - 33 года</span>
            <p style="text-align: left; font-size: 0.9vw; text-align: justify">Пришла в печальном состоянии: полный пессимизм, заторможенность, отсутствие сил. На фоне родов, проблем в работе и отношениях у клиентки накопилось много невысказанной обиды и невыраженной злости. Психиатр выписал антидепрессанты и мы начали работу.<br><br>
            На первых 3-х консультациях я помогал ей осознавать свои чувства, проявлять злость, изменить отношение к образу себя, перестать себя жалеть и составить таблицу "поведенческой активации" - постепенный план увеличения физических нагрузок и реализации действий приносящих удовольствие.<br><br>
            На 4-8 сеансах работа состояла в поддержке, корректировки "поведенческой активации" и в работе с убеждениями "я не смогу", "будущего нет", "жизнь ужасна", методом КПТ мы анализировали достоверность и причину возникновения подобных мыслей, таким образом уменьшая веру в них. Техниками АСТ я научил принимать эмоции и останавливать бесполезные размышления. В итоге, ушел пессимизм, появились силы и уверенность в будущем.
            </p>
          </section>
        </div>
        <div class="slider__item" style="flex: 0 0 50%; max-width: 50%;">
          <section class="review_box" style="width: 29.6vw; height: 34vw; background-color: #FFFFFF; padding: 2vw 3vw">
            <h3 style="margin: 0vw 0vw 0.5vw 0vw; font-size: 1.1vw">Невроз, психотравмы</h3>
            <span style="font-size: 0.9vw">Ярослав - 27 лет</span>
            <p style="text-align: left; font-size: 0.9vw; text-align: justify">Основная проблема - постоянная тревога и воспоминания о ссоре с другом 2-х летней давности: "я уволился с работы, перехал в другую страну, изменил свой образ жизни, но воспоимнания не дают покоя".<br><br>
            На первой консультации я провел диагностику, выявил причину проблемы (когда друг назвал его "ненормальным", у клиента возникла ассоциация со своим папой-алкоголиком, на которого он боялся стать похожим), объяснил клиенту механизм работы его воспоминаний и методы работы с ними, клиенту полегчало.<br><br>
            На 2-5 сеансах я проводил гипнотерапию: вместе мы нашли и перепрожили детские психотравмы (насилие в семье, измены, крики) и воспоминания перестали докучать.<br><br>
            На 6-м сеансе я уменьшил тревогу техниками Майнлфулнесс: я научил клиента медитациям, показал как воспринимать мысли отстраненно, не вовликаться к них. Это усилило терапевтический эффект гипнотерапии.
            </p>
          </section>
        </div>
      </div>
      <a class="slider__control slider__control_left" href="#" role="button"></a>
      <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
    </div>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 8vw 0px 2vw 0vw">Отзывы моих клиентов</h2> 
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 3vw 0vw;">
      Что о работе со мной говорят клиенты, с которыми я провел одну консультацию<br>или полноценный курс психотерапии
    </p>

    <%= render partial: "/new/review"%>

    <p style="text-align: center; letter-spacing: 0.01em; margin: 3vw 3vw 8vw 3vw">
      Больше мнений о моей работе и видео-отзывы вы найдете в закладке <a href="reviews.html" style="border-bottom: 1px solid currentColor;">Отзывы</a>
    </p>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 8vw 0px 2vw 0vw">Запись на консультацию</h2> 
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 5vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8vw">
      <img src="<%= asset_url('form.svg')%>" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- Конец  container -->
</div>  <!-- конец пк версии -->










  <%= javascript_include_tag  asset_url('lightbox-plus-jquery.js') %>







<!-- начало моб версии -->
    <div class="mob" style="background: #F7F7F7;">
      <img src="<%= asset_url('Tkachenko-Andrey-certified-psychologist.png')%>" alt="Ткаченко Андрей психолог обо мне" style="width: 100%">
      <div style="background: rgba(57, 56, 60, 0.75); background: rgba(255, 239, 232, 0.1); backdrop-filter: blur(7px); position: absolute; top: 82vw; width: 100%;">
        <h1 style="font-weight: 800; font-size: 8.5vw; line-height: 11vw; color: #FFF7F7; margin: 4vw; text-align: center;">
          Обо мне
        </h1>
      </div>
      <div style="background: rgba(57, 56, 60, 0.75); background: rgba(255, 239, 232, 0.1); background: rgba(255, 239, 232, 0.1); opacity: 0.5; backdrop-filter: blur(7px); position: absolute; top: 104vw; width: 100%">
        <p class="container" style="font-weight: normal; font-size: 3.5vw; line-height: 4.5vw; color: #FFF7F6; text-align: center; margin: 4vw 7vw;">
          Здравствуйте, друзья! Меня зовут Ткаченко Андрей, я психолог.
        </p>
      </div>
      <div style="margin: 5vw 7vw; text-align: center;">
        <p style="font-size: 3vw; line-height: 3.8vw">
          Предоставляю свои услуги населению стран СНГ (на русском и украинском языках). Я являюсь официальным представителем Ассоциации Позитивной Психотерапии и в своей практике использую комбинации методов (КПТ, гипноз, позитивная психотерапия).
        </p>
      </div>
      <div style="width: 86vw; background-color: #383838; border-radius: 1.5vw; margin: 5vw 7vw;">
        <p style="font-size: 4.6vw; line-height: 6vw; font-weight: 600; color: white; text-align: center; padding: 4vw">
          Моя задача - сделать вас сильными!
        </p>        
      </div>
      <div style="margin: 5vw 7vw; text-align: center;">
        <p style="font-size: 3vw; line-height: 3.8vw">
          Ко мне обращаются люди, которые попали в непростые жизненные обстоятельства. На моих консультациях я поддерживаю своих клиентов, аккуратно и безболезненно обучаю их справляться со своей жизнью самостоятельно, без врачей и таблеток.
        </p>
        <p style="font-size: 3vw; line-height: 3.8vw">
          Во время консультаций мы нарабатываем те навыки мышления и поведения, которые позволят вам автоматически избавиться от накопленных проблем. Данные навыки останутся с вами на всю жизнь и помогут решать трудности в нашем быстроменяющемся мире.
        </p>
        <h2 style="font-size: 6vw; line-height: 7vw; font-weight: 700; margin-top: 10vw">
          Мое образование
        </h2>
        <p style="font-size: 3vw; line-height: 3.8vw">
          Я окончил Днепровский Национальный Университет по специальности "Психология", изучил консультирование в World Association for Positive Psychotherapy, а также прошел ряд курсов иных методов психотерапии (КПТ, АСТ, гипноз) для полноты профессиональных знаний и навыков.
        </p>
        <p style="font-size: 3vw; line-height: 3.8vw">
          Безусловно, годы практики нужны и важны в психологическом ремесле, однако теоретическая база ничуть не меньше повлияла на становление меня как специалиста.
        </p>
        <img src="<%= asset_url('education.svg')%>" alt="образование" style="width: 86vw;">
        <h2 style="font-size: 6vw; font-weight: 700; margin-top: 10vw; margin-bottom: 4vw;">
          Дипломы и сертификаты
        </h2>
        <div style="width: 85vw; text-align: center;">
          <a href="<%= asset_url('certificates/1.png')%>" data-lightbox="test">
            <img src="<%= asset_url('certificates/certificate1.png')%>" style="width: 56vw" title="Диплом психолога" alt="Сертификат ДНУ">
          </a>
          <p style="font-size: 3vw; line-height: 3.8vw; font-weight: 600; margin-bottom: 6vw">Днепропетровский национальный университет - Специальность “Психология”</p>
        </div>
        <div style="font-size: 3vw; line-height: 3.8vw; font-weight: 600">
          <div>
            <a href="<%= asset_url('certificates/6.jpg')%>" data-lightbox="test">
              <img src="<%= asset_url('certificates/certificate6.jpg')%>" style="width: 100%" title="Диплом психолога-консультанта" alt="Сертификат World Association for Positive Psychotherapy">
            </a>
            <p style="margin: 2vw 0vw 8vw 0vw">Психолог-консультант в методе Позитивной Психотерапии - World Association for Positive Psychotherapy</p> 
          </div>
          <div>
            <a href="<%= asset_url('certificates/2.png')%>" data-lightbox="test">
              <img src="<%= asset_url('certificates/certificate2.png')%>"  style="width: 100%" title="Сертификат обучения консультированию" alt="Сертификат социально-психологическое консультирование">
            </a>
            <p style="margin: 2vw 0vw 8vw 0vw">Социально-психологическое консультирование - Социально-психологическая служба ДНУ</p>
          </div>
          <div>
            <a href="<%= asset_url('certificates/3.png')%>" data-lightbox="test">
              <img src="<%= asset_url('certificates/certificate3.png')%>" style="width: 100%" title="Сертификат обучения техникам стрессоустойчивости" alt="Сертификат техники стрессоустойчивости, резильентности">
            </a>
            <p style="margin: 2vw 0vw 8vw 0vw">Технологии социально-психологической резильентности - Социально-психологическая служба ДНУ</p>
          </div>
          <div>
            <a href="<%= asset_url('certificates/4.png')%>" data-lightbox="test">
              <img src="<%= asset_url('certificates/certificate4.png')%>" style="width: 100%" title="Сертификат обучения методу СМД" alt="Сертификат СМД"> 
            </a>
            <p style="margin: 2vw 0vw 8vw 0vw">Системно-мыследеятельностный подход - Социально-психологическая служба ДНУ</p>
          </div>
          <div style="padding-left: 0px">
            <a href="<%= asset_url('certificates/5.jpg')%>" data-lightbox="test">
              <img src="<%= asset_url('certificates/certificate5.jpg')%>" style="width: 100%" title="certificate 6" alt="Сертификат детский психолог Мир Инсайт">
            </a>
            <p style="margin: 2vw 0vw 8vw 0vw">Воспитание детей в стиле коучинг - Центр семейной психологии "Мир Инсайт"</p>
          </div>
          <div>
            <a href="<%= asset_url('certificates/7.jpg')%>" data-lightbox="test">
              <img src="<%= asset_url('certificates/certificate7.jpg')%>" style="width: 100%" title="Сертификат обучения детской психологии" alt="Сертификат массажист"> 
            </a>
            <p style="margin-bottom: 10vw">Массажист. Косметический, ароматерапевтический и массаж для похудения - First Regional Courses</p>
          </div>
          <div style="width: 86vw; padding-left: 0px">
            <a href="<%= asset_url('certificates/8.png')%>" data-lightbox="test">
              <img src="<%= asset_url('certificates/certificate8.png')%>" style="width: 56vw" title="Сертификат обучения работе с последствиями стресса" alt="Сертификат Puselik foundation">
            </a>
            <p style="margin: 2vw 0vw 8vw 0vw">Социальная адаптация ветеранов - ГО "Простір людини" Puselik foundation</p>
          </div> 
        </div>
        <h2 style="font-size: 6vw; line-height: 7vw; font-weight: 700; margin-top: 10vw">
          Мой путь
        </h2>
        <img src="<%= asset_url('my-walk.svg')%>" alt="мой путь в психологию" style="width: 86vw;">
        <p style="font-size: 3vw; line-height: 3.8vw">
          Я вырос в семье медработников и всегда хотел стать врачем, но видел, что доктора не всегда могут помочь. Поэтому я долго шел к тому, чтобы научиться лечить людей словом, вместо уколов и таблеток. Для начала, я прошел свою личную терапию, получил официальное психологическое образование и обучился нескольким современным направлениям психотерапии.
        </p>
        <p style="font-size: 3vw; line-height: 3.8vw">
          Чтоб закрепить полученные знания на практике, я работал со взрослыми и детьми в психологических центрах, проводил лекции и тренинги, индивидуальные консультации и онлайн-марафоны.
        </p>
        <h2 style="font-size: 6vw; line-height: 7vw; font-weight: 700; margin-top: 10vw">
          Опыт работы
        </h2>
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
          <div class="problem_box" style="height: 38vw">
            <img class="problem_icon" src="<%= asset_url('child-psychologist.svg')%>" alt="детский психолог">
            <h3 class="problem_name">
              Детский психолог
            </h3>
            <p style="font-size: 2vw; line-height: 2.8vw">
              Центр семейной психологии "Мир Инсайт"<br>2016 фев - 2018 авг
            </p>
          </div>
          <div class="problem_box" style="height: 38vw">
            <img class="problem_icon" src="<%= asset_url('psychologist-lecturer.svg')%>" alt="психолог-лектор">
            <h3 class="problem_name">
              Психолог-лектор
            </h3>
            <p style="font-size: 2vw; line-height: 2.8vw">
              Центр практической психологии "Диалог"<br>2017 янв - 2019 янв
            </p>
          </div>
          <div class="problem_box" style="height: 38vw">
            <img class="problem_icon" src="<%= asset_url('psychologist-expert.svg')%>" alt="психолог-эксперт">
            <h3 class="problem_name">
              Психолог-эксперт
            </h3>
            <p style="font-size: 2vw; line-height: 2.8vw">
              Женский журнал clutch.ua, форум dnevniki-pifagora.ru"<br>2018 ноя - 2019 май
            </p>
          </div>
          <div class="problem_box" style="height: 38vw">
            <img class="problem_icon" src="<%= asset_url('practicing-psychologist.svg')%>" alt="практикующий психолог">
            <h3 class="problem_name">
              Практикующий психолог
            </h3>
            <p style="font-size: 2vw; line-height: 2.8vw">
              Частная практика<br>2018 сен - сегодня
            </p>
          </div>
        </div>
        <h2 style="font-size: 5vw; line-height: 6.5vw; font-weight: 700; margin-top: 8vw">
          Результаты моей работы на примерах
        </h2>
        <div style="width: 78vw; background-color: #383838; border-radius: 1.5vw; color: white; text-align: start; padding: 4vw; margin-bottom: 7vw">
          <h3 style="font-size: 3vw; font-weight: 600;">
            Генерализированное тревожное расстройство
          </h3>
          <p style="font-size: 3vw; line-height: 3.8vw;">
            Мария - 20 лет
            <br><br>
            Главный запрос терапии был - проблемы в отношениях. Неумение строить и сохранять длительные интимные отношения с противоположным полом.
            <br><br>
            На шестой консультации я выявил у клиентки неочевидное Генерализированное тревожное расстройство. Девушка не могла спать, мысль о предстоящем „волнительном” событии вводило ее в состояние паники, жара, судорог, проблем с дыханием.
            <br><br>
            Я применил когнитивно-поведенческую терапию: составил личный опросник для фиксации результатов, мы вместе проработали тревожные мысли, улучшили эмоциональный интеллект, обучились навыкам осознанности и принятия, и после полу года клиентка счастливо и самостоятельно живет свою жизнь. Перестала тревожится, улучшилось качество ее сна и, интересный факт, в данный момент она находится в серьезных близких отношениях.
            <br><br>
            Видео-отзыв клиента вы можете посмотреть <a href="reviews.html" style="color: #ff7f50; font-weight: 700">тут</a>
          </p>        
        </div>
        <div style="width: 78vw; background-color: #383838; border-radius: 1.5vw; color: white; text-align: start; padding: 4vw; margin-bottom: 7vw">
          <h3 style="font-size: 3vw; font-weight: 600;">
            Ипохондрия
          </h3>
          <p style="font-size: 3vw; line-height: 3.8vw;">
            Светлана - 37 лет
            <br><br>
            Основная проблема - повторяющиеся тревожные мысли о своем здоровьи, общее состояние напряжения.
            <br><br>
            На первой диагностической консультации мы выстроили доверительные отношения, разобрали массу примеров тревожных мыслей, сформировали личный опросник для фиксации результатов.
            <br><br>
            Я применил терапию АСТ и элементы из КПТ: сделали декатастрофизацию страхов, сформировали конструктивные убеждения, обучились технике принятия эмоций. Далее, мы вели дневник, таблицу позицивных изменений и АВС-схему (клиентка самостоятельно научилась анализировать тревожные события в ее жизни, а мне лишь оставалось проверять домашнее задание).
            <br><br>
            В итоге, тревожность ушла, появились полезные навыки самоанализа и стрессоустойчивости.
            <br><br>
            Видео-отзыв клиента вы можете посмотреть <a href="reviews.html" style="color: #ff7f50; font-weight: 700">тут</a>  
          </p>
        </div>
        <div style="width: 78vw; background-color: #383838; border-radius: 1.5vw; color: white; text-align: start; padding: 4vw; margin-bottom: 7vw">
          <h3 style="font-size: 3vw; font-weight: 600;">
            Панические атаки
          </h3>
          <p style="font-size: 3vw; line-height: 3.8vw;">
            Богдан - 29 лет
            <br><br>
            Главным запросом терапии была проблема с внезапными приступами страха, учащенный пульс, удушье, ощущение, что сильно бьется сердце.
            <br><br>
            На первой консультации я провел диагностику и проанализировал начало ПА, им оказался сонный паралич. Также, выявил стандартный набор страхов: "а вдруг умру / опозорюсь / сойду с ума".
            <br><br>
            Я предпринял ряд действий метакогнитивной терапии: мы проанализировали объективность "опасности" ПА, научились не обращать внимания на возникающее беспокойство, откладывать тревогу, сформировали конструктивные убеждения о "неконтролируемости" и "опасности" страха, развили навык принятия эмоций.
            <br><br>
            Прошло пол года, клиент чувствует себя хорошо, благодарит меня за проделанную работу.
            <br><br>
            Видео-отзыв клиента вы можете посмотреть <a href="reviews.html" style="color: #ff7f50; font-weight: 700">тут</a>
          </p>        
        </div>

        <h2 style="padding: 10vw 8vw 2vw 8vw; text-align: center; font-weight: 800; font-size: 5vw; line-height: 5vw">
          Отзывы о моей работе
        </h2>
         <p class="container" style="text-align: center; font-size: 2.7vw; line-height: 3.2vw; letter-spacing: 0.01em; margin: 1vw 7vw 4vw 7vw;">
          Больше мнений о моей работе и видео отзывы вы найдете в закладке  <a href="" style="text-decoration: none; border-bottom: 1px solid currentColor;">Отзывы</a>
        </p>

        <div class="review_box" style="width: 76vw; height: 27vw; padding: 5vw; margin-bottom: 4vw; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);">
          <div style="float: left; margin-right: 5vw; height: 27vw; text-align: center; width: 14vw">
            <img class="review_icon" src="<%= asset_url('review/Мария-20-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Мария 20 лет" style="width: 10vw;">
            <h3 class="review_name" style="font-size: 2.8vw; line-height: 3.2vw; text-align: center">
              Мария<br>20 лет
            </h3>
          </div>
          <p class="review_text" style="font-size: 2.6vw; line-height: 3.1vw; margin-top: 0vw;">
            «Я пол года занималась еженедельно с Андреем. Я не понимала, почему у меня не складываются отношения, но на определенном этапе работы оказалось, что то, с чем я пришла - это верхушка айсберга, а причина всему - тревога. Я не могу передать словами то, какого было мое удивление, восхищение методиками работы Андрея...»
          </p>
        </div>

        <div class="review_box" style="width: 76vw; height: 27vw; padding: 5vw; margin-bottom: 4vw; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);">
          <div style="float: left; margin-right: 5vw; height: 27vw; text-align: center; width: 14vw">
            <img class="review_icon" src="<%= asset_url('review/Богдан-29-лет.png')%>" alt="отзыв психолог Ткаченко Андрей Богдан 29 лет" style="width: 10vw;">
            <h3 class="review_name" style="font-size: 2.8vw; line-height: 3.2vw; text-align: center">
              Богдан<br>29 лет
            </h3>
          </div>
          <p class="review_text" style="font-size: 2.6vw; line-height: 3.1vw; margin-top: 0vw;">
            «У меня 3 месяца была тревога и ПА. Я взял пробный урок, без особых надежд на успех, потому что у меня был уже отрицательный опыт. Тем не менее, после первого занятия, техники, которые дал мне Андрей, дали эффект, поэтому я поверил в то, что с этим специалистом можно работать. И мои ожидания абсолютно оправдались...»
          </p>
        </div>
        <div class="review_box" style="width: 76vw; height: 27vw; padding: 5vw; margin-bottom: 4vw; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);">
          <div style="float: left; margin-right: 5vw; height: 29vw; text-align: center; width: 14vw">
            <img class="review_icon" src="<%= asset_url('review/Светлана-37-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Светлана 37 лет" style="width: 10vw;">
            <h3 class="review_name" style="font-size: 2.8vw; line-height: 3.2vw; text-align: center">
              Светлана<br>37 лет
            </h3>
          </div>
          <p class="review_text" style="font-size: 2.6vw; line-height: 3.1vw; margin-top: 0vw;">
            «Андрея я нашла, когда в моей жизни был непростой период. Мне понравился его энтузиазм и то, что он никогда не оставлял меня одну (у нас были домашние задания и постоянная связь в вайбере), и после каждой консультации мы уже могли отмечать какой-то результат. Андрей грамотный психолог, он каждую ситуацию...»
          </p>
        </div>

        <h2 style="padding: 10vw 0vw 2vw 0vw; text-align: center; font-weight: 800; font-size: 5vw; line-height: 5vw;">
          Запись на консультацию
        </h2>
        <p class="container" style="text-align: center; font-size: 2.7vw; line-height: 3.2vw; letter-spacing: 0.01em; margin: 2vw 7vw 7vw 7vw;">
          Заполните форму или свяжитесь со мной любым удобным для вас способом по указанным <a href="" style="text-decoration: none; border-bottom: 1px solid currentColor;">контактам</a>
        </p>
        
        <%= render partial: "/new/form_mob"%>

      </div>

    </div>  <!-- конец моб версии -->
