<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="<%= t 'about.head.url' %>">
  <title><%= t 'about.head.title' %></title>
  <meta name="description" content="<%= t 'about.head.description' %>">
  <meta name="keywords" content="<%= t 'about.head.keywords' %>">
  <meta name="author" content="<%= t 'head.author' %>">
  <meta property="og:locale" content="<%= t 'head.og:locale' %>">
  <meta property="og:url" content="<%= t 'about.head.url' %>">
  <meta property="og:site_name" content="<%= t 'head.og:site_name' %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= t 'about.head.title' %>">
  <meta property="og:description" content="<%= t 'about.head.description' %>">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="article:tag" content="<%= t 'about.head.article:tag1' %>">
  <meta property="article:tag" content="<%= t 'about.head.article:tag2' %>">
  <meta property="article:tag" content="<%= t 'about.head.article:tag3' %>">
  <meta property="article:tag" content="<%= t 'about.head.article:tag4' %>">
  <meta property="article:tag" content="<%= t 'about.head.article:tag5' %>">
  <meta property="article:tag" content="<%= t 'about.head.article:tag6' %>">
  <meta property="article:tag" content="<%= t 'about.head.article:tag7' %>">
  <meta property="article:tag" content="<%= t 'about.head.article:tag8' %>">
  <meta property="article:tag" content="<%= t 'about.head.article:tag9' %>">
  <meta property="article:tag" content="<%= t 'about.head.article:tag10' %>">
  <meta name="twitter:url" content="<%= t 'about.head.url' %>">
  <meta name="twitter:title" content="<%= t 'about.head.title' %>">
  <meta name="twitter:desctiption" content="<%= t 'about.head.description' %>">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <link rel="image_src" href='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
<% end %>


<div class="about">
  <div class="about-me">
    <div class="about-me__body container">
      <div class="about-me__header header_box" style="margin: 0px 0px 7px 0px">
        <h1 class="about-me__title title"><%= t 'about.title' %></h1>
      </div>
      <div class="about-me__row">
        <div class="about-me__column_1">
          <div class="about-me__item" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
            <img class="about-me__foto pc" src="<%= asset_url('Tkachenko-Andrey-certified-psychologist.webp')%>" src="<%= asset_url('1x1.png')%>" alt="<%= t 'about.alt' %>">
            <img class="about-me__foto mob" src="<%= asset_url('Andrey-Tkachenko-certified-psychologist.webp')%>" alt="<%= t 'about.alt' %>">
          </div>
        </div>
        <div class="about-me__column_2">
          <div class="about-me__item">
            <h2 class="about-me__name"><%= raw t(:'about.name') %></h2>
            <p class="about-me__text"><%= raw t(:'about.hello') %></p>
            <h3 class="about-me__subtitle"><%= raw t(:'about.my-target.sub-title') %></h3>
            <p class="about-me__text" style="margin-bottom: 0"><%= raw t(:'about.my-target.text') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="education">
    <div class="education__body container">
      <div class="articles__header header_box">
        <h2 class="articles__title title"><%= t 'about.my-education.title' %></h2>
        <p class="experience__subtitle subtitle"><%= t 'about.my-education.sub-title' %></p>
      </div>
      <div class="education__gallery gallery">
      <a href="<%= asset_url('certificates/Diploma.jpg')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/Diploma.jpg')%>" src="<%= asset_url('certificates/1196x1693.png')%>" title="<%= t 'about.my-education.gallery.Diploma.title' %>" alt="<%= t 'about.my-education.gallery.Diploma.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/WAPP.jpg')%>" data-lightbox="test">
        <img src="<%= asset_url('certificates/WAPP.jpg')%>" src="<%= asset_url('certificates/1800x1271.png')%>" title="<%= t 'about.my-education.gallery.WAPP.title' %>" alt="<%= t 'about.my-education.gallery.WAPP.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/Consultancy.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/Consultancy.webp')%>" src="<%= asset_url('certificates/1653x1164.png')%>" title="<%= t 'about.my-education.gallery.Consultancy.title' %>" alt="<%= t 'about.my-education.gallery.Consultancy.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/Resilience.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/Resilience.webp')%>" src="<%= asset_url('certificates/1653x1164.png')%>" title="<%= t 'about.my-education.gallery.Resilience.title' %>" alt="<%= t 'about.my-education.gallery.Resilience.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/STA.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/STA.webp')%>" src="<%= asset_url('certificates/1653x1164.png')%>"title="<%= t 'about.my-education.gallery.STA.title' %>" alt="<%= t 'about.my-education.gallery.STA.alt' %>">
      </a>
      <!-- <a href="<%= asset_url('certificates/Insight.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/Insight.webp')%>" src="<%= asset_url('certificates/1280x995.png')%>" title="<%= t 'about.my-education.gallery.Insight.title' %>" alt="<%= t 'about.my-education.gallery.Insight.alt' %>">
      </a> -->
      <a href="<%= asset_url('certificates/Puselik.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/Puselik.webp')%>" src="<%= asset_url('certificates/909x1290.png')%>" title="<%= t 'about.my-education.gallery.Puselik.title' %>" alt="<%= t 'about.my-education.gallery.Puselik.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/VSPU.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/VSPU.webp')%>" src="<%= asset_url('certificates/1600x1131.png')%>" title="<%= t 'about.my-education.gallery.VSPU.title' %>" alt="<%= t 'about.my-education.gallery.VSPU.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/ASSYST.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/ASSYST.webp')%>" src="<%= asset_url('certificates/2000x1395.png')%>" title="<%= t 'about.my-education.gallery.ASSYST.title' %>" alt="<%= t 'about.my-education.gallery.ASSYST.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/ILDC.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/ILDC.webp')%>" src="<%= asset_url('certificates/2000x1414.png')%>" title="<%= t 'about.my-education.gallery.ILDC.title' %>" alt="<%= t 'about.my-education.gallery.ILDC.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/Burnout_prevention.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/Burnout_prevention.webp')%>" src="<%= asset_url('certificates/2000x1414.png')%>" title="<%= t 'about.my-education.gallery.Burnout_prevention.title' %>" alt="<%= t 'about.my-education.gallery.Burnout_prevention.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/MOZ.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/MOZ.webp')%>" src="<%= asset_url('certificates/2000x1414.png')%>" title="<%= t 'about.my-education.gallery.MOZ.title' %>" alt="<%= t 'about.my-education.gallery.MOZ.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/PPtherapy.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/PPtherapy.webp')%>" src="<%= asset_url('certificates/2000x1414.png')%>" title="<%= t 'about.my-education.gallery.PPtherapy.title' %>" alt="<%= t 'about.my-education.gallery.PPtherapy.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/Psychiatry_propaedeutics_course.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/Psychiatry_propaedeutics_course.webp')%>" src="<%= asset_url('certificates/2000x1414.png')%>" title="<%= t 'about.my-education.gallery.Psychiatry_propaedeutics_course.title' %>" alt="<%= t 'about.my-education.gallery.Psychiatry_propaedeutics_course.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/Sexologist.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/Sexologist.webp')%>" src="<%= asset_url('certificates/2000x1414.png')%>" title="<%= t 'about.my-education.gallery.Sexologist.title' %>" alt="<%= t 'about.my-education.gallery.Sexologist.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/Special_Sex-Psy.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/Special_Sex-Psy.webp')%>" src="<%= asset_url('certificates/2000x1414.png')%>" title="<%= t 'about.my-education.gallery.Special_Sex-Psy.title' %>" alt="<%= t 'about.my-education.gallery.Special_Sex-Psy.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/Summer_school.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/Summer_school.webp')%>" src="<%= asset_url('certificates/2000x1414.png')%>" title="<%= t 'about.my-education.gallery.Summer_school.title' %>" alt="<%= t 'about.my-education.gallery.Summer_school.alt' %>">
      </a>
      <a href="<%= asset_url('certificates/LGBT-consultant.webp')%>" data-lightbox="test" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
        <img src="<%= asset_url('certificates/LGBT-consultant.webp')%>" src="<%= asset_url('certificates/1066x1506.png')%>" title="<%= t 'about.my-education.gallery.LGBT-consultant.title' %>" alt="<%= t 'about.my-education.gallery.LGBT-consultant.alt' %>">
      </a>
      </div>
    </div>
  </div>





      <div class="experience">
        <div class="services__body container">
          <div class="experience__row2" style="display: flex; flex-wrap: wrap; margin: 0 -10px;">
            <div class="services__column_bigtext2 mob">
              <div class="services__item_bigtext2 faq-block__item">
                <h3 class="services__text_bigtext2 faq-block__title title" ><%= raw t(:'about.my-experience.title') %></h3>
              </div>
            </div>
            <div class="services__column_bigtext2 pc" style="padding: 10px;">
              <div class="services__item_bigtext2 faq-block__item">
                <h3 class="services__text_bigtext2 faq-block__title title" ><%= raw t(:'about.my-experience.title') %></h3>
                <h3 class="faq-block__title text" style="font-weight: 500; line-height: 1.6rem; margin-bottom: 0px;"><%= raw t(:'about.my-experience.sub-title') %></h3>
              </div>
            </div>
            <div class="services__column_stendup_text1" style="padding: 8px;">
              <div class="experience-block" style="background: var(--background-white); border-radius: var(--border-radius); flex: 1">
                <div class="timeline">
                  
                  <div class="timeline-item">
                    <div class="timeline-date"><%= raw t(:'about.my-experience.works.1.date') %></div>
                    <div class="timeline-content">
                      <h3><%= raw t(:'about.my-experience.works.1.title') %></h3>
                      <span class="company"><%= raw t(:'about.my-experience.works.1.text') %></span>
                    </div>
                  </div>

                  <div class="timeline-item">
                    <div class="timeline-date"><%= raw t(:'about.my-experience.works.2.date') %></div>
                    <div class="timeline-content">
                      <h3><%= raw t(:'about.my-experience.works.2.title') %></h3>
                      <span class="company"><%= raw t(:'about.my-experience.works.2.text') %></span>
                    </div>
                  </div>

                  <div class="timeline-item">
                    <div class="timeline-date"><%= raw t(:'about.my-experience.works.3.date') %></div>
                    <div class="timeline-content">
                      <h3><%= raw t(:'about.my-experience.works.3.title') %></h3>
                      <span class="company"><%= raw t(:'about.my-experience.works.3.text') %></span>
                    </div>
                  </div>

                  <div class="timeline-item">
                    <div class="timeline-date"><%= raw t(:'about.my-experience.works.4.date') %></div>
                    <div class="timeline-content">
                      <h3><%= raw t(:'about.my-experience.works.4.title') %></h3>
                      <span class="company"><%= raw t(:'about.my-experience.works.4.text') %></span>
                    </div>
                  </div>

                  <div class="timeline-item">
                    <div class="timeline-date"><%= raw t(:'about.my-experience.works.5.date') %></div>
                    <div class="timeline-content">
                      <h3><%= raw t(:'about.my-experience.works.5.title') %></h3>
                      <span class="company"><%= raw t(:'about.my-experience.works.5.text') %></span>
                    </div>
                  </div>


                  <div class="timeline-item">
                    <div class="timeline-date"><%= raw t(:'about.my-experience.works.6.date') %></div>
                    <div class="timeline-content">
                      <h3><%= raw t(:'about.my-experience.works.6.title') %></h3>
                      <span class="company"><%= raw t(:'about.my-experience.works.6.text') %></span>
                    </div>
                  </div>



                  <div class="timeline-item" style="margin-bottom: 0;">
                    <div class="timeline-date"><%= raw t(:'about.my-experience.works.7.date') %></div>
                    <div class="timeline-content">
                      <h3><%= raw t(:'about.my-experience.works.7.title') %></h3>
                      <span class="company"><%= raw t(:'about.my-experience.works.7.text') %></span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>






<!--
  <div class="experience">
    <div class="experience__body container">
      <div class="experience__header header_box ">
        <h2 class="experience__title title"><%= t 'about.my-experience.title' %></h2>
        <p class="experience__subtitle subtitle"><%= t 'about.my-experience.sub-title' %></p>
      </div>
      <div class="experience__row">
        <div class="experience__column">
          <div class="experience__item">
            <h3 class="experience__name"><%= t 'about.my-experience.works.child.title' %></h3>
            <p class="experience__info"><%= t 'about.my-experience.works.child.date' %></p>
            <p class="experience__text"><%= t 'about.my-experience.works.child.text' %></p>
          </div>
        </div>
        <div class="experience__column">
          <div class="experience__item">
            <h3 class="experience__name"><%= t 'about.my-experience.works.lecturer.title' %></h3>
            <p class="experience__info"><%= t 'about.my-experience.works.lecturer.date' %></p>
            <p class="experience__text"><%= t 'about.my-experience.works.lecturer.text' %></p>
          </div>
        </div>
        <div class="experience__column">
          <div class="experience__item">
            <h3 class="experience__name"><%= t 'about.my-experience.works.expert.title' %></h3>
            <p class="experience__info"><%= t 'about.my-experience.works.expert.date' %></p>
            <p class="experience__text"><%= t 'about.my-experience.works.expert.text' %></p>
          </div>
        </div>
        <div class="experience__column">
          <div class="experience__item">
            <h3 class="experience__name"><%= t 'about.my-experience.works.practice.title' %></h3>
            <p class="experience__info"><%= t 'about.my-experience.works.practice.date' %></p>
            <p class="experience__text"><%= t 'about.my-experience.works.practice.text' %></p>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="results pc">
    <div class="results__body container">
      <div class="results__header header_box">
        <h2 class="results__title title"><%= t 'about.results.title' %></h2>
      </div>
      <div class="text-reviews" id="w_results">
        <div class="slider">
          <div class="slider__wrapper">
            <div class="slider__column">
              <div class="slider__item">
                <div class="slider__content">  
                  <h3 class="review__name"><%= t 'about.results.problem1.name' %></h3>
                  <p class="review__text"><%= raw t 'about.results.problem1.text' %></p>
                </div>
              </div>
            </div>
            <div class="slider__column">
              <div class="slider__item">
                <div class="slider__content">
                  <h3 class="review__name"><%= t 'about.results.problem2.name' %></h3>
                  <p class="review__text"><%= raw t 'about.results.problem2.text' %></p>
                </div>
              </div>
            </div>
            <div class="slider__column">
              <div class="slider__item">
                <div class="slider__content">
                  <h3 class="review__name"><%= t 'about.results.problem3.name' %></h3>
                  <p class="review__text"><%= raw t 'about.results.problem3.text' %></p>
                </div>
              </div>
            </div>
            <div class="slider__column">
              <div class="slider__item">
                <div class="slider__content">
                  <h3 class="review__name"><%= t 'about.results.problem4.name' %></h3>
                  <p class="review__text"><%= raw t 'about.results.problem4.text' %></p>
                </div>
              </div>
            </div>
            <div class="slider__column">
              <div class="slider__item">
                <div class="slider__content">
                  <h3 class="review__name"><%= t 'about.results.problem5.name' %></h3>
                  <p class="review__text"><%= raw t 'about.results.problem5.text' %></p>
                </div>
              </div>
            </div>
            <div class="slider__column">
              <div class="slider__item">
                <div class="slider__content">
                  <h3 class="review__name"><%= t 'about.results.problem6.name' %></h3>
                  <p class="review__text"><%= raw t 'about.results.problem6.text' %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="slider__control slider__control_left" href="#" role="button"></a>
        <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
      </div>
      <%= render partial: "/new/slider"%>
      <script type="text/javascript">
        var slider = multiItemSlider('w_results')
      </script>
    </div>
  </div>



  <div class="reviews">
    <div class="reviews__body container">
      <div class="reviews__header header_box">
        <h2 class="reviews__title title"><%= t 'slider-reviews.title' %></h2>
      </div>

      <%= render partial: "/new/review"%>

    <div class="video-reviews" id="w_video">
      <div class="slider">
        <div class="slider__wrapper">
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Maria20' %>" frameborder="0" showinfo="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Bogdan29' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Svetlana37' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Julia29' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Danil20' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Kate22' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Stanislav' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Maksim' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
          
        </div>
        <a class="slider__control slider__control_left" href="#" role="button"></a>
          <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
        </div>

        <%= render partial: "/new/slider"%>
        <script type="text/javascript">
            var slider = multiItemSlider('w_video')
        </script>
    </div>
  </div>



  <div class="sign-up">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form"><%= t 'sign-up.title' %></h2>
        <p class="sign-up__text"><%= t 'sign-up.sub-title' %></p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=%2B380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc"><%= raw t 'sign-up.text' %></p>
      </div>
    </div>
  </div>

  <%= javascript_include_tag  asset_url('lightbox-plus-jquery.js') %>
</div>




