<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://tkachenkoandrey.com/Acceptance-and-Commitment-Therapy">
  <title>Терапия принятия и ответственности | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение сущности метода АСТ с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta name="keywords" content="терапия принятия и ответственности, консультация психолога онлайн, ACT, психотерапия ACT онлайн, как работает ACT, техники ACT, ACT психолог, ACT психотерапевт, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Acceptance-and-Commitment-Therapy">
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Терапия принятия и ответственности | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение сущности метода АСТ с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="терапия принятия и ответственности">
  <meta property="article:tag" content="консультация психолога онлайн">
  <meta property="article:tag" content="ACT">
  <meta property="article:tag" content="психотерапия ACT онлайн">
  <meta property="article:tag" content="как работает ACT">
  <meta property="article:tag" content="техники ACT">
  <meta property="article:tag" content="ACT психолог">
  <meta property="article:tag" content="ACT психотерапевт">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="http://tkachenkoandrey.com/Acceptance-and-Commitment-Therapy">
  <meta name="twitter:title" content="Терапия принятия и ответственности | Психолог Ткаченко Андрей">
  <meta name="twitter:desctiption" content="Краткое объяснение сущности метода АСТ с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name">Терапия принятия и ответственности</h1>
      <p class="article__description pc">В 80-хх годах был разработан метод, который помогает избавиться от невротических проблем и наслаждаться жизнью даже тем людям, которые страдают от хронических заболеваний. Имя ему – АСТ.</p>
      <img class="fullscreen__image" src="<%= asset_url('methods/ACT.webp')%>" title="Терапия принятия и ответственности" alt="Терапия принятия и ответственности">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Что такое АСТ</h2>
        <p>
          <b>Терапия принятия и ответственности</b> (АСТ) – направление 3-й волны КПТ, которое совмещает в себе поведенческую терапию, майндфулнесс и свои индивидуальные наработки. Улучшая осознанность, выявляя ценности, делая акцент на действиях, важных для человека, достигаются стойкие результаты психотерапии.
        </p>
        <p>
          Создателем АСТ является Стивен Хайес, он исследовал модели обучения языку и концепцию психологического здоровья. Долгое время в психологии понятия нормы было заимствовано из медицины: отсутствие болезни = здоровье. Сейчас, это утверждение пересмотрели. Ведь даже самый счастливый человек может, порой, чувствует тревогу, может одновременно любить и обижаться на своего отца или мать. Более того, как показали исследования, уровень счастья напрямую не зависит от наличия болезней (человек, который страдает какой-либо хронической болезнью может ощущать себя более счастливо, нежели «здоровый» человек) и даже финансовое благополучие не обеспечивает 100% уровень счастья. А что тогда делает человека счастливым, спросите вы. Ответ: <b>ценностные действия</b>. Человек становится счастливым, когда он делает то, что для него очень важно и ценно в данный момент жизни, несмотря на возможные трудности.
        </p>
        <p>
          У всех людей бывают негативные мысли, эмоции и неприятные ощущения. Это нормально. Человек здоров, если научился <b>замечать</b> наличие «тараканов» в своей голове. В тот миг, когда он заметил, что с ним происходит (какие мысли, желания, ощущения у него есть) – он становится свободным в своем выборе: продолжать избегать или начать действовать.</p>
        <p>
          <b>Психологически здоровый человек</b> – это не тот, у кого нет проблем, а тот, кто умеет делать то, что для него важно и ценно в данный момент, несмотря ни на какие внутренние проблемы (негативные мысли, эмоции, ощущения, желания). Поэтому АСТ занимается развитием <b>гибкости мышления и внимания</b>. Для этого в АСТ есть 3 глобальные направления работы:<br>
        <ul>
          <li>Открытость: вместо вечного избегания – становимся открытыми к тому, что с нами происходит, не пытаемся убежать от мыслей и чувств, принимаем их и научается растождествляться с ними: «я, мои мысли и мои чувства – не одно и то же»;</li>
          <li>Центрированность: вместо летания в облаках, научаемся держать фокус внимания на настоящем моменте, чтобы мочь останавливать поток своих мыслей и делать осознанный выбор: "как поступить в данной ситуации?";</li>
          <li>Вовлеченность: выявляем истинные ценности человека, которым он хочет следовать и к которым стремится. Задача – научиться делать то, что для меня важно, а не то, что убережет меня от возможной физической или ментальной «боли».</li>
        </ul>
        <p>
          Все применяемые техники в АСТ сопровождаются красочными метафорами и примерами, которые помогают клиенту лучше понять и почувствовать, что значит осознанность, принятие, ценности. Согласно исследованиям, АСТ является отличным методом, который дает хорошие результаты и имеет низкую вероятность возможных рецидивов в будущем, по сравнению с иными методами.
        </p>
      </section>

      <section>
        <h2>Проблемы, которые решаются с помощью АСТ:</h2>
        <ul>
          <li>Невроз и психосоматика</li>
          <li>Повышенная тревога и Генерализованное тревожное расстройство</li>
          <li>Депрессия</li>
          <li>Фобии</li>
          <li>Панические атаки</li>
          <li>Низкая самооценка</li>
          <li>Экзистенциальные проблемы (потеря смысла жизни)</li>
          <li>Улучшение психологического самочувствия при хронических и неизлечимых болезнях</li>
        </ul>
      </section>

      <section>
        <h2>Как работает ACT</h2>
        <p>
          Клиент на первой консультации (сеансе) описывает свою проблему, АСТ-терапевт слушает, задает уточняющие вопросы, проводит полноценную диагностику по схеме гексафлекса (шестиугольника гибкости):
        </p>

        <img src="<%= asset_url('methods/Hexaflex.svg')%>" alt="Гексафлекс" style="width: 100%; max-width: 700px">
      
        <p>
          Диагностику по гексафлексу проводить очень легко, схема подходит под любые типы неврозов, от чего лишь за первый час работы уже становится ясна полная картина проблемы и план терапии.
        </p>

        <h3>Второй – третий сеанс</h3>
        <p>
          Анализируются действия клиента, которыми он пытается защититься или перебороть свою проблему, выявляются краткосрочные и долгосрочные последствия таких действий. Клиент обучается техникам расцепления с мыслями и принятия (схожих с медитацией), учится не убегать, а контактировать со своими страхами и тревогой, быть открытым к новому опыту и приспосабливаться к тому, что происходит в его внутреннем мире.
        </p>

        <h3>Четвертый – пятый сеанс</h3>
        <p>
          Терапевт обучает клиента концентрировать свое внимание на том, что происходит здесь и сейчас. Это позволяет вовремя заметить надвигающуюся панику, страх, тревогу и вовремя среагировать. Также, человек обретает навык наблюдения со стороны за своими чувствами, мыслями, что позволяет принимать верные решения, чувствовать себя в безопасности в ситуации неопределенности и даже развивать творческие способности.
        </p>

        <h3>Шестой – девятый сеанс</h3>
        <p>
          Выявляются основные ценности, которые имеют бесприкословную важность для человека, которым он хочет следовать, не смотря ни на что. Исходя из ценностей формируются цели (как череда достижений, которые подтверждают то, что я иду по пути своих ценностей). В конце формируется перечень конкретных действий, которые необходимо сделать для достижения целей, и список возможных препятствий (негативные мысли, эмоции, желания, внешние обстоятельства).
        </p>

        <h3>Завершающий сеанс</h3>
        <p>
          На 10-м сеансе все применяемые техники собираются вместе, в единую систему, клиент научается применять полученные знания в любой жизненной ситуации используя технику «СТОП». На последней встрече проводится профилактика рецидивов, ставятся задачи и цели на будущее, делаются окончательные выводы.
        </p>

        <h3>Как долго нужно проходить терапию ACT</h3>
        <p>
          Стандартная АСТ-терапия длится 10 сеансов 1-2 раза в неделю. В зависимости от сложности проблемы, индивидуальных особенностей человека, работа может длиться и дольше. По желанию клиента может проводиться поддерживающая терапия (1 сеанс раз в 2-4 недели);
        </p>
        <p>
          Также, существует краткосрочный вид терапии под названием FACT, которая является упрощенной моделью АСТ и в течении 1-4 сеансов помогает научиться самостоятельно решать проблемные ситуации.
        </p>
      </section>

    </div>
  </article>

  <div class="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=+380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>