<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://tkachenkoandrey.com/Cognitive-Behavioral-Therapy">
  <title>Когнитивно-поведенческая терапия | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение сущности метода КПТ с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta name="keywords" content="когнитивно-поведенческая терапия, консультация психолога онлайн, КПТ, психотерапия КПТ онлайн, как работает КПТ, техники КПТ, КПТ психолог, КПТ психотерапевт, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Cognitive-Behavioral-Therapy">
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Когнитивно-поведенческая терапия | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение сущности метода КПТ с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="когнитивно-поведенческая терапия">
  <meta property="article:tag" content="консультация психолога онлайн">
  <meta property="article:tag" content="КПТ">
  <meta property="article:tag" content="психотерапия КПТ онлайн">
  <meta property="article:tag" content="как работает КПТ">
  <meta property="article:tag" content="техники КПТ">
  <meta property="article:tag" content="КПТ психолог">
  <meta property="article:tag" content="КПТ психотерапевт">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="http://tkachenkoandrey.com/Cognitive-Behavioral-Therapy">
  <meta name="twitter:title" content="Когнитивно-поведенческая терапия | Психолог Ткаченко Андрей">
  <meta name="twitter:desctiption" content="Краткое объяснение сущности метода КПТ с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name">Когнитивно-поведенческая терапия</h1>
      <p class="article__description pc">В 60-70-хх годах был разработан метод, который помогает избавиться от негативных убеждений, изменить восприятие мира и выработать новую стратегию поведения. Имя ему – КПТ.</p>
      <img class="fullscreen__image" src="<%= asset_url('methods/CBT.jpg')%>" title="Когнитивно-поведенческая терапия" alt="Когнитивно-поведенческая терапия">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Что такое КПТ</h2>
        <p>
          <b>Когнитивно-поведенческая терапия</b> (КПТ) – одна из самых эффективных направлений психотерапии, в котором основная работа заключается в том, чтоб помочь изменить поведение и психоэмоциональное состояние человека, путем анализа его мыслей и действий. Метод помогает менять <b>реакцию человека</b> на определенные раздражители, выявляя <b>автоматические мысли</b>, которые предшествовали ей и обучаясь новым стратегиям <b>поведения</b>.
        </p>
        <p>
          КПТ является эффективным методом работы с невротическими и депрессивными состояниями. Это основа для иных методов психотерапии. Используя научно проверенные протоколы лечения, постепенно изменяя поведение, анализируя мысли, заполняя таблицы и дневники, делая домашние задания, достигается качественный результат психотерапии. Залог успеха - активное участие клиента в работе, КПТ это не тот метод, когда вы просто сидите и рассказываете о своих проблемах, здесь мы действуем.
        </p>
        <p>
          КПТ включает в себя 2 направления работы:<br>
          <b>1. Когнитивный</b> – работа с мыслями. Выявление автоматических мыслей, глубинных убеждений, которые влияют на эмоциональное состояние клиента и его поведение. Вербальный анализ мыслей, заполнение таблиц, самонаблюдение.<br>
          <b>2. Поведенческий</b> – работа с поведением человека. Путем планирования, тренировок и проверок (поведенческих экспериментов) человек научается иному способу действия, меняются его убеждения, уходят страхи и тревога.
        </p>
      </section>

      <section>
        <h2>Проблемы, которые решаются с помощью КПТ:</h2>
        <ul>
          <li>Невроз и психосоматика</li>
          <li>Повышенная тревога и Генерализованное тревожное расстройство</li>
          <li>Депрессия</li>
          <li>Фобии</li>
          <li>Панические атаки</li>
          <li>Навязчивые мысли и действия (ОКР)</li>
          <li>Проблемы с питанием и весом (анорексия, булимия)</li>
          <li>Низкая самооценка</li>
          <li>Психотравмы и ПТСР</li>
          <li>Алкоголизм, наркомания, шизофрения (как поддерживающий метод)</li>
        </ul>
      </section>

      <section>
        <h2>Как работает КПТ</h2>
        <p>
          Клиент на первой консультации (сеансе) рассказывает о своих переживаниях, КПТ-терапевт слушает, задает уточняющие вопросы, проводит полноценную диагностику по схеме <b>КПТ-формулировки:</b>
        </p>

        <img src="<%= asset_url('methods/CBT-formulation.svg')%>" alt="КПТ-формулировка" style="width: 100%; max-width: 600px;">
      
        <h3>Что будет происходить дальше</h3>
        <p>
          Терапевт выявляет при каких обстоятельствах возникла проблема, какие «автоматические мысли» присутствуют у клиента и как они влияют на его поведение, эмоции и восприятия мира. Вместе они выявляют все имеющиеся триггеры и описывают проблему системой из 4-х компонентов (что человек делает, думает, чувствует и что происходит с его телом в проблемной ситуации). Далее формулируют запрос, желаемый результат, составляют план терапии и договариваются о сроках работы.
        </p>
        <h3>Второй – третий сеанс</h3>
        <p>
          На следующих сеансах ведется подробный разбор мыслей клиента, выявляются все «за» и «против» подобного стиля мышления, ищутся альтернативные взгляды, путем задавания вопросов, ведения дневников и таблиц (АВС-схема), клиент лучше понимает последовательность возникновения негативных эмоций, мыслей и нежелательных действий. Конечная цель – научиться отслеживать свои автоматические мысли, критично к ним относиться и максимально объективно воспринимать происходящие события.
        </p>
        <h3>Четвертый – девятый сеанс</h3>
        <p>
          Когда клиент понял из чего состоит его проблема и как его мысли влияют на его действия, проводятся поведенческие эксперименты. Клиент прямо в кабинете терапевта проверяет гипотезы о том, насколько он некомфортно себя почувствует, когда начнет глубоко дышать, думать о чем-то плохом или вспоминать прошлые неудачи. Сталкиваясь с негативными эмоциями, человек отслеживает свой поток мыслей и свое самочувствие, таким образом обретая полезный опыт и формулируя для себя новые выводы. После таких проверок, проводится планирование домашнего задания, которое необходимо выполнить в местах или обстоятельствах, вызывающих негативные эмоции: спуститься в метро, пойти в кино с друзьями и т.д. Если человек, например, в депрессии, то дз будет совершенно иное: выполнить список действий, которые могут принести положительные эмоции. Главная цель –  путем поэтапного увеличения контакта с триггерами, научить человека эффективному способу поведения и уменьшить реакцию на раздражитель (снизить страх, тревогу, навязчивость).
        </p>
        <p>
          КПТ – это всегда союз клиента и терапевта. В доверительном диалоге анализируются и ищутся способы решения, проверяются результаты дз, выстраивается новый план работы. Иногда, терапевт на своем примере показывает, как можно реагировать на раздражители, попадая в нелепые, опасные или безопасные ситуации, а клиент за этим наблюдает и делает собственные выводы. Постепенно, шаг за шагом, человек привыкает действовать самостоятельно, без поддержки терапевта, научается справляться с негативными мыслями, контролировать тревогу и навязчивости, замечать свои чувства и в любой момент времени делать собственный выбор того, как поступить в текущей ситуации.
        </p>
        <h3>Завершающий сеанс</h3>
        <p>
          На 10-м, завершающем сеансе, проводится профилактика рецидивов, ставятся задачи и цели на будущее, делаются окончательные выводы. Клиент обрел внутреннюю уверенность и готов самостоятельно справляться с возможными проблемами.
        </p>
        <h3>Как долго нужно проходить терапию КПТ</h3>
        <p>
          Стандартная краткосрочная терапия это 10 сеансов 1-2 раза в неделю. В зависимости от сложности проблемы, работа может длиться до полу года. По желанию клиента может проводиться поддерживающая терапия (1 сеанс раз в 2-4 недели).
        </p>
      </section>

    </div>
  </article>

  <div class="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=+380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>