<div class="pc_content">
  <div class="container" style="text-align: justify">
    <h1 style="margin-top: 5vw; font-weight: 800; text-align: center; font-size: 2.5vw;">Коучинг и обучение</h1>
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 3vw 4vw 3vw">
      ﻿﻿﻿﻿﻿Если вы это читаете, то, вероятно, вы интересуетесь собственным саморазвитием. Эта статья призвана кратко объяснить процесс тренинга и коучинга, как он выглядит на практике, к какому результату мы стремимся и какие техники для этого я использую
    </p>
    <img src="<%= asset_url('problem/coaching.svg')%>" alt="Коучинг и обучение" style="float: right; width: 30vw; margin: 1vw 4vw">
    <h2>Какие навыки я развиваю</h2>
    <ul>
      <li>Коучинг: помощь в принятии решений</li>
      <li>Обучение техникам и навыкам:</li>
      <ul>
        <li>принятия решений</li>
        <li>стрессоустойчивости</li>
        <li>релаксации</li>
        <li>постановки целей</li>
        <li>самонаблюдения и самоанализа</li>
        <li>коммуникации, решению конфликтов</li>
        <li>осознанности</li>
      </ul>
    </ul>

    <h2>Методы коучинга и тренинга</h2>
    <p>
      Вы записывайтесь ко мне на консультацию и в зависимости от запроса я подбираю для вас индивидуальный метод обучения исходя из ваших временных рамок, финансового положения и того, какой уровень владения навыка вам необходим.<br>В своей работе я использую все <a href="methods.html" style="border-bottom: 1px solid currentColor;">9 методов</a>, которыми я владею.
    </p>
    <h2>Помощь в принятии решений (+обучение)</h2>
    <p>
      Для верного решения необходимо провести четкий анализ разворачивающийся деятельности. Чтобы уметь анализировать происходящее - необходимо развивать мышление. И тем и другим занимается <a href="STA.html" style="border-bottom: 1px solid currentColor;">СМД</a> (системно-мыследеятельностный подход). Рисуя схемы происходящего, мы можем объективно оценить события с разных точек зрения и принять наиболее эффективное решение из возможных.
    </p>
    <h2>Обучение стрессоустойчивости</h2>
    <p>
      Стресс в нашей жизни будет всегда, нам лишь необходимо научиться с ним справляться. Стресс активирует поток негативных мыслей, с которыми помогает справиться методы <a href="MCT.html" style="border-bottom: 1px solid currentColor;">МКТ</a>, например, техника отстраненной осознанности. Эмоциональные всплески можно приручить техниками принятия. Чтобы не воспринимать события как негативные, мочь смотреть с позиции наблюдателя, есть техники осознанности и АВС-схема. Для выработки практического навыка управления своим состоянием тренируем технику СТОП.
    </p>
    <h2>Обучение релаксации</h2>
    <p>
      Обучение релаксации проходит в несколько этапов: вначале внешние ресурсы приняются (предметы, вещи, места, люди), потом - внутренние ресурсы (владение своим телом, дыханием, вниманием и воображением). Для быстрого расслабления, лучшего засыпания подойдет аутотренинг, прогрессивная мышечная релаксация Джекобсона и техники расслабленного диафрагмального дыхания вместе с движением глаз.  Чтобы полностью владеть собой, придуман метод Прикладной релаксации. В совокупности с улучшением образа жизни, качественным отдыхом, конструктивным режимом дня и развитием эмоционального интеллекта достигается стойкий навык релаксации.
    </p>        
    <h2>Постановка целей, выявление / формирование ценностей и смыслов</h2>
    <p>
      Иметь смысл жизни, цели и ценности крайне важно для гармоничной и полноценой жизни каждого человека. Для постановки целей используется метод целеполагания из СМД (анализируем деятельность и с рефлексивной позиции смотрим на себя, находим личный интерес). Для работы с ценностями используется метод <a href="ACT.html" style="border-bottom: 1px solid currentColor;">АСТ</a>: формируем позицию "наблюдающего я", осознаем себя как автора и причину происходящего, как того, кто лично заинтересован получать какой-то опыт в разных сферах своей жизни. В идеале, необходимо выявить ценности и уже на их основе создавать цели. То есть, наслаждаясь процессом, можно и цели не забывать себе ставить))
    </p>
    <h2>Самонаблюдение и самоанализ</h2>
    <p>
      Не обязательно постоянно обращаться к психологам за консультацией. Можно самостоятельно замечать за собой "баги" психики и понимать их причины. Методов уйма, здесь можно жонглировать техниками: АВС-схема, рефрейминг, рефлексия по СМД, когнитивная реструктуризация, Наблюдающее Я из АСТ, образ себя из ЭОТ, выявляен игры и ролек в транзактном анализе. Я подберу лично для вас метод самоанализа, который будет подходить именно к вашему случаю, и научу вас самостоятельно его применять.
    </p>
    <h2>Навыки коммуникации</h2>
    <p>
      В современном мире, тот кто умеет находить общий язык с людьми - может достичь любых высот. Чтобы научиться эффективно общаться, нужно понимать контекст, какая именно "игра" сейчас разворачивается между людьми - это удел транзактного анализа (я анализирую ваши взаимоотношения, объясняю смысл своих рефлексивных вопросов и за пару консультаций вы перенимаете данный навык). Чтобы научиться не создавать лишний раз конфликты, существует метод ненасильственного общения Маршалла Розенберга, а для решения конфликтов существуют техники медиаторства (нахождения компромиса), принципы ассертивного поведения (поведения "уверенного в себе человека", где уровень агрессии плавно повышается). Закрепляем навыки на практике: проводим стресс-консультации с вами (спорим, конфликтуем), после чего вы отшлифовываете навык в повседневной жизни.
    </p>
    <h2>Обучение осознанности</h2>
    <p>
      Наше внимание часто блуждает то в прошлом, то в будущем, поэтому мы мало живем в настоящем. Осознанность позволяет жить в полном смысле этого слова, а не просто автоматически реагировать выученым способом. Развивать свое внимание на текущем моменте мы начинаем с техник работы с мыслями, учимся отстранятся от собственных мыслей, чувств и действий, научаемся задавать себе рефлексивные вопросы (вопросы на понимание), тренируем переключаемость и объем внимания, научаемся по сигналу включать осознанность, когда это необходимо. При желании глубоко развить навык - обучаемся медитации (на консультации и дома).
    </p>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 6vw 0px 2vw 0vw; padding-top: 3vw">Запись на консультацию</h2> 
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 4vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8vw">
      <img src="<%= asset_url('form.svg')%>" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- конец container -->
</div>  <!-- конец pc_content -->








<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7; padding-bottom: 8vw">
  <div class="container" style="margin-bottom: 8vw; font-size: 2.7vw; line-height: 3.4vw; text-align: start; ">
    <h1 style="padding: 9vw 0vw 0vw 0vw; text-align: center; font-weight: 800; font-size: 5vw; line-height: 6vw; margin: 0px;">
      Коучинг и обучение
    </h1>
    <p style="text-align: center; font-size: 2.7vw; line-height: 3.2vw; letter-spacing: 0.01em; margin: 5vw 0vw 7vw 0vw">
      Если вы это читаете, то, вероятно, вы интересуетесь собственным саморазвитием. Эта статья призвана кратко объяснить процесс тренинга и коучинга, как он выглядит на практике, к какому результату мы стремимся и какие техники для этого я использую
    </p>
    <img src="<%= asset_url('problem/coaching.svg')%>" alt="Коучинг и обучение" style="width: 86vw">

    <h2>Какие навыки я развиваю</h2>
    <ul>
      <li>Коучинг: помощь в принятии решений</li>
      <li>Обучение техникам и навыкам:</li>
      <ul>
        <li>принятия решений</li>
        <li>стрессоустойчивости</li>
        <li>релаксации</li>
        <li>постановки целей</li>
        <li>самонаблюдения и самоанализа</li>
        <li>коммуникации, решению конфликтов</li>
        <li>осознанности</li>
      </ul>
    </ul>

    <h2>Методы коучинга и тренинга</h2>
    <p>
      Вы записывайтесь ко мне на консультацию и в зависимости от запроса я подбираю для вас индивидуальный метод обучения исходя из ваших временных рамок, финансового положения и того, какой уровень владения навыка вам необходим.<br>В своей работе я использую все <a href="methods.html" style="border-bottom: 1px solid currentColor;">6 методов</a>, которыми я владею.
    </p>
    <h2>Помощь в принятии решений (+обучение)</h2>
    <p>
      Для верного решения необходимо провести четкий анализ разворачивающийся деятельности. Чтобы уметь анализировать происходящее - необходимо развивать мышление. И тем и другим занимается <a href="STA.html" style="border-bottom: 1px solid currentColor;">СМД</a> (системно-мыследеятельностный подход). Рисуя схемы происходящего, мы можем объективно оценить события с разных точек зрения и принять наиболее эффективное решение из возможных.
    </p>
    <h2>Обучение стрессоустойчивости</h2>
    <p>
      Стресс в нашей жизни будет всегда, нам лишь необходимо научиться с ним справляться. Стресс активирует поток негативных мыслей, с которыми помогает справиться методы <a href="MCT.html" style="border-bottom: 1px solid currentColor;">МКТ</a>, например, техника отстраненной осознанности. Эмоциональные всплески можно приручить техниками принятия. Чтобы не воспринимать события как негативные, мочь смотреть с позиции наблюдателя, есть техники осознанности и АВС-схема. Для выработки практического навыка управления своим состоянием тренируем технику СТОП.
    </p>
    <h2>Обучение релаксации</h2>
    <p>
      Обучение релаксации проходит в несколько этапов: вначале внешние ресурсы приняются (предметы, вещи, места, люди), потом - внутренние ресурсы (владение своим телом, дыханием, вниманием и воображением). Для быстрого расслабления, лучшего засыпания подойдет аутотренинг, прогрессивная мышечная релаксация Джекобсона и техники расслабленного диафрагмального дыхания вместе с движением глаз.  Чтобы полностью владеть собой, придуман метод Прикладной релаксации. В совокупности с улучшением образа жизни, качественным отдыхом, конструктивным режимом дня и развитием эмоционального интеллекта достигается стойкий навык релаксации.
    </p>        
    <h2>Постановка целей, выявление / формирование ценностей и смыслов</h2>
    <p>
      Иметь смысл жизни, цели и ценности крайне важно для гармоничной и полноценой жизни каждого человека. Для постановки целей используется метод целеполагания из СМД (анализируем деятельность и с рефлексивной позиции смотрим на себя, находим личный интерес). Для работы с ценностями используется метод <a href="ACT.html" style="border-bottom: 1px solid currentColor;">АСТ</a>: формируем позицию "наблюдающего я", осознаем себя как автора и причину происходящего, как того, кто лично заинтересован получать какой-то опыт в разных сферах своей жизни. В идеале, необходимо выявить ценности и уже на их основе создавать цели. То есть, наслаждаясь процессом, можно и цели не забывать себе ставить))
    </p>
    <h2>Самонаблюдение и самоанализ</h2>
    <p>
      Не обязательно постоянно обращаться к психологам за консультацией. Можно самостоятельно замечать за собой "баги" психики и понимать их причины. Методов уйма, здесь можно жонглировать техниками: АВС-схема, рефрейминг, рефлексия по СМД, когнитивная реструктуризация, Наблюдающее Я из АСТ, образ себя из ЭОТ, выявляен игры и ролек в транзактном анализе. Я подберу лично для вас метод самоанализа, который будет подходить именно к вашему случаю, и научу вас самостоятельно его применять.
    </p>
    <h2>Навыки коммуникации</h2>
    <p>
      В современном мире, тот кто умеет находить общий язык с людьми - может достичь любых высот. Чтобы научиться эффективно общаться, нужно понимать контекст, какая именно "игра" сейчас разворачивается между людьми - это удел транзактного анализа (я анализирую ваши взаимоотношения, объясняю смысл своих рефлексивных вопросов и за пару консультаций вы перенимаете данный навык). Чтобы научиться не создавать лишний раз конфликты, существует метод ненасильственного общения Маршалла Розенберга, а для решения конфликтов существуют техники медиаторства (нахождения компромиса), принципы ассертивного поведения (поведения "уверенного в себе человека", где уровень агрессии плавно повышается). Закрепляем навыки на практике: проводим стресс-консультации с вами (спорим, конфликтуем), после чего вы отшлифовываете навык в повседневной жизни.
    </p>
    <h2>Обучение осознанности</h2>
    <p>
      Наше внимание часто блуждает то в прошлом, то в будущем, поэтому мы мало живем в настоящем. Осознанность позволяет жить в полном смысле этого слова, а не просто автоматически реагировать выученым способом. Развивать свое внимание на текущем моменте мы начинаем с техник работы с мыслями, учимся отстранятся от собственных мыслей, чувств и действий, научаемся задавать себе рефлексивные вопросы (вопросы на понимание), тренируем переключаемость и объем внимания, научаемся по сигналу включать осознанность, когда это необходимо. При желании глубоко развить навык - обучаемся медитации (на консультации и дома).
    </p>

  </div> <!-- конец container -->
    
  <h2 style="padding: 7vw 0vw 2vw 0vw; text-align: center; font-weight: 800; font-size: 5vw">
    Запись на консультацию
  </h2>
  <p style="text-align: center; font-size: 2.9vw; line-height: 3.7vw; margin: 2vw 7vw 7vw 7vw">
    Заполните форму или свяжитесь со мной любым удобным для вас способом. Контакты вы найдете 
    <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
  </p>

  <%= render partial: "/new/form"%>

</div> <!-- конец моб версии -->