<% content_for :head do %>

<% end %>

<div class="pc_content">
  <div style="background-image: url(<%= asset_url('consultations.png')%>); background-repeat:round; background-size: cover; width: 100%; height: 46vw;">
    <div style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.21) 0%, rgba(141, 141, 141, 0.52) 45%, rgb(59,59,59) 100%); height: 100%">
    </div>
  </div>
  <div class="container">
    <div style="position: absolute; top: 30vw;">
      <p style="font-weight: 800; font-size: 4vw; line-height: 4.7vw; color: #FFFFFF; margin: 0vw">Консультации</p>
      <p style="background: rgba(187, 160, 143, 0.9); text-align: left; font-size: 1.3vw; line-height: 1.6vw; letter-spacing: 0.01em; padding: 1vw;
        margin: 1vw 0vw 0vw 0vw; color: #FFFFFF; display: inline-block; border-radius: 0.7vw">
        Психологическое консультирование - один из видов психологической помощи
      </p>
      <p style="text-align: left; font-size: 1.2vw; line-height: 1.6vw; letter-spacing: 0.01em; color: #FFFFFF; margin-right: 8vw;">
        Психотерапия состоит из нескольких психологических консультаций. Это комплексное воздействие на эмоции, убеждения и поведение человека для избавления от многих социальных, психологических и психосоматических проблем при помощи специальных техник и приемов
      </p>
    </div>
 
    <h1 style="padding-top: 6vw; text-align: center; font-weight: 800; font-size: 3vw">Онлайн-консультации психолога</h1>
    <p style="text-align: center; font-size: 1.1vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 8vw 0vw 8vw;">
      Онлайн-консультации также эффективны, как и очные консультации психолога, а для некоторых клиентов - это единственная возможность получить квалифицированную помощь психолога.
    </p>
    <h2 style="margin: 6vw 0vw 1.5vw 0vw">Преимущества онлайн-консультаций</h2>
    <ul>
      <li>не надо никуда ехать, нет транспортных расходов;</li>
      <li>можно быть дома в тепле и комфорте;</li>
      <li>можно частично сохранить конфиденциальность;</li>
      <li>если вы уезжаете в отпуск, можно не прерывать консультации;</li>
      <li>если вам понадобилась срочная консультация - вы получите ее быстрее и проще;</li>
      <li>можно получить качественные услуги, если в вашем месте жительства нет компетентных психологов;</li>
      <li>также достаточно эффективны как и очные консультации.</li>
    </ul>
    <h2 style="margin: 5vw 0vw 1.5vw 0vw">Цели консультаций</h2>
    <ul>
      <li>оказание психологической помощи, т.е. разговор с психологом должен помочь человеку в решении его проблем и налаживании взаимоотношений с окружающими;</li>
      <li>расширение представления клиента о сути и причинах возникновения своей проблемной ситуации;</li>
      <li>помощь в нахождении целей в жизни, ценностей, приоритетов и задач на будущее, создание самоопределения клиента;</li>
      <li>избавления клиента от симптомов проблемы;</li>
      <li>облегчение эмоционального состояния клиента;</li>
      <li>развитие гибкости, умения находить новые, эффективные модели мышления и поведения.</li>
    </ul>
    <h2 id="consultations" style="margin: 0vw 0vw 1.5vw 0vw; padding-top: 5vw">Как проходят консультации и курс психотерапии</h2>
    <p style="text-align: justify;">
      <b><i>Предварительная консультация:</i></b> в течение 24 часов, после оставления вами заявки на консультацию, я вам перезваниваю/связываюсь с вами в мессенджере, анализирую вашу ситуацию, отвечаю на вопросы и мы вместе согласовываем дальнейшие действия.<br>
      <b><i>Индивидуальная консультация:</i></b> на первой 2-х часовой консультации мы проводим полную диагностику и работаем с вашей проблемой. По результатам диагностики становятся ясными: содержание проблемы, приблизительные сроки и план терапии. Методом диагностики и работы является специально выстроенный диалог с применением психотервпевтических <a href="methods.html" style="border-bottom: 1px solid currentColor;"><b>методов</b></a>.
    </p>
    <p style="text-align: justify;">
      Перед каждой консультацией вы заполняете специальный опросник, который создан на основе вашей индивидуальной ситуации. Опросник позволяет понять динамику вашего состояния и то, с какой составляющей проблемы следует работать в первую очередь. На протяжении всей консультации я пишу стенографию. Дома, вы ее перечитываете, заново переосмысливаете проделанную работу и полученные результаты, видите описание техник, которые использовались, список своего домашнего задания и дополнительные обучающие материалы (если они будут вам необходимы). Между консультациями я поддерживаю связь с вами в мессенджерах для отслеживания динамики состояния, корректировки домашнего задания и ответов на возникающие вопросы.
    </p>
    <h2 style="margin: 5vw 0vw 1.5vw 0vw">Структура курса психотерапии</h2>
    <p>
      <b>1. Сначала проводится диагностика</b> (1 консультация), на ней происходит обследование и формулирование запроса.
    </p>
    <p style="text-align: justify;">
      <b>2. Далее начинается курс краткосрочной психотерапии</b><br>
      Краткосрочная терапия (до 10 консультаций) – на ней удаляются основные симптомы проблемы. Происходит научение новым моделям мышления и поведения;<br>
      Среднесрочная терапия (от 10 консультаций) - для более сложных случаев. Доработка оставшихся симптомов. Разбор детских воспоминаний и психотравм;<br>Длительная терапия (20 и более консультаций) - полная трансформация личности. Работа с тяжелыми случаями;<br>
      Поддерживающая терапия (1 консультация в 2-3 недели) – после окончания психотерапии, возвращаясь в привычное русло жизни, иногда, человеку требуется поддержка для предотвращения рецидива проблемы. Для этого, несколько раз в месяц, проводятся консультации на которых мы совместно анализируем произошедшие за последнее время события, развиваем навыки стрессоустойчивости, коммуникации и т.д. Отличный способ получить максимально эффективный результат.
    </p>
    <p>
      <b>3. Завершающая консультация</b> - окончание курса психотерапии. Точка. На ней закрываются все вопросы, фиксируется полученный результат.
    </p>
    <h2 style="margin: 5vw 0vw 1.5vw 0vw">Первая консультация проводится таким образом:</h2>

    <!-- блок аккордеон -->
    <div class="accordion" style="text-align: justify;">
      <section class="accordion_item">
        <h3 class="title_block">1. Установление контакта и проговаривание правил консультации</h3>
        <div class="info">
          <p class="info_item">
            Первичное знакомство уже произошло, когда мы договаривались о сотрудничестве. В начале первой сессии происходит установление и поддержание контакта. Контакт есть, когда мы хотим слышать и понимать друг друга и реализуем это желание. Я проговариваю основные правила и принципы нашей работы, рассказываю как проходит процесс консультирования и предлагаю вам ввести свои дополнительные правила.<br>
            <b>Результат:</b> вы чувствуете себя комфортно и безопасно. Это почва для дальнейшей работы.
           </p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">2. Основной блок диагностических вопросов</h3>
        <div class="info">
          <p class="info_item">Я задаю вам ряд общих вопросов для выяснения вашего физического и психологического состояния, выясняю, есть ли противопоказания к психотерапии, какие есть установленные диагнозы и т.п.<br>
          <b>Результат:</b> я узнаю общую информацию о вас и принимаю решение, есть ли у меня компетенция для работы с данным случаем, либо нужно обратиться к другим специалистам (неврологу, эндокринологу психиатру и т.п.).
          </p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">3. Активное слушание и совместный анализ ситуации</h3>
        <div class="info">
          <p class="info_item"><b>3.1. Активное слушание</b><br>
          Если необходимо, вы "выговариваетесь". Всё мое внимание сконцентрировано на вашем рассказе, я безоценочно воспринимаю сказанное, активно слушаю и задаю уточняющие вопросы, проявляю эмпатию и сострадание, либо разделяю с вами ваши положительные эмоции (если это требуется).<br>
          <b>Результат:</b> таким образом, происходит установление доверительных отношений. Вы начинаете осознавать суть своей проблемной ситуации (за счет проговаривания всего того, что беспокоит и моей обратной связи). Возникает приятное чувство доверия и товарищества, ведь вас понимают, а не оценивают или осуждают.
          </p>
          <p class="info_item"><b>3.2. Совместный анализ ситуации</b><br>
          Вы предметно описываете волнующую вас ситуацию, а я провожу ее мыслительный анализ, задаю уточняющие вопросы, разбираюсь в фактах, выясняю внутреннюю картину проблемы (как вы воспринимаете происходящее и как реагируете на ситуацию), выявляю все текущие жалобы, восстанавливаю цепь событий, предшествующих появлению проблемы, выясняю динамику развития симптомов, возможные причины и объективную картину вашей жизненной ситуации. Полученные данные заношу в диагностические таблицы и стенографию.<br>
          <b>Результат:</b> вы осознаете причинно-следственные связи в вашей проблемной ситуации, причины поведения других людей и собственные модели мышления и поведения.
          </p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">4. Формулирование запроса</h3>
        <div class="info">
          <p class="info_item">После проведения анализа, вы понимаете, что в вашей ситуации является проблемой, а что - естественной нормой, поэтому легко формулируете точное описание имеющиеся у вас проблемы и образ желаемого результата - общей цели консультирования.<br>
          <b>Результат:</b> вы имеете четкое представление о своей проблеме и конечной цели. Ваша цель измерима, достижима и позитивно сформулирована.
          </p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">5. Подведение итогов диагностики</h3>
        <div class="info">
          <p class="info_item">Я структурирую всё сказанное вами, информирую вас о результатах диагностики, объясняю возможные причины появления вашей психологической проблемы, на схемах и метафорах объясняю механизмы ее функционирования. Исходя из диагностики, даю возможный прогноз на будущее (что будет дальше, если ничего не менять) и необходимые рекомендации. Сообщаю, могу ли я вам помочь, нужен ли вам курс психотерапии и какой именно.<br>
          <b>Результат:</b> у вас формируется полная картина происходящего, вы знаете прогноз на будущее и какие есть методы избавления от подобных проблем.
          </p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">6. Создание курса психотерапии</h3>
        <div class="info">
          <p class="info_item"><b>6.1. Составление плана</b><br>
          Я задаю вопрос: "какое решение вы принимаете?" Если вы согласны пройти курс психотерапии со мной, то мы начинаем его создавать на основании диагностики, ваших финансовых возможностей, индивидуальных особенностей вашей ситуации и того, в какие сроки вам нужно получить желаемый результат.<br>
          <b>Результат:</b> вы имеете четкое представление о том, как будет проходить процесс избавления от вашей проблемы.
          </p>
          <br>
          <p class="info_item"><b>6.2. Подготовка к работе, поддержка</b><br>
          На этом этапе часто наблюдается сопротивление клиентов. У вас могут возникать страхи, открываться новые убеждения об опасности, неконтролируемости или неизбежности происходящего с вами, либо наоборот о пользе данных проблем (вторичная выгода). Я работаю с данными убеждениями, отвечаю на все ваши вопросы, поддерживаю и морально подготавливаю вас к предстоящей работе.<br>
          <b>Результат:</b> у вас возникает уверенность в себе и в своих силах, готовность к изменениям.
          </p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">7. Работа с проблемой</h3>
        <div class="info">
          <p class="info_item">
          Основной этап. Направление и содержание работы определяется как вашим запросом, так и моим профессиональным видением. Я применяю диалоговые и поведенческие техники направленные на работу с эмоциями, мыслями, поведением и на анализ ваших взаимоотношений с другими людьми.<br>
          <b>Результат:</b> вы чувствуете облегчение своего эмоционального и физического состояния, осознаете свою роль в сложившейся ситуации, берете ответственность за происходящее с вами. С моей помощью, вы сами осознаете какое именно решение вам стоит принять в данной ситуации, чтобы чувствовать себя максимально комфортно в будущем.
          </p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">8. Подведение итогов консультации</h3>
        <div class="info">
          <p class="info_item">Я проговариваю и анализирую вместе с вами всё то, что было на консультации. Мы оцениваем исходный план и полученный результат.<br>
          <b>Результат:</b> вы осознаете что и какими методами было реализовано, понимаете, какое знание, озарение, чувство или достижение стало сегодня для вас самым важным и ценным приобретением.
          </p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">9. Домашнее задание</h3>
        <div class="info">
          <p class="info_item">Консультация - лишь подготовка к тому, что должно быть реализовано в жизни. Психотерапевтическое дз – это список рекомендуемых действий для изменения мышления и поведения, выработки новых навыков и убеждений, проверки полученных результатов, которые следует выполнять между консультациями. Дз мы составляем вместе.<br>
          <b>Результат:</b> у вас есть план действий до следующей консультации и осознание того, как дз должно вам помочь в достижении вашей цели. Выполнение дз помогает проверить эффективность новых моделей мышления и поведения, проанализировать свое состояние, проверить, получается ли реализовать те решения, которые были приняты на консультации.
          </p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">10. Завершение консультации</h3>
        <div class="info">
          <p class="info_item">Я проверяю поняли ли вы, что вам нужно сделать дома, нет ли сомнений, страхов, даю необходимую мотивацию, поддержку и установку на позитив.<br>
          <b>Результат:</b> вы уходите домой в ресурсном состоянии (спокойно, бодро, уверенно).
          </p>
        </div>
      </section>
    </div>  <!-- конец аккордиона -->
       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script type="text/javascript">
    ! function(i) {
      var o, n;
      i(".title_block").on("click", function() {
        o = i(this).parents(".accordion_item"), n = o.find(".info"),
          o.hasClass("active_block") ? (o.removeClass("active_block"),
            n.slideUp()) : (o.addClass("active_block"), n.stop(!0, !0).slideDown(400),
            o.siblings(".active_block").removeClass("active_block").children(
              ".info").stop(!0, !0).slideUp(400))
      })
    }(jQuery);
    </script>
    <!-- конец блока аккордеон -->


    <p style="margin-top: 3vw; text-align: justify;">
      В перерыве между консультациями мы поддерживаем связь в мессенджерах. Вы можете рассказывать мне всё, что вас беспокоит и задавать любые вопросы для достижения максимального результата. Вы читаете стенографию прошлой консультации, изучаете обучающие материалы, делаете домашнее задание.
    </p>

    <h2 style="margin: 5vw 0vw 1.5vw 0vw">Последующие консультации состоят из таких этапов:</h2>
    <ul style="text-align: justify;">
      <li>Начало. Проговариваем то, чтоб было на предыдущей встрече и в перерыве между консультациями, каковы результаты домашнего задания. Анализируем данные опросника, который вы заполнили перед консультацией. Если необходимо, вы выговариваетесь;</li>
      <li>Составление плана сегодняшней консультации. Я спрашиваю: «с чем хотите сегодня поработать?». Исходя из ваших пожеланий, вносим корректировки в имеющийся план психотерапии;</li>
      <li>Работа с проблемой;</li>
      <li>Подведение итогов;</li>
      <li>Домашнее задание;</li>
      <li>Завершение консультации.</li>
    </ul>

    <h2 style=" margin: 5vw 0vw 1.5vw 0vw">Завершающая консультация проводится так:</h2>
    <p style="text-align: justify;">
      Мы вместе анализируем то, как проходила психотерапия, проводим техники для профилактики рецидивов, закрываем все вопросы, фиксируем полученные результаты и окончательно утверждаем поставленные задачи.<br>
    <b>Результат:</b> вы способны самостоятельно справляться с возникающими психологическими, эмоциональными, поведенческими и социальными трудностями.
    </p>

    <h2 style=" margin: 0vw 0vw 1.5vw 0vw; padding-top: 5vw; text-align: center;" id="Group">Групповая психотерапия онлайн</h2>
    <p style="text-align: justify;">
      Курс психотерапии вы можете проходить и в групповом формате Zoom-конференций. Преимуществом групповой психотерапии является ее <a href="services.html" style="border-bottom: 1px solid currentColor;"><b>дешевизна</b></a>.<br>
      Группа от 3-х до 5-ти человек объединенных одной проблемой (например, низкая самооценка, тревога или ОКР).<br>
      Вы записываетесь ко мне на одну-две консультации для диагностики вашей ситуации и работы с вашей проблемой, чтобы подготовить вас к групповой работе. Если вы выражаете желание стать участником групповой психотерапии - я записываю вас в список потенциальных участников.<br>
      Так я собираю заявки на групповую терапию от своих клиентов. Когда собирается 3-5 заявок по одной и той же проблеме - я создаю общий чат в Telegram и мы договариваемся о дате и времени групповых сеансов.<br><br>
      На сеансе я являюсь психологом-модератором контролирующим ход работы. Методом терапии является диалог между участниками группы.<br>
      Участники поддерживают друг друга, рассказывают о своем личном опыте, о том, как они живут со своей проблемой, и с моей помощью отрабатывают психотехники для избавления от данных проблем.
    </p>

    <h2 style=" margin: 0vw 0vw 1.5vw 0vw; padding-top: 5vw; text-align: center;" id="Intensive-psychotherapy">Интенсивная психотерапия</h2>
    <p style="text-align: justify;">
      Интенсивный коучинг - максимально быстрый процесс терапии и обучения. <a href="services.html" style="border-bottom: 1px solid currentColor;"><b>Дорогое</b></a> удовольствие для тех, кто ценит свое время.<br>
      Вы записываетесь на первую консультацию для диагностики своего состояния и далее я определяю какими методами вам можно помочь решить проблему:<br>
      1. Курс обычной индивидуальной или групповой психотерапии (1-2 сеанса по 2 часа в неделю).<br>
      2. Интенсивный коучинг: 5 дней непрерывной психотерапии, гипнотерапии и консультирования до достижения результата. Работаем столько, сколько нужно по времени (2-6 часов). Избавление от тревоги, психосоматики, панических атак, неврозов, низкой самооценки, страха больших денег и потери бизнеса, прокрастинации. Обучение медитации, стрессоустойчивости, самоанализу. Нахождение ценностей и смысла жизни.
      5 дней интенсивной психотерапии с применением гипнотерапии и коучинга для тех, кому время важнее денег. Избавление от тревоги, психосоматики, неврозов, низкой самооценки, страха больших денег и потери бизнеса. Обучение медитации, стрессоустойчивости, самоанализу. Нахождение ценностей и смысла жизни.
    </p>

    <div style="width: 100%; height: 11vw; background: #383838; box-shadow: 3px 3px 15px rgba(63, 62, 62, 0.4); border-radius: 0.6vw; text-align: center; margin: 5vw auto">
      <h3 style="color: #fafafa; padding: 2vw; margin-bottom: 0.4vw">Остались еще вопросы? Вероятно, я уже ответил на них здесь:</h3>
      <button id="button_faq" style="box-shadow: 0px 0px 0.3vw rgba(184, 202, 226, 0.2);">
        <a href="faq.html">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</a>
      </button>
    </div>

    <h2 style="font-size: 3vw; text-align: center; margin: 7vw 0px 2vw 0vw">Как попасть на консультацию</h2> 
    <p style="text-align: center; font-size: 1.2vw; letter-spacing: 0.01em; margin: 3vw 0vw 3vw 0vw;">
      и начать улучшать свою жизнь
    </p>

    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 9vw">
      <div class="service_box">
        <img src="<%= asset_url('form.svg')%>" alt="форма записи на консультацию психолога" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Онлайн-запись</h3>
        <p class="service_text">
          Вы заполняете <a href="#client-form" style=" border-bottom: 1px solid currentColor;">форму</a> записи на консультацию и оставляете свои контактные данные или связываетесь со мной напрямую по указанным
          <a href="contacts.html" style=" border-bottom: 1px solid currentColor;">контактам</a>.
        </p>
      </div>

      <img src="<%= asset_url('arrow-right.svg')%>" alt="стреока вправо" style="width: 1vw; position: relative; top: 1.9vw">

      <div class="service_box">
        <img src="<%= asset_url('first-contact.svg')%>" alt="предварительная консультация психолога" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Первый контакт</h3>
        <p class="service_text">
          В течение 24 часов я с вами списываюсь / созваниваюсь, анализирую вашу ситуацию, отвечаю на все вопросы и мы вместе согласовываем наши дальнейшие действия.
        </p>
      </div>

      <img src="<%= asset_url('arrow-right.svg')%>" alt="стреока вправо" style="width: 1vw; position: relative; top: 1.9vw">

      <div class="service_box">
        <img src="<%= asset_url('consultation.svg')%>" alt="консультация психолога" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Консультация</h3>
        <p class="service_text">
          По видеосвязи я работаю с вашей проблемой применяя специально выстроенный диалог и техники психотерапии. Подробнее о моих методах работы читайте 
          <a href="methods.html" style=" border-bottom: 1px solid currentColor;">здесь</a>.
        </p>
      </div>

      <img src="<%= asset_url('arrow-right.svg')%>" alt="стреока вправо" style="width: 1vw; position: relative; top: 1.9vw">

      <div class="service_box">
        <img src="<%= asset_url('result.svg')%>" alt="результат консультаций психолога" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Результат</h3>
        <p class="service_text">
          Вы чувствуете себя комфортно и уверенно в ранее стрессовой ситуации. Делаете то, что для вас ценно и важно. Имеете навыки для самостоятельного решения проблем.
        </p>
      </div>
    </div>

    <h2 style="font-size: 3vw; text-align: center; margin: 6vw 0px 2vw 0vw; padding-top: 3vw" id="client-form">Запись на консультацию</h2> 
    <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 5vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8vw">
      <img src="<%= asset_url('form.svg')%>" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- конец container -->
</div> <!-- конец pc_content -->










  <!-- начало моб версии -->
    <div class="mob" style="background: #F7F7F7; padding-bottom: 8vw">
      <div style="background-image: url(<%= asset_url('consultations.png')%>); background-repeat:round; background-size: cover; width: 100%; height: 41vw;">
        <div style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.21) 0%, rgba(141, 141, 141, 0.52) 45%, rgb(59,59,59) 100%); height: 100%">
        </div>
      </div>
      
      <h1 style="position: absolute; top: 35vw; left: 10vw; font-weight: 800; font-size: 6vw; color: white">
        Консультации
      </h1>
      <div style="background-color: #F7F7F7; border-radius: 7vw; margin-top: -7vw; padding-top: 5vw">
        <div class="container" style="margin-bottom: 8vw; font-size: 2.7vw; line-height: 3.5vw">
          <p>
            Психологическое консультирование - один из видов психологической помощи
          </p>
          <p>
            Психотерапия состоит из нескольких психологических консультаций. Это комплексное воздействие на эмоции, убеждения и поведение человека для избавления от многих социальных, психологических и психосоматических проблем при помощи специальных техник и приемов
          </p>

          <h2 style="padding: 10vw 0vw 0vw 0vw; margin: 0vw; text-align: start; font-weight: 800; font-size: 3vw; line-height: 4vw;">
            Онлайн-консультации психолога
          </h2>
          <p>
            Онлайн-консультации также эффективны, как и очные консультации психолога, а для некоторых клиентов - это единственная возможность получить квалифицированную помощь психолога.
          </p>
          <h2 style="padding: 10vw 0vw 0vw 1.7vw; margin: 0vw; text-align: start; font-weight: 800; font-size: 3vw; line-height: 4vw;">
            Преимущества онлайн-консультаций
          </h2>
          <ul>
            <li>не надо никуда ехать, нет транспортных расходов;</li>
            <li>можно быть дома в тепле и комфорте;</li>
            <li>можно частично сохранить конфиденциальность;</li>
            <li>если вы уезжаете в отпуск, можно не прерывать консультации;</li>
            <li>если вам понадобилась срочная консультация - вы получите ее быстрее и проще;</li>
            <li>можно получить качественные услуги, если в вашем месте жительства нет компетентных психологов;</li>
            <li>также достаточно эффективны как и очные консультации.</li>
          </ul>
          <h2 style="padding: 10vw 0vw 0vw 1.7vw; margin: 0vw; text-align: start; font-weight: 800; font-size: 3vw; line-height: 4vw;">
            Цели консультаций
          </h2>
          <ul>
            <li>оказание психологической помощи, т.е. разговор с психологом должен помочь человеку в решении его проблем и налаживании взаимоотношений с окружающими;</li>
            <li>расширение представления клиента о сути и причинах возникновения своей проблемной ситуации;</li>
            <li>помощь в нахождении целей в жизни, ценностей, приоритетов и задач на будущее, создание самоопределения клиента;</li>
            <li>избавления клиента от симптомов проблемы;</li>
            <li>облегчение эмоционального состояния клиента;</li>
            <li>развитие гибкости, умения находить новые, эффективные модели мышления и поведения.</li>
          </ul>
          <h2 style="padding: 10vw 0vw 0vw 1.7vw; margin: 0vw; text-align: start; font-weight: 800; font-size: 3vw; line-height: 4vw;">  Как проходят консультации и курс психотерапии
          </h2>
          <p style="text-align: justify;">
            <b><i>Предварительная консультация:</i></b> в течение 24 часов, после оставления вами заявки на консультацию, я вам перезваниваю/отвечаю на ваше сообщение, анализирую вашу ситуацию, отвечаю на вопросы и мы вместе согласовываем дальнейшие действия.<br>
            <b><i>Индивидуальная консультация:</i></b> на первой 2-х часовой консультации мы проводим полную диагностику и прорабатываем вашу проблему. По результатам диагностики становятся ясными: содержание проблемы, приблизительные сроки и план терапии. Методом диагностики и работы является специально выстроенный диалог с применением психотервпевтических <a href="methods.html" style="border-bottom: 1px solid currentColor;"><b>методов</b></a>.
          </p>
          <p style="text-align: justify; margin-bottom: -3vw;">
            Перед каждой консультацией вы заполняете специальный опросник, который создан на основе вашей индивидуальной ситуации. Опросник позволяет понять динамику вашего состояния и то, с какой составляющей проблемы следует работать в первую очередь. На протяжении всей консультации я пишу стенографию. Дома, вы ее перечитываете, заново переосмысливаете проделанную работу и полученные результаты, видите описание техник, которые использовались, список своего домашнего задания и дополнительные обучающие материалы (если они будут вам необходимы). Между консультациями я поддерживаю связь с вами в мессенджерах для отслеживания динамики состояния, корректировки домашнего задания и ответов на возникающие вопросы.
          </p>
          <h2 style="padding: 14vw 0vw 0vw 1.7vw; margin: 0vw; text-align: start; font-weight: 800; font-size: 3vw; line-height: 4vw;" id="Course">
            Структура курса психотерапии
          </h2>
          <p>
            <b>1. Сначала проводится диагностика</b> (1 консультация), на ней происходит обследование и формулирование запроса.
          </p>
          <p style="text-align: justify;">
            <b>2. Далее начинается курс краткосрочной психотерапии</b><br>
            <b><i>– Краткосрочная терапия</i></b> (до 10 консультаций) – удаление основных симптомов проблемы. Происходит научение новым моделям мышления и поведения;<br>
            <b><i>– Среднесрочная терапия</i></b> (от 10 консультаций) – для более сложных случаев. Доработка оставшихся симптомов. Разбор детских воспоминаний и психотравм;<br>
            <b><i>– Длительная терапия</i></b> (20 и более консультаций) – полная трансформация личности. Работа с тяжелыми случаями;<br>
            <b><i>– Поддерживающая терапия</i></b> (1 консультация в 2-3 недели) после окончания психотерапии, возвращаясь в привычное русло жизни, иногда, человеку требуется поддержка для предотвращения рецидива проблемы. Для этого, несколько раз в месяц, проводятся консультации на которых мы совместно анализируем произошедшие за последнее время события, развиваем навыки стрессоустойчивости, коммуникации и т.д. Отличный способ получить максимально эффективный результат.
            </p>
          <p style="text-align: justify;">
            <b>3. Завершающая консультация</b> – окончание курса психотерапии. Точка. На ней закрываются все вопросы, фиксируется полученный результат.
          </p>
          <h2 style="padding: 10vw 0vw 3vw 1.7vw; margin: 0vw; text-align: start; font-weight: 800; font-size: 3vw; line-height: 4vw;">
            Первая консультация проводится таким образом:
          </h2>

          <div class="accordion accordion2"> <!-- блок аккордеон -->
            <section class="accordion_item accordion_item2">
              <h3 class="title_block title_block2">1. Установление контакта и проговаривание<br>правил консультации</h3>
              <div class="info info2">
                <p class="info_item info_item2">Первичное знакомство уже произошло, когда мы договаривались о сотрудничестве. В начале первой сессии происходит установление и поддержание контакта. Контакт есть, когда мы хотим слышать и понимать друг друга и реализуем это желание. Я проговариваю основные правила и принципы нашей работы, рассказываю как проходит процесс консультирования и предлагаю вам ввести свои дополнительные правила.<br>
                <b>Результат:</b> вы чувствуете себя комфортно и безопасно. Это почва для дальнейшей работы.
                </p>
              </div>
            </section>
            <section class="accordion_item accordion_item2">
              <h3 class="title_block title_block2">2. Основной блок диагностических вопросов</h3>
              <div class="info info2">
                <p class="info_item info_item2">Я задаю вам ряд общих вопросов для выяснения вашего физического и психологического состояния, выясняю, есть ли противопоказания к психотерапии, какие есть установленные диагнозы и т.п.<br>
                <b>Результат:</b> я узнаю общую информацию о вас и принимаю решение, есть ли у меня компетенция для работы с данным случаем, либо нужно обратиться к другим специалистам (неврологу, эндокринологу психиатру и т.п.).
                </p>
              </div>
            </section>
            <section class="accordion_item accordion_item2">
              <h3 class="title_block title_block2">3. Активное слушание и совместный анализ ситуации</h3>
              <div class="info info2">
                <p class="info_item info_item2"><b>3.1. Активное слушание</b><br>
                  Если необходимо, вы "выговариваетесь". Всё мое внимание сконцентрировано на вашем рассказе, я безоценочно воспринимаю сказанное, активно слушаю и задаю уточняющие вопросы, проявляю эмпатию и сострадание, либо разделяю с вами ваши положительные эмоции (если это требуется).
                  <br>
                  <b>Результат:</b> таким образом, происходит установление доверительных отношений. Вы начинаете осознавать суть своей проблемной ситуации (за счет проговаривания всего того, что беспокоит и моей обратной связи). Возникает приятное чувство доверия и товарищества, ведь вас понимают, а не оценивают или осуждают.
                </p>
                <p class="info_item"><b>3.2. Совместный анализ ситуации</b><br>
                  Вы предметно описываете волнующую вас ситуацию, а я провожу ее мыслительный анализ, задаю уточняющие вопросы, разбираюсь в фактах, выясняю внутреннюю картину проблемы (как вы воспринимаете происходящее и как реагируете на ситуацию), выявляю все текущие жалобы, восстанавливаю цепь событий, предшествующих появлению проблемы, выясняю динамику развития симптомов, возможные причины и объективную картину вашей жизненной ситуации. Полученные данные заношу в диагностические таблицы и стенографию.
                  <br>
                  <b>Результат:</b> вы осознаете причинно-следственные связи в вашей проблемной ситуации, причины поведения других людей и собственные модели мышления и поведения.
                </p>
              </div>
            </section>
            <section class="accordion_item accordion_item2">
              <h3 class="title_block title_block2">4. Формулирование запроса</h3>
              <div class="info info2">
                <p class="info_item info_item2">
                  После проведения анализа, вы понимаете, что в вашей ситуации является проблемой, а что - естественной нормой, поэтому легко формулируете точное описание имеющиеся у вас проблемы и образ желаемого результата - общей цели консультирования.<br>
                  <b>Результат:</b> вы имеете четкое представление о своей проблеме и конечной цели. Ваша цель измерима, достижима и позитивно сформулирована.
                </p>
              </div>
            </section>
            <section class="accordion_item accordion_item2">
              <h3 class="title_block title_block2">5. Подведение итогов диагностики</h3>
              <div class="info info2">
                <p class="info_item info_item2">
                  Я структурирую всё сказанное вами, информирую вас о результатах диагностики, объясняю возможные причины появления вашей психологической проблемы, на схемах и метафорах объясняю механизмы ее функционирования. Исходя из диагностики, даю возможный прогноз на будущее (что будет дальше, если ничего не менять) и необходимые рекомендации. Сообщаю, могу ли я вам помочь, нужен ли вам курс психотерапии и какой именно.<br>
                  <b>Результат:</b> у вас формируется полная картина происходящего, вы знаете прогноз на будущее и какие есть методы избавления от подобных проблем.
                </p>
              </div>
            </section>
            <section class="accordion_item accordion_item2">
              <h3 class="title_block title_block2">6. Создание курса психотерапии</h3>
              <div class="info info2">
                <p class="info_item info_item2">
                  <b>6.1. Составление плана</b><br>
                  Я задаю вопрос: "какое решение вы принимаете?" Если вы согласны пройти курс психотерапии со мной, то мы начинаем его создавать на основании диагностики, ваших финансовых возможностей, индивидуальных особенностей вашей ситуации и того, в какие сроки вам нужно получить желаемый результат.<br>
                  <b>Результат:</b> вы имеете четкое представление о том, как будет проходить процесс избавления от вашей проблемы.
                </p>
                <br>
                <p class="info_item"><b>6.2. Подготовка к работе, поддержка</b><br>
                  На этом этапе часто наблюдается сопротивление клиентов. У вас могут возникать страхи, открываться новые убеждения об опасности, неконтролируемости или неизбежности происходящего с вами, либо наоборот о пользе данных проблем (вторичная выгода). Я работаю с данными убеждениями, отвечаю на все ваши вопросы, поддерживаю и морально подготавливаю вас к предстоящей работе.<br>
                  <b>Результат:</b> у вас возникает уверенность в себе и в своих силах, готовность к изменениям.
                </p>
              </div>
            </section>
            <section class="accordion_item accordion_item2">
              <h3 class="title_block">7. Работа с проблемой</h3>
              <div class="info">
                <p class="info_item info_item2">
                  Основной этап. Направление и содержание работы определяется как вашим запросом, так и моим профессиональным видением. Я применяю диалоговые и поведенческие техники направленные на работу с эмоциями, мыслями, поведением и на анализ ваших взаимоотношений с другими людьми.<br>
                  <b>Результат:</b> вы чувствуете облегчение своего эмоционального и физического состояния, осознаете свою роль в сложившейся ситуации, берете ответственность за происходящее с вами. С моей помощью, вы сами осознаете какое именно решение вам стоит принять в данной ситуации, чтобы чувствовать себя максимально комфортно в будущем.
                </p>
              </div>
            </section>
            <section class="accordion_item accordion_item2">
              <h3 class="title_block title_block2">8. Подведение итогов консультации</h3>
              <div class="info info2">
                <p class="info_item info_item2">
                  Я проговариваю и анализирую вместе с вами всё то, что было на консультации. Мы оцениваем исходный план и полученный результат.<br>
                  <b>Результат:</b> вы осознаете что и какими методами было реализовано, понимаете, какое знание, озарение, чувство или достижение стало сегодня для вас самым важным и ценным приобретением.
                </p>
              </div>
            </section>
            <section class="accordion_item accordion_item2">
              <h3 class="title_block title_block2">9. Домашнее задание</h3>
              <div class="info info2">
                <p class="info_item info_item2">
                  Консультация - лишь подготовка к тому, что должно быть реализовано в жизни. Психотерапевтическое дз – это список рекомендуемых действий для изменения мышления и поведения, выработки новых навыков и убеждений, проверки полученных результатов, которые следует выполнять между консультациями. Дз мы составляем вместе.<br>
                  <b>Результат:</b> у вас есть план действий до следующей консультации и осознание того, как дз должно вам помочь в достижении вашей цели. Выполнение дз помогает проверить эффективность новых моделей мышления и поведения, проанализировать свое состояние, проверить, получается ли реализовать те решения, которые были приняты на консультации.
                </p>
              </div>
            </section>
            <section class="accordion_item accordion_item2">
              <h3 class="title_block title_block2">10. Завершение консультации</h3>
              <div class="info info2">
                <p class="info_item info_item2">
                  Я проверяю поняли ли вы, что вам нужно сделать дома, нет ли сомнений, страхов, даю необходимую мотивацию, поддержку и установку на позитив.
                  <br>
                  <b>Результат:</b> вы уходите домой в ресурсном состоянии (спокойно, бодро, уверенно).
                </p>
              </div>
            </section>
          </div> <!-- конец блока аккордеон -->

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
             <script type="text/javascript">
              ! function(i) {
                var o, n;
                i(".title_block2").on("click", function() {
                  o = i(this).parents(".accordion_item2"), n = o.find(".info2"),
                    o.hasClass("active_block") ? (o.removeClass("active_block"),
                      n.slideUp()) : (o.addClass("active_block"), n.stop(!0, !0).slideDown(400),
                      o.siblings(".active_block").removeClass("active_block").children(
                        ".info2").stop(!0, !0).slideUp(400))
                })
              }(jQuery);
             </script>

           
          <p style="margin-top: 3vw; text-align: justify;">
            В перерыве между консультациями мы поддерживаем связь в мессенджерах. Вы можете рассказывать мне всё, что вас беспокоит и задавать любые вопросы для достижения максимального результата. Вы читаете стенографию прошлой консультации, изучаете обучающие материалы, делаете домашнее задание.
          </p>
          <h2 style="padding: 10vw 0vw 0vw 1.7vw; margin: 0vw; text-align: start; font-weight: 800; font-size: 3vw; line-height: 4vw;" id="consultations">  Последующие консультации состоят из таких этапов:
          </h2>
          <ul style="text-align: justify;">
            <li>Начало. Проговариваем то, чтоб было на предыдущей встрече и в перерыве между консультациями, каковы результаты домашнего задания. Анализируем данные опросника, который вы заполнили перед консультацией. Если необходимо, вы выговариваетесь;</li>
            <li>Составление плана сегодняшней консультации. Я спрашиваю: «с чем хотите сегодня поработать?». Исходя из ваших пожеланий, вносим корректировки в имеющийся план психотерапии;</li>
            <li>Работа с проблемой;</li>
            <li>Подведение итогов;</li>
            <li>Домашнее задание;</li>
            <li>Завершение консультации.</li>
          </ul>
          <h2 style="padding: 10vw 0vw 0vw 1.7vw; margin: 0vw; text-align: start; font-weight: 800; font-size: 3vw; line-height: 4vw;">  Завершающая консультация проводится так:
          </h2>
          <p style="text-align: justify; margin-bottom: -3vw;">
            Мы вместе анализируем то, как проходила психотерапия, проводим техники для профилактики рецидивов, закрываем все вопросы, фиксируем полученные результаты и окончательно утверждаем поставленные задачи.<br>
            <b>Результат:</b> вы способны самостоятельно справляться с возникающими психологическими, эмоциональными, поведенческими и социальными трудностями.
          </p>

          <h2 style="padding: 14vw 0vw 0vw 1.7vw; margin: 0vw; text-align: center; font-weight: 800; font-size: 3vw; line-height: 4vw;" id="group">
            Групповая психотерапия онлайн
          </h2>
          <p style="text-align: justify; margin-bottom: -3vw;">
            Курс психотерапии вы можете проходить и в групповом формате Zoom-конференций. Преимуществом групповой психотерапии является ее <a href="services.html" style="border-bottom: 1px solid currentColor;"><b>дешевизна</b></a>.<br>
            Группа от 3-х до 10-ти человек объединенных одной проблемой (например, низкая самооценка, тревога или ОКР).<br>
            Вы записываетесь ко мне на одну-две консультации для диагностики вашей ситуации и работы с вашей проблемой, чтобы подготовить вас к групповой работе. Если вы выражаете желание стать участником групповой психотерапии - я записываю вас в список потенциальных участников.<br>
            Так я собираю заявки на групповую терапию от своих клиентов. Когда собирается 3-5 заявок по одной и той же проблеме - я создаю общий чат в Telegram и мы договариваемся о дате и времени групповых сеансов.<br><br>
            На сеансе я являюсь психологом-модератором контролирующим ход работы. Методом терапии является диалог между участниками группы.<br>
            Участники поддерживают друг друга, рассказывают о своем личном опыте, о том, как они живут со своей проблемой, и с моей помощью отрабатывают психотехники для избавления от данных проблем.<br>
          </p>

          <h2 style="padding: 14vw 0vw 0vw 1.7vw; margin: 0vw; text-align: center; font-weight: 800; font-size: 3vw; line-height: 4vw;" id="coaching">
            Интенсивный коучинг
          </h2>
          <p style="text-align: justify;">
            Интенсивный коучинг - максимально быстрый процесс терапии и обучения. <a href="services.html" style="border-bottom: 1px solid currentColor;"><b>Дорогое</b></a> удовольствие для тех, кто ценит свое время.<br>
            Вы записываетесь на первую консультацию для диагностики своего состояния и далее я определяю какими методами вам можно помочь решить проблему:<br>
            1. Курс обычной индивидуальной или групповой психотерапии (1-2 сеанса по 2 часа в неделю).<br>
            2. Интенсивный коучинг: 5 дней непрерывной психотерапии, гипнотерапии и консультирования до достижения результата. Работаем столько, сколько нужно по времени (2-6 часов). Избавление от тревоги, психосоматики, панических атак, неврозов, низкой самооценки, страха больших денег и потери бизнеса, прокрастинации. Обучение медитации, стрессоустойчивости, самоанализу. Нахождение ценностей и смысла жизни.<br><b><i>Если вас не устроит результат - я верну вам деньги!</i></b><br> Результат - уменьшение мучительности и длительности/количества тревог, панических атак, психосоматики на 50% и более!
          </p>
          <div style="width: 100%; height: 40vw; background: #383838; box-shadow: 3px 3px 15px rgba(63, 62, 62, 0.4); border-radius: 2vw; text-align: center; margin: 5vw auto">
            <h3 style="color: #fafafa; padding: 5vw; margin-bottom: 0.4vw; font-size: 3.9vw; line-height: 5vw">
              Остались еще вопросы? Вероятно, я уже ответил на них здесь:
            </h3>
            <button id="button_faq" style="align-items: center; margin: 0px auto; height: 14vw; width: 55vw; border-radius: 2vw; margin-bottom: 5vw;box-shadow: 3px 3px 10px rgba(184, 202, 226, 0.2);">
              <a style="font-size: 2.7vw; line-height: 2vw" href="faq.html">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</a>
            </button>
          </div>

        </div> <!-- конец контейнера-->

        <h2 style="padding: 10vw 8vw 2vw 8vw; text-align: center; font-weight: 800; font-size: 5vw; line-height: 5vw;">
          Как записаться на консультацию
        </h2>
        <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 4vw 7vw; display: flex; justify-content: space-between; align-items: center;">
          <img src="<%= asset_url('form.svg')%>" alt="форма записи на консультацию психолога" style="display: inline-block; width: 25vw; padding-right: 3vw">
          <div style="display: inline-block;">
            <h3 style="font-size: 3.5vw; text-align: center; display: inline-block; margin-bottom: 0px">Онлайн-запись</h3>
            <p style="font-size: 3vw; line-height: 3.8vw; display: inline-block;">
              Вы заполняете <a href="#form" style=" border-bottom: 1px solid currentColor;">форму</a> записи на консультацию и оставляете свои контактные данные или связываетесь со мной напрямую по указанным <a href="contacts.html" style=" border-bottom: 1px solid currentColor;">контактам</a>.
            </p>
          </div>
        </div>

        <img src="<%= asset_url('mob-arrow-bottom.svg')%>" alt="стрелка вниз" style="width: 5vw; margin: 0vw 47.5vw"> 

        <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 4vw 7vw; display: flex; justify-content: space-between;
        align-items: center;">
          <img src="<%= asset_url('first-contact.svg')%>" alt="предварительная консультация психолога" style="display: inline-block; width: 25vw; padding-right: 3vw">
          <div style="display: inline-block;">
            <h3 style="font-size: 3.5vw; text-align: center; display: inline-block; margin-bottom: 0px">
              Первый контакт
            </h3>
            <p style="font-size: 3vw; line-height: 3.8vw; display: inline-block;">
              В течение 24 часов я Вам перезваниваю/отвечаю на Ваше сообщение, анализирую Вашу ситуацию, отвечаю на вопросы и мы вместе согласовываем дальнейшие действия.
            </p>
          </div>
        </div>

        <img src="<%= asset_url('mob-arrow-bottom.svg')%>" alt="стрелка вниз" style="width: 5vw; margin: 0vw 47.5vw">

        <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 4vw 7vw; display: flex; justify-content: space-between;
        align-items: center;">
          <img src="<%= asset_url('consultation.svg')%>" alt="консультация психолога"  style="display: inline-block; width: 25vw; padding-right: 3vw">
          <div style="display: inline-block;">
            <h3 style="font-size: 3.5vw; text-align: center; display: inline-block; margin-bottom: 0px">
              Консультация
            </h3>
            <p style="font-size: 3vw; line-height: 3.8vw; display: inline-block;">
              По видеосвязи работаем с Вашей проблемой применяя специально выстроенный диалог и техники психотерапии.
            </p>
          </div>
        </div>

        <img src="<%= asset_url('mob-arrow-bottom.svg')%>" alt="стрелка вниз" style="width: 5vw; margin: 0vw 47.5vw">
        <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 4vw 7vw 0vw 7vw; display: flex; justify-content: space-between;
        align-items: center;">
          <img src="<%= asset_url('result.svg')%>" alt="результат консультаций психолога" style="display: inline-block; width: 25vw; padding-right: 3vw">
          <div style="display: inline-block;">
            <h3 style="font-size: 3.5vw; text-align: center; display: inline-block; margin-bottom: 0px">
              Результат
            </h3>
            <p style="font-size: 3vw; line-height: 3.8vw; display: inline-block;">
              Вы чувствуете себя спокойно, комфортно и уверенно. Делаете то, что для Вас ценно и важно. Имеете навыки для самостоятельного решения проблем.
            </p>
          </div>
        </div>      

        <h2 style="padding: 7vw 0vw 2vw 0vw; text-align: center; font-weight: 800; font-size: 5vw" id="form">
          Запись на консультацию
        </h2>
        <p style="text-align: center; font-size: 2.9vw; line-height: 3.7vw; margin: 2vw 7vw 10vw 7vw">
          Заполните форму или свяжитесь со мной любым удобным для вас способом. Контакты вы найдете 
          <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
        </p>

        <%= render partial: "/new/form"%>
  
      </div> <!-- конец div цвета -->
          
    </div>  <!-- конец моб версии -->