<div class="pc_content">
  <div class="container">
    <h1 style="margin: 6vw; text-align: center; font-weight: 800; font-size: 3vw;">Контакты</h1>

    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 5vw">      
      <img src="<%= asset_url('contacts.svg')%>" style="width: 28%">
      <div style="width: 36%; padding-left: 10vw">
        <h4 style="margin-bottom: -0.7vw;">Телефон для звонков:</h4>
        <p>
          +38(096)424-80-25 (telegram, viber, whatsapp)
        </p>
        <p style="margin-top: 2vw">
          Со мной также можно связаться через мои соц. сети. Ждете максимального быстрого ответа? Пишите сюда:
        </p>
        <div>
          <a href=""><img style="width: 2.5vw; margin: 0.3vw" src="<%= asset_url('icons/telegram.svg')%>"></a>
          <a href=""><img style="width: 2.5vw; margin: 0.3vw" src="<%= asset_url('icons/viber.svg')%>"></a>
          <a href=""><img style="width: 2.5vw; margin: 0.3vw" src="<%= asset_url('icons/whatsapp.svg')%>"></a>
          <a href=""><img style="width: 2.5vw; margin: 0.3vw" src="<%= asset_url('icons/facebook.svg')%>"></a>
          <a href=""><img style="width: 2.5vw; margin: 0.3vw" src="<%= asset_url('icons/instagram.svg')%>"></a>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div style="width: 43vw">
        <h3 style="margin: 0vw 0vw 0vw 3vw; text-align: left; font-weight: 800; font-size: 2.5vw;">Задайте мне вопрос</h3>
        <p style="font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 3vw;">
          Я отвечу Вам на электронную почту или на выбранный Вами мессенджер. Просто заполните форму и получите ответ в течении 24 часов.
        </p>
        <div style="margin-left: 3.1vw; padding-top: 2vw; width: 35vw; height: 45vw">
          <%= render partial: '/new/form' %>
        </div>
      </div>
      <img src="<%= asset_url('contacts2.svg')%>" style="width: 35vw">
    </div>  

  </div> <!-- конец container -->