<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://tkachenkoandrey.com/contract">
  <title>Договор на предоставление психологических услуг | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Договор - важная часть терапии, он создает безопасную атмосферу для работы и помогает преодолеть сопротивление изменениям.">
  <meta name="keywords" content="договор на предоставление психологических услуг, психологический контракт, договор консультации психолог, консультация психолога онлайн, профессиональный психолог, сертифицированный психолог, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/contract">
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Договор на предоставление психологических услуг | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Договор - важная часть терапии, он создает безопасную атмосферу для работы и помогает преодолеть сопротивление изменениям.">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="договор на предоставление психологических услуг">
  <meta property="article:tag" content="психологический контракт">
  <meta property="article:tag" content="договор консультации психолог">
  <meta property="article:tag" content="консультация психолога онлайн">
  <meta property="article:tag" content="профессиональный психолог">
  <meta property="article:tag" content="сертифицированный психолог">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="http://tkachenkoandrey.com/contract">
  <meta name="twitter:title" content="Договор на предоставление психологических услуг | Психолог Ткаченко Андрей">
  <meta name="twitter:desctiption" content="Договор - важная часть терапии, он создает безопасную атмосферу для работы и помогает преодолеть сопротивление изменениям.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="contract article">
  <div class="contract__body container">
    <div class="contract__header  header_box">
      <h1 class="faq__title title">Договор</h1>
    </div>
    <article class="article__content" style="margin-top: 15px;">
      <section>
        <h2 style="padding-top: 20px;">Предназначение договора</h2>
        <p>
          Данный договор заключается с компаниями, при длительной терапии, бизнес коучинге и пр. Он состоит из отдельных пунктов, в соответствии с которыми проходит работа психолога и клиента. Договор является важной частью работы. Его заключение и соблюдение условий оказывает позитивное влияние на ход работы.
        </p>
        <p>
          <b>1. Договор помогает преодолеть сопротивление изменениям.</b> Наша психика устроена интересным образом: желание измениться находится параллельно с боязнью выйти за свои рамки привычного уклада жизни. То есть, человек хочет изменений и одновременно боится их. Поэтому, зачастую, когда клиент приближается к возможности изменения, он начинает ощущать страх и стремление к тому, чтобы прервать работу с психологом. Например, клиент в этот период может начать опаздывать, забывать о встрече, неожиданно заболеть, злиться на психолога, считать, что консультации бесполезны и не принесут результатов и т.п. Если прекратить работу в этот важный момент, проблема не только остается с клиентом, но и усилится. Заключение договора удерживает клиента от внезапного прекращения работы, так как стимулирует его все-таки прийти на встречу, обсудить происходящее и преодолеть страх изменений.
        </p>
        <p>
          <b>2. Договор создает безопасную атмосферу для работы</b>, так как устанавливаются границы между психологом и клиентом. Во-первых, клиент уверен в конфиденциальности информации и может говорить более открыто. Во-вторых, исключаются любые манипуляции как со стороны психолога, так и со стороны клиента, потому что договор четко описывает денежные отношения и моральную составляющую работы психолога с клиентом. В-третьих, зачастую, клиент переживает страх того, что психолог откажется от него, когда больше узнает о нем и его проблемах – в этом случае договор также способствует ослаблению тревоги. А тем клиентам, которые привыкли разрывать отношения при малейшей тревоге, договор помогает удерживаться от этого соблазна, дает возможность осознать свое поведение и изменить его.
        </p>
       </section>
      <section>
        <h2 style="text-align: center;">Договор на предоставление психологических услуг</h2>
        <p>
          Настоящий текст является соглашением между психологом Ткаченко Андреем Андреевичем, именуемым в дальнейшем «Психолог», и пользователем услуг ___________________________________, именуемым в дальнейшем «Клиент» и определяет условия предоставления услуг.
        </p>
        <p>
          <b>1. ОБЩИЕ ПОЛОЖЕНИЯ</b><br>
          1.1. Настоящий договор не является публичной офертой (в соответствии со ст.633, 641 и гл. 63 Цивильного кодекса Украины), однако содержит все существенные условия предоставления услуг.<br>
          1.2. Под психологической услугой в настоящем контракте понимается курс психокоррекции, состоящий из отдельных встреч, в дальнейшем именуемых «консультация», который рекомендован Психологом исходя из информации о характере эмоционально-поведенческих нарушений или иных проблем Клиента, полученной в ходе предварительного собеседования (диагностики).<br>
          1.3. Психологическая услуга оказывается по добровольному согласию Клиента и заканчивается по обоюдному согласию Клиента и Психолога в случае достижения Клиентом поставленных в п. 1.4. целей, или по показаниям, объективно препятствующим проведению психокоррекции (спутанные состояния сознания у Клиента, немотивированное и некоррегируемое опасное поведение Клиента, невозможность установления продуктивного контакта между Клиентом и Психологом).<br>
          1.4. В процессе оказания психологической услуги Клиент хочет достичь следующих целей: ___________________________________. Предполагаемая длительность курса психокоррекции при этом составит__________________. С периодичностью консультаций _____________, длительность консультации ________. Место проведения психологических консультаций ___________________________________.<br>
          1.5. Суть процесса психокоррекции состоит в том, что во время консультаций происходит специально организованное взаимодействие Клиента и Психолога (формы взаимодействия - диалог, проигрывание, тренинг, релаксационные приемы), в процессе которого проясняются мысли, чувства и поведение, относящиеся к прошлому и настоящему опыту Клиента и позволяющие лучше понять его личность, истоки его проблем и изменить эмоционально-поведенческое реагирование, улучшив адаптационные возможности Клиента. В процессе проведения психокоррекции возможны побочные эффекты: Клиент может переживать неприятные чувства (грусть, вина, тревога, обида, гнев, злость, беспомощность и др.), переживать неприятные воспоминания.
        </p>
        <p>
          <b>2. ПРЕДМЕТ ДОГОВОРА И СРОК ЕГО ДЕЙСТВИЯ</b><br>
          2.1. Психолог обязуется предоставить Клиенту услуги, а Клиент обязуется их оплатить на условиях Настоящего договора.<br>
          2.2. Договор действует до полного исполнения сторонами всех своих обязательств.<br>
          2.3. Обязанности по данному Договору вступают в силу с момента подписания и действуют до окончания всего курса психокоррекции (до момента решения одной из сторон о расторжении договора либо о завершении работы и совместном решении о завершении договора).<br>
          2.4. Окончание срока договора не освобождает стороны от ответственности за его нарушение, которое имело место во время действия договора.<br>
          2.5. Окончание срока договора не освобождает Психолога от обязанности сохранять конфиденциальность информации оговорённой в п. 6.
        </p>
        <p>
          <b>3. ОПЛАТА И ОТМЕНА КОНСУЛЬТАЦИЙ</b><br>
          3.1. Психолог предоставляет услуги за вознаграждение в размере _____ гривен за индивидуальную консультацию (из них _______ грн - соответствуют стоимости 1-го часа
          консультации).<br>
          3.2. Оплата каждой консультации обязательна и должна быть внесена минимум за 48 часов до начала каждой консультации (иначе время для консультации не бронируется и может быть занято другим клиентом).<br>
          3.3. Оплата консультаций производится наличными в национальной валюте или на карту № 4149 6090 2240 2699 ПАОКБ «ПРИВАТБАНК».<br>
          3.4. Психолог может вернуть Клиенту его предоплату согласно п.п. 3.9. - 3.12., 3.14., 3.15., 3.20., 3.22.<br>
          3.5. Возврат предоплаты Клиенту Психологом производится наличными в национальной валюте или на карту №_________________________<br> банк:_______________________.<br>
          3.6. Оплата консультаций и возврат предоплаты может быть произведен другими способами перевода средств по обоюдному согласию Клиента и Психолога.<br>
          3.7. Клиент может уведомить Психолога об отмене или переносе консультации до 21:00 (по киевскому времени) накануне консультации с помощью смс-сообщения, сообщения в мессенджерах (Viber или Telegram) или телефонного звонка по номеру +380964248025.<br>
          3.8. Психолог может уведомить Клиента об отмене или переносе консультации до 21:00 (по киевскому времени) накануне консультации с помощью смс-сообщения, сообщения в мессенджерах (Viber или Telegram) или телефонного звонка по номеру Клиента _____________________.<br>
          3.9. В случае, если Клиент уведомляет Психолога об отмене или переносе консультации до 21:00 (по киевскому времени) накануне консультации, Психолог возвращает Клиенту его предоплату или назначается новая дата консультации.<br>
          3.10. В случае, если Клиент уведомляет Психолога об отмене или переносе консультации после 21:00 (по киевскому времени) накануне консультации, консультация считается проведенной, и предоплата не возвращется.<br>
          3.11. В случае, если Психолог уведомляет Клиента об отмене или переносе консультации до 21:00 (по киевскому времени) накануне консультации, Психолог возвращает Клиенту его предоплату или назначается новая дата консультации.<br>
          3.12. В случае, если Психолог уведомляет Клиента об отмене или переносе консультации после 21:00 (по киевскому времени) накануне консультации, Психолог возвращает Клиенту его предоплату или назначается новая дата 1-й бесплатной консультации.<br>
          3.13. В случае, если Клиент опоздал более чем на 15 минут и не уведомил Психолога об отмене или переносе консультации, консультация считается проведенной и предоплата не возвращается.<br>
          3.14. В случае, если Психолог опоздал более чем на 15 минут и не уведомил Клиента об отмене или переносе консультации Психолог возвращает Клиенту его предоплату или назначается новая дата 1-й бесплатной консультации.<br>
          3.15. В случае, если консультация проходила меньше установленного времени, то деньги за не потраченное время консультации возвращаются Клиенту из расчета стоимости 1-го часа консультации (после проведения данной консультации).<br>
          3.16. В случае, если консультация проходила дольше установленного времени, то Клиент оплачивает дополнительное время консультации из расчета стоимости 1-го часа консультации (после проведения данной консультации).<br>
          3.17. В случае, если Клиент опоздал на консультацию, то время консультации не продлевается.<br>
          3.18. В случае, если Психолог опоздал на консультацию, то время консультации продлевается пропорционально времени опоздания Психолога или сокращается и сокращает пропорционально стоимость консультации (т.е. опоздание на четверть часа – уменьшает оплату на 25% за эту консультацию).<br>
          3.19. Отпуска, учебы, командировки, иные длительные паузы (более одного пропуска консультаций) оговариваются отдельно и индивидуально. Стороны обязуются сообщать друг другу о паузах в работе, по возможности заранее, по мере поступления информации.<br>
          3.20. В случае природных катаклизмов, резкого ухудшения здоровья Клиента или иных форс-мажорных обстоятельств, которые Клиент не мог предвидеть и которые помешали ему присутствовать на консультации и уведомить об этом Психолога, Психолог возвращает Клиенту его предоплату или назначается новая дата 1-й бесплатной консультации (но не более одного раза).<br>
          3.21. Психолог может в одностороннем порядке прекратить курс психокоррекции в случае, если Клиент скрыл от Психолога наличие психиатрических диагнозов, а также то, что он (Клиент) проходит психиатрическое лечение, а также в случае прихода Клиента на консультации в состоянии алкогольного опьянения, похмелья или под воздействием психоактивных веществ, при этом предоплата Клиенту не возвращается.<br>
          3.22. Психолог может в одностороннем порядке прекратить консультацию и отказать в предоставлении своих услуг без уведомления причин, при этом предоплата за незавершенную консультацию и все последующие консультации возвращается Клиенту в полном объеме.<br>
          3.23. Клиент может в любое время в одностороннем порядке отказаться от услуг Психолога и расторгнуть договор без уведомления причин. При этом Клиенту предоплата за не завершенную консультацию не возвращается, а предоплата всех следующих консультаций возвращается в полном объеме (кроме завершающей консультации описаной в п. 3.24).<br>
          3.24. В случае, если Клиент и Психолог договорились о начале курса психокоррекции, завершающая консультация — то есть итоговая встреча, направленная на анализ результатов и завершение курса — считается обязательной и подлежит оплате. Предоплата за неё вносится Клиентом перед началом курса психокоррекции. Предоплата за завершающую консультацию не возвращается, поскольку она является обязательным элементом курса, предусмотренным договорённостями сторон и отражающим финальный этап оказания услуги.
        </p>
        <p>
          <b>4. СУЩНОСТЬ ПРЕДОСТАВЛЕНИЯ УСЛУГ</b><br>
          4.1. Консультирование ведётся в кабинете Психолога, либо онлайн по Zoom, Google Meet, Viber, Telegram, либо другому доступному средству связи.<br>
          4.2. Клиент и Психолог поддерживают чисто профессиональные, а не личные отношения (несмотря на возникающую во время консультации психологическую близость).<br>
          4.3. Инициатором работы является, прежде всего, сам Клиент. Только в данном случае есть шансы добиться улучшения психологического состояния Клиента. Форма инициативы должна быть выражена в первичном запросе Клиента. Этот запрос Психолог обязуется уважать, но не гарантирует, что работа будет проходить исключительно ради воплощения этого запроса в жизнь в его исходной форме.<br>
          4.4. Содержание и форма работы определяются Психологом и Клиентом совместно, исходя из потребностей Клиента и представления Психолога о конструктивных формах работы, а также личного профессионального опыта.<br>
          4.5. Завершением работы Психолог считает изменение всех клиентских запросов до такой формы, в которой Клиент может сам их реализовывать без помощи Психолога.
        </p>
        <p>
          <b>5. ПРАВА И ОБЯЗАННОСТИ СТОРОН</b><br>
          5.1. Клиент обязан:<br>
          А) Соблюдать условия данного договора;<br>
          Б) Самостоятельно заказать услугу при помощи телефонной связи или любым другим способом;<br>
          В) Прийти на консультацию в назначенное время без опозданий;<br>
          Г) Быть предельно искренним с Психологом;<br>
          Д) Осознавать, какого результата консультаций он хочет достичь и сообщить об этом Психологу;<br>
          Е) Приходить на консультации в трезвом виде и не под воздействием психоактивных веществ.
        </p>
        <p>
          <b>5.2. Клиент обязуется:</b><br>
          А) Сотрудничать с Психологом в процессе психокоррекции. Под этим подразумевается, что Клиент будет прилагать усилия, направленные на улучшение своего состояния. Регулярная посещаемость и активное участие Клиента во время консультаций — непременное условие оказания психологической услуги, поскольку без этого договор сам по себе недействителен и психокоррекция, вероятно, не сможет прийти к удовлетворительному результату;<br>
          Б) Выносить тяжесть раскрытия своих интимных переживаний;<br>
          В) Проявлять свои эмоциональные реакции, каковы бы они ни были, не прибегая к разрушительным действиям;<br>
          Г) Обсудить с Психологом желание прекратить психокоррекцию, как только оно появится;<br>
          Д) По возможности не совершать радикальных изменений в своей реальной ситуации, до тех пор, пока это не будет тщательно проанализировано и обговорено с Психологом;<br>
          Е) Предупреждать Психолога о невозможности в оговоренное время получить услугу. В противном случае вступают в силу п. 3.13. настоящего договора.
        </p>
        <p>
          <b>5.2. Клиент имеет право:</b><br>
          А) Выносить на обсуждение и в работу любую волнующую его проблему;<br>
          Б) Не работать над собой, внутренне не меняться и совершать любые поступки за пределами кабинета;<br>
          В) Отказаться от участия в предлагаемых экспериментах и выполнении домашнего задания;<br>
          Г) При невозможности получить услугу в оговоренное время просить Психолога о переносе даты и/или времени оказания услуги (не более одного раза). Клиент может воспользоваться этим правом только при выполнении им условий п.п. 3.9., 3.10., 3.20. настоящего договора;<br>
          Д) Бесплатно писать Психологу вопросы и рассказывать о своем текущем состоянии между консультациями в мессенджеры (Viber или Telegram) по номеру +380964248025;<br>
          Е) Клиент может в любое время в одностороннем порядке отказаться от услуг Психолога и расторгнуть договор без уведомления причин согласно с п. 3.23.
        </p>
        <p>
          <b>5.3. Психолог обязан:</b><br>
          А) Соблюдать условия данного договора;<br>
          Б) Присутствовать на рабочем месте до конца психологической консультации;<br>
          В) Целенаправленно воздействовать на Клиента или стремиться к этому в рамках поставленной цели;<br>
          Г) Выслушивать, поддерживать, обращать внимание на детали, давать компетентную оценку действиям Клиента;<br>
          Д) При необходимости направлять Клиента на консультации к специалистам другого профиля и в учреждения, необходимые Клиенту по его состоянию;<br>
          Д) Сохранять конфиденциальность информации, полученной от Клиента согласно законодательству Украины.
        </p>
        <p>
          <b>5.4. Психолог имеет право:</b><br>
          А) Отменить консультацию, если Клиент опоздал на 15 и более минут, при этом предоплата Клиенту не возвращается;<br>
          Б) Отказаться от предоставления консультаций, в случае:<br>
          ■ если Клиент скрыл факт наличия психиатрических диагнозов и/или прохождения психиатрического лечения;<br>
          ■ если Клиент скрыл употребление лекарственных препаратов;<br>
          ■ если Клиент скрыл факты административного, уголовного и т.п. преследования, имеющего отношение к предмету консультации;<br>
          ■ если Клиент скрыл и/или исказил любую иную информацию, необходимую Психологу для качественного проведения консультаций;<br>
          ■ если у Клиента присутствуют суицидальные мысли и/или суицидальное поведение, самоповреждения;<br>
          ■ неуважительного общения Клиента с Психологом;<br>
          ■ нарушения этических норм, действий сексуального характера;<br>
          ■ угроз, шантажа, нанесения телесных повреждений Психологу или повреждение имущества Психолога;<br>
          ■ несвоевременной/неполной оплаты консультаций;<br>
          ■ 2-х и более пропусков консультаций;<br>
          ■ появления на консультации в состоянии алкогольного, наркотического и т.п. опьянения;<br>
          ■ систематического и/или грубого нарушения Клиентом любых условий настоящего договора;<br>
          ■ отсутствия у Психолога необходимых компетенций для оказания услуг конкретному Клиенту;<br>
          ■ если запрос Клиента требует участия других специалистов;<br>
          ■ если Клиент совмещает работу с Психологом с пользованием иных психологических услуг у других психологов или посещением разного рода целителей, астрологов, ясновидящих и т. п.;<br>
          В) Не давать каких-либо советов, рекомендаций и диагнозов;<br>
          Г) При невозможности оказать услугу в оговоренное время, предложить Клиенту перенести дату и/или время оказания услуги;<br>
          Д) Отвечать на сообщения в мессенджерах от Клиента по своему усмотрению;<br>
          Е) Не нести ответственности, как перед Клиентом, так и перед третьими лицами, за качество и последствия оказанных Клиенту услуг, если Клиент скрыл от Психолога факт наличия психиатрических диагнозов и/или проходит психиатрическое лечение, скрыл употребление лекарственных препаратов, а также скрыл или исказил иную информацию, необходимую Психологу для качественного проведения консультаций;<br>
          Ё) Расторгнуть договор при наступлении условий оговорённых в п.п. 1.3., 3.21., 3.22.
        </p>
        <p>
          <b>6. КОНФИДЕНЦИАЛЬНОСТЬ</b><br>
          6.1. Никакие подробности работы Психолога и Клиента не могут быть переданы третьим лицам в устной или письменной форме, в том числе членам семьи или родственникам, без явного на то согласия Клиента.<br>
          6.2. Информация о работе Психолога Клиента могут быть передана третьим лицам в случае:<br>
          А) Ситуации профессиональной супервизии или интервизии, во время которой Психолог может обсуждать возникающие в работе с Клиентом ситуации с коллегами (без упоминания ФИО Клиента, места проживания и любых других личных данных);<br>
          Б) Ситуации, если информация, полученная от Клиента, запрашивается экспертами (для решения вопроса о компетентности Психолога во время его аттестации). В этом случае, информация о клиенте должна быть предоставлена в форме, исключающей идентификацию личности Клиента экспертами. Для этого вся информация о Клиенте регистрируется и хранится с учетом строгой конфиденциальности;<br>
          В) Ситуации написания отчетов о профессиональной деятельности и публикации. В этом случае, информация о Клиенте должна быть предоставлена в форме, исключающей идентификацию личности Клиента окружающими людьми, не включенными в круг специалистов, работающих с данным Клиентом;<br>
          Г) Ситуации, когда Психолог счел, что состояние Клиента может серьезно угрожать его здоровью и (или) жизни других людей, а также ситуации, когда в ходе работы выясняются факты педофилии, намерения или подготовка убийства, нанесения серьезного ущерба другим людям, организациям, сообществам. В этом случае Психолог оставляет за собой право известить доверенное лицо или соответствующие службы о необходимости принятия соответствующих мер;<br>
          Д) Ситуации в Суде. В этом случае, Психолог имеет право предоставлять необходимую информацию о Клиенте, если это потребуется в рамках судебного заседания, при этом избегая не важных деталей о личности Клиента не относящиеся к сути заседания.
        </p>
        <p style="padding-bottom: 20px">
          Психолог: ФИО:______________________ ​Подпись:________ Дата:____________<br>
          Клиент: ФИО:______________________ Подпись:________ Дата:____________
        </p>
       </section>
    </article>
  </div>
  
  <div class="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -50px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=%2B380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>