<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Эмоционально-образная терапия | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение сущности метода ЭОТ с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Эмоционально-образная терапия | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение сущности метода ЭОТ с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Emotional-Figurative-Therapy">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/consultation-psychologist-online-Tkachenko-Andrey-15d393997277900bef34501aa768f09ecc97d4153095c5ed20be12d9f55d4582.png">
<% end %>

 <div class="pc_content">
  <div class="container" style="text-align: justify;">
    <h1 style="margin-top: 5vw; text-align: center; font-weight: 800; font-size: 2.5vw;">Эмоционально-образная терапия</h1>
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 7vw 4vw 7vw;">
      Пока психологи занимались изменением поведения и когнитивным анализом, на свет родился новый изысканный метод, который позволяет решить эмоциональные проблемы буквально за час. Имя ему – ЭОТ.
    </p>
    <div>
      <img src="<%= asset_url('methods/EIT.svg')%>"alt="Эмоционально-образная терапия" style="float: right; width: 30vw; margin: 1vw 4vw">
      <h2>Что такое ЭОТ</h2>
      <p>
        <b>Эмоционально-образная терапия</b> (ЭОТ) – одно из новых направлений психотерапии родившиеся на просторах СНГ, создатель – Николай Линде. Метод работает с негативными эмоциональными состояниями человека (стыд, вина, обида, злость, ревность) через образы.<br>
        *В моей работе я использую ЭОТ лишь как вспомогательный инструмент.
      </p>
      <p>
        Эмоции можно выразить через визуальный, слуховой или тактильный образ задав себе вопрос: <b>«на что похожи мои переживания?»</b>. Образ можно мысленно менять, увеличивать, уменьшать, сделать бесцветным или красочным, переместить в другое пространство, наделить формой, объемом, поговорить с ним, сделать его похожим на материальный объект и т.д. Его можно трансформировать как угодно, главное – после <b>изменения образа</b> меняется внутреннее состояние человека.
      </p>
      <p>
        ЭОТ утверждает, что невыраженные эмоции могут «застревать» и приводить к неврозу и психосоматике. Соответственно, чтобы избавить человека от страданий нужно просто изменить образ его проблемы. Это гениальное и эффективное средство для точечных изменений в процессе консультирования. ЭОТ подходит «гуманитариям» и творческим натурам, которые «живут эмоциями».
      </p>
      <p>
        Образы и метафоры клиентов всегда неожиданны и интересны. Благодаря им диалог клиента и психолога превращается в произведение искусства где есть место безграничной фантазии. В этой палитре красок всегда рождается новое понимание ситуации, улучшается эмоциональное состояние, проходят старые обиды, тревоги и страхи.
      </p>
    </div>

    <h2>Проблемы, которые решаются с помощью ЭОТ:</h2>
    <ul>
      <li>Невротические эмоции: злость, вина, обида, стыд, ревность и т.д.</li>
      <li>Легкая психосоматика (мышечные боли)</li>
      <li>Эмоциональная зависимость</li>
      <li>Проблемы в отношениях с людьми (ЭОТ помогает трансформировать восприятие отношений)</li>
    </ul>

    <h2>Как работает ЭОТ</h2>
    <p>
      Клиент приходит к психологу и заявляет: «я кручусь как белка в колесе» - это не значит, что человек на самом деле является белкой, это значит, что вся его жизнь выстроена именно таким образом, что он чувствует себя «белкой в колесе». Чтоб разбираться с проблемой необходимо говорить на языке клиента, на его метафорах. Белку в колесе можно преобразовать, например, в веселого хомяка, который бегает в колесе в свое удовольствие, по желанию:
    </p>

    <div style="text-align: center; margin: 3vw"><img src="<%= asset_url('methods/metaphor.gif')%>" alt="метафора" style="width: 30vw; border-radius: 2vw"></div>
  
    <p>
      <b>Типичный пример работы с образами:</b><br>
      Клиент: у меня болит спина, не знаю почему.<br>
      Психолог: на что похожа боль?<br>
      К: я будто несу огромный камень на спине.<br>
      П: как он там оказался?<br>
      К: …пауза… я сам его туда положил, когда-то.<br>
      П: зачем вы туда его положили?<br>
      К: а без него никак. Если я чувствую, что устал, вымотался, то это значит, что я хорошо поработал, что я молодец и камень напоминает мне об этом.<br>
      П: камень до сих пор выполняет свою функцию или он уже не нужен?<br>
      К: нет, он уже не нужен, я и так знаю, что много тружусь и все чего я достиг – Моя заслуга.<br>
      П: тогда что вы хотели бы сделать с этим камнем?<br>
      К: выбросить его.<br>
      П: вы можете сделать то, что вы хотите.<br>
      К: (выбрасывает)<br>
      П: как ваша спина?<br>
      К: мне намного лучше, спина не болит.
    </p>
    <p>
      <b>Эмоциональная зависимость:</b><br>
      Клиент: я не могу забыть бывшего, не могу полюбить кого-то другого.<br>
      Психолог: представьте, что рядом с вами сидит ваш бывший, что вы чувствуете?<br>
      К: все тело рвется к нему со страшной силой, прям ураган какой-то.<br>
      П: на что похож этот ураган? Что создает эту силу?<br>
      К: на какой-то ярко синий шар.<br>
      П: это шар создает такой ураган?<br>
      К: да.<br>
      П: а чей это шар, ваш или его?<br>
      К: мой, это моя часть личности, это моя любовь.<br>
      П: тогда попробуйте вернуть его в свое тело обратно.<br>
      К: (мысленно возвращает шар себе)<br>
      П: как вы теперь себя чувствуете глядя на своего бывшего, которого вы представляете рядом?<br>
      К: мне хорошо, я чувствую нежность к нему, но я не страдаю, не понимаю почему.<br>
      П: можете ли вы окончательно сказать ему «прощай, желаю тебе счастья в личной жизни»?<br>
      К: могу.<br>
      П: скажите.<br>
      К: (прощается)<br>
      П: как самочувствие?<br>
      К: мне намного лучше.<br>
      П: синий шар – это и есть ваше сердце, оно было подарено молодому человеку, но когда произошел разрыв, вы предпочли выбросить шар, а этого не надо делать, сердце должно находиться у вас и тогда вы снова сможете чувствовать любовь.
    </p>
    <h2>Как долго нужно проходить терапию ЭОТ</h2>
    <p>
      ЭОТ не подразумевает долгой работы. Исходя из запроса клиента я применяю ЭОТ + другие методы (<a href="/Cognitive-Behavioral-Therapy.html" style="border-bottom: 1px solid currentColor;"><b>КПТ</b></a>, <a href="/Acceptance-and-Commitment-Therapy.html" style="border-bottom: 1px solid currentColor;"><b>АСТ</b></a>, <a href="/Positive-psychotherapy.html" style="border-bottom: 1px solid currentColor;"><b>ППТ</b></a>). Простые запросы в сфере отношений или эмоций решаются за одну консультацию. Более сложные случаи требуют больше времени.
    </p>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 6vw 0px 2vw 0vw; padding-top: 3vw">Запись на консультацию</h2> 
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 4vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8vw">
      <img src="<%= asset_url('form.svg')%>" alt="форма онлайн-записи на консультацию психолога" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- конец container -->
</div> <!-- конец pc_content -->



















<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7; padding-bottom: 8vw">
  <div class="container">
    <h1 class="methods-name">
      Эмоционально-образная терапия
    </h1>
    <p class="methods-description">
      Пока психологи занимались изменением поведения и когнитивным анализом, на свет родился новый изысканный метод, который позволяет решить эмоциональные проблемы буквально за час.<br>Имя ему – ЭОТ.
    </p>
    <img src="<%= asset_url('methods/EIT.svg')%>"alt="Эмоционально-образная терапия" class="methods-img">
    <h2>Что такое ЭОТ</h2>
    <p>
        <b>Эмоционально-образная терапия</b> (ЭОТ) – одно из новых направлений психотерапии родившиеся на просторах СНГ, создатель – Николай Линде. Метод работает с негативными эмоциональными состояниями человека (стыд, вина, обида, злость, ревность) через образы.<br>
        *В моей работе я использую ЭОТ лишь как вспомогательный инструмент.
      </p>
      <p>
        Эмоции можно выразить через визуальный, слуховой или тактильный образ задав себе вопрос: <b>«на что похожи мои переживания?»</b>. Образ можно мысленно менять, увеличивать, уменьшать, сделать бесцветным или красочным, переместить в другое пространство, наделить формой, объемом, поговорить с ним, сделать его похожим на материальный объект и т.д. Его можно трансформировать как угодно, главное – после <b>изменения образа</b> меняется внутреннее состояние человека.
      </p>
      <p>
        ЭОТ утверждает, что невыраженные эмоции могут «застревать» и приводить к неврозу и психосоматике. Соответственно, чтобы избавить человека от страданий нужно просто изменить образ его проблемы. Это гениальное и эффективное средство для точечных изменений в процессе консультирования. ЭОТ подходит «гуманитариям» и творческим натурам, которые «живут эмоциями».
      </p>
      <p>
        Образы и метафоры клиентов всегда неожиданны и интересны. Благодаря им диалог клиента и психолога превращается в произведение искусства где есть место безграничной фантазии. В этой палитре красок всегда рождается новое понимание ситуации, улучшается эмоциональное состояние, проходят старые обиды, тревоги и страхи.
      </p>

      <h2>Проблемы, которые решаются с помощью ЭОТ:</h2>
      <ul>
        <li>Невротические эмоции: злость, вина, обида, стыд, ревность и т.д.</li>
        <li>Легкая психосоматика (мышечные боли)</li>
        <li>Эмоциональная зависимость</li>
        <li>Проблемы в отношениях с людьми (ЭОТ помогает трансформировать восприятие отношений)</li>
      </ul>

      <h2>Как работает ЭОТ</h2>
      <p>
        Клиент приходит к психологу и заявляет: «я кручусь как белка в колесе» - это не значит, что человек на самом деле является белкой, это значит, что вся его жизнь выстроена именно таким образом, что он чувствует себя «белкой в колесе». Чтоб разбираться с проблемой необходимо говорить на языке клиента, на его метафорах. Белку в колесе можно преобразовать, например, в веселого хомяка, который бегает в колесе в свое удовольствие, по желанию:
      </p>

      <div style="text-align: center; margin: 5vw 0vw 0vw 0vw;"><img src="<%= asset_url('methods/metaphor.gif')%>" alt="метафора" style="width: 70vw;  border-radius: 2vw"></div>
    
      <p style="margin-top: 5vw">
        <b>Типичный пример работы с образами:</b><br>
        Клиент: у меня болит спина, не знаю почему.<br>
        Психолог: на что похожа боль?<br>
        К: я будто несу огромный камень на спине.<br>
        П: как он там оказался?<br>
        К: …пауза… я сам его туда положил, когда-то.<br>
        П: зачем вы туда его положили?<br>
        К: а без него никак. Если я чувствую, что устал, вымотался, то это значит, что я хорошо поработал, что я молодец и камень напоминает мне об этом.<br>
        П: камень до сих пор выполняет свою функцию или он уже не нужен?<br>
        К: нет, он уже не нужен, я и так знаю, что много тружусь и все чего я достиг – Моя заслуга.<br>
        П: тогда что вы хотели бы сделать с этим камнем?<br>
        К: выбросить его.<br>
        П: вы можете сделать то, что вы хотите.<br>
        К: (выбрасывает)<br>
        П: как ваша спина?<br>
        К: мне намного лучше, спина не болит.
      </p>
      <p>
        <b>Эмоциональная зависимость:</b><br>
        Клиент: я не могу забыть бывшего, не могу полюбить кого-то другого.<br>
        Психолог: представьте, что рядом с вами сидит ваш бывший, что вы чувствуете?<br>
        К: все тело рвется к нему со страшной силой, прям ураган какой-то.<br>
        П: на что похож этот ураган? Что создает эту силу?<br>
        К: на какой-то ярко синий шар.<br>
        П: это шар создает такой ураган?<br>
        К: да.<br>
        П: а чей это шар, ваш или его?<br>
        К: мой, это моя часть личности, это моя любовь.<br>
        П: тогда попробуйте вернуть его в свое тело обратно.<br>
        К: (мысленно возвращает шар себе)<br>
        П: как вы теперь себя чувствуете глядя на своего бывшего, которого вы представляете рядом?<br>
        К: мне хорошо, я чувствую нежность к нему, но я не страдаю, не понимаю почему.<br>
        П: можете ли вы окончательно сказать ему «прощай, желаю тебе счастья в личной жизни»?<br>
        К: могу.<br>
        П: скажите.<br>
        К: (прощается)<br>
        П: как самочувствие?<br>
        К: мне намного лучше.<br>
        П: синий шар – это и есть ваше сердце, оно было подарено молодому человеку, но когда произошел разрыв, вы предпочли выбросить шар, а этого не надо делать, сердце должно находиться у вас и тогда вы снова сможете чувствовать любовь.
      </p>
      <h2>Как долго нужно проходить терапию ЭОТ</h2>
      <p>
        ЭОТ не подразумевает долгой работы. Исходя из запроса клиента я применяю ЭОТ + другие методы (<a href="/Cognitive-Behavioral-Therapy.html" style="border-bottom: 1px solid currentColor;"><b>КПТ</b></a>, <a href="/Acceptance-and-Commitment-Therapy.html" style="border-bottom: 1px solid currentColor;"><b>АСТ</b></a>, <a href="/Positive-psychotherapy.html" style="border-bottom: 1px solid currentColor;"><b>ППТ</b></a>). Простые запросы в сфере отношений или эмоций решаются за одну консультацию. Более сложные случаи требуют больше времени.
      </p>
    </div> <!-- конец container -->

  <div class="container">        
    <%= render partial: "/new/form_mob"%>
  </div>

</div> <!-- конец моб версии -->