<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://tkachenkoandrey.com/EMDR">
  <title>Десенсибилизация и переработка движением глаз | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение сущности метода ДПДГ с практической точки зрения: какие проблемы решает, как проходит консультация, ее длительность и конечный результат.">
  <meta name="keywords" content="десенсибилизация и переработка движением глаз, консультация психолога онлайн, ДПДГ, психотерапия ДПДГ онлайн, как работает ДПДГ, техники ДПДГ, ДПДГ психолог, ДПДГ психотерапевт, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/EMDR">
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Десенсибилизация и переработка движением глаз | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение сущности метода ДПДГ с практической точки зрения: какие проблемы решает, как проходит консультация, ее длительность и конечный результат.">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="десенсибилизация и переработка движением глаз">
  <meta property="article:tag" content="консультация психолога онлайн">
  <meta property="article:tag" content="ДПДГ">
  <meta property="article:tag" content="психотерапия ДПДГ онлайн">
  <meta property="article:tag" content="как работает ДПДГ">
  <meta property="article:tag" content="техники ДПДГ">
  <meta property="article:tag" content="ДПДГ психолог">
  <meta property="article:tag" content="ДПДГ психотерапевт">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="http://tkachenkoandrey.com/EMDR">
  <meta name="twitter:title" content="Десенсибилизация и переработка движением глаз | Психолог Ткаченко Андрей">
  <meta name="twitter:desctiption" content="Краткое объяснение сущности метода ДПДГ с практической точки зрения: какие проблемы решает, как проходит консультация, ее длительность и конечный результат.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name">Десенсибилизация и переработка движением глаз</h1>
      <p class="article__description pc">В 1987 году был разработан метод, который помогает проработать травматический опыт, стабилизировать свое состояние даже в самых сложных случаях. Имя ему – ДПДГ.</p>
      <img class="fullscreen__image" src="<%= asset_url('methods/EMDR.webp')%>" title="Десенсибилизация и переработка движением глаз" alt="Десенсибилизация и переработка движением глаз">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Что такое ДПДГ</h2>
        <p>
          <b>Десенсибилизация и переработка движением глаз</b> (ДПДГ) – метод десенсибилизации (потери чувствительности к раздражителю) и репроцессуализации (обработки травмы) движением глаз. Создатель – доктор Френсин Шапиро. На сегодня, это самый популярный метод травматерапии имеющий огромную доказательную базу. В ее основе, лежит идея о том, что у человека есть неосознаваемая информационно-перерабатывающая система психики, обеспечивающая его защиту и самоисцеление в психотравматических ситуациях. Однако при сильном стрессе (катастрофы, войны, насилие, ДТП) эта система может не справляться с таким интенсивным воздействием и тогда событие может "застрять" в памяти, не переработаться. Цель терапии – помочь человеку адаптироваться, создать эффективные поведенческие стратегии и убеждения, обработать травматические воспоминания в мозгу.
        </p>
        <p>
          Чтобы стимулировать механизм обработки травматической информации мозгом, следует соприкоснутся с триггером и запустить неврологические и физиологические изменения способствующие переработке этих воспоминаний. Этот эффект обеспечивается путем <b>билатеральной стимуляции</b> – особого метода поочередной активации левого и правого полушария головного мозга, при котором клиент двигает глазами вслед за пальцами психолога, поочередно прикасается или постукивает левой и правой рукой, топает ногами, слушает правым и левым ухом и т.д. Такой двойной фокус внимания (на травматическом материале и на стимулах) ориентирует внимание человека на происходящем «здесь и сейчас», что также ускоряет переработку и усвоение информации, снижает психосоматику. Считается, что терапевтический эффект движения глаз также связан с биологическими механизмами, участвующими в фазе быстрого сна. В этой фазе нам снятся сны, быстро двигаются глаза, а информация, накопленная за день, переходит из кратковременной в долговременную память. 
        </p>
        <p>
          Главное преимущество ДПДГ – практичность. Стабильный результат достигается без подробного разговора или выполнения домашних заданий, используемых в других терапиях. Как правило, при единоразовом травматическом событии требуется до пяти сеансов ДПДГ. Наличие множественных травм может потребовать длительной терапии.
        </p>
        <p>
          ДПДГ можно проводить в первые часы, дни, недели после стресса, и даже после полугода, когда диагностировали ПТСР. В работе с человеком, который испытал травмирующий опыт, следует проявлять эмпатию, терпение, иметь высокую толерантность к стрессу и ужасным подробностям, которые можно услышать. Видя перед собой доброжелательно настроенного человека, который искренне сопереживает, поддерживает и готов помочь – клиенту уже становится лучше. Необходимо быть тем человеком, кому можно довериться. Именно поэтому и говорят, что главный инструмент психолога – это он сам, его личные качества. Только после установления доверительных отношений, можно переходить к предложению поработать с актуальной проблемой.
        </p>
      </section>
      
      <section>
        <h2>Проблемы, которые решаются с помощью ДПДГ</h2>
        <ul>
          <li>ПТСР и частичные синдромы в результате одного травматического события;</li>
          <li>Комплексные расстройства после хронических травматизации;</li>
          <li>Острые травматизации;</li>
          <li>Травматическая скорбь (нарушение адаптации);</li>
          <li>Последствия травмы у детей и подростков;</li>
          <li>Диссоциативные расстройства.</li>
        </ul>
      </section>

      <h2 class="article__accordion_title">8 этапов протокола ДПДГ</h2>
      <div class="accordion">
        <div class="accordion__item">
          <input id="accordion1" type="checkbox">
          <label for="accordion1">1. Сбор анамнеза</label>
          <section>
            <p>
              Диагностирование, оценка психического состояния клиента, исследование его анамнеза, выявление основных симптомов, динамики состояния, краткой истории произошедшего. Определяются возможные цели для обработки (тревожные воспоминания и текущие ситуации, вызывающие эмоциональный стресс). Затем выявляются конкретные воспоминания и их контекст. Психолог оценивает готовность клиента к работе и разрабатывает план терапии. 
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion2" type="checkbox">
          <label for="accordion2">2. Стабилизация, подготовка</label>
          <section>
            <p>
              Этот этап используется для укрепления доверия между психологом и клиентом. Психолог очень подробно объясняет процесс ДПДГ, чтобы клиент был информированным, расслабленным и уверенным в том, что он может управлять своим состоянием. Психолог обучает основным техникам снятия стресса, которые клиент может использовать во время и между сеансами, а также помогает создать или воспроизвести позитивный ресурс.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion3" type="checkbox">
          <label for="accordion3">3. Оценивание</label>
          <section>
            <p>
              Психолог помогает клиенту мысленно прокрутить в голове воспоминание как "фильм" (от момента непосредственно перед началом негативного события до сегодня и даже заглядывая в будущее), найти самую плохую часть, сцену фильма. Удерживая внимание на этом образе, выявить негативные убеждения клиента о себе, связанные с этим образом и сформировать реалистичную цель того, каким клиент хотел бы себя чувствовать в данной ситуации (позитивная когниция, реалистичное убеждение). После чего, психолог помогает назвать негативные эмоции и выявить их локализацию в теле, измерить интенсивность переживаний по шкале субъективного беспокойства от 0 до 10.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion4" type="checkbox">
          <label for="accordion4">4. Десенсибилизация</label>
          <section>
            <p>
              Основная часть работы. Поочередная проработка травматичных моментов с применением билатеральной стимуляции (БЛС), работы с негативными убеждениями об опасности, неконтролируемости, вине, несовершенстве своей личности. Психолог начинает проводить серии движения глаз или другие приемы БЛС (похлопывания "крыльями бабочки", постукивания по коленям, марширование ногами, "танец языка", прислушивание к звукам), при этом клиент одновременно удерживает внимание на мысленном образе травмирующего события, негативных мыслях о себе и ощущениях в теле. Тип и длительность стимуляций различны для каждого клиента. Наилучший вариант – помочь клиенту прислушаться к собственному телу и найти то, что эффективно работает именно у него.
              Между сетами психолог помогает клиенту замечать любые мысли, чувства, образы, воспоминания или ощущения, которые приходят на ум и, при необходимости, анализировать их. В зависимости от отчета клиента выбирается следующий фокус внимания. Эти этапы повторяются много раз в течение сеанса. Задача психолога – информировать, помогать, мотивировать к работе, несмотря на обилие чувств клиента, достичь отметки в 0-1 по шкале субъективного беспокойства.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion5" type="checkbox">
          <label for="accordion5">5. Инсталяция</label>
          <section>
            <p>
               Закрепление позитивной когниции. Когда клиент сообщает об отсутствии стресса, связанного с целевым воспоминанием, психолог просит подумать о том предпочтительном положительном (реалистичном) убеждении, которое было выявлено в начале сеанса, заметить изменилось ли оно, измерить насколько оно соответствует состоянию клиента, верится ли в это убеждение, ощущается ли оно как правда. При необходимости, клиент может скорректировать убеждение, а затем сосредоточиться на нем во время следующей серии переработки неприятных событий, пока оно не станет для него правдой.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion6" type="checkbox">
          <label for="accordion6">6. Сканирование тела</label>
          <section>
            <p>
              Мысленное сканирование тела для выявления оставшихся переживаний и ощущений, которые необходимо обработать. При их нахождении проводится дополнительные сеты переработки. Замеченные ощущения могут относиться к другим событиям и ситуациям из жизни и с ними также можно поработать. Концентрация на телесности - это не только проверка результатов работы, а также элемент стабилизации состояния, метод заземления, возвращения опоры и уверенности в своих силах.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion7" type="checkbox">
          <label for="accordion7">7. Завершение</label>
          <section>
            <p>
              Информирование о результатах работы. Психолог просит клиента вести дневник в течение недели, отслеживать свои переживания, сны, напоминает клиенту о техниках снижения стресса, которые были освоены во время второй фазы и может дать дополнительные практики, рекомендации, проверяет насколько клиент понял задание, нет ли сомнений, страхов, дает необходимую мотивацию и поддержку.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion8" type="checkbox">
          <label for="accordion8">8. Проверка и планирование</label>
          <section>
            <p>
              Следующий сеанс начинается с восьмой фазы, с изучения достигнутого прогресса, переоценки ранее переработанных событий, дабы удостовериться, что они не вызывают беспокойства (в противном случае, снова делаются сеты для их обработки). Если у клиента несколько травм, то на этом этапе они определяются и прописывается план дальнейшей поочередной работы с новыми целевыми травмами. После успешного курса ДПДГ-терапии клиенты достигают физиологического комфорта, избавляются от дистресса и формируют позитивные убеждения.
            </p>
          </section>
        </div>
      </div>
      
      <section>
        <h2>Направления ДПДГ и новые исследования</h2>
        <p>
          ДПДГ – комплексный метод, объединяющий элементы многих терапевтических подходов. Исследования во время пандемии 2020-го показали, что неосознанная переработка эффективней сознательной, то есть не нужно долго концентрироваться на неприятном воспоминании, наоборот, лучше вспомнить буквально на пару секунд и как можно быстрее начать билатеральную стимуляцию. Так была доказана эффективность новых направлений ДПДГ – <b>ASSYST</b> и <b>Flash</b>, которые сильно упрощают работу с острым стрессом и ПТСР. Эти терапевтические процедуры могут применяться в течение первых часов, дней или первых три месяца после вредного опыта. Они заполняют период после оказания Первой Психологической Помощи и перед психотерапией интервенций высокой интенсивности (ДПДГ, КПТ).
        </p>
        <p>
          Цель таких терапевтических процедур – достижение оптимального уровня возбуждения симпатической Автономной Нервной Системы, которая вызывает сенсорные, эмоциональные и физиологические симптомы тревожных воспоминаний. Это в свою очередь способствует адаптивной обработке информации по системе AIP (Adaptive Information Processing). Модель AIP фокусируется на ресурсах человека. Предполагается, что человеческий мозг обычно может полностью обрабатывать и интегрировать стрессовую информацию. Но если эта врожденная система обработки информации нарушена, память будет храниться в необработанном и неадаптивном виде.
        </p>
        <p>
          Процедуры Стабилизации при остром стрессе (ASSYST) были специально разработаны максимально практичными для очных и онлайн-сеансов, индивидуальных и групповых сессий. Создатель – доктор Игнасио (Начо) Хареро. Данные процедуры малоинтенсивны (максимум 6 сеансов), позволяют прямой, неинтрузивный, физиологический контакт с тревожными/патогенными воспоминаниями клиента и их компонентами, вызывающие гипервозбуждение симпатической ветви Автономной Нервной Системы. Вот что пишет создатель: "мы можем переваривать легкое блюдо без проблем, однако когда мы едим что-то тяжелое, то можем ощутить тяжесть в желудке. То же самое и с перевариванием информации мозгом, мозг не может усвоить тяжелые воспоминания и ему нужно помочь".
        </p>
        <p>
          Для переработки используется билатеральная стимуляция "Объятья бабочки" (поочередные похлопывания скрещенными руками на груди), марширование сидя, а для лежачих больных - движения языком. "Объятия бабочки" были разработаны мексиканской клиницисткой по имени Люси Артигас после урагана Паулина в 1998 году в Мексике. С того времени они использовались во всем мире во многих ситуациях, с тысячами детей, подростков и взрослых, испытавших неблагоприятный жизненный опыт. Причем инсталяция позитивных убеждений не производится. В отличие от процедуры Flash, где вся работа построена на позитивных воспоминаниях.
        </p>
        <p>
          Flash – новейшая разработка начала 2020-х. Создатели - американские доктора Льюис Энджел и Фил Менфилд. Метод заключается в кратком контакте с неприятным воспоминанием и изменении фокуса внимания на самые приятные моменты жизни. Клиент рассказывает с чем он пришел, психолог просит найти и на мгновение сконцентрироваться на самой неприятной части истории, после чего просит вспомнить самое позитивное и ресурсное воспоминание (похоже на заклинание "Патронус" в Гарри Поттере). После чего, клиент начинает постукивать ладонями по своим коленям и параллельно продолжает разговаривать с психологом о деталях своего позитивного воспоминания. В какой-то момент, психолог говорит "Флеш" и клиент должен быстро моргнуть 3-5 раз, продолжая постукивания по коленям. Далее, как обычно: делается несколько сетов, измеряется интенсивность переживаний. Вот такая нехитрая быстрая процедура показывает поразительную эффективность даже в сравнении с более "замороченными" методами. Самое сложное в этой процедуре – убедить клиента, что не нужно думать, рассказывать и концентрироваться на негативном опыте, объяснить что позитивные воспоминания - это не элемент избегания, это и есть способ терапии. 
        </p>
      </section>
       
    </div>
  </article>

  <div class="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=%2B380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>