<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="<%= t 'faq.head.url' %>">
  <title><%= t 'faq.head.title' %></title>
  <meta name="description" content="<%= t 'faq.head.description' %>">
  <meta name="keywords" content="<%= t 'faq.head.keywords' %>">
  <meta name="author" content="<%= t 'head.author' %>">
  <meta property="og:locale" content="<%= t 'head.og:locale' %>">
  <meta property="og:url" content="<%= t 'faq.head.url' %>">
  <meta property='og:site_name' content="<%= t 'head.og:site_name' %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= t 'faq.head.title' %>">
  <meta property="og:description" content="<%= t 'faq.head.description' %>">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="<%= t 'faq.head.article:tag1' %>">
  <meta property="article:tag" content="<%= t 'faq.head.article:tag2' %>">
  <meta property="article:tag" content="<%= t 'faq.head.article:tag3' %>">
  <meta property="article:tag" content="<%= t 'faq.head.article:tag4' %>">
  <meta property="article:tag" content="<%= t 'faq.head.article:tag5' %>">
  <meta property="article:tag" content="<%= t 'faq.head.article:tag6' %>">
  <meta property="article:tag" content="<%= t 'faq.head.article:tag7' %>">
  <meta property="article:tag" content="<%= t 'faq.head.article:tag8' %>">
  <meta property="article:tag" content="<%= t 'faq.head.article:tag9' %>">
  <meta property="article:tag" content="<%= t 'faq.head.article:tag10' %>">
  <meta name="twitter:url" content="<%= t 'faq.head.url' %>">
  <meta name="twitter:title" content="<%= t 'faq.head.title' %>">
  <meta name="twitter:desctiption" content="<%= t 'faq.head.description' %>">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="faq">
  <div class="faq__body container">
    <div class="faq__header  header_box">
      <h1 class="faq__title title"><%= t 'faq.title' %></h1>
    </div>
    <div class="faq__accordion accordion" style="margin-top: 25px; border-radius: 4px">
      <div class="accordion__item" style="border-top: none !important; border-radius: 4px 4px 0px 0px">
        <input id="accordion1" type="checkbox">
        <label for="accordion1" style="border-radius: 4px 4px 0px 0px"><%= t 'faq.question1.title' %></label>
        <section>
          <p><%= t 'faq.question1.text' %></p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion2" type="checkbox">
        <label for="accordion2"><%= t 'faq.question2.title' %></label>
        <section>
          <p><%= raw t 'faq.question2.text' %></p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion3" type="checkbox">
        <label for="accordion3"><%= t 'faq.question3.title' %></label>
        <section>
          <p><%= raw t 'faq.question3.text' %></p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion4" type="checkbox">
        <label for="accordion4"><%= t 'faq.question4.title' %></label>
        <section>
          <p><%= raw t 'faq.question4.text' %></p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion5" type="checkbox">
        <label for="accordion5"><%= t 'faq.question5.title' %></label>
        <section>
          <p><%= raw t 'faq.question5.text' %></p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion6" type="checkbox">
        <label for="accordion6"><%= t 'faq.question6.title' %></label>
        <section>
          <p><%= raw t 'faq.question6.text' %></p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion7" type="checkbox">
        <label for="accordion7"><%= t 'faq.question7.title' %></label>
        <section>
          <p><%= raw t 'faq.question7.text' %></p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion8" type="checkbox">
        <label for="accordion8"><%= t 'faq.question8.title' %></label>
        <section>
          <p><%= raw t 'faq.question8.text' %></p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion9" type="checkbox">
        <label for="accordion9"><%= t 'faq.question9.title' %></label>
        <section>
          <p><%= raw t 'faq.question9.text' %></p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion10" type="checkbox">
        <label for="accordion10"><%= t 'faq.question10.title' %></label>
        <section>
          <p><%= raw t 'faq.question10.text' %></p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion11" type="checkbox">
        <label for="accordion11"><%= t 'faq.question11.title' %></label>
        <section>
          <p><%= raw t 'faq.question11.text' %></p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion12" type="checkbox">
        <label for="accordion12"><%= t 'faq.question12.title' %></label>
        <section>
          <p><%= raw t 'faq.question12.text' %></p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion13" type="checkbox">
        <label for="accordion13"><%= t 'faq.question13.title' %></label>
        <section>
          <p><%= raw t 'faq.question13.text' %></p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion14" type="checkbox">
        <label for="accordion14"><%= t 'faq.question14.title' %></label>
        <section>
          <p><%= raw t 'faq.question14.text' %></p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion15" type="checkbox">
        <label for="accordion15"><%= t 'faq.question15.title' %></label>
        <section>
          <p><%= raw t 'faq.question15.text' %></p>
        </section>
      </div>
      <div class="accordion__item" style="border-bottom: none !important">
        <input id="accordion16" type="checkbox">
        <label for="accordion16"><%= t 'faq.question16.title' %></label>
        <section>
          <p><%= raw t 'faq.question16.text' %></p>
        </section>
      </div>
    </div>

    <div class="sign-up" id="Question">
      <div class="sign-up__body"  style="padding-bottom: 0px;">
        <div class="sign-up__item">
          <h2 class="sign-up__title title" id="client_form"><%= t 'faq.ask.title' %></h2>
          <p class="sign-up__text"><%= t 'faq.ask.subtitle' %></p>
          <div class="sign-up__btn-row">
            <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
            <a class="btn btn_contact" href="viber://chat?number=%2B380964248025" target="_blank">Viber</a>
            <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
          </div>
          <p class="sign-up__text pc">
            <%= t 'faq.ask.text1' %><br><%= t 'faq.ask.text2' %>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>