<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://tkachenkoandrey.com/faq">
  <title>Часто задаваемые вопросы | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Сможете помочь с моей проблемой? Сколько понадобится консультаций? Ответы на эти и другие часто задаваемые вопросы вы найдете в этом разделе.">
  <meta name="keywords" content="часто задаваемые вопросы к психологу, вопрос психологу, психолог гарантии, психотерапия длительность, психологическая консультация что это, faq, консультация психолога онлайн, профессиональный психолог, сертифицированный психолог, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/faq">
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Часто задаваемые вопросы | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Сможете помочь с моей проблемой? Сколько понадобится консультаций? Ответы на эти и другие часто задаваемые вопросы вы найдете в этом разделе">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="часто задаваемые вопросы к психологу">
  <meta property="article:tag" content="вопрос психологу">
  <meta property="article:tag" content="психолог гарантии">
  <meta property="article:tag" content="психотерапия длительность">
  <meta property="article:tag" content="психологическая консультация что это">
  <meta property="article:tag" content="faq">
  <meta property="article:tag" content="консультация психолога онлайн">
  <meta property="article:tag" content="профессиональный психолог">
  <meta property="article:tag" content="сертифицированный психолог">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="http://tkachenkoandrey.com/faq">
  <meta name="twitter:title" content="Часто задаваемые вопросы | Психолог Ткаченко Андрей">
  <meta name="twitter:desctiption" content="Сможете помочь с моей проблемой? Сколько понадобится консультаций? Ответы на эти и другие часто задаваемые вопросы вы найдете в этом разделе.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="faq">
  <div class="faq__body container">
    <div class="faq__header  header_box">
      <h1 class="faq__title title">Часто задаваемые вопросы</h1>
    </div>
    <div class="faq__accordion accordion" style="margin-top: 25px; border-radius: 4px">
      <div class="accordion__item" style="border-top: none !important; border-radius: 4px 4px 0px 0px">
        <input id="accordion1" type="checkbox">
        <label for="accordion1" style="border-radius: 4px 4px 0px 0px">Вы проводите консультации в кабинете? Где?</label>
        <section>
          <p>
            Да. Вы можете записаться на консультацию в кабинете по адресу ул.Артема 11, Днепр, Украина. Удобный кабинет в центре города, чай, печенье, всё как полагается, приходите :)
          </p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion2" type="checkbox">
        <label for="accordion2">Можете ли вы мне помочь с моей проблемой?</label>
        <section>
          <p>
            На сайте есть раздел <a href="/work-with.html">Направления работы</a>, там описаны мои основные сферы деятельности. Конечно, это лишь малая часть того, с чем я могу вам помочь. <a href="#Question">Напишите</a> мне свой вопрос, расскажите свой уникальный случай, я его проанализирую и скажу как справиться с вашей ситуацией.
          </p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion3" type="checkbox">
        <label for="accordion3">Какие гарантии результата работы вы даете?</label>
        <section>
          <p>
            1. Мои <a href="/methods.html">методы работы</a>, согласно исследованиям, имеют высокий уровень эффективности, а значит есть высокая вероятность, что ваше состояние улучшится, если вы будете соблюдать все рекомендации, добросовестно выполнять упражнения и домашнее задание. Гарантией моего профессионализма являются дипломы о моем образовании, мой опыт работы, отзывы клиентов, мой персональный контент на сайте;
          </p>
          <p>
            2. В консультировании и психотерапии я беру на себя 50% ответственности за результат. Я гарантирую профессиональный подход в работе, мое искреннее желание помочь, доброжелательность, конфиденциальность и 100% моего внимания лично Вам во время консультации. Ваши 50% ответственности за результат – желание сотрудничать и выполнять дз;
          </p>
          <p>
            3. Каждый человек уникален. Кому-то для изменений потребуется больше времени, кому-то меньше. Это зависит от многих факторов: насколько сложная проблема, насколько развиты ваши способности к самоанализу, насколько вы доверяете мне, как психологу, и говорите ли всю правду.
          </p>
          <p>
            4. Чтобы наша работа была максимально эффективной, для начала вам следует пройти обследование у врача (если ваша проблема касается эмоций, психосоматических проблем или иных расстройств), на консультации нужно приходить выспавшимся (по возможности), быть максимально открытым и говорить обо всем что беспокоит, а после – выполнять все домашние задания.
          </p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion4" type="checkbox">
        <label for="accordion4">Насколько эффективны онлайн-консультации?</label>
        <section>
          <p>
            Методом диагностики и работы психолога является специально выстроенный диалог, поэтому консультации можно проводить как очно в кабинете, так и онлайн. Если вы не хотите обнимать, нюхать, пробовать на вкус психолога, то онлайн-консультации как раз для вас! Они дешевле и удобнее как для психолога, так и для самого клиента.
          </p>
          <p>
            По правде говоря:<br>
            1. Если проблема касается мелких бытовых вопросов («что в таких случаях делают?», «нормально ли это?»), то консультации можно проводить даже по переписке в мессенджерах;<br>
            2. Теоретически, проводить диагностику и решать простые запросы можно по телефону, без видеосвязи (но, конечно, желательно с видеосвязью);<br>
            3. Психотерапия неврозов, панических атак, депрессий и прочих серьезных проблем проводится только по видеосвязи или в кабинете;<br>
            4. Есть техники, которые возможно применять только в кабинете (например, движение глаз в методе ДПДГ). Однако, во всех методах психотерапии давно придуманы аналогичные способы (например, билатеральная стимуляция рук и ног), которые одинаково эффективно работают как в кабинете, так и в режиме онлайн;<br>
            5. При онлайн-консультациях вам следует заранее подготовить: камеру (см. пункты выше), микрофон и тихое уютное место. Если видеосвязь будет не очень качественной – не проблема. Если аудиосвязь будет плохой – эффективность консультации будет снижаться.
          </p>
          <p>
            Если придерживаться данных правил, то эффективность онлайн-консультаций будет не уступать очным встречам в кабинете.
          </p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion5" type="checkbox">
        <label for="accordion5">Сколько потребуется консультаций?</label>
        <section>
          <p>
            В разделе <a href="/work-with.html">Направления работы</a> вы найдете список основных проблем, с которыми я работаю. Перейдя по одной из них вы сможете узнать сколько в среднем требуется консультаций для решения данных проблем.
          </p>
          <p>
            Если обобщить, то:<br>
            1. Простые бытовые вопросы решаются за 1 консультацию;<br>
            2. Не сложные вопросы вины, стыда, обиды, злости во взаимоотношениях можно решить за 1-5 консультаций;<br>
            3. Депрессия, панические атаки, повышенная тревога – до 10 и более сеансов;<br>
            4. Многолетний невроз и низкая самооценка, тяжелая психосоматика и другие сложные случаи требуют как минимум краткосрочного курса психотерапии (от 10 сеансов).
          </p>
          <p>
            Каждый человек уникален. Кому-то для изменений потребуется больше времени, кому-то меньше. Это зависит от многих факторов: насколько сложная проблема, насколько развиты ваши способности к самоанализу, насколько вы доверяете мне, как психологу, и говорите ли всю правду.
          </p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion6" type="checkbox">
        <label for="accordion6">Что такое консультация и как она проходит?</label>
        <section>
          <p>
            Психологическая консультация – вид психологической помощи, специально выстроенный диалог между психологом и клиентом с применением вербальных и поведенческих техник направленных на изменение эмоций, убеждений и поведения клиента, чтобы избавить его от социальных, психологических и психосоматических проблем.<br>
            Процесс консультаций детально описан на страницах: <a href="/individual_consultation.html">Индивидуальные консультации психолога</a> и <a href="/group_consultation.html">Психологические группы онлайн</a>.
          </p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion7" type="checkbox">
        <label for="accordion7">Как подготовиться к консультации?</label>
        <section>
          <p>
            Вам не нужно иметь четко сформулированный запрос (описание проблемы и желаемого результата). Запрос мы вместе создаем на консультации. От вас необходима готовность к работе. Поэтому в подготовке к онлайн-консультации важны такие пункты:<br>
            <b>1. Хорошая связь.</b> Заранее подготовьтесь, и выберите наилучший способ интернет-связи из доступных вам (оптоволоконный, через вайфай или телефон).<br>
            <b>2. Микрофон и камера.</b> Заранее подготовьте микрофон и камеру для хорошей связи. Для удобства лучше использовать ПК, а не телефон (либо, телефон должен стоять рядом, а не быть у вас в руках). Если качество видео будет плохим – не страшно. Если звук будет некачественным – эффективность консультации будет снижаться.<br>
            <b>3. Тихое место и время</b>, в котором вас никто не отвлекает. Обязательно, при планировании консультации, убедитесь в том, что телефоны отключены, никого из людей или домашних животных (кошек, собак, попугаев) нет в доме, либо, что они 100% не помешают. Убедитесь, что вы находитесь в удобном кресле с подлокотниками или на кровати, в тихом месте, располагаемом к внутренней работе.<br>
            <b>4. Непосредственно перед консультацией:</b> нельзя употреблять кофеин (чай, кофе, энергетики), алкоголь (или быть в похмелье), принимать наркотики, успокоительные травы, БАДы и любые другие психоактивные вещества. Нужно быть выспавшимся, сытым и готовым к работе (перед консультацией сходите в уборную). Антидепрессанты и прочие лекарства можно принимать только если их назначил вам врач. Также, нельзя приходить с ярким макияжем и помадой на лице. Одежда – повседневная, удобная, не вызывающая, без глубоких вырезов, обтягивающих штанов и декольте.<br>
            <b>5. При себе желательно иметь:</b> воду; плед; бумагу, ручку или карандаш для нотаток; бумажные салфетки и одну небольшую мусорную урну (без крышки, выстланную одноразовым пакетом).<br>
          </p>
          <p>
            При несоблюдении этих простых правил есть риск, что время консультации будет потрачено на организационные вопросы и сама консультация пройдет не так успешно, как могла бы.
          </p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion8" type="checkbox">
        <label for="accordion8">Что я почувствую на консультации?</label>
        <section>
          <p>
            Во время консультации мы можем затрагивать эмоционально неприятные темы и воспоминания из вашей жизни. Поэтому вы можете ощутить грусть, страх, злость, обиду, стыд и т.д. Приходя на консультацию вы обязуетесь "выносить тяжесть раскрытия своих интимных переживаний" (согласно нашему <a href="/contract.html">Договору</a>). Я, как психолог, обязуюсь действовать аккуратно и профессионально, сделать всё возможное, чтобы по завершению каждой консультации вы чувствовали себя спокойно и комфортно, были эмоционально наполненными и уверенными в завтрашнем дне.
          </p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion9" type="checkbox">
        <label for="accordion9">Что мне придется делать на консультациях?</label>
        <section>
          <p>
            1. Участвовать в диалоге со мной, как с психологом, и говорить о личном;<br>
            2. Самостоятельно определять результат нашей работы, которого вы хотите достичь;<br>
            3. Самостоятельно принимать решения как вам следует поступить в вашей жизненной ситуации (психолог советов не дает, он лишь помогает выявить варианты решений и проанализировать их);<br>
            4. Делать предложенные мной упражнения и техники, направленные на работу с мыслями, эмоциями и поведением: «давайте подумаем об этом…», «вспомните это событие…», «представьте вашу эмоцию в виде…», «давайте проверим, насколько вам помогает ваш мониторинг угроз, начните мысленно сканировать свое тело на предмет дискомфортных ощущений…» (иногда, придется идти наперекор страху);<br>
            5. Делать домашнее задание (вести дневник, проводить размышления на определенную тему, выполнять поведенческие экспозиции («сделать то», «пойти туда»).
          </p>
          <p>
            ПРИМЕЧАНИЕ: у вас есть право ничего этого не делать, но в данном случае эффективность нашей работы будет снижаться.
          </p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion10" type="checkbox">
        <label for="accordion10">Сколько стоит консультация, курс психотерапии, групповые занятия?</label>
        <section>
          <p>
            Актуальную стоимость моих услуг вы можете узнать на страницах: <a href="/individual_consultation.html">Индивидуальные консультации психолога</a> и <a href="/group_consultation.html">Психологические группы онлайн</a>.
          </p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion11" type="checkbox">
        <label for="accordion11">Можно получить скидку или заплатить после консультации?</label>
        <section>
          <p>
            Моя работа – мой хлеб. Я работаю с теми, кому комфортны мои цены. Оплата консультаций осуществляется наперед (минимум за 48 часов до начала консультации, согласно нашему <a href="/contract.html">Договору</a>).
          </p>
          <p>
            Скидку могут получить:<br>
            – инвалиды;<br>
            – волонтеры;<br>
            – социальные работники;<br>
            – люди с интересными для меня случаями;<br>
            – те, кто, как я вижу, действительно горят желанием улучшить свою жизнь;<br>
            – те, кто, приняли участие в моих мероприятиях и получили скидку (подпишитесь на мои <a href="/contacts.html">соцсети</a>).
          </p>
          <p>
            Психологические консультации и психотерапию не рекомендуется проводить за кредитные или последние деньги, иначе напряжение за "а вдруг не получится" может мешать нашей работе. Если вы ограничены в финансах, то вы можете обратиться в соц.службы или позвонить по телефонам психологической поддержки по месту вашего жительства.
          </p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion12" type="checkbox">
        <label for="accordion12">Как записаться на консультацию?</label>
        <section>
          <p>
            Чтобы записаться на консультацию, вам следует:<br>
            1. Связаться со мной по моим <a href="/contacts.html">контактам</a>.<br>
            2. Обсудить со мной ваш случай, согласовать все детали, точное место и время консультации;<br>
            3. Оплатить мои услуги;<br>
            4. Явиться на консультацию.
          </p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion13" type="checkbox">
        <label for="accordion13">Как проводится диагностика?</label>
        <section>
          <p>
            Диагностика проводится на первой консультации. Это диалог клиента с психологом. Я задаю вам ряд общих вопросов касающихся вашего физического здоровья, вредных привычек, проблем со сном и т.д. После чего провожу психологический анализ вашей ситуации, выясняю возможные причины происходящего, суть и динамику проблемы, информирую вас о механизмах работы психики и даю возможный прогноз на будущее. Концом диагностики можно считать формулирование запроса (осознание исходной ситуации и желаемого результата). Подробнее в разделе <a href="/individual_consultation.html">Индивидуальные консультации психолога</a>.
          </p>
          <p>
            ПРИМЕЧАНИЕ: диагностика у психолога НЕ ОТМЕНЯЕТ диагностику у врача, если это необходимо!
          </p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion14" type="checkbox">
        <label for="accordion14">Работаете ли вы с детьми, подростками, семейными парами?</label>
        <section>
          <p>
            Да, в индивидуальном порядке я готов работать с парами и детьми. <a href="#Question">Напишите</a> мне, мы обсудим данный вопрос.
          </p>
        </section>
      </div>
      <div class="accordion__item">
        <input id="accordion15" type="checkbox">
        <label for="accordion15">Подскажите, как решить мою проблему самому?</label>
        <section>
          <p>
            Для самостоятельного избавления от психологических проблем, на сайте есть раздел со <a href="/articles.html">статьями</a>, в которых я описываю множество методов самопомощи. Заходите, выбирайте категорию проблемы, которая вас беспокоит и читайте как от нее самостоятельно избавиться.
          </p>
        </section>
      </div>
      <div class="accordion__item" style="border-bottom: none !important">
        <input id="accordion16" type="checkbox">
        <label for="accordion16">Почему мне не удается решить мою проблему самому?</label>
        <section>
          <p>
            Это может быть по множеству причин:<br>
            1. У вас слишком сложная проблема, которая требует индивидуальной работы с психологом или психиатром;<br>
            2. Вы не верно/не последовательно/недостаточно долго выполняете рекомендации данные у меня в <a href="/articles.html">статьях</a>;<br>
            3. У вас есть вторичная выгода, которая не позволяет вам избавиться от проблемы;<br>
            4. Ваша жизненная ситуация и то социальное окружение, в котором вы сейчас находитесь, НЕ ПОДРАЗУМЕВАЕТ НАЛИЧИЯ ПСИХОЛОГИЧЕСКИ ЗДОРОВОЙ ЛИЧНОСТИ. Если у вас в жизни постоянные проблемы, землетрясения, крики, драки, оскорбления, то о какой внутренней работе может идти речь? Задайте себе вопрос: "что поддерживает наличие моей проблемы?", измените свою жизненную ситуацию, а потом начните работать над уменьшением вашей тревожности, апатии, злости и т.д.
          </p>
          <p>
            Это не полный список возможных причин, поэтому лучший ответ на 99% вопросов – "обратитесь к психологу".
          </p>
        </section>
      </div>
    </div>

    <div class="sign-up" id="Question">
      <div class="sign-up__body"  style="padding-bottom: 0px;">
        <div class="sign-up__item">
          <h2 class="sign-up__title title" id="client_form">Задать вопрос</h2>
          <p class="sign-up__text">Не удалось найти ответ на свой вопрос? Если вы хотите меня о чем-то спросить – просто напишите мне в мессенджер:</p>
          <div class="sign-up__btn-row">
            <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
            <a class="btn btn_contact" href="viber://chat?number=%2B380964248025" target="_blank">Viber</a>
            <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
          </div>
          <p class="sign-up__text pc">
            Телефон для звонков: +380964248025<br>Пн-Вс 10:00-20:00
          </p>
        </div>
      </div>
    </div>

  </div>
</div>