<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Гипнотерапия | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение сущности гипнотерапии с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Гипнотерапия | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение сущности гипнотерапии с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Hypnotherapy">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/consultation-psychologist-online-Tkachenko-Andrey-15d393997277900bef34501aa768f09ecc97d4153095c5ed20be12d9f55d4582.png">
<% end %>

<div class="pc_content">
  <div class="container" style="text-align: justify;">
    <h1 style="margin-top: 5vw; text-align: center; font-weight: 800; font-size: 2.5vw;">Гипнотерапия</h1>
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 4vw 0vw;">
      В XIX веке зародился метод, который помогает избавиться от психосоматики и многих невротических проблем.<br>Имя ему – гипнотерапия.
    </p>
    <div>
      <img src="<%= asset_url('methods/Hypnotherapy.svg')%>" alt="Гипнотерапия" style="float: right; width: 30vw; margin: 1vw 4vw">
      <h2>Что такое гипнотерапия</h2>
      <p>
        <b>Гипнотерапия</b> – это краткосрочный метод психотерапии для работы с психосоматикой и неврозами.
        Внушением и визуализацией, техниками дыхания и релаксации клиент достигает расслабленного состояния (гипноза или транса), в котором доступна вся внутренняя работа. Задача терапевта - помочь клиенту создать новые убеждения, чувства и модели поведения.
      </p>
      <p>
        Создателями современной гипнотерапии можно назвать Джеральда Кейна, Милтона Эриксона, Пьера Жане, Дейва Элмана и других. Истоки гипноза начинаются в дневние времена шаманов, которые вводили в транс человека и внушением исцеляли его. Сегодня гипноз приобрел всемирную популярность как шоу (сценический гипноз). В реальной терапии он используется для достижения 4-х важнейших задач (стадий):
      </p>
      <ul>
        <li>
          <b>1. Внушение и визуализация</b> образов для создания мотивации и анализа событий. 
        </li>
        <li>
          <b>2. Обнаружение причины</b> проблемы клиента. Утверждается, что состояние человека всегда имеет первопричину - ситуацию научения. Выявив ситуацию, в которой клиент обучился "проблемно" мыслить, чувствовать и действовать, можно его переобучить. Поиск осуществляется ассоциативно или идеомоторно, задействовав "память тела".
        </li>
        <li>
          <b>3. Освобождение от эмоциональной привязанности.</b> Если в прошлом у человека были стрессовые события, то они могли сформировать связь "стимул - реакция", например: в детстве вас укусила собака и вы через 20 лет при виде собаки чувствуете страх. Чтобы перестать бояться собак и разорвать "эмоциональную привязанность с образом собаки", необходимо вспомнить то, как собака вас укусила и заново перепрожить этот момент, выплеснуть все накопившиеся эмоции и отпустить это событие. Конечно, перепроживать травматические события - это неприятно и сложно, вот именно поэтому и применяются техники гипнотерапии, чтобы помочь клиенту расслабиться и подготовиться его к такой малоприятной, но очень полезной работе.
        </li>
        <li>
          <b>4. Подсознательное переобучение.</b> Воображение и эмоции – это язык подсознания, а значит, страх собак контролируется подсознательно. Если воля клиента конфликтует с воображением, то последнее всегда победит. Поэтому, чтобы получить длительные результаты, сферой терапии должны быть эмоции и воображение. <br>После третьей стадии освобождения, наступает спокойствие и терапевт просит клиента проговорить то, чему он теперь заново научился. После чего, сказанное клиентом терапевт просит визуализировать, создать красочный образ новой жизни с новыми навыками и дает внушение, чтобы образ закрепился в подсознании - это и есть переобучение, то есть встраивание в подсознание новых убеждений.            
        </li>
      </ul>
    </div>

    <h2>Как работает гипнотерапия</h2>
    <p>
      Для улучшения результата терапии я применяю либо отдельные техники внушения, либо полноценный пятишаговый транcформационный регрессивный гипноз (5-PATH) в комбинации с другими методами. Для простоты понимания, взгляните на общую схему метода:
    </p>

    <div style="text-align: center; margin: 3vw;"><img src="<%= asset_url('methods/5-PATH.svg')%>" alt="регрессивный гипноз (5-PATH)" style="width: 60vw;"></div>
  
    <p>
      Длительность сеанса сильно зависит от количества психотравмирующих стрессовых ситуаций в прошлом, которые все надо отыскать и проработать, поэтому полный сеанс гипнотерапии - 4 часа (можно и больше, нет каких-то пределов). Более длительные сеансы необходимы тому, кто ценит свое время и хочет избавиться от проблемы за 1 сеанс.
    </p>
    <h2>Подготовка, тестирование и анализ проблемной ситуации</h2>
    <p>
      Этот этап - залог успеха. Я морально и физически подготавливаю клиента к вхождению в гипнотическое состояние, отвечаю на все вопросы, объясняю как работает гипноз, и что клиент будет испрытывать, выслушиваю жалобы и запрос, задаю ряд общих вопросов на определение текущего физического и психологического состояния, определяю характер проблемы и провожу диагностику текущей ситуации в жизни клиента.<br>
      Далее, тестирую его на способность концентрироваться на собственных ощущениях и входить в гипноз, использую средства убеждения для будущего успеха при повторном вхождении в гипноз и подкрепляю результат внушениями такими как "искажение времени" и "чувствительность к цвету", например, красному.
    </p>
    <h2>Поиск причины в прошлом</h2>
    <p>
      Чтобы начать поиски первопричины, необходимо войти в состояние гипноза/транса. Для этого я использую разговорные методы <b>индукции Элмана</b>, либо <b>дыхательные техники Вим Хофа.</b><br>
      Для нахождения первопричины проблемы я использую <b>возрастную регрессию</b> двух типов:<br>
      <b>1. По ассоциациям.</b> В ряде случаев человек может на интеллектуальном, сознательном уровне сам рассказать, когда у него была значимая для него стрессовая ситуация и что в ней происходило. Однако, нередко, когда человек забывает стрессовые ситуации (психотравмы) и для их выявления необходимо использовать интуитивный, бессознательный уровень психики - ассоциации:<br>
      <i>"кто ранее мог с тобой поступить похожим образом?"</i><br>
      <i>"знакомо ли тебе это переживание?"</i><br>
      <i>"ранее в твоей жизни уже была неудовлетворена данная потребность? Какому возрасту присуща эта потребность?"</i><br>
      <i>"что могло бы произойти, чтобы ты чувствовал себя максимально дискомфортно?"</i><br>
      <i>"какую способность задействована в проблеме? Когда ты обучился этой способности?"</i><br>
      <i>"сколько лет твоему чувству?"</i><br>
      <i>"как выглядит та часть тебя, которая боиться?"</i><br>
      <i>"сколько лет тому, кто это говорит? Кто сигнализирует тебе об опасности?"</i><br>
      <b>2. По чувству:</b> <i>"сконцентрируйся на чувстве, входи в него, находи более раннего себя связанного с этим чувством"</i> - здесь используется "память тела" - принцип, который гласит, что чувства имеют идеомоторную связь с телом. Например, когда ребенка впервые укусила собака - у него возник страх в груди, а значит, в следующий раз при виде собаки максимально сильный страх снова будет ощущаться в груди. Более того, по просьбе представить себе собаку, у человека тоже будет возникать страх в груди.<br>
      Еще пример: когда ребенка впервые несправедливо сильно наказали родители - у него возникла сильная злость в плечах, а значит, в следующий раз, когда он будет замечать несправедливость - максимально сильная злость снова будет ощущаться в плечах.
    </p>
    <h2>Первопричина</h2>
    <p>
      Идя вниз по возрасту клиент вспоминает много жизненных ситуаций. Наша задача - найти психотравму или ядро.<br>
      <b>1. Психотравма</b> - самая первая эмоционально сильная ситуация, либо ситуация с самым болезненным чувством.<br>Психотравма - это то, когда человек решил что ситуация опасная и нужно бояться/злиться/стыдиться в подобных ситуациях в будущем.<br>
      <b>2. Ядро</b> - например, ситуация, в которой человек еще не испытал страх одиночества, но уже решил пристально наблюдать за наличием людей вокруг, чтобы выяснить правду ли сказала мама, что "самое страшное - это остаться одной".<br>
      Ядро - это то, когда человек решил обращать пристальное внимание на подобные ситуации в будущем.<br>
      После нахождения ситуации ее нужно <b>исследовать</b> на предмет того, какие решения человек принял там и тогда, будучи маленьким, как он решил в подобных ситуациях в будущем: действовать, чувствовать себя, думать о себе/мире/других людях, получать любовь и одобрение, о чем решил мечтать и т.д. и т.п.
    </p>
    <h2>Переобучение</h2>
    <p>
      <!-- 1.  Подготовка, тестирование<br>
      2.  Возрастная регрессия<br>
      3.  Прощение<br>
      4.  Самопрощение<br>
      5.  Терапия частей личности -->
      Самая сложная часть работы. Здесь применяется множество техник работы с телом и психикой.<br>
      Работа с физиологичей:<br>
      <b>1. RPT (Reference Point Therapy)</b> – освобождение от инстинкта (спрятаться, убежать, замереть, напасть, догнать, отрыгнуть) путем его реализации.
      <br>
      <b>2. TRE Exercise</b> – работа с физической реакцией, желанием напрячься. Вибрацией, напряжением и расслаблением выплескиваем все накопившиеся эмоции, телесные зажимы и блоки.
      <br>
      <b>3. ЭОТ</b> – делаем эмоциональную разрядку <b>(абреакцию)</b>, находим болезненную эмоцию, высвобождаем ее, представляем ее в виде образа, изменяем образ - исцеляем себя.
      <br>
      <b>4. ДПДГ</b> – избавление от психотравм путем движения глаз (на фоне представляем ситуацию и следим за двигающимся объектом).
      <br>
      <b>5. КПТ</b> – метод перепрожития психотравм путем неспешного, детального пересказа произошедшего.
      <br><br>
      Работа с взаимоотношениями, закрытием гештальта:<br>
      <b>6. Гештальт</b> – техника пустого стула. Выясняем отношения, общаемся с "обидчиком" с позиции себя из прошлого, потом входим в роль "обидчика" и также говорим от его имени. Отпускаем, прощаем, освобождаемся от негативных эмоций, забираем из воспоминания свои утраченные силы, навыки и способности.<br>
      <b>7. 5-PATH</b> – самопрощение. Простив "обидчика", иногда, требуется и простить самого себя за принятие неверных решений. Это можно сделать путем общения с образом себя из прошлого.<br>
      <b>8. Терапия частей личности</b> – разрешение внутренних конфликтов путем общения между воображаемым образом части своей личности, которая чего-то желает и той части, которая противится ей (хочу бросить курить, но хочу курить).
      После проработки тела и психики необходимо сделать <b>новые выводы</b>, вербализировать <b>новые убеждения</b>, создать <b>новые модели поведения</b>, для этого терапия частей тоже подходит - можно пообщаться с разумной, мудрой частью себя, которая знает ответы на все вопросы и может дать дельный совет.
    </p>
    <h2>Взросление и проверка результатов переобучения</h2>
    <p>
      С новыми выводами клиент двигается мысленно вверх по возрасту <b>(возрастная прогрессия)</b>. Взрослея, заново перепроживая все значимые ситуации, беря на себя <b>ответственность</b> за содеянное, признавая всё произошедшее как опыт, а не как травму, отслеживая эффективность новых моделей мышления и поведения, клиент возвращается мысленно в исходную ситуацию с которой пришел и оценивает свое состояние (на сколько % уменьшилось чувство страха/злости/стыда). Также, можно мысленно перенестись на год вперед, посмотрев к каким позитивным изменениям приводят новые выводы и решения сделанные на гипнотерапии.<br> 
      Задача терапевта – обсудить пользу новых убеждений, какие интересные возможности они открывают для клиента, создать из них красочный образ и внушениями закрепить его в подсознании, а в конце сеанса, при выходе из гипноза/транса, терапевт должен сделать так, чтобы клиент признал все произошедшие с ним изменения и был готов воспользоваться новыми навыками в своей обыденной жизни.
    </p>
    
    <h2>Как долго нужно проходить гипнотерапию</h2>
    <p>
      4-х часовой сеанс гипнотерапии подразумевает 1 сеанс, после которого клиент уже чувствует себя лучше. Стандартная гипнотерапия длится 1-5 сеансов 1-2 раза в неделю по 2 часа (как и обычный психотерапевтический сеанс). В зависимости от сложности проблемы, индивидуальных особенностей человека, работа может длиться и дольше. По желанию клиента могут проводиться разовые 4-х часовые сеансы гипнотерапии, либо курс психотерапии с применением отдельных техник внушения и транса.
    </p>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 6vw 0px 2vw 0vw; padding-top: 3vw">Запись на консультацию</h2> 
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 4vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8vw">
      <img src="<%= asset_url('form.svg')%>" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- конец container -->
</div>  <!-- конец pc_content -->















<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7; padding-bottom: 8vw">
  <div class="container">
    <h1 class="methods-name">
      Гипнотерапия
    </h1>
    <p class="methods-description">
      В XIX веке зародился метод, который помогает избавиться от психосоматики и многих невротических проблем.<br>Имя ему – гипнотерапия.
    </p>
    <img src="<%= asset_url('methods/Hypnotherapy.svg')%>" alt="Гипнотерапия" class="methods-img">

    <h2>Что такое гипнотерапия</h2>
    <p>
      <b>Гипнотерапия</b> – это краткосрочный метод психотерапии для работы с психосоматикой и неврозами.
      Внушением и визуализацией, техниками дыхания и релаксации клиент достигает расслабленного состояния (гипноза или транса), в котором доступна вся внутренняя работа. Задача терапевта - помочь клиенту создать новые убеждения, чувства и модели поведения.
    </p>
    <p>
      Создателями современной гипнотерапии можно назвать Джеральда Кейна, Милтона Эриксона, Пьера Жане, Дейва Элмана и других. Истоки гипноза начинаются в дневние времена шаманов, которые вводили в транс человека и внушением исцеляли его. Сегодня гипноз приобрел всемирную популярность как шоу (сценический гипноз). В реальной терапии он используется для достижения 4-х важнейших задач (стадий):
    </p>
    <ul>
      <li>
        <b>1. Внушение и визуализация</b> образов для создания мотивации и анализа событий. 
      </li>
      <li>
        <b>2. Обнаружение причины</b> проблемы клиента. Утверждается, что состояние человека всегда имеет первопричину - ситуацию научения. Выявив ситуацию, в которой клиент обучился "проблемно" мыслить, чувствовать и действовать, можно его переобучить. Поиск осуществляется ассоциативно или идеомоторно, задействовав "память тела".
      </li>
      <li>
        <b>3. Освобождение от эмоциональной привязанности.</b> Если в прошлом у человека были стрессовые события, то они могли сформировать связь "стимул - реакция", например: в детстве вас укусила собака и вы через 20 лет при виде собаки чувствуете страх. Чтобы перестать бояться собак и разорвать "эмоциональную привязанность с образом собаки", необходимо вспомнить то, как собака вас укусила и заново перепрожить этот момент, выплеснуть все накопившиеся эмоции и отпустить это событие. Конечно, перепроживать травматические события - это неприятно и сложно, вот именно поэтому и применяются техники гипнотерапии, чтобы помочь клиенту расслабиться и подготовиться его к такой малоприятной, но очень полезной работе.
      </li>
      <li>
        <b>4. Подсознательное переобучение.</b> Воображение и эмоции – это язык подсознания, а значит, страх собак контролируется подсознательно. Если воля клиента конфликтует с воображением, то последнее всегда победит. Поэтому, чтобы получить длительные результаты, сферой терапии должны быть эмоции и воображение. <br>После третьей стадии освобождения, наступает спокойствие и терапевт просит клиента проговорить то, чему он теперь заново научился. После чего, сказанное клиентом терапевт просит визуализировать, создать красочный образ новой жизни с новыми навыками и дает внушение, чтобы образ закрепился в подсознании - это и есть переобучение, то есть встраивание в подсознание новых убеждений.            
      </li>
    </ul>
    <h2>Как работает гипнотерапия</h2>
    <p>
      Для улучшения результата терапии я применяю либо отдельные техники внушения, либо полноценный пятишаговый транcформационный регрессивный гипноз (5-PATH) в комбинации с другими методами. Для простоты понимания, взгляните на общую схему метода:
    </p>

    <img src="<%= asset_url('methods/5-PATH.svg')%>" alt="регрессивный гипноз (5-PATH)" style="width: 86vw; text-align: center; margin: 5vw 0vw 0vw 0vw;">

    <p>
      Длительность сеанса сильно зависит от количества психотравмирующих стрессовых ситуаций в прошлом, которые все надо отыскать и проработать, поэтому полный сеанс гипнотерапии - 4 часа (можно и больше, нет каких-то пределов). Более длительные сеансы необходимы тому, кто ценит свое время и хочет избавиться от проблемы за 1 сеанс.
    </p>
    <h2>Подготовка, тестирование и анализ проблемной ситуации</h2>
    <p>
      Этот этап - залог успеха. Я морально и физически подготавливаю клиента к вхождению в гипнотическое состояние, отвечаю на все вопросы, объясняю как работает гипноз, и что клиент будет испрытывать, выслушиваю жалобы и запрос, задаю ряд общих вопросов на определение текущего физического и психологического состояния, определяю характер проблемы и провожу диагностику текущей ситуации в жизни клиента.<br>
      Далее, тестирую его на способность концентрироваться на собственных ощущениях и входить в гипноз, использую средства убеждения для будущего успеха при повторном вхождении в гипноз и подкрепляю результат внушениями такими как "искажение времени" и "чувствительность к цвету", например, красному.
    </p>
    <h2>Поиск причины в прошлом</h2>
    <p>
      Чтобы начать поиски первопричины, необходимо войти в состояние гипноза/транса. Для этого я использую разговорные методы <b>индукции Элмана</b>, либо <b>дыхательные техники Вим Хофа.</b><br>
      Для нахождения первопричины проблемы я использую <b>возрастную регрессию</b> двух типов:<br>
      <b>1. По ассоциациям.</b> В ряде случаев человек может на интеллектуальном, сознательном уровне сам рассказать, когда у него была значимая для него стрессовая ситуация и что в ней происходило. Однако, нередко, когда человек забывает стрессовые ситуации (психотравмы) и для их выявления необходимо использовать интуитивный, бессознательный уровень психики - ассоциации:<br>
      <i>"кто ранее мог с тобой поступить похожим образом?"</i><br>
      <i>"знакомо ли тебе это переживание?"</i><br>
      <i>"ранее в твоей жизни уже была неудовлетворена данная потребность? Какому возрасту присуща эта потребность?"</i><br>
      <i>"что могло бы произойти, чтобы ты чувствовал себя максимально дискомфортно?"</i><br>
      <i>"какую способность задействована в проблеме? Когда ты обучился этой способности?"</i><br>
      <i>"сколько лет твоему чувству?"</i><br>
      <i>"как выглядит та часть тебя, которая боиться?"</i><br>
      <i>"сколько лет тому, кто это говорит? Кто сигнализирует тебе об опасности?"</i><br>
      <b>2. По чувству:</b> <i>"сконцентрируйся на чувстве, входи в него, находи более раннего себя связанного с этим чувством"</i> - здесь используется "память тела" - принцип, который гласит, что чувства имеют идеомоторную связь с телом. Например, когда ребенка впервые укусила собака - у него возник страх в груди, а значит, в следующий раз при виде собаки максимально сильный страх снова будет ощущаться в груди. Более того, по просьбе представить себе собаку, у человека тоже будет возникать страх в груди.<br>
      Еще пример: когда ребенка впервые несправедливо сильно наказали родители - у него возникла сильная злость в плечах, а значит, в следующий раз, когда он будет замечать несправедливость - максимально сильная злость снова будет ощущаться в плечах.
    </p>
    <h2>Первопричина</h2>
    <p>
      Идя вниз по возрасту клиент вспоминает много жизненных ситуаций. Наша задача - найти психотравму или ядро.<br>
      <b>1. Психотравма</b> - самая первая эмоционально сильная ситуация, либо ситуация с самым болезненным чувством.<br>Психотравма - это то, когда человек решил что ситуация опасная и нужно бояться/злиться/стыдиться в подобных ситуациях в будущем.<br>
      <b>2. Ядро</b> - например, ситуация, в которой человек еще не испытал страх одиночества, но уже решил пристально наблюдать за наличием людей вокруг, чтобы выяснить правду ли сказала мама, что "самое страшное - это остаться одной".<br>
      Ядро - это то, когда человек решил обращать пристальное внимание на подобные ситуации в будущем.<br>
      После нахождения ситуации ее нужно <b>исследовать</b> на предмет того, какие решения человек принял там и тогда, будучи маленьким, как он решил в подобных ситуациях в будущем: действовать, чувствовать себя, думать о себе/мире/других людях, получать любовь и одобрение, о чем решил мечтать и т.д. и т.п.
    </p>
    <h2>Переобучение</h2>
    <p>
      <!-- 1.  Подготовка, тестирование<br>
      2.  Возрастная регрессия<br>
      3.  Прощение<br>
      4.  Самопрощение<br>
      5.  Терапия частей личности -->
      Самая сложная часть работы. Здесь применяется множество техник работы с телом и психикой.<br>
      Работа с физиологичей:<br>
      <b>1. RPT (Reference Point Therapy)</b> – освобождение от инстинкта (спрятаться, убежать, замереть, напасть, догнать, отрыгнуть) путем его реализации.
      <br>
      <b>2. TRE Exercise</b> – работа с физической реакцией, желанием напрячься. Вибрацией, напряжением и расслаблением выплескиваем все накопившиеся эмоции, телесные зажимы и блоки.
      <br>
      <b>3. ЭОТ</b> – делаем эмоциональную разрядку <b>(абреакцию)</b>, находим болезненную эмоцию, высвобождаем ее, представляем ее в виде образа, изменяем образ - исцеляем себя.
      <br>
      <b>4. ДПДГ</b> – избавление от психотравм путем движения глаз (на фоне представляем ситуацию и следим за двигающимся объектом).
      <br>
      <b>5. КПТ</b> – метод перепрожития психотравм путем неспешного, детального пересказа произошедшего.
      <br><br>
      Работа с взаимоотношениями, закрытием гештальта:<br>
      <b>6. Гештальт</b> – техника пустого стула. Выясняем отношения, общаемся с "обидчиком" с позиции себя из прошлого, потом входим в роль "обидчика" и также говорим от его имени. Отпускаем, прощаем, освобождаемся от негативных эмоций, забираем из воспоминания свои утраченные силы, навыки и способности.<br>
      <b>7. 5-PATH</b> – самопрощение. Простив "обидчика", иногда, требуется и простить самого себя за принятие неверных решений. Это можно сделать путем общения с образом себя из прошлого.<br>
      <b>8. Терапия частей личности</b> – разрешение внутренних конфликтов путем общения между воображаемым образом части своей личности, которая чего-то желает и той части, которая противится ей (хочу бросить курить, но хочу курить).
      После проработки тела и психики необходимо сделать <b>новые выводы</b>, вербализировать <b>новые убеждения</b>, создать <b>новые модели поведения</b>, для этого терапия частей тоже подходит - можно пообщаться с разумной, мудрой частью себя, которая знает ответы на все вопросы и может дать дельный совет.
    </p>
    <h2>Взросление и проверка результатов переобучения</h2>
    <p>
      С новыми выводами клиент двигается мысленно вверх по возрасту <b>(возрастная прогрессия)</b>. Взрослея, заново перепроживая все значимые ситуации, беря на себя <b>ответственность</b> за содеянное, признавая всё произошедшее как опыт, а не как травму, отслеживая эффективность новых моделей мышления и поведения, клиент возвращается мысленно в исходную ситуацию с которой пришел и оценивает свое состояние (на сколько % уменьшилось чувство страха/злости/стыда). Также, можно мысленно перенестись на год вперед, посмотрев к каким позитивным изменениям приводят новые выводы и решения сделанные на гипнотерапии.<br> 
      Задача терапевта – обсудить пользу новых убеждений, какие интересные возможности они открывают для клиента, создать из них красочный образ и внушениями закрепить его в подсознании, а в конце сеанса, при выходе из гипноза/транса, терапевт должен сделать так, чтобы клиент признал все произошедшие с ним изменения и был готов воспользоваться новыми навыками в своей обыденной жизни.
    </p>
    
    <h2>Как долго нужно проходить гипнотерапию</h2>
    <p>
      4-х часовой сеанс гипнотерапии подразумевает 1 сеанс, после которого клиент уже чувствует себя лучше. Стандартная гипнотерапия длится 1-5 сеансов 1-2 раза в неделю по 2 часа (как и обычный психотерапевтический сеанс). В зависимости от сложности проблемы, индивидуальных особенностей человека, работа может длиться и дольше. По желанию клиента могут проводиться разовые 4-х часовые сеансы гипнотерапии, либо курс психотерапии с применением отдельных техник внушения и транса.
    </p>

  </div> <!-- конец container -->
    
  <div class="container">        
    <%= render partial: "/new/form_mob"%>
  </div>

</div> <!-- конец моб версии -->