<% content_for :head do %>
  <link rel="canonical" href="http://tkachenkoandrey.com/individual_consultation">
  <title>Онлайн консультации психолога | Индивидуальная психотерапия</title>
  <meta name="description" content="Консультация - специально выстроенный диалог между психологом и клиентом с применением вербальных и поведенческих техник. Психотерапия - курс консультаций.">
  <meta name="keywords" content="индивидуальная консультация психолога, личная консультация психолога, психотерапия по скайп, консультация психолога по скайпу, психотерапия онлайн, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/individual_consultation">
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Онлайн консультации психолога | Индивидуальная психотерапия">
  <meta property="og:description" content="Консультация - специально выстроенный диалог между психологом и клиентом с применением вербальных и поведенческих техник. Психотерапия - курс консультаций.">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="индивидуальная консультация психолога">
  <meta property="article:tag" content="личная консультация психолога">
  <meta property="article:tag" content="психотерапия по скайп">
  <meta property="article:tag" content="консультация психолога по скайпу">
  <meta property="article:tag" content="психотерапия онлайн">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="http://tkachenkoandrey.com/individual_consultation">
  <meta name="twitter:title" content="Онлайн консультации психолога | Индивидуальная психотерапия">
  <meta name="twitter:desctiption" content="Консультация - специально выстроенный диалог между психологом и клиентом с применением вербальных и поведенческих техник. Психотерапия - курс консультаций.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container individual_consultation">
      <h1 class="article__name">Индивидуальные онлайн-консультации психолога</h1>
      <p class="article__description pc">Консультация - специально выстроенный диалог между психологом и клиентом с применением вербальных и поведенческих техник направленных на изменение эмоций, убеждений и поведения клиента, чтобы избавить его от социальных и психологических проблем.</p>
      <img class="fullscreen__image" src="<%= asset_url('individual_consultation.webp')%>" title="Индивидуальные консультации психолога" alt="Индивидуальные консультации психолога">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2 id="Consultations">Что такое консультация и психотерапия</h2>
        <p>
          <b><i>Консультация</i></b> - специально выстроенный диалог между психологом и клиентом с применением вербальных и поведенческих техник направленных на изменение эмоций, убеждений и поведения клиента, чтобы избавить его от социальных и психологических проблем.<br>
          <b><i>Психотерапия</i></b> - курс из нескольких психологических консультаций (сеансов, сессий). Это комплексное воздействие на эмоции, убеждения и поведение клиента для избавления от многих социальных, психологических и психосоматических проблем при помощи специальных техник и приемов. Один из самых популярных методов - КПТ с его четко описанными техниками и структурой работы.<br>
          <b><i>Гипнотерапия</i></b> - вид психотерапии с применением гипноза и/или техник внушения.<br>
          <b><i>Психоанализ</i></b> - вид психотерапии с применением методов психоаналитического подхода Фрейда, Юнга и т.д. Одним из подвидов психоанализа является Позитивная психотерапия Н. Пезешкиана. Психоанализ славится своей глубинной работой с подсознательными и бессознательными проявлениями человека: анализом снов, метафор, оговорок, защитных механизмов и работой с сексуальной сферой жизни человека.<br>
        </p>
      </section>
      
      <section>
        <h2>Цели консультаций</h2>
        <ul>
          <li>оказание психологической помощи, т.е. разговор с психологом должен помочь человеку в решении его проблем и налаживании взаимоотношений с окружающими;</li>
          <li>расширение представления клиента о сути и причинах возникновения своей проблемной ситуации;</li>
          <li>помощь в нахождении целей в жизни, ценностей, приоритетов и задач на будущее, создание самоопределения клиента;</li>
          <li>избавления клиента от симптомов проблемы;</li>
          <li>облегчение эмоционального состояния клиента;</li>
          <li>развитие гибкости, умения находить новые, эффективные модели мышления и поведения.</li>
        </ul>
      </section>
      
      <section>
        <h2>Преимущества онлайн-консультаций</h2>
        <ul>
          <li>не надо никуда ехать, нет транспортных расходов;</li>
          <li>можно быть дома в тепле и комфорте;</li>
          <li>можно частично сохранить конфиденциальность;</li>
          <li>если вы уезжаете в отпуск, можно не прерывать консультации;</li>
          <li>если вам понадобилась срочная консультация - вы получите ее быстрее и проще;</li>
          <li>можно получить качественные услуги, если в вашем месте жительства нет компетентных психологов;</li>
          <li>одинаково эффективны, как и очные консультации.</li>
        </ul>
      </section>

      <section>
        <h2>Как проходят консультации и психотерапия</h2>
        <p>
          Консультации проходят в кабинете, либо онлайн по Skype, Viber, Zoom, Google Meet 1-2 раза в неделю. Длительность консультации варьируется от 1 до 4 часов. Работа с острым стрессом - 1 час, обычная психотерапия - 2 часа, <a href="/Hypnotherapy.html">гипнотерапия</a> - 2-4 часа. Для достижения максимально быстрого результата, метод работы, длительность консультации и их частоту я выбираю индивидуально с каждым клиентом, в зависимости от сложности и специфики проблемы, вашего финансового положения и того, в какие сроки необходимо достичь результата.
        </p>
        <p>
          Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
        </p>
        <p>
          Всё время консультации посвящено только вам. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы вашего состояния. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
        </p>
        <p>
          Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы решили свою проблему и научились конструктивно удовлетворять свои потребности.
        </p>
        <p>
          На курсе психотерапии, перед каждой консультацией вы заполняете специальный опросник, который создан мною на основе вашей индивидуальной ситуации. Опросник позволяет понять динамику вашего состояния и то, с какой составляющей проблемы следует работать в первую очередь. На протяжении всей консультации я пишу стенографию. Дома, вы ее перечитываете, заново переосмысливаете проделанную работу и полученные результаты, видите описание техник, которые использовались, список своего домашнего задания и дополнительные обучающие материалы (если они будут вам необходимы). Между консультациями я поддерживаю связь с вами в мессенджерах для отслеживания динамики состояния, корректировки домашнего задания и ответов на возникающие вопросы.
        </p>
      </section>

      <section>
        <h2>Структура курса психотерапии</h2>
        <p>
          <b>1. На первой консультации</b> происходит диагностика, анализ вашей ситуации, формулирование запроса и работа с вашей проблемой. По результатам диагностики становятся ясными: содержание проблемы, приблизительные сроки и план терапии. Методом диагностики и работы является специально выстроенный диалог с применением психотерапевтических <a href="/methods.html">методов</a>. Если мы решили вашу проблему за одну консультацию - отлично. Если нет - мы согласовываем начало краткосрочного курса психотерапии.
        </p>
        <p>
          <b>2. Последующие консультации (сеансы)</b><br>
          <b><i>Краткосрочная психотерапия</i></b> (10 сеансов 1-2 раза в неделю) – устранение основных симптомов вашей проблемы. Происходит научение новым моделям мышления и поведения. Если на 10-м сеансе мы понимаем, что надо продолжать работу - это уже будет считаться среднесрочной психотерапией.<br>
          <b><i>Среднесрочная психотерапия</i></b> (от 10 сеансов 1-2 раза в неделю) – для более сложных случаев. Удаление оставшихся симптомов. Разбор внутренних конфликтов, избавление от сложных психотравм. Если на 20-м сеансе мы понимаем, что надо продолжать работу - это уже будет считаться длительной психотерапией.<br>
          <b><i>Длительная психотерапия</i></b> (20 и более сеансов 1-2 раза в неделю) – полная трансформация личности. Работа с тяжелыми случаями.<br>
          <b><i>Поддерживающая психотерапия</i></b> (1 сеанс в 2-4 недели) – после окончания психотерапии, возвращаясь в привычное русло жизни, иногда, человеку требуется поддержка для предотвращения рецидива проблемы. Для этого, несколько раз в месяц, проводятся сеансы на которых мы совместно анализируем произошедшие за последнее время события, развиваем навыки стрессоустойчивости, коммуникации и т.д. Отличный способ получить максимально эффективный результат.
        </p>
        <p>
          <b>3. Завершающая консультация (сеанс)</b> - окончание курса психотерапии. Точка. На ней закрываются все вопросы, фиксируется полученный результат.
        </p>
      </section>

      <h2 class="article__accordion_title" id="First">Первая консультация проводится таким образом:</h2>
      <div class="accordion">
        <div class="accordion__item">
          <input id="accordion1" type="checkbox">
          <label for="accordion1">1. Установление контакта и проговаривание правил консультации</label>
          <section>
            <p>
              Первичное знакомство уже произошло, когда мы договаривались о сотрудничестве. В начале первой сессии происходит установление и поддержание контакта. Контакт есть, когда мы хотим слышать и понимать друг друга и реализуем это желание. Я проговариваю основные правила и принципы нашей работы, рассказываю как проходит процесс консультирования и предлагаю вам ввести свои дополнительные правила.<br>
              <b>Результат:</b> вы чувствуете себя комфортно и безопасно. Это почва для дальнейшей работы.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion2" type="checkbox">
          <label for="accordion2">2. Основной блок диагностических вопросов</label>
          <section>
            <p>
              Я задаю вам ряд общих вопросов для выяснения вашего физического и психологического состояния, выясняю, есть ли противопоказания к психотерапии, какие есть установленные диагнозы и т.п.<br>
              <b>Результат:</b> я узнаю общую информацию о вас и принимаю решение, есть ли у меня компетенция для работы с данным случаем, либо нужно обратиться к другим специалистам (неврологу, эндокринологу психиатру и т.п.).
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion3" type="checkbox">
          <label for="accordion3">3. Активное слушание и совместный анализ ситуации</label>
          <section>
            <p>
              <b>3.1. Активное слушание</b><br>
              Если необходимо, вы "выговариваетесь". Всё мое внимание сконцентрировано на вашем рассказе, я безоценочно воспринимаю сказанное, активно слушаю и задаю уточняющие вопросы, проявляю эмпатию и сострадание, либо разделяю с вами ваши положительные эмоции (если это требуется).<br>
              <b>Результат:</b> таким образом, происходит установление доверительных отношений. Вы начинаете осознавать суть своей проблемной ситуации (за счет проговаривания всего того, что беспокоит и моей обратной связи). Возникает приятное чувство доверия и товарищества, ведь вас понимают, а не оценивают или осуждают.
            </p>
            <p>
              <b>3.2. Совместный анализ ситуации</b><br>
              Вы предметно описываете волнующую вас ситуацию, а я провожу ее психологический анализ, задаю уточняющие вопросы, разбираюсь в фактах, выясняю внутреннюю картину проблемы (как вы воспринимаете происходящее и как реагируете на ситуацию), выявляю все текущие жалобы, восстанавливаю цепь событий, предшествующих появлению проблемы, выясняю динамику развития симптомов, возможные причины и объективную картину вашей жизненной ситуации. Полученные данные заношу в диагностические таблицы и стенографию.<br>
              <b>Результат:</b> вы осознаете причинно-следственные связи в вашей проблемной ситуации, причины поведения других людей и собственные модели мышления и поведения.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion4" type="checkbox">
          <label for="accordion4">4. Формулирование запроса</label>
          <section>
            <p>
              После проведения анализа, вы понимаете, что в вашей ситуации является проблемой, а что - естественной нормой, поэтому легко формулируете точное описание имеющиеся у вас проблемы и образ желаемого результата - общей цели консультирования.<br>
              <b>Результат:</b> вы имеете четкое представление о своей проблеме и конечной цели. Ваша цель измерима, достижима и позитивно сформулирована.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion5" type="checkbox">
          <label for="accordion5">5. Подведение итогов диагностики</label>
          <section>
            <p>
              Я структурирую всё сказанное вами, информирую вас о результатах диагностики, объясняю возможные причины появления вашей психологической проблемы, на схемах и метафорах объясняю механизмы ее функционирования. Исходя из диагностики, даю возможный прогноз на будущее (что будет дальше, если ничего не менять) и необходимые рекомендации. Сообщаю, могу ли я вам помочь, нужен ли вам курс психотерапии и какой именно.<br>
              <b>Результат:</b> у вас формируется полная картина происходящего, вы знаете прогноз на будущее и какие есть методы избавления от подобных проблем.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion6" type="checkbox">
          <label for="accordion6">6. Создание курса психотерапии</label>
          <section>
            <p>
              <b>6.1. Составление плана</b><br>
              Я задаю вопрос: "какое решение вы принимаете?" Если вы согласны пройти курс психотерапии со мной, то мы начинаем его создавать на основании диагностики, ваших финансовых возможностей, индивидуальных особенностей вашей ситуации и того, в какие сроки вам нужно получить желаемый результат.<br>
              <b>Результат:</b> вы имеете четкое представление о том, как будет проходить процесс избавления от вашей проблемы.
            </p>
            <p>
              <b>6.2. Подготовка к работе, поддержка</b><br>
              На этом этапе часто наблюдается сопротивление клиентов. У вас могут возникать страхи, открываться новые убеждения об опасности, неконтролируемости или неизбежности происходящего с вами, либо наоборот о пользе данных проблем (вторичная выгода). Я работаю с данными убеждениями, отвечаю на все ваши вопросы, поддерживаю и морально подготавливаю вас к предстоящей работе.<br>
              <b>Результат:</b> у вас возникает уверенность в себе и в своих силах, готовность к изменениям.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion7" type="checkbox">
          <label for="accordion7">7. Работа с проблемой</label>
          <section>
            <p>
              Основной этап. Направление и содержание работы определяется как вашим запросом, так и моим профессиональным видением. Я применяю диалоговые и поведенческие техники направленные на работу с эмоциями, мыслями, поведением и на анализ ваших взаимоотношений с другими людьми.<br>
              <b>Результат:</b> вы чувствуете облегчение своего эмоционального и физического состояния, осознаете свою роль в сложившейся ситуации, берете ответственность за происходящее с вами. С моей помощью, вы сами осознаете какое именно решение вам стоит принять в данной ситуации, чтобы чувствовать себя максимально комфортно в будущем.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion8" type="checkbox">
          <label for="accordion8">8. Подведение итогов консультации</label>
          <section>
            <p>
              Я проговариваю и анализирую вместе с вами всё то, что было на консультации. Мы оцениваем исходный план и полученный результат.<br>
              <b>Результат:</b> вы осознаете что и какими методами было реализовано, понимаете, какое знание, озарение, чувство или достижение стало сегодня для вас самым важным и ценным приобретением.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion9" type="checkbox">
          <label for="accordion9">9. Домашнее задание</label>
          <section>
            <p>
              Консультация - лишь подготовка к тому, что должно быть реализовано в жизни. Психотерапевтическое дз – это список рекомендуемых действий для изменения мышления и поведения, выработки новых навыков и убеждений, проверки полученных результатов, которые следует выполнять между консультациями. Дз мы составляем вместе.<br>
              <b>Результат:</b> у вас есть план действий до следующей консультации и осознание того, как дз должно вам помочь в достижении вашей цели. Выполнение дз помогает проверить эффективность новых моделей мышления и поведения, проанализировать свое состояние, проверить, получается ли реализовать те решения, которые были приняты на консультации.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion10" type="checkbox">
          <label for="accordion10">10. Завершение консультации</label>
          <section>
            <p>
              Я проверяю, поняли ли вы, что вам нужно сделать дома, нет ли сомнений, страхов, даю необходимую мотивацию, поддержку и установку на позитив.<br>
              <b>Результат:</b> вы уходите домой в ресурсном состоянии (спокойно, бодро, уверенно).
            </p>
          </section>
        </div>
      </div>
 
      <section>
        <h2>Последующие консультации состоят из таких этапов:</h2>
        <ul>
          <li>Начало. Обсуждаем то, что было на предыдущем сеансе и что произошло у вас в жизни в перерыве между сеансами. Анализируем результаты домашнего задания и данные опросника, который вы заполнили перед сеансом. Если необходимо, вы выговариваетесь;</li>
          <li>Составление плана сегодняшнего сеанса. Я спрашиваю: «с чем хотите сегодня поработать? Что для вас сейчас важно? Чем я могу сегодня помочь?». Исходя из ваших пожеланий, вносим корректировки в имеющийся план психотерапии;</li>
          <li>Работа с проблемой;</li>
          <li>Подведение итогов;</li>
          <li>Домашнее задание;</li>
          <li>Завершение сеанса.</li>
        </ul>
        <p>
          В перерыве между консультациями мы поддерживаем связь в мессенджерах. Вы можете рассказывать мне всё, что вас беспокоит и задавать любые вопросы для достижения максимального результата. Вы читаете стенографию прошлой консультации, изучаете обучающие материалы, делаете домашнее задание.
        </p>
      </section>
      <section>
        <h2>Завершающая консультация проводится так:</h2>
        <p>
          Мы вместе анализируем то, как проходила психотерапия, проводим техники для профилактики рецидивов, закрываем все вопросы, фиксируем полученные результаты и окончательно утверждаем поставленные задачи.<br>
        <b>Результат:</b> вы способны самостоятельно справляться с возникающими психологическими, эмоциональными, поведенческими и социальными трудностями.
        </p>
      </section>

    </article>

    <div class="faq-block" id="client_form" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -3px">
      <div class="faq-block__body container">
        <div class="faq-block__item">
          <h3 class="faq-block__title title" style="font-size: 17px">Остались еще вопросы? Вероятно, я уже ответил на них здесь:</h3>
          <a class="btn btn_faq" href="/faq.html" style="margin-top: 25px">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</a>
        </div>
      </div>
    </div>

  <div class="services" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -3px">
    <div class="services__body container" style="padding-bottom: 20px; padding-top: 20px">
      <div class="services__header header_box ">
        <h2 class="services__title title"  style="font-size: 25px;">Услуги</h2>
      </div>
      <div class="services__row">
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name">Индивидуальная консультация</h3>
            <p class="services__info">2 часа</p>
            <ul class="services__text">
              <li>Диагностика</li>
              <li>Постановка целей</li>
              <li>Принятие решений</li>
              <li>Проблемы в отношениях</li>
              <li>Состояния острого стресса</li>
              <li>Обида, вина, стыд, злость, грусть</li>
            </ul>
            <p class="services__price">800 грн</p>
          </div>
        </div>
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name">Индивидуальный курс психотерапии</h3>
            <p class="services__info">2 часа | 10 сеансов | 1-2 сеанса в неделю</p>
            <ul class="services__text">
              <li>Невроз</li>
              <li>Тревога</li>
              <li>Депрессия</li>
              <li>Психотравмы</li>
              <li>Навязчивости</li>
              <li>Психосоматика</li>
              <li>Панические атаки</li>
              <li>Низкая самооценка</li>
            </ul>
            <p class="services__price">7000 грн</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <div class="sign-up" id="client_form" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -3px">
      <div class="sign-up__body container">
        <div class="sign-up__item">
          <h2 class="sign-up__title title">Запись на консультацию</h2>
          <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
          <div class="sign-up__btn-row">
            <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
            <a class="btn btn_contact" href="viber://chat?number=%2B380964248025" target="_blank">Viber</a>
            <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
          </div>
          <p class="sign-up__text pc">
            По всем вопросам звонить: +380964248025<br>Пн-Вс 10:00-20:00
          </p>
        </div>
      </div>
    </div>

  


</div>
