<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="<%= t 'ind.head.url' %>">
  <title><%= t 'ind.head.title' %></title>
  <meta name="description" content="<%= t 'ind.head.description' %>">
  <meta name="keywords" content="<%= t 'ind.head.keywords' %>">
  <meta name="author" content="<%= t 'head.author' %>">
  <meta property="og:locale" content="<%= t 'head.og:locale' %>">
  <meta property="og:url" content="<%= t 'ind.head.url' %>">
  <meta property='og:site_name' content='<%= t 'head.og:site_name' %>'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= t 'ind.head.title' %>">
  <meta property="og:description" content="<%= t 'ind.head.description' %>">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="<%= t 'ind.head.article:tag1' %>">
  <meta property="article:tag" content="<%= t 'ind.head.article:tag2' %>">
  <meta property="article:tag" content="<%= t 'ind.head.article:tag3' %>">
  <meta property="article:tag" content="<%= t 'ind.head.article:tag4' %>">
  <meta property="article:tag" content="<%= t 'ind.head.article:tag5' %>">
  <meta property="article:tag" content="<%= t 'ind.head.article:tag6' %>">
  <meta property="article:tag" content="<%= t 'ind.head.article:tag7' %>">
  <meta property="article:tag" content="<%= t 'ind.head.article:tag8' %>">
  <meta property="article:tag" content="<%= t 'ind.head.article:tag9' %>">
  <meta property="article:tag" content="<%= t 'ind.head.article:tag10' %>">
  <meta name="twitter:url" content="<%= t 'ind.head.url' %>">
  <meta name="twitter:title" content="<%= t 'ind.head.title' %>">
  <meta name="twitter:desctiption" content="<%= t 'ind.head.description' %>">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container individual_consultation">
      <h1 class="article__name"><%= t 'ind.title' %></h1>
      <p class="article__description pc"><%= raw t 'ind.description' %></p>
      <img class="fullscreen__image" src="<%= asset_url('individual_consultation.webp')%>" title="<%= t 'ind.title' %>" alt="<%= t 'ind.title' %>">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2 id="Consultations"><%= t 'ind.what-is.h2' %></h2>
        <%= raw t 'ind.what-is.text' %>
      </section>
      
      <section>
        <h2><%= t 'ind.targets.h2' %></h2>
        <%= raw t 'ind.targets.text' %>
      </section>
      
      <section>
        <h2><%= t 'ind.advantages.h2' %></h2>
        <%= raw t 'ind.advantages.text' %>
      </section>

      <section>
        <h2><%= t 'ind.setting.h2' %></h2>
        <%= raw t 'ind.setting.text' %>
      </section>

      <div class="services services__row">
        <div class="services__column_bigtext1">
          <div class="services__item_bigtext1">
            <h2 class="services__text_bigtext1 title" style="box-shadow: none; font-size: 1.7rem"><%= raw t 'services.bigtext1' %></h2>
          </div>
        </div>
        <div class="services__column_accordion">
          <div class="services__item_accordion">
            <h2 class="services__accordion_title" style="text-align: left;"><%= raw t 'services.accordion.title' %></h2>
            <div class="accordion">
              <div class="accordion__item">
                <input id="accordion1" type="checkbox">
                <label for="accordion1"><%= t 'services.accordion.label1' %></label>
                <section class="padding0 pc_justify">
                  <ul><%= raw t 'services.accordion.text1' %></ul>
                </section>
              </div>
              <div class="accordion__item">
                <input id="accordion2" type="checkbox">
                <label for="accordion2"><%= t 'services.accordion.label2' %></label>
                <section class="padding0 pc_justify">
                  <ul><%= raw t 'services.accordion.text2' %></ul>
                </section>
              </div>
              <div class="accordion__item">
                <input id="accordion3" type="checkbox">
                <label for="accordion3"><%= t 'services.accordion.label3' %></label>
                <section class="padding0 pc_justify">
                  <ul><%= raw t 'services.accordion.text3' %></ul>
                </section>
              </div>
              <div class="accordion__item">
                <input id="accordion4" type="checkbox">
                <label for="accordion4"><%= t 'services.accordion.label4' %></label>
                <section class="padding0 pc_justify">
                  <ul><%= raw t 'services.accordion.text4' %></ul>
                </section>
              </div>
              <div class="accordion__item">
                <input id="accordion5" type="checkbox">
                <label for="accordion5"><%= t 'services.accordion.label5' %></label>
                <section class="padding0 pc_justify">
                  <ul><%= raw t 'services.accordion.text5' %></ul>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section>
        <h2><%= t 'ind.setting-course.h2' %></h2>
        <%= raw t 'ind.setting-course.text' %>
      </section>

      <h2 class="article__accordion_title" id="First"><%= t 'ind.first.h2' %></h2>
      <div class="accordion">
        <div class="accordion__item">
          <input id="accordion1" type="checkbox">
          <label for="accordion1"><%= t 'ind.first.1.title' %></label>
          <section>
            <%= raw t 'ind.first.1.text' %>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion2" type="checkbox">
          <label for="accordion2"><%= t 'ind.first.2.title' %></label>
          <section>
            <%= raw t 'ind.first.2.text' %>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion3" type="checkbox">
          <label for="accordion3"><%= t 'ind.first.3.title' %></label>
          <section>
            <%= raw t 'ind.first.3.text' %>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion4" type="checkbox">
          <label for="accordion4"><%= t 'ind.first.4.title' %></label>
          <section>
            <%= raw t 'ind.first.4.text' %>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion5" type="checkbox">
          <label for="accordion5"><%= t 'ind.first.5.title' %></label>
          <section>
            <%= raw t 'ind.first.5.text' %>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion6" type="checkbox">
          <label for="accordion6"><%= t 'ind.first.6.title' %></label>
          <section>
            <%= raw t 'ind.first.6.text' %>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion7" type="checkbox">
          <label for="accordion7"><%= t 'ind.first.7.title' %></label>
          <section>
            <%= raw t 'ind.first.7.text' %>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion8" type="checkbox">
          <label for="accordion8"><%= t 'ind.first.8.title' %></label>
          <section>
            <%= raw t 'ind.first.8.text' %>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion9" type="checkbox">
          <label for="accordion9"><%= t 'ind.first.9.title' %></label>
          <section>
            <%= raw t 'ind.first.9.text' %>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion10" type="checkbox">
          <label for="accordion10"><%= t 'ind.first.10.title' %></label>
          <section>
            <%= raw t 'ind.first.10.text' %>
          </section>
        </div>
      </div>
 
      <section>
        <h2><%= t 'ind.next.h2' %></h2>
        <%= raw t 'ind.next.text' %>
      </section>
      <section>
        <h2><%= t 'ind.last.h2' %></h2>
        <%= raw t 'ind.last.text' %>
      </section>

      <div class="services__row" style="margin-bottom: 0;">
        <div class="services__column_bigtext2 mob">
          <div class="services__item_bigtext2 faq-block__item">
            <h3 class="services__text_bigtext2 faq-block__title title" style="font-size: 19px !important; line-height: 23px !important;"><%= raw t(:'services.bigtext2.title') %></h3>
            <h3 class="faq-block__title text" style="font-weight: 500; line-height: 1.2rem; margin-bottom: 0px; font-size: 1.1rem;"><%= raw t(:'services.bigtext2.text') %></h3>
          </div>
        </div>
        <div class="services__column_stendup_text1">
          <article style="margin: 0">
            <section class="indivc" style="margin: 0">
              <h2><%= raw t 'services.stendup.text1.title' %></h2> 
              <%= raw t 'services.stendup.text1.text' %>
            </section>
          </article>
        </div>
        <div class="services__column_bigtext2 pc">
          <div class="services__item_bigtext2 faq-block__item">
            <h3 class="services__text_bigtext2 faq-block__title title" style="font-size: 1.7rem; line-height: 2.5rem;"><%= raw t(:'services.bigtext2.title') %></h3>
            <h3 class="faq-block__title text" style="font-weight: 500; line-height: 1.6rem; margin-bottom: 0px;"><%= raw t(:'services.bigtext2.text') %></h3>
          </div>
        </div>
        <div class="services__column_stendup_text2">
          <div>
            <article style="margin: 0">
              <section class="indivc" style="margin: 0">
                <h2><%= raw t 'services.stendup.text2.title' %></h2> 
                <%= raw t 'services.stendup.text2.text' %>
              </section>
            </article>
          </div>
        </div>
        <div class="services__column_stendup_text3">
          <div>
            <article style="margin: 0">
              <section class="indivc" style="margin: 0">
                <h2><%= raw t 'services.stendup.text3.title' %></h2> 
                <%= raw t 'services.stendup.text3.text' %>
              </section>
            </article>
          </div>
        </div>
      </div>
    </article>



    <div class="faq-block" id="client_form" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -3px">
      <div class="faq-block__body container">
        <div class="faq-block__item">
          <h3 class="faq-block__title title" style="font-size: 17px"><%= t 'faq-block.text' %></h3>
          <a class="btn btn_faq" href="/faq" style="margin-top: 25px"><%= t 'faq-block.button' %></a>
        </div>
      </div>
    </div>

  <div class="services" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -3px">
    <div class="services__body container" style="padding-bottom: 20px; padding-top: 20px">
      <div class="services__header header_box ">
        <h2 class="services__title title"  style="font-size: 25px;"><%= t 'services.title' %></h2>
      </div>

      <div class="services__row" style="margin-top: 5px; margin-bottom: 0px;">
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name"><%= t 'services.session.ind-30.title' %></h3>
            <p class="services__info"><%= t 'services.session.ind-30.time' %></p>
            <ul class="services__text pc_justify"><%= raw t(:'services.session.ind-30.text') %></ul>
          </div>
        </div>
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name"><%= t 'services.session.ind-50.title' %></h3>
            <p class="services__info"><%= t 'services.session.ind-50.time' %></p>
            <ul class="services__text pc_justify"><%= raw t(:'services.session.ind-50.text') %></ul>
          </div>
        </div>
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name"><%= t 'services.session.ind-80.title' %></h3>
            <p class="services__info"><%= t 'services.session.ind-80.time' %></p>
            <ul class="services__text pc_justify"><%= raw t(:'services.session.ind-80.text') %></ul>
          </div>
        </div>
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name"><%= t 'services.session.ind-170.title' %></h3>
            <p class="services__info"><%= t 'services.session.ind-170.time' %></p>
            <ul class="services__text pc_justify"><%= raw t(:'services.session.ind-170.text') %></ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  
    <div class="sign-up" id="client_form" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -3px">
      <div class="sign-up__body container">
        <div class="sign-up__item">
          <h2 class="sign-up__title title"><%= t 'sign-up.title' %></h2>
          <p class="sign-up__text"><%= t 'sign-up.sub-title' %></p>
          <div class="sign-up__btn-row">
            <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
            <a class="btn btn_contact" href="viber://chat?number=%2B380964248025" target="_blank">Viber</a>
            <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
          </div>
          <p class="sign-up__text pc">
            <%= raw t 'sign-up.text' %>
          </p>
        </div>
      </div>
    </div>

  


</div>
