<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://tkachenkoandrey.com/Low-self-esteem-psychotherapy">
  <title>Психотерапия низкой самооценки | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие низкой самооценки и как психолог помогает от нее избавиться.">
  <meta name="keywords" content="психотерапия низкой самооценки, психотерапия неуверенности в себе, низкая самооценка консультация психолога, неуверенность в себе психотерапевт онлайн, симптомы низкой самооценки, КПТ низкая самооценка, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Low-self-esteem-psychotherapy">
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Психотерапия низкой самооценки | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие низкой самооценки и как психолог помогает от нее избавиться.">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="психотерапия низкой самооценки">
  <meta property="article:tag" content="психотерапия неуверенности в себе">
  <meta property="article:tag" content="низкая самооценка консультация психолога">
  <meta property="article:tag" content="неуверенность в себе психотерапевт онлайн">
  <meta property="article:tag" content="симптомы низкой самооценки">
  <meta property="article:tag" content="КПТ низкая самооценка">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="http://tkachenkoandrey.com/Low-self-esteem-psychotherapy">
  <meta name="twitter:title" content="Психотерапия низкой самооценки | Психолог Ткаченко Андрей">
  <meta name="twitter:desctiption" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие низкой самооценки и как психолог помогает от нее избавиться.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name">Психотерапия низкой самооценки</h1>
      <p class="article__description pc">Если вы это читаете, то, вероятно, у вас заниженная самооценка. Эта статья призвана кратко объяснить процесс психотерапии с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе.</p>
      <img class="fullscreen__image" src="<%= asset_url('problem/Low-self-esteem.webp')%>" title="Психотерапия низкой самооценки" alt="Психотерапия низкой самооценки">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Как практически будет выглядеть наша работа</h2>
        <p>
          Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
        </p>
        <p>
          Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические механизмы вашей самооценки. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
        </p>
        <p>
          Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от низкой самооценки и научились конструктивно удовлетворять свои потребности.
        </p>
       </section>

      <table>
        <caption>Критерии наличия низкой самооценки и критерии достижения результата</caption>
        <thead>
          <tr>
            <th scope="col">Низкая самооценка</th>
            <th scope="col">Результат психотерапии</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Низкая самооценка">По опроснику Шкала самооценки Робсона вы набираете 31-120 баллов (низкая самооценка).</td>
            <td data-label="Результат психотерапии">По опроснику Шкала самооценки Робсона вы набираете 141-210 балла на протяжении 3-х недель подряд.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Низкая самооценка">Низкая самооценка приводит к трудностям в социальной, трудовой или другой сфере жизнедеятельности.</td>
            <td data-label="Результат психотерапии">Имеющаяся самооценка не вызывает сильного дискомфорта и почти не влияет на вас в разных сферах жизни.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Низкая самооценка">Негативное отношение к себе. Убежденность, что вы не имеете права «хотеть», достигать чего-то. Отвержение своей внешности, своих чувств, попытки контролировать свои переживания.</td>
            <td data-label="Результат психотерапии">Положительное отношение к себе. Убежденность в том, что вы вправе иметь потребности и реализовывать их. Принятие своей внешности и своих чувств.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Низкая самооценка">Отвержение своих положительных качеств, убежденность в недопустимости отрицательных качеств, черт характера.</td>
            <td data-label="Результат психотерапии">Вы признаете свои положительные качества и навыки, принимаете свои отрицательные стороны и учитесь с ними справляться.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Низкая самооценка">Резко негативное отношение к собственным неудачам. Завышенные требования к самому себе. Если не достигается высокая планка - включаются самообвинения, наказания, жалость.</td>
            <td data-label="Результат психотерапии">Отношение к своим неудачам как к опыту, из которого необходимо сделать выводы. Адекватные требования к самому себе. Если что-то не вышло - вы оказываете себе мысленную поддержку, сочувствие.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Низкая самооценка">Неспособность принимать похвалу.</td>
            <td data-label="Результат психотерапии">Спокойно принимаете комплименты в свой адрес.</td>
          </tr>
           <tr>
            <td scope="row" data-label="Низкая самооценка">Пассивность, безынициативность, желание "не выделяться".</td>
            <td data-label="Результат психотерапии">Проявляете инициативность, смелость и ставите себе новые задачи, адекватного уровня притязаний (не ставите себе завышенных планок).</td>
          </tr>
          <tr>
            <td scope="row" data-label="Низкая самооценка">Нестабильность самооценки: сегодня у меня все вышло - "я молодец", завтра мне не удалось - "я неудачник". Сравнение себя с другими. Отношение к себе зависит от обстоятельств и того, что говорят вам другие люди.</td>
            <td data-label="Результат психотерапии">Стабильность самооценки. Вы независимы от чужого мнения, отношение к себе зависит от вашего личного мнения, вы сравниваете себя сегодняшнего с собой вчерашним.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Низкая самооценка">Попытки доказать людям свою состоятельность, уверенность даже в неподходящие для этого моменты.</td>
            <td data-label="Результат психотерапии">Вы проявляете спокойную уверенность, говорите о своих заслугах, когда это уместно.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Низкая самооценка">Общая зажатость. Неспособность проявлять свои эмоции во взаимодействии с другими людьми, сутулость.</td>
            <td data-label="Результат психотерапии">Способность проявить свои чувства во взаимодействии с другими людьми, умение говорить «нет», «прямая осанка».</td>
          </tr>
          <tr>
            <td scope="row" data-label="Низкая самооценка">Расцениваете свои результаты как "пустяки", занижаете значимость своих достижений. Чувствуете, что вы не заслужили то, чего добились. что вы не на своем месте, «синдром самозванца».</td>
            <td data-label="Результат психотерапии">Вы объективно оцениваете результаты своей деятельности.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Низкая самооценка">Зацикленность на себе или наоборот, всё ваше внимание уделено окружающим, и при этом вы игнорируете себя.</td>
            <td data-label="Результат психотерапии">Вы уважаете окружающих, умеете слышать и слушать, вовремя промолчать; искренне интересуетесь другими людьми и уважаете их потребности.</td>
          </tr>
        </tbody>
      </table>



      <section>
        <h2>План психотерапии низкой самооценки</h2>
        <p>
         Вы подозреваете у себя наличие низкой самооценки. Для самодиагностики вы можете заполнить тест Шкала самооценки Робсона. Далее, <a href="/Low-self-esteem-psychotherapy.html#sign-up">записывайтесь</a> ко мне на консультацию и приходите за психологической диагностикой и психотерапией.
        </p>
        <p>
          <a href="/individual_consultation.html#First">Первая консультация</a> всегда посвящена детальному разбору вашего случая. Она состоит из 3-х основных этапов:<br>
          1. Диагностика. Выявление симптомов и психологических механизмов низкой самооценки;<br>
          2. Информирование. Я объясняю причины симптомов и механизм функционирования вашей самооценки. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения, отвечаю на ваши вопросы;<br>
          3. Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.
        </p>
        <p>
          В конце консультации вы получаете:
        </p>
        <ul>
          <li><b>Стенографию</b> консультации в текстовом формате, которую можно перечитывать в любой момент;</li>
          <li><b>Опросник</b>, который создан на основе вашей диагностики. Опросник нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результатов нашей работы;</li>
          <li><b>Мои личные контакты</b>. Возможность поддерживать со мной связь между сеансами для ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!</li>
          <li><b>Дополнительные материалы</b>. Текстовые, аудио- и видеофайлы для выполнения домашнего задания, развития навыков и осведомленности о своей проблеме.</li>
        </ul>
        <p>
          Отдельные элементы низкой самооценки (например, неспособность принимать похвалу или безынициативность)можно проработать за несколько консультаций. Для глубинной работы с нестабильной самооценкой необходим курс психотерапии (от 10 сеансов) с использованием методов <a href="/Positive-psychotherapy.html">Позитивной психотерапии</a>, <a href="/Acceptance-and-Commitment-Therapy.html">Терапии принятия и ответственности</a> и <a href="/STA.html">СМД</a>. Для избавления от прошлых обид, чувства вины, стыда за совершенные действия, детских психотравм мы можем использовать разовые сеансы <a href="/Hypnotherapy.html">Гипнотерапии</a>. При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться, однако общая структура психотерапии выглядит следующим образом: 
        </p>

        <h3>Первый – третий сеанс</h3>
        <p>
          Мы разбираемся с тем, почему вы предъявляете себе завышенные стандарты при общении с другими людьми: "я не должен никогда ошибаться", "я должна показать себя с лучшей стороны". Выявляя глубинные убеждения (например: "если я ошибусь - это будет провал, ужас, со мной не будут общаться", "они думают, что я странная"), анализируем их, изменяем и формулируем конструктивные убеждения о себе и других людях. Начинаем вести дневник успеха.
        </p>
        <h3>Четвертый – пятый сеанс</h3>
        <p>
          Научаемся справляться с тревожными мыслями, которые часто возникают в социальных ситуациях. Некоторые из них мы проверяем, ставим поведенческие эксперименты. Учимся откладывать беспокойные мысли на потом, не спутываться с ними, отстраняться от них. Также, делаем техники принятия, для изменения собственного отношения к себе, своей внешности, своим поступкам.
        </p>        
        <h3>Шестой – восьмой сеанс</h3>
        <p>
          Снижаем концентрацию внимания на самом себе, чтобы вы меньше думали о том, как выглядите в глазах других людей. Для этого, мы всеми способами пытаемся посмотреть на себя со стороны: снимаем вас на видео, записываем аудио. Применяем техники медитации, развиваем осознанность, и заполняем АВС-схему для усиления гибкости внимания, наблюдательной позиции и умения смотреть на ситуацию с разных точек зрения.
        </p>    
        <h3>Девятый – десятый сеанс</h3>
        <p>
          Вырабатываем привычку общаться спонтанно, не продумывая заранее "что бы мне такое рассказать", улучшаем навыки коммуникации, проводим стресс-консультации (когда мы с вами спорим, кричим, когда вы учитесь отстаивать свою точку зрения). Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
        </p>
      </section>

    </div>
  </article>

  <div class="sign-up" id="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=%2B380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>