<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="<%= t 'main.head.url' %>">
  <title><%= t 'main.head.title' %></title>
  <meta name="description" content="<%= t 'main.head.description' %>">
  <meta name="keywords" content="<%= t 'main.head.keywords' %>">
  <meta name="author" content="<%= t 'head.author' %>">
  <meta property="og:locale" content="<%= t 'head.og:locale' %>">
  <meta property='og:url' content='<%= t 'main.head.url' %>'>
  <meta property='og:site_name' content='<%= t 'head.og:site_name' %>'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= t 'main.head.title' %>">
  <meta property="og:description" content="<%= t 'main.head.description' %>">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="<%= t 'main.head.article:tag1' %>">
  <meta property="article:tag" content="<%= t 'main.head.article:tag2' %>">
  <meta property="article:tag" content="<%= t 'main.head.article:tag3' %>">
  <meta property="article:tag" content="<%= t 'main.head.article:tag4' %>">
  <meta property="article:tag" content="<%= t 'main.head.article:tag5' %>">
  <meta property="article:tag" content="<%= t 'main.head.article:tag6' %>">
  <meta property="article:tag" content="<%= t 'main.head.article:tag7' %>">
  <meta property="article:tag" content="<%= t 'main.head.article:tag8' %>">
  <meta property="article:tag" content="<%= t 'main.head.article:tag9' %>">
  <meta property="article:tag" content="<%= t 'main.head.article:tag10' %>">
  <meta name="twitter:url" content="<%= t 'main.head.url' %>">
  <meta name="twitter:title" content="<%= t 'main.head.title' %>">
  <meta name="twitter:desctiption" content="<%= t 'main.head.description' %>">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">

  <script type="text/javascript">
    $(document).ready(function(){
    $("#button_client_form > a").on("click", function (event) {
    //отменяем стандартную обработку нажатия по ссылке
    event.preventDefault();

    //забираем идентификатор бока с атрибута href
    var id = $(this).attr('href')
    //узнаем высоту от начала страницы до блока на который ссылается якорь
    var top = $(id).offset().top;
    //анимируем переход на расстояние - top за 1500 мс
    $('body,html').animate({scrollTop: top-50}, 1500);
    });
    });
  </script>


<% end %>

<div class="home-page">
  <div class="main" style="background-image: url(<%= asset_url('consultation-psychologist-online-Tkachenko-Andrey.webp') %>);">
    <img src="<%= asset_url('online-consultation-psychologist-Tkachenko-Andrey.webp')%>" alt="Онлайн консультації психолога, сексолога, коуча Ткаченко Андрій" class="mob" style="width: 100%;">
    <div class="main__body container">
      <div class="main__item">
        <h2 class="main__name"><%= t 'main.myname' %></h2>
        <h1 class="main__title"><%= t 'main.title' %><br>психолога онлайн</h1>
        <p class="main__text"><%= t 'main.text' %></p>
        <div class="main__row">
          <div class="main__column">
            <a id="button_client_form" class="btn btn_sign-up" href="#client_form"><%= t 'button.sign-up' %></a>
          </div>
          <div class="main__column pc">
            <a class="btn btn_about" href="/<%= I18n.locale%>/about"><%= t 'button.about' %></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="problem">
    <div class="problem__body container">
      <div class="problem__header header_box" style="position: relative;">
        <h2 class="problem__title title"><%= t 'main.work-with.title' %></h2>
      </div>
      <div class="services__row" style="margin-top: 0; margin-bottom: 30px;">
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name"><%= t 'services.service1.title' %></h3>
            <ul class="services__text pc_justify">
              <%= raw t(:'services.service1.text') %>
            </ul>
          </div>
        </div>
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name"><%= t 'services.service2.title' %></h3>
            <ul class="services__text pc_justify">
              <%= raw t(:'services.service2.text') %>
            </ul>
          </div>
        </div>
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name"><%= t 'services.service3.title' %></h3>
            <ul class="services__text pc_justify">
              <%= raw t(:'services.service3.text') %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="introduce">
    <div class="introduce__body container">
      <div class="introduce__row">
        <div class="introduce__column_1" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
          <div class="introduce__item">
            <img class="introduce__foto pc" src="<%= asset_url('Tkachenko-Andrey-psychologist.webp')%>" src="<%= asset_url('1133x1700.png')%>" alt="Ткаченко Андрей психолог">
            <img class="introduce__foto mob" src="<%= asset_url('psychologist-Tkachenko-Andrey.webp')%>" alt="Ткаченко Андрей психолог">
          </div>
        </div>
        <div class="introduce__column_2">
          <div class="introduce__item">
            <h2 class="introduce__title title"><%= t 'main.about.title' %></h2>
            <p class="introduce__text"><%= t 'main.about.hello' %></p>
            <h3 class="introduce__subtitle pc"><%= t 'main.about.my-walk.sub-title' %></h3>
            <p class="introduce__text pc"><%= t 'main.about.my-walk.text' %></p>
            <h3  class="introduce__subtitle pc"><%= t 'main.about.my-mission.sub-title' %></h3>
            <p class="introduce__text pc"><%= t 'main.about.my-mission.text' %></p>
            <h3  class="introduce__subtitle pc"><%= t 'main.about.my-education.sub-title' %></h3>
            <p class="introduce__text pc"><%= t 'main.about.my-education.text' %></p>
            <div class="introduce__button">
              <a class="btn btn_sign-up" href="/<%= I18n.locale%>/about" style="display: inline-block;"><%= t 'button.about' %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="services">
    <div class="services__body container">
      <div class="services__header header_box">
        <h2 class="services__title title"><%= t 'main.services.title' %></h2>
        <p class="experience__subtitle subtitle"><%= raw t 'main.services.subtitle' %></p>
      </div>
      <div class="services__row" style="margin-top: 5px; margin-bottom: 0px;">
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name"><%= t 'services.session.ind-30.title' %></h3>
            <p class="services__info"><%= t 'services.session.ind-30.time' %></p>
            <ul class="services__text pc_justify"><%= raw t(:'services.session.ind-30.text') %></ul>
          </div>
        </div>
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name"><%= t 'services.session.ind-50.title' %></h3>
            <p class="services__info"><%= t 'services.session.ind-50.time' %></p>
            <ul class="services__text pc_justify"><%= raw t(:'services.session.ind-50.text') %></ul>
          </div>
        </div>
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name"><%= t 'services.session.ind-80.title' %></h3>
            <p class="services__info"><%= t 'services.session.ind-80.time' %></p>
            <ul class="services__text pc_justify"><%= raw t(:'services.session.ind-80.text') %></ul>
          </div>
        </div>
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name"><%= t 'services.session.ind-170.title' %></h3>
            <p class="services__info"><%= t 'services.session.ind-170.time' %></p>
            <ul class="services__text pc_justify"><%= raw t(:'services.session.ind-170.text') %></ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="usp services">
    <div class="usp__body container">
      <div class="services__row">
        <div class="services__column_accordion">
          <div class="services__item_accordion">
            <h2 class="services__accordion_title"><%= raw t 'services.accordion.title' %></h2>
            <div class="accordion">
              <div class="accordion__item">
                <input id="accordion1" type="checkbox">
                <label for="accordion1"><%= t 'services.accordion.label1' %></label>
                <section class="padding0 pc_justify">
                  <ul><%= raw t 'services.accordion.text1' %></ul>
                </section>
              </div>
              <div class="accordion__item">
                <input id="accordion2" type="checkbox">
                <label for="accordion2"><%= t 'services.accordion.label2' %></label>
                <section class="padding0 pc_justify">
                  <ul><%= raw t 'services.accordion.text2' %></ul>
                </section>
              </div>
              <div class="accordion__item">
                <input id="accordion3" type="checkbox">
                <label for="accordion3"><%= t 'services.accordion.label3' %></label>
                <section class="padding0 pc_justify">
                  <ul><%= raw t 'services.accordion.text3' %></ul>
                </section>
              </div>
              <div class="accordion__item">
                <input id="accordion4" type="checkbox">
                <label for="accordion4"><%= t 'services.accordion.label4' %></label>
                <section class="padding0 pc_justify">
                  <ul><%= raw t 'services.accordion.text4' %></ul>
                </section>
              </div>
              <div class="accordion__item">
                <input id="accordion5" type="checkbox">
                <label for="accordion5"><%= t 'services.accordion.label5' %></label>
                <section class="padding0 pc_justify">
                  <ul><%= raw t 'services.accordion.text5' %></ul>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="services__column_bigtext1">
          <div class="services__item_bigtext1">
            <h2 class="services__text_bigtext1"><%= raw t 'services.bigtext1' %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sign-up" id="client_form">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title"><%= t 'sign-up.title' %></h2>
        <p class="sign-up__text"><%= t 'sign-up.sub-title' %></p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=%2B380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc"><%= raw t 'sign-up.text' %></p>
      </div>
    </div>
  </div>


  <div class="reviews">
    <div class="reviews__body container">
      <div class="reviews__header header_box">
        <h2 class="reviews__title title"><%= t 'slider-reviews.title' %></h2>
      </div>

      <%= render partial: "/new/review"%>

    <div class="video-reviews" id="w_video">
      <div class="slider">
        <div class="slider__wrapper">
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Maria20' %>" frameborder="0" showinfo="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Bogdan29' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Svetlana37' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Julia29' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Danil20' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Kate22' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Stanislav' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video" style="background: url(<%= asset_url('loading.gif') %>) center / 100px no-repeat;">
              <iframe width="100%" height="100%" src="<%= t 'video-reviews.Maksim' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
          
        </div>
        <a class="slider__control slider__control_left" href="#" role="button"></a>
          <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
        </div>

        <%= render partial: "/new/slider"%>
        <script type="text/javascript">
            var slider = multiItemSlider('w_video')
        </script>
    </div>
  </div>


  <div class="articles">
    <div class="articles__body container"  style="padding-top: 50px; padding-bottom: 70px;">
      <div class="articles__header header_box"  style="margin-bottom: 7px;">
        <h2 class="articles__title title "><%= t 'main.articles.title' %></h2>
      </div>
      <div class="articles__row pop_articles">
        <section class="articles__card" style="background-image: url(https://andrey-pl2.s3.us-east-2.amazonaws.com/articles/images/59.webp);">
          <a class="articles__card_link" href="/<%= I18n.locale%>/articles/59"></a>
          <span class="articles__card_content">
            <span class="articles__card_info">
              <div class="articles__card_time_read" style="margin:0px">
                <img src="<%= asset_url('time-read.svg')%>" alt="время чтения статьи">
                <p><%= t 'main.articles.article1.time' %></p>
              </div>
            </span>
            <a class="articles__card_category" href="/<%= I18n.locale%>/articles?category_id=2">
              <%= t 'main.articles.article1.cathegory' %>
            </a>
            <a class="articles__card_name" href="/<%= I18n.locale%>/articles/59">
              <%= t 'main.articles.article1.title' %>
            </a>
            <span class="articles__card_tags">
              <a href="/<%= I18n.locale%>/articles?tag_name=Отношения"><%= t 'main.articles.article1.tags.tag1' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=Конфликт"><%= t 'main.articles.article1.tags.tag2' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=Коммуникация"><%= t 'main.articles.article1.tags.tag3' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=Я-сообщение"><%= t 'main.articles.article1.tags.tag4' %></a>
            </span>
          </span>
        </section>
        <section class="articles__card" style="background-image: url(https://andrey-pl2.s3.us-east-2.amazonaws.com/articles/images/60.webp);">
          <a class="articles__card_link" href="/<%= I18n.locale%>/articles/60"></a>
          <span class="articles__card_content">
            <span class="articles__card_info">
              <div class="articles__card_time_read" style="margin:0px">
                <img src="<%= asset_url('time-read.svg')%>" alt="время чтения статьи">
                <p><%= t 'main.articles.article2.time' %></p>
              </div>
            </span>
            <a class="articles__card_category" href="/<%= I18n.locale%>/articles?category_id=5">
              <%= t 'main.articles.article2.cathegory' %>
            </a>
            <a class="articles__card_name" href="/<%= I18n.locale%>/articles/60">
              <%= t 'main.articles.article2.title' %>
            </a>
            <span class="articles__card_tags">
              <a href="/<%= I18n.locale%>/articles?tag_name=Майндфулнесс"><%= t 'main.articles.article2.tags.tag1' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=Медитации"><%= t 'main.articles.article2.tags.tag2' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=Принятие"><%= t 'main.articles.article2.tags.tag3' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=Психотехники"><%= t 'main.articles.article2.tags.tag4' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=Самосострадание"><%= t 'main.articles.article2.tags.tag5' %></a>
            </span>
          </span>
        </section>
        <section class="articles__card" style="background-image: url(https://andrey-pl2.s3.us-east-2.amazonaws.com/articles/images/50.webp);">
          <a class="articles__card_link" href="/<%= I18n.locale%>/articles/50"></a>
          <span class="articles__card_content">
            <span class="articles__card_info">
              <div class="articles__card_time_read" style="margin:0px">
                <img src="<%= asset_url('time-read.svg')%>" alt="время чтения статьи">
                <p><%= t 'main.articles.article3.time' %></p>
              </div>
            </span>
            <a class="articles__card_category" href="/<%= I18n.locale%>/articles?category_id=7">
              <%= t 'main.articles.article3.cathegory' %>
            </a>
            <a class="articles__card_name" href="/<%= I18n.locale%>/articles/50">
              <%= t 'main.articles.article3.title' %>
            </a>
            <span class="articles__card_tags">
              <a href="/<%= I18n.locale%>/articles?tag_name=Психосоматика"><%= t 'main.articles.article3.tags.tag1' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=Диагностика"><%= t 'main.articles.article3.tags.tag2' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=Стресс"><%= t 'main.articles.article3.tags.tag3' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=ВСД"><%= t 'main.articles.article3.tags.tag4' %></a>
            </span>
          </span>
        </section>
        <section class="articles__card" style="background-image: url(https://andrey-pl2.s3.us-east-2.amazonaws.com/articles/images/55.webp);">
          <a class="articles__card_link" href="/<%= I18n.locale%>/articles/55"></a>
          <span class="articles__card_content">
            <span class="articles__card_info">
              <div class="articles__card_time_read" style="margin:0px">
                <img src="<%= asset_url('time-read.svg')%>" alt="время чтения статьи">
                <p><%= t 'main.articles.article4.time' %></p>
              </div>
            </span>
            <a class="articles__card_category" href="/<%= I18n.locale%>/articles?category_id=14">
              <%= t 'main.articles.article4.cathegory' %>
            </a>
            <a class="articles__card_name" href="/<%= I18n.locale%>/articles/55">
              <%= t 'main.articles.article4.title' %>
            </a>
            <span class="articles__card_tags">
              <a href="/<%= I18n.locale%>/articles?tag_name=Самооценка"><%= t 'main.articles.article4.tags.tag1' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=Диагностика"><%= t 'main.articles.article4.tags.tag2' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=Нарциссизм"><%= t 'main.articles.article4.tags.tag3' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=Перфекционизм"><%= t 'main.articles.article4.tags.tag4' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=Механизм"><%= t 'main.articles.article4.tags.tag5' %></a>
              <a href="/<%= I18n.locale%>/articles?tag_name=Терапия"><%= t 'main.articles.article4.tags.tag6' %></a>
            </span>
          </span>
        </section>
      </div>
    </div>
  </div>

</div>


