<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://tkachenkoandrey.com">
  <title>Консультация психолога онлайн | Психотерапия по Скайп | Ткаченко Андрей</title>
  <meta name="description" content="Специалист с международным дипломом, член Ассоциации Позитивной Психотерапии в Украине. Оставьте Заявку на Сайте. 2-х часовая психотерапия сложных проблем.">
  <meta name="keywords" content="психолог, консультация психолога, консультация психолога онлайн, психолог онлайн, психологическая консультация, психолог по скайпу, психотерапия по скайп, консультация психолога по скайпу, психотерапия онлайн, консультация профессионального психолога, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property='og:url' content='http://tkachenkoandrey.com'>
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Консультация психолога онлайн | Психотерапия по Скайп | Ткаченко Андрей">
  <meta property="og:description" content="Специалист с международным дипломом, член Ассоциации Позитивной Психотерапии в Украине. Оставьте Заявку на Сайте. 2-х часовая психотерапия сложных проблем.">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="психолог">
  <meta property="article:tag" content="консультация психолога">
  <meta property="article:tag" content="консультация психолога онлайн">
  <meta property="article:tag" content="психолог онлайн">
  <meta property="article:tag" content="психологическая консультация">
  <meta property="article:tag" content="психолог по скайпу">
  <meta property="article:tag" content="психотерапия по скайп">
  <meta property="article:tag" content="консультация психолога по скайпу">
  <meta property="article:tag" content="психотерапия онлайн">
  <meta property="article:tag" content="консультация профессионального психолога">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="http://tkachenkoandrey.com">
  <meta name="twitter:title" content="Консультация психолога онлайн | Психотерапия по Скайп | Ткаченко Андрей">
  <meta name="twitter:desctiption" content="Специалист с международным дипломом, член Ассоциации Позитивной Психотерапии в Украине. Оставьте Заявку на Сайте. 2-х часовая психотерапия сложных проблем.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">

  <script type="text/javascript">
    $(document).ready(function(){
    $("#button_client_form > a").on("click", function (event) {
    //отменяем стандартную обработку нажатия по ссылке
    event.preventDefault();

    //забираем идентификатор бока с атрибута href
    var id = $(this).attr('href')
    //узнаем высоту от начала страницы до блока на который ссылается якорь
    var top = $(id).offset().top;
    //анимируем переход на расстояние - top за 1500 мс
    $('body,html').animate({scrollTop: top-50}, 1500);
    });
    });
  </script>
<% end %>

<div class="home-page">
  <div class="main" style="background-image: url(<%= asset_url('consultation-psychologist-online-Tkachenko-Andrey.webp') %>);">
    <img src="<%= asset_url('online-consultation-psychologist-Tkachenko-Andrey.webp')%>" alt="Онлайн консультации психолога Ткаченко Андрей" class="mob" style="width: 100%;">
    <div class="main__body container">
      <div class="main__item">
        <h2 class="main__name">Андрей Ткаченко</h2>
        <h1 class="main__title">Консультация<br>психолога онлайн</h1>
        <p class="main__text">Профессиональная психотерапия из любой точки мира</p>
        <div class="main__row">
          <div class="main__column">
            <a id="button_client_form" class="btn btn_sign-up" href="#client_form">ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ</a>
          </div>
          <div class="main__column pc">
            <a class="btn btn_about" href="/about.html">УЗНАТЬ ОБО МНЕ БОЛЬШЕ</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="problem">
    <div class="problem__body container">
      <div class="problem__header header_box" style="position: relative;">
        <h2 class="problem__title title">Мои направления работы</h2>
      </div>
      <div class="problem__row">
        <div class="problem__column">
          <div class="problem__item">
            <h3 class="problem__name">Невроз и психосоматика</h3>
              <p class="problem__text">Устранение раздражительности, ранимости, вины, стыда, обиды, злости, ВСД, мышечных болей, проблем со сном, аппетитом, сексом и прочей психосоматики.</p>
          </div>
        </div>
        <div class="problem__column">
          <div class="problem__item">
            <h3 class="problem__name">Тревога, ПА, ОКР</h3>
            <p class="problem__text">Избавление от панических атак, навязчивых мыслей и действий, беспокойства, тревожных предчувствий и сомнений о здоровье и благополучии.</p>
          </div>
        </div>
        <div class="problem__column">
          <div class="problem__item">
            <h3 class="problem__name">Депрессия</h3>
            <p class="problem__text">Избавление от депрессии, подавленности, апатии, грусти. Проработка пессимистичных мыслей, повышение концентрации внимания и активности.</p>
          </div>
        </div>
        <div class="problem__column">
          <div class="problem__item">
            <h3 class="problem__name">Пcихотравмы</h3>
            <p class="problem__text">Работа с последствиями сильного или длительного стресса, детскими психотравмами. Психологическая поддержка в случае насилия, утраты близких.</p>
          </div>
        </div>
        <div class="problem__column">
          <div class="problem__item">
            <h3 class="problem__name">Низкая самооценка</h3>
            <p class="problem__text">Избавление от самообвинений, сравнений себя с другими, комплексов внешности, нерешительности. Работа с установками “Я не смогу”, “Я не достоин”.</p>
          </div>
        </div>
        <div class="problem__column">
          <div class="problem__item">
            <h3 class="problem__name">Взаимоотношения</h3>
            <p class="problem__text">Помощь в принятии сложных решений. Развитие навыков коммуникации. Работа с чувством одиночества, ревностью, конфликтами.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="introduce">
    <div class="introduce__body container">
      <div class="introduce__row">
        <div class="introduce__column_1">
          <div class="introduce__item">
            <img class="introduce__foto pc" src="<%= asset_url('Tkachenko-Andrey-psychologist.webp')%>" alt="Ткаченко Андрей психолог">
            <img class="introduce__foto mob" src="<%= asset_url('psychologist-Tkachenko-Andrey.webp')%>" alt="Ткаченко Андрей психолог">
          </div>
        </div>
        <div class="introduce__column_2">
          <div class="introduce__item">
            <h2 class="introduce__title title">Обо мне</h2>
            <p class="introduce__text">Здравствуйте, друзья!
            Меня зовут Ткаченко Андрей, я практикующий психолог. 6 лет предоставляю услуги психологического консультирования и психотерапии. Имею официальное образование, являюсь членом Ассоциации Позитивной Психотерапии и в своей практике использую комбинации методов (КПТ, гипноз, позитивная психотерапия).</p>
            <h3 class="introduce__subtitle pc">Мой путь</h3>
            <p class="introduce__text pc">Для начала, я прошел свою личную терапию, получил официальное психологическое образование, а также обучился консультированию и нескольким современным направлениям психотерапии. Чтобы закрепить полученные знания на практике, я работал со взрослыми и детьми в психологических центрах, проводил индивидуальные консультации, лекции и тренинги.</p>
            <h3  class="introduce__subtitle pc">Моя миссия</h3>
            <p class="introduce__text pc">На моих консультациях я поддерживаю своих клиентов, аккуратно и безболезненно обучаю их справляться со своей жизнью самостоятельно, без врачей и таблеток. Данные навыки останутся с вами на всю жизнь и помогут решать проблемы в нашем быстроменяющемся мире.</p>
            <h3  class="introduce__subtitle pc">Мое образование и опыт</h3>
            <p class="introduce__text pc">Я окончил Днепровский Национальный Университет им. Олеся Гончара по специальности “Психология”, при универе организовывал группу по консультированию, прошел курсы повышения квалификации, был волонтером, работал в семейном центре психологии, а также выступал экспертом в ряде изданий. Последние несколько лет веду частную практику.</p>
            <div class="introduce__button">
              <a class="btn btn_sign-up" href="/about.html" style="display: inline-block;">УЗНАТЬ ОБО МНЕ БОЛЬШЕ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="services">
    <div class="services__body container">
      <div class="services__header header_box ">
        <h2 class="services__title title">Услуги</h2>
      </div>
      <div class="services__row">
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name">Индивидуальная консультация</h3>
            <p class="services__info">2 часа</p>
            <ul class="services__text">
              <li>Диагностика</li>
              <li>Постановка целей</li>
              <li>Принятие решений</li>
              <li>Проблемы в отношениях</li>
              <li>Состояния острого стресса</li>
              <li>Обида, вина, стыд, злость, грусть</li>
            </ul>
            <p class="services__price">800 грн</p>
          </div>
        </div>
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name">Индивидуальный курс психотерапии</h3>
            <p class="services__info">2 часа | 10 сеансов | 1-2 сеанса в неделю</p>
            <ul class="services__text">
              <li>Невроз</li>
              <li>Тревога</li>
              <li>Депрессия</li>
              <li>Психотравмы</li>
              <li>Навязчивости</li>
              <li>Психосоматика</li>
              <li>Панические атаки</li>
              <li>Низкая самооценка</li>
            </ul>
            <p class="services__price">7000 грн</p>
          </div>
        </div>
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name">Групповая психотерапия</h3>
            <p class="services__info">2 часа | раз в неделю | 4-8 участников</p>
            <ul class="services__text">
              <li>Невроз</li>
              <li>Тревога</li>
              <li>Навязчивости</li>
              <li>Панические атаки</li>
              <li>Низкая самооценка</li>
              <li>Развитие стрессоустойчивости</li>
            </ul>
            <p class="services__price">200 грн</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="sign-up" id="client_form">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=+380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>


  <div class="reviews">
    <div class="reviews__body container">
      <div class="reviews__header header_box">
        <h2 class="reviews__title title">Отзывы</h2>
      </div>

      <%= render partial: "/new/review"%>

    <div class="video-reviews" id="w_video">
      <div class="slider">
        <div class="slider__wrapper">
          <div class="slider__item slider__item-video">
            <div class="slider__video">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZARsaKAtUcE" frameborder="0" showinfo="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/IBAo8tFKcPU" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7AsF2wwtl88" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/KeSHTC-NdP8" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/sfScVNRsE7o" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/M3bIAkj8g2I" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="slider__item slider__item-video">
            <div class="slider__video">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zt6S3vXjCNM" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
          
        </div>
        <a class="slider__control slider__control_left" href="#" role="button"></a>
          <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
        </div>

        <%= render partial: "/new/slider"%>
        <script type="text/javascript">
            var slider = multiItemSlider('w_video')
        </script>
    </div>
  </div>


  <div class="articles">
    <div class="articles__body container"  style="padding-top: 50px; padding-bottom: 70px;">
      <div class="articles__header header_box"  style="margin-bottom: 7px;">
        <h2 class="articles__title title ">Интересные статьи</h2>
      </div>
      <div class="articles__row pop_articles">
        <section class="articles__card" style="background-image: url(https://andrey-pl2.s3.us-east-2.amazonaws.com/articles/images/59.webp);">
          <a class="articles__card_link" href="/articles/59"></a>
          <span class="articles__card_content">
            <span class="articles__card_info">
              <div class="articles__card_time_read" style="margin:0px">
                <img src="<%= asset_url('time-read.svg')%>" alt="время чтения статьи">
                <p>22 мин</p>
              </div>
            </span>
            <a class="articles__card_category" href="/articles?category_id=2">
              Психология отношений
            </a>
            <a class="articles__card_name" href="/articles/59">
              5 фраз для решения конфликтов с близкими людьми
            </a>
            <span class="articles__card_tags">
              <a href="/articles?tag_name=Отношения">Отношения</a>
              <a href="/articles?tag_name=Конфликт">Конфликт</a>
              <a href="/articles?tag_name=Коммуникация">Коммуникация</a>
              <a href="/articles?tag_name=Я-сообщение">Я-сообщение</a>
            </span>
          </span>
        </section>
        <section class="articles__card" style="background-image: url(https://andrey-pl2.s3.us-east-2.amazonaws.com/articles/images/60.webp);">
          <a class="articles__card_link" href="/articles/60"></a>
          <span class="articles__card_content">
            <span class="articles__card_info">
              <div class="articles__card_time_read" style="margin:0px">
                <img src="<%= asset_url('time-read.svg')%>" alt="время чтения статьи">
                <p>3 мин</p>
              </div>
            </span>
            <a class="articles__card_category" href="/articles?category_id=5">
              Саморазвитие
            </a>
            <a class="articles__card_name" href="/articles/60">
              Медитация на принятие себя и сострадание
            </a>
            <span class="articles__card_tags">
              <a href="/articles?tag_name=Майндфулнесс">Майндфулнесс</a>
              <a href="/articles?tag_name=Медитации">Медитации</a>
              <a href="/articles?tag_name=Принятие">Принятие</a>
              <a href="/articles?tag_name=Психотехники">Психотехники</a>
              <a href="/articles?tag_name=Самосострадание">Самосострадание</a>
            </span>
          </span>
        </section>
        <section class="articles__card" style="background-image: url(https://andrey-pl2.s3.us-east-2.amazonaws.com/articles/images/50.webp);">
          <a class="articles__card_link" href="/articles/50"></a>
          <span class="articles__card_content">
            <span class="articles__card_info">
              <div class="articles__card_time_read" style="margin:0px">
                <img src="<%= asset_url('time-read.svg')%>" alt="время чтения статьи">
                <p>21 мин</p>
              </div>
            </span>
            <a class="articles__card_category" href="/articles?category_id=7">
              Невроз и психосоматика
            </a>
            <a class="articles__card_name" href="/articles/50">
              Психосоматика. Симптомы и причины возникновения
            </a>
            <span class="articles__card_tags">
              <a href="/articles?tag_name=Психосоматика">Психосоматика</a>
              <a href="/articles?tag_name=Диагностика">Диагностика</a>
              <a href="/articles?tag_name=Стресс">Стресс</a>
              <a href="/articles?tag_name=ВСД">ВСД</a>
            </span>
          </span>
        </section>
        <section class="articles__card" style="background-image: url(https://andrey-pl2.s3.us-east-2.amazonaws.com/articles/images/55.webp);">
          <a class="articles__card_link" href="/articles/55"></a>
          <span class="articles__card_content">
            <span class="articles__card_info">
              <div class="articles__card_time_read" style="margin:0px">
                <img src="<%= asset_url('time-read.svg')%>" alt="время чтения статьи">
                <p>15 мин</p>
              </div>
            </span>
            <a class="articles__card_category" href="/articles?category_id=14">
              Низкая самооценка
            </a>
            <a class="articles__card_name" href="/articles/55">
              Самооценка. Низкая, завышенная, нарциссизм. Причины и следствия
            </a>
            <span class="articles__card_tags">
              <a href="/articles?tag_name=Самооценка">Самооценка</a>
              <a href="/articles?tag_name=Диагностика">Диагностика</a>
              <a href="/articles?tag_name=Нарциссизм">Нарциссизм</a>
              <a href="/articles?tag_name=Перфекционизм">Перфекционизм</a>
              <a href="/articles?tag_name=Механизм">Механизм</a>
              <a href="/articles?tag_name=Терапия">Терапия</a>
            </span>
          </span>
        </section>
      </div>
    </div>
  </div>

</div>