<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Консультация психолога онлайн | Психотерапия по Скайп | Ткаченко Андрей</title>
  <meta name="description" content="Специалист с международным дипломом, член Ассоциации Позитивной Психотерапии в Украине. Оставьте Заявку на Сайте. 2-х часовая психотерапия сложных проблем.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Консультация психолога онлайн | Психотерапия по Скайп | Ткаченко Андрей">
  <meta property="og:description" content="Специалист с международным дипломом, член Ассоциации Позитивной Психотерапии в Украине. Оставьте Заявку на Сайте. 2-х часовая психотерапия сложных проблем.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/consultation-psychologist-online-Tkachenko-Andrey-15d393997277900bef34501aa768f09ecc97d4153095c5ed20be12d9f55d4582.png">
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
  $("#button_client_form > a").on("click", function (event) {
  //отменяем стандартную обработку нажатия по ссылке
  event.preventDefault();

  //забираем идентификатор бока с атрибута href
  var id = $(this).attr('href')
  //узнаем высоту от начала страницы до блока на который ссылается якорь
  var top = $(id).offset().top;
  //анимируем переход на расстояние - top за 1500 мс
  $('body,html').animate({scrollTop: top-50}, 1500);
  });
  });
</script>
<div class="pc_content">
  <img src="<%= asset_url('consultation-psychologist-online-Tkachenko-Andrey.jpg') %>" alt="Консультации психолога онлайн Ткаченко Андрей" style="width: 100%">
  <div style="width: 50vw; margin: 7vw 0vw 7vw 7vw; position: absolute; top: 4vw">
    <p style="font-size: 2vw; letter-spacing: 0.01em; font-weight: 300">Андрей Ткаченко</p>
    <h1 style="font-weight: 800; font-size: 4.6vw; line-height: 4.8vw; margin-bottom: 0px;">Консультация психолога онлайн</h1>
    <p style="font-size: 1.4vw; line-height: 1.9vw; letter-spacing: 0.01em; width: 35vw; text-align: justify;">
      Я помогу вам разобраться с проблемами из любой точки мира
    </p>
    <div style="display: inline-block;">
      <button id="button_client_form">
        <a href="#client_form">ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ</a>
      </button>
      <div style="display: inline-block;">
        <button id="button_about" style="margin-left: 0.7vw;">
          <a href="/about.html">УЗНАТЬ ОБО МНЕ БОЛЬШЕ</a>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 style="padding-top: 4vw; text-align: center; font-size: 2.5vw">Мои направления работы</h2>
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 5vw 0vw;">
      Если вы хотите узнать могу ли я помощь вам с вашей проблемой, вот список сфер моих компетенций.<br>Подробнее о каждой проблеме и методах работы с ней вы узнаете в разделе <a href="/work-with.html" style="text-decoration: none; border-bottom: 1px solid currentColor;">С чем я работаю</a>
    </p>

    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="problem_box">
        <img src="<%= asset_url('problem/relationship.svg')%>" alt="Улучшение взаимоотношений" class="problem_icon">
        <h3 class="problem_name">Улучшение взаимоотношений</h3>
        <p class="problem_text">
          Помощь в принятии сложных решений, устранение конфликтов в семье и в коллективе. Работа с чувством одиночества, страхом отношений, изменами, ревностью, насилием. Развитие навыков коммуникации.
        </p>
      </div>

      <div class="problem_box">
        <img src="<%= asset_url('problem/neurosis.svg')%>" alt="Психотерапия неврозов и психосоматики" class="problem_icon">
        <h3 class="problem_name">Психотерапия неврозов и психосоматики</h3>
        <p class="problem_text">
          Устранение раздражительности, ранимости, чувства обиды, вины, стыда, злости, ВСД, СРК, головных и мышечных болей, спазмов, проблем со сном, аппетитом и прочей психосоматики.
        </p>
      </div>

      <div class="problem_box">
        <img src="<%= asset_url('problem/anxiety.svg')%>" alt="Избавление от тревожных расстройств" class="problem_icon">
        <h3 class="problem_name">Избавление от тревожных расстройств</h3>
        <p class="problem_text">
          Работа с тревожными предчувствиями, мыслями, мышечным напряжением, страхами, частой тревогой по поводу и без, ГТР, навязчивыми мыслями и действиями, паническими атаками.
        </p>
      </div>

      <div class="problem_box">
        <img src="<%= asset_url('problem/psychological-trauma.svg')%>" alt="Избавление от глубинных психотравм" class="problem_icon">
        <h3 class="problem_name">Избавление от глубинных психотравм</h3>
        <p class="problem_text">
          Работа с последствиями сильного или длительного стресса. Помощь с детскими психотравмами, потерей близких, бизнеса, денег. Помощь в случаее насилия в семье, после катастроф, несчастных случаев.
        </p>
      </div>

      <div class="problem_box">
        <img src="<%= asset_url('problem/self-esteem.svg')%>" alt="Повышение самооценки" class="problem_icon">
        <h3 class="problem_name">Повышение самооценки</h3>
        <p class="problem_text">
          Избавление от самообвинений, сравнений себя с другими, комплексов, нерешительности, непринятия своей внешности. Работа с установками “Я не смогу”, “Я не достоин”.
        </p>
      </div>

      <div class="problem_box">
        <img src="<%= asset_url('problem/depression.svg')%>" alt="Психологическая помощь при депрессии" class="problem_icon">
        <h3 class="problem_name">Психологическая помощь при депрессии</h3>
        <p class="problem_text">
          Избавление от депрессии, апатии, грусти, печали, подавленности, ощущения того, что ничего не радует. Проработка пессимистичных мыслей, повышение концентрации внимания и активности.
        </p>
      </div>
    </div>

    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 3vw">
      <img src="<%= asset_url('Tkachenko-Andrey-psychologist.jpg')%>" alt="Ткаченко Андрей психолог" style="width: 35%; margin-top: 2vw">
      <div style="width: 65%; padding-left: 2vw">
        <h2 style="font-size: 3vw; margin-bottom: 2vw">Обо мне</h2> 
        <p style="text-align: justify">
          Здравствуйте, друзья! Меня зовут Ткаченко Андрей, я практикующий психолог с 5-ти летним стажем, предоставляю свои услуги населению стран СНГ (на русском и украинском языках). Я являюсь официальным представителем Ассоциации Позитивной Психотерапии и в своей практике использую комбинации методов (КПТ, гипноз, позитивная психотерапия).
        </p>
        <h3 style="font-weight: 700; margin-bottom: -0.7vw;">Мой путь</h3>
        <p style="font-size: 0.95vw; text-align: justify">
          Для начала, я прошел свою личную терапию, получил официальное психологическое образование, а также обучился консультированию и нескольким современным направлениям психотерапии. Чтобы закрепить полученные знания на практике, я работал со взрослыми и детьми в психологических центрах, проводил индивидуальные консультации, лекции и тренинги.
        </p>
        <h3 style="font-weight: 700; margin-bottom: -0.7vw;">Моя миссия</h3>
        <p style="font-size: 0.95vw; text-align: justify">
          На моих консультациях я поддерживаю своих клиентов, аккуратно и безболезненно обучаю их справляться со своей жизнью самостоятельно, без врачей и таблеток. Данные навыки останутся с Вами на всю жизнь и помогут решать трудности в нашем быстроменяющемся мире.
        </p>
        <h3 style="font-weight: 700; margin-bottom: -0.7vw;">Мое образование и опыт</h3>
        <p style="font-size: 0.95vw; text-align: justify">
          Я окончил Днепровский Национальный Университет им. Олеся Гончара по специальности “Психология”, при универе организовывал группу по консультированию, прошел курсы повышения квалификции, был волонтером, работал в семейном цетре психологии, а также выступал экспертом в ряде изданий. Последние несколько лет веду частную практику.
        </p>
        <div style="margin: 2vw 14vw">
          <button id="button_about">
            <a href="about.html">УЗНАТЬ ОБО МНЕ БОЛЬШЕ</a>
          </button>
        </div>
      </div>
    </div>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 9vw 0px 3vw 0vw"> Что входит в стоимость консультации</h2> 
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="service_box">
        <img src="<%= asset_url('consultation.svg')%>" alt="консультация психолога" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Консультация</h3>
        <p class="service_text">
          2 часа непрерывной работы с Вами (диагностика, изменение схем мышления и поведения, обретение новых навыков и способностей, улучшение эмоционального состояния)
        </p>
      </div>
      <div class="service_box">
        <img src="<%= asset_url('stenografiya.svg')%>" alt="стенография консультации психолога" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Стенография</h3>
        <p class="service_text">
          Стенография консультации с описанием проделанной работы и применяемых техник, результатами диагностики и вашим домашним заданием<br>(в файле docx)
        </p>
      </div>
      <div class="service_box">
        <img src="<%= asset_url('support.svg')%>" alt="сопровождение психолога" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Сопровождение</h3>
        <p class="service_text">
          Между консультациями мы продолжаем поддерживать с вами связь в мессенджерах для контроля вашего состояния, поддержки, ответов на ваши вопросы и корректировки дз.
        </p>
      </div>
      <div class="service_box">
        <img src="<%= asset_url('dopolnitelnye-materialy.svg')%>" alt="дополнительные материалы для психологической самопомощи" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Доп. материалы</h3>
        <p class="service_text">
          Текстовые, аудио и видео-файлы для выполнения дз, фиксации результатов терапии, профилактики рецидивов и обучения полезным навыкам<br>(в файлах docx, excel, mp3, mp4)
        </p>
      </div>
    </div>

    <h2 style="text-align: center; font-size: 2.5vw; margin: 8vw 0px 2vw 0vw">Стоимость</h2>
    <p style="text-align: center; letter-spacing: 0.01em; margin: 1vw 15vw 2vw 15vw;">и описание моих <a href="/services.html" style=" border-bottom: 1px solid currentColor;">услуг</a></p>

    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; text-align: center; margin: 0vw 2vw">
      <div style="width: 29%;" id="service_box">
        <a href="consultations.html" style="color: inherit; text-decoration:none;">
          <img src="<%= asset_url('consultation.svg')%>" alt="индивидуальная консультация психолога" style="height: 12vw; transition: 0.3s;">  
          <h3 class="service_name" style="margin: 0vw; padding: 1.2vw 0vw 1.2vw 0vw">Индивидуальная консультация</h3>
        </a>
        <div class="service_accordion" style="margin-bottom: 1vw; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.25));">
          <div class="service_accordion_title" style="background-color: #454554; border-radius: 0.4vw; padding: 1vw 7.5vw 1vw 8.5vw; font-size: 1.2vw; font-weight: 600; color: #FFFFFF;">2 часа<img src="<%= asset_url('arrow.svg')%>" alt="стрелка раскрытия блока" class="arrow"></div>
          <div class="service_accordion_text" style="text-align: start">
            <b>Метод – позитивная психотерапия.</b><br>
            ▷ Диагностика<br>
            ▷ Постановка целей<br>
            ▷ Принятие решений<br>
            ▷ Проблемы в отношениях<br>
            ▷ Обида, вина, стыд, злость, страх</div>
        </div>     
        <span style="font-size: 2vw; font-weight: 600; color: #FFFFFF; display: block; background-color: #ff7f50; border-radius: 0.4vw; padding: 1vw">30 $</span>
      </div>

      <div style="width: 29%;" id="service_box">
        <a href="consultations.html#Group" style="color: inherit; text-decoration:none;">
          <img src="<%= asset_url('psychotherapy.svg')%>" alt="курс психотерапии" style="height: 12vw; transition: 0.3s;">  
          <h3 class="service_name" style="margin: 0vw; padding: 1.2vw 0vw 1.2vw 0vw">Курс психотерапии</h3>
        </a>
        <div class="service_accordion" style="margin-bottom: 1vw; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.25));">
          <div class="service_accordion_title" style="background-color: #454554; border-radius: 0.4vw; padding: 1vw 3.5vw 1vw 3.5vw; font-size: 1.2vw; font-weight: 600; color: #FFFFFF;">10 сеансов по 2 часа<img src="<%= asset_url('arrow.svg')%>" alt="стрелка раскрытия блока" class="arrow"></div>
          <div class="service_accordion_text" style="text-align: start">
            <b>Метод – КПТ, АСТ, Майндфулнесс.</b><br>
            ▷ Невроз<br>
            ▷ Тревога<br>
            ▷ Депрессия<br>
            ▷ Навязчивости<br>
            ▷ Панические атаки<br>
            ▷ Низкая самооценка<br>
            ▷ Обучение медитации<br>
            ▷ Развитие стрессоустойчивости</div>
        </div>
        <span style="font-size: 2vw; font-weight: 600; color: #FFFFFF; display: block; background-color: #ff7f50; border-radius: 0.4vw; padding: 1vw">250 $</span>
        <p>Разовый сеанс психотерапии = 30 $</p>
      </div>

      <div style="width: 29%;" id="service_box">
        <a href="consultations.html#Hypnotherapy" style="color: inherit; text-decoration:none;">
          <img src="<%= asset_url('methods/Hypnotherapy.svg')%>" alt="курс гипнотерапии" style="height: 12vw; transition: 0.3s;"> 
          <h3 class="service_name" style="margin: 0vw; padding: 1.2vw 0vw 1.2vw 0vw">Курс гипнотерапии</h3>
        </a>
        <div class="service_accordion" style="margin-bottom: 1vw; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.25));">
          <div class="service_accordion_title" style="background-color: #454554; border-radius: 0.4vw; padding: 1vw 4vw 1vw 4vw; font-size: 1.2vw; font-weight: 600; color: #FFFFFF;">5 сеансов по 3 часа<img src="<%= asset_url('arrow.svg')%>" alt="стрелка раскрытия блока" class="arrow"></div>
          <div class="service_accordion_text" style="text-align: start">
            <b>Метод – гипнотерапия.</b><br>
            ▷ Невроз<br>
            ▷ Тревога<br>
            ▷ Депрессия<br>
            ▷ Навязчивости<br>
            ▷ Панические атаки<br>
            ▷ Низкая самооценка<br>
            ▷ Психотравмы и ПТСР<br>
            ▷ Психосоматика (боли, спазмы,<br>СРК, энурез, заикание, аноргазмия)</div>
        </div>     
        <span style="font-size: 2vw; font-weight: 600; color: #FFFFFF; display: block; background-color: #ff7f50; border-radius: 0.4vw; padding: 1vw">200 $</span>
        <p>Разовый сеанс гипнотерапии = 50 $</p>
      </div>
    </div>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 10vw 0px 2vw 0vw"> Как попасть на консультацию</h2> 
    <p style="text-align: center; font-size: 1vw; letter-spacing: 0.01em; margin: 2vw">и начать улучшать свою жизнь</p>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 7vw">
      <div class="service_box">
        <img src="<%= asset_url('form.svg')%>" alt="форма записи на консультацию психолога" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Онлайн-запись</h3>
        <p class="service_text">
          Вы заполняете <a href="#client_form" style=" border-bottom: 1px solid currentColor;">форму</a> записи на консультацию и оставляете свои контактные данные или связываетесь со мной напрямую по указанным
          <a href="/contacts.html" style=" border-bottom: 1px solid currentColor;">контактам</a>.
        </p>
      </div>

      <img src="<%= asset_url('arrow-right.svg')%>" style="width: 1vw; position: relative; top: 1.9vw">

      <div class="service_box">
        <img src="<%= asset_url('first-contact.svg')%>" alt="предварительная консультация психолога" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Первый контакт</h3>
        <p class="service_text">
          В течение 24 часов я с вами списываюсь / созваниваюсь, анализирую вашу ситуацию, отвечаю на все вопросы и мы вместе согласовываем наши дальнейшие действия.
        </p>
      </div>

      <img src="<%= asset_url('arrow-right.svg')%>" style="width: 1vw; position: relative; top: 1.9vw">

      <div class="service_box">
        <img src="<%= asset_url('consultation.svg')%>" alt="консультация психолога" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Консультация</h3>
        <p class="service_text">
          По видеосвязи я работаю с вашей проблемой применяя специально выстроенный диалог и техники психотерапии. Подробнее о моих методах работы читайте 
          <a href="methods.html" style=" border-bottom: 1px solid currentColor;">здесь</a>.
        </p>
      </div>

      <img src="<%= asset_url('arrow-right.svg')%>" style="width: 1vw; position: relative; top: 1.9vw">

      <div class="service_box">
        <img src="<%= asset_url('result.svg')%>" alt="результат консультаций психолога" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Результат</h3>
        <p class="service_text">
          Вы чувствуете себя комфортно и уверенно в ранее стрессовой ситуации. Делаете то, что для вас ценно и важно. Имеете навыки для самостоятельного решения проблем.
        </p>
      </div>
    </div>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 0vw 0px 1.7vw 0vw; padding-top: 2vw" id="client_form">Запись на консультацию</h2> 
    <p style="text-align: center; letter-spacing: 0.01em; margin: 0vw 0vw 5vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <img src="<%= asset_url('form.svg')%>" alt="форма онлайн-записи на консультацию психолога" style="width: 40vw">
      <div><a id="client_form" name="client_form"></a>
        <%= render partial: '/new/form' %>
      </div>
    </div>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 10vw 0px 2vw 0vw"> Отзывы о моей работе</h2> 
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 2vw 0vw;">
      Что о работе со мной говорят клиенты, с которыми я провел одну консультацию<br>или полноценный курс психотерапии
    </p>

    <%= render partial: "/new/review"%>
    
    <p style="text-align: center; letter-spacing: 0.01em; margin: 3vw">
      Больше мнений о моей работе и видео-отзывы вы найдете в закладке <a href="/reviews.html" style="border-bottom: 1px solid currentColor;">Отзывы</a>
    </p>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 10vw 0px 2vw 0vw">Интересные статьи</h2>
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 2vw 0vw;">
      Если вам интересна тема психологии и вы хотите больше узнать о работе с волнующими<br>вас проблемами - рекомендую ознакомится с моими
      <a href="/articles.html" style="border-bottom: 1px solid currentColor;">статьями</a>
    </p>

    <div style="position: relative; display: flex; justify-content: space-between; padding-bottom: 4vw">
      <div id="box_mini_card" style="position: relative; width: 44vw">
        <section class="up-corner-20 article_box" style="display: inline-block; width: 20vw; height: 14vw; margin-right: 1.8vw">
          <span style="display: block; position: relative; top: 8vw; left: 1.5vw;">
            <span>
              <h3 class="article_category" style="float: left; clear: left; position: relative;">
                <a href="/articles?category_id=3" style="font-size: 0.7vw; padding: 0.1vw 0.6vw;">
                  Общая психология
                </a>
              </h3>
              <span class="article_name" style="float: left; clear: left; position: relative;">
                <a href="/articles/1" style="display: block; font-size: 0.9vw; line-height: 1.15vw">
                  Виды позитивного мышления и восприятия. Как это работает?
                </a>
              </span>
            </span>
          </span>
          <a href="/articles/1">
            <img src="<%= asset_url('article1.jpg')%>" style="width: 100%; height: 100%; object-fit: cover; border-radius: 0.8vw; margin-top: -5.5vw; line-height: 0px">
          </a>
        </section>

        <section class="up-corner-20 article_box" style="display: inline-block; width: 20vw; height: 14vw">
          <span style="display: block; position: relative; top: 8vw; left: 1.5vw;">
            <span>
              <h3 class="article_category" style="float: left; clear: left; position: relative;">
                <a href="/articles?category_id=8" style="font-size: 0.7vw; padding: 0.1vw 0.6vw;">
                  Тревога
                </a>
              </h3>
              <span class="article_name" style="float: left; clear: left; position: relative;">
                <a href="/articles/1" style="display: block; font-size: 0.9vw; line-height: 1.15vw">
                  Медитация доброты и<br>сострадания
                </a>
              </span>
            </span>
          </span>
          <a href="/articles/2">
            <img src="<%= asset_url('article2.jpg')%>" style="width: 100%; height: 100%; object-fit: cover; border-radius: 0.8vw; margin-top: -5.5vw; line-height: 0px">
          </a>
        </section>

        <section class="up-corner-20 article_box" style="display: inline-block; width: 20vw; height: 14vw; margin-right: 1.8vw">
          <span style="display: block; position: relative; top: 8vw; left: 1.5vw;">
            <span>
              <h3 class="article_category" style="float: left; clear: left; position: relative;">
                <a href="/articles?category_id=7" style="font-size: 0.7vw; padding: 0.1vw 0.6vw;">
                  НЕВРОЗ И ПСИХОСОМАТИКА
                </a>
              </h3>
              <span class="article_name" style="float: left; clear: left; position: relative;">
                <a href="/articles/50" style="display: block; font-size: 0.9vw; line-height: 1.15vw">
                  Психосоматика. Симптомы и<br>причины возникновения
                </a>
              </span>
            </span>
          </span>
          <a href="/articles/50">
            <img src="<%= asset_url('article3.jpg')%>" style="width: 100%; height: 100%; object-fit: cover; border-radius: 0.8vw; margin-top: -5.5vw; line-height: 0px">
          </a>
        </section>

        <section class="up-corner-20 article_box" style="display: inline-block; width: 20vw; height: 14vw">
          <span style="display: block; position: relative; top: 8vw; left: 1.5vw;">
            <span>
              <h3 class="article_category" style="float: left; clear: left; position: relative;">
                <a href="/articles?category_id=2" style="font-size: 0.7vw; padding: 0.1vw 0.6vw;">
                  Психология отношений
                </a>
              </h3>
              <span class="article_name" style="float: left; clear: left; position: relative;">
                <a href="/articles/5" style="display: block; font-size: 0.9vw; line-height: 1.15vw">
                  5 фраз для решения конфликтов с близкими людьми
                </a>
              </span>
            </span>
          </span>
          <a href="/articles/5">
            <img src="<%= asset_url('article4.jpg')%>" style="width: 100%; height: 100%; object-fit: cover; border-radius: 0.8vw; margin-top: -5.5vw; line-height: 0px">
          </a>
        </section>
      </div>
      <img src="<%= asset_url('articles.svg')%>" alt="статьи психолога" style="width: 40vw;">
    </div>
  </div>   <!-- конец container -->
</div>  <!-- конец пк версии -->























 
  
  


  <!-- начало моб версии #9e9b9b  -->
<div class="mob" style="background: #F7F7F7;">
  <img src="<%= asset_url('online-consultation-psychologist-Tkachenko-Andrey.jpg')%>" alt="Онлайн консультации психолога Ткаченко Андрей" style="width: 100%">
  <h2 style="position: absolute; top: 75vw; left: 59vw; font-size: 3vw; letter-spacing: 0.01em; color: #39383c; padding: 0vw">Андрей Ткаченко</h2>
  <div style="background: #39383c; height: 33vw; position: absolute; top: 82vw; width: 100%"> 
    <h1 style="font-weight: 800; font-size: 8.5vw; line-height: 11vw; color: #FFF7F7; text-align: center">
      Консультация психолога онлайн
    </h1>
  </div>
  <div style="background: #888787; height: 15.5vw; position: absolute; top: 119vw; width: 100%">
    <h2 style="font-weight: normal; font-size: 4vw; line-height: 5.1vw; color: #FFF7F6; text-align: center; margin: 2.9vw 4vw; padding: 0vw">
      Я помогу вам разобраться с проблемами из любой точки мира
    </h2>
  </div>
  <button id="button_client_form" style="position: absolute; top: 139vw; margin: 0px auto; height: 14vw; width: 55vw; left: 22vw; border-radius: 2vw">
    <a href="#client_form_mob" style="font-size: 2.5vw">ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ</a>
  </button>

  <h2 style="padding: 8vw 8vw 5vw 8vw; text-align: center; font-size: 5vw;">
    Мои направления работы
  </h2>
  <div class="container" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <div class="problem_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.15));">
      <img class="problem_icon" src="<%= asset_url('problem/relationship.svg')%>" alt="Улучшение взаимоотношений">
      <h3 class="problem_name" style="font-size: 2.7vw;">
        Улучшение взаимоотношений
      </h3>
    </div>

    <div class="problem_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.15));">
      <img  class="problem_icon" src="<%= asset_url('problem/neurosis.svg')%>" alt="Психотерапия неврозов и психосоматики">
      <h3 class="problem_name" style="font-size: 2.7vw">
        Психотерапия неврозов и психосоматики
      </h3>
    </div>

    <div class="problem_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.15));">
      <img  class="problem_icon" src="<%= asset_url('problem/anxiety.svg')%>" alt="Избавление от тревожных расстройств">
      <h3 class="problem_name" style="font-size: 2.7vw">
        Избавление от тревожных расстройств
      </h3>
    </div>

    <div class="problem_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.15));">
      <img  class="problem_icon" src="<%= asset_url('problem/psychological-trauma.svg')%>" alt="Избавление от глубинных психотравм">
      <h3 class="problem_name" style="font-size: 2.7vw">
        Избавление от глубинных психотравм
      </h3>
    </div>

    <div class="problem_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.15));">
      <img  class="problem_icon" src="<%= asset_url('problem/self-esteem.svg')%>" alt="Повышение самооценки">
      <h3 class="problem_name" style="font-size: 2.7vw">
        Повышение самооценки
      </h3>
    </div>

    <div class="problem_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.15));">
      <img class="problem_icon" src="<%= asset_url('problem/depression.svg')%>" alt="Психологическая помощь при депрессии">
      <h3 class="problem_name" style="font-size: 2.7vw">
        Психологическая помощь при депрессии
      </h3>
    </div>

    <p class="container" style="text-align: center; font-size: 2.7vw; line-height: 3.2vw; letter-spacing: 0.01em; margin: 2vw 10vw 10vw 10vw;">
      Подробнее о том, с чем я работаю читайте <a href="work-with.html" style="text-decoration: none; border-bottom: 1px solid currentColor;">здесь</a>
    </p>
  </div> <!-- конец Мои направления работы -->
  <img src="<%= asset_url('psychologist-Tkachenko-Andrey.jpg')%>" alt="психолог Ткаченко Андрей" style="width: 100%">
  <div style="background: rgba(33, 22, 12, 0.85); position: absolute; top: 385vw; width: 100%;">
    <h2 style="font-size: 8.5vw; line-height: 11vw; color: #FFF7F7; margin: 4vw; text-align: center; padding: 0vw;">
      Обо мне
    </h2>
  </div>
  <div style="background: rgba(33, 22, 12, 0.85); position: absolute; top: 409vw; width: 100%">
    <p class="container" style="font-weight: normal; font-size: 3.5vw; line-height: 4.5vw; color: #FFF7F6; text-align: center; margin: 4vw 7vw;" >
      Здравствуйте, друзья! Меня зовут Ткаченко Андрей, я психолог.<br><br>
      Предоставляю свои услуги населению стран СНГ (на русском и украинском языках). Я являюсь официальным представителем Ассоциации Позитивной Психотерапии и в своей практике использую комбинации методов (КПТ, гипноз, позитивная психотерапия).
    </p>
  </div>
  <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 5vw 7vw; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
    <h3 style="font-size: 4vw; text-align: center;">
      Мой путь
    </h3>
    <p style="font-size: 3.2vw; line-height: 4.1vw">
      Для начала, я прошел свою личную терапию, получил официальное психологическое образование, а также обучился консультированию и нескольким современным направлениям психотерапии. <br><br>
      Чтобы закрепить полученные знания на практике, я работал со взрослыми и детьми в психологических центрах, проводил индивидуальные консультации, лекции и тренинги.
    </p>
  </div>

  <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 5vw 7vw; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
    <h3 style="font-size: 4vw; text-align: center;">
      Моя миссия
    </h3>
    <p style="font-size: 3.2vw; line-height: 4.1vw">
      На моих консультациях я поддерживаю своих клиентов, аккуратно и безболезненно обучаю их справляться со своей жизнью самостоятельно, без врачей и таблеток. Данные навыки останутся с Вами на всю жизнь и помогут решать трудности в нашем быстроменяющемся мире.
    </p>
  </div>

  <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 5vw 7vw; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
    <h3 style="font-size: 4vw; text-align: center;">
      Мое образование и опыт
    </h3>
    <p style="font-size: 3.2vw; line-height: 4.1vw">
      Я окончил Днепровский Национальный Университет им. Олеся Гончара по специальности “Психология”, при универе организовывал группу по консультированию, прошел курсы повышения квалификции, был волонтером, работал в семейном цетре психологии, а также выступал экспертом в ряде изданий. Последние несколько лет веду частную практику.
    </p>
  </div>

  <button id="button_about" style="align-items: center; margin: 0px 22.5vw; height: 14vw; width: 55vw; border-radius: 2vw">
    <a style="font-size: 2.7vw; line-height: 2vw" href="about.html">УЗНАТЬ ОБО МНЕ БОЛЬШЕ</a>
  </button>

  <h2 style="padding: 10vw 8vw 3vw 8vw; text-align: center; font-weight: 800; font-size: 5vw; line-height: 6vw">
    Что входит в стоимость консультации
  </h2>
  <div class="container" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
      <img class="problem_icon" src="<%= asset_url('consultation.svg')%>" alt="консультация психолога">
      <h3 class="problem_name">
        Консультация
      </h3>
      <p class="problem_text">
        2 часа непрерывной работы c Вами (диагностика, изменение схем мышления и поведения, обретение новых способностей и навыков, улучшение эмоционального состояния)
      </p>
    </div>
    <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
      <img  class="problem_icon" src="<%= asset_url('stenografiya.svg')%>" alt="стенография консультации психолога">
      <h3 class="problem_name">
        Стенография
      </h3>
      <p class="problem_text">
        Стенография консультации с описанием проделанной работы, применяемых техник, результатами Вашей диагностики и домашним заданием (в файле docx)
      </p>
    </div>

    <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
      <img  class="problem_icon" src="<%= asset_url('support.svg')%>" alt="сопровождение психолога">
      <h3 class="problem_name">
        Сопровождение
      </h3>
      <p class="problem_text">
        Между сеансами мы поддерживаем с Вами связь в мессенджерах для контроля Вашего состояния, поддержки, ответов на Ваши вопросы и корректировки дз.
      </p>
    </div>

    <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
      <img  class="problem_icon" src="<%= asset_url('dopolnitelnye-materialy.svg')%>" alt="дополнительные материалы для психологической самопомощи">
      <h3 class="problem_name">
        Доп. материалы
      </h3>
     <p class="problem_text">
        Текстовые, аудио и видео-файлы для выполнения дз, фиксации результатов терапии, профилактики рецидивов и обучения полезным навыкам (в файлах docx, excel, mp3, mp4)
      </p>
    </div>
  </div> <!-- конец Что входит в стоимость консультации -->

  <h2 style="padding: 10vw 0vw 4vw 0vw; margin: 0vw; text-align: center; font-weight: 800; font-size: 5vw; line-height: 5vw;">
    Стоимость
  </h2>
  <div class="container" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10)); width: 100%; height: auto; text-align: center;">
      <a href="consultations.html#group" style="color: #4b4b4b; text-decoration: none; text-align: center;">
        <img class="problem_icon" src="<%= asset_url('consultation.svg')%>" alt="индивидуальная консультация психолога" style="width: 30vw; padding: 0vw 21vw 1vw 21vw;">
        <span class="problem_name" style="font-size: 3.5vw; color: #4b4b4b; border-bottom: 1px solid currentColor; padding-bottom: 0.6vw;">
          Индивидуальная консультация
        </span>
      </a>
      <p class="problem_text" style="font-size: 3vw; line-height: 3.8vw;">
        <b>Метод – позитивная психотерапия.</b><br>
        ▷ Диагностика<br>
        ▷ Постановка целей<br>
        ▷ Принятие решений<br>
        ▷ Проблемы в отношениях<br>
        ▷ Обида, вина, стыд, злость, страх
      </p>
      <div style="display:flex; justify-content: center;">
        <div style="width: 100%; background-color: #454554; border-radius: 1vw 0vw 0vw 1vw; padding: 2.5vw ; font-size: 3vw; font-weight: 600; color: #FFFFFF; text-align:center;">2 часа
        </div>
        <div style="width: 100%; background-color: #ff7f50; border-radius: 0vw 1vw 1vw 0vw; padding: 2.5vw ; font-size: 3.5vw; font-weight: 600; color: #FFFFFF; text-align:center;">30 $
        </div>
      </div>
    </div>

    <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10)); width: 100%; height: auto; text-align: center;">
      <a href="consultations.html" style="color: #4b4b4b; text-decoration: none; text-align: center;">
        <img class="problem_icon" src="<%= asset_url('psychotherapy.svg')%>" alt="курс психотерапии" style="width: 30vw; padding: 0vw 21vw 1vw 21vw;">
        <span class="problem_name" style="font-size: 3.5vw; color: #4b4b4b; border-bottom: 1px solid currentColor; padding-bottom: 0.6vw;">
          Курс психотерапии
        </span>
      </a>
      <p class="problem_text" style="font-size: 3vw; line-height: 3.8vw;">
        <b>Метод – КПТ, АСТ, Майндфулнесс.</b><br>
        ▷ Невроз<br>
        ▷ Тревога<br>
        ▷ Депрессия<br>
        ▷ Навязчивости<br>
        ▷ Панические атаки<br>
        ▷ Низкая самооценка<br>
        ▷ Обучение медитации<br>
        ▷ Развитие стрессоустойчивости
      </p>
      <div style="display:flex; justify-content: center;">
        <div style="width: 100%; background-color: #454554; border-radius: 1vw 0vw 0vw 1vw; padding: 2.5vw ; font-size: 3vw; font-weight: 600; color: #FFFFFF; text-align:center;">10 сеансов по 2 часа
        </div>
        <div style="width: 100%; background-color: #ff7f50; border-radius: 0vw 1vw 1vw 0vw; padding: 2.5vw ; font-size: 3.5vw; font-weight: 600; color: #FFFFFF; text-align:center;">250 $
        </div>
      </div>
      <p class="problem_text" style="margin-bottom: 0vw; font-size: 2.8vw; line-height: 3.7vw;">Разовый сеанс психотерапии = 30 $</p>
    </div>

    <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10)); width: 100%; height: auto; text-align: center;">
      <a href="consultations.html#hypnotherapy" style="color: #4b4b4b; text-decoration: none; text-align: center;">
        <img class="problem_icon" src="<%= asset_url('methods/Hypnotherapy.svg')%>" alt="курс гипнотерапии" style="width: 30vw; padding: 0vw 21vw 1vw 21vw;">
        <span class="problem_name" style="font-size: 3.5vw; color: #4b4b4b; border-bottom: 1px solid currentColor; padding-bottom: 0.6vw;">
          Курс гипнотерапии
        </span>
      </a>
      <p class="problem_text" style="font-size: 3vw; line-height: 3.8vw;">
        <b>Метод – регрессивная гипнотерапия.</b><br>
        ▷ Невроз<br>
        ▷ Тревога<br>
        ▷ Депрессия<br>
        ▷ Навязчивости<br>
        ▷ Панические атаки<br>
        ▷ Низкая самооценка<br>
        ▷ Психотравмы и ПТСР<br>
        ▷ Психосоматика (боли, спазмы, СРК, энурез, заикание, аноргазмия)
      </p>
      <div style="display:flex; justify-content: center;">
        <div style="width: 100%; background-color: #454554; border-radius: 1vw 0vw 0vw 1vw; padding: 2.5vw ; font-size: 3vw; font-weight: 600; color: #FFFFFF; text-align:center;">5 сеансов по 3 часа
        </div>
        <div style="width: 100%; background-color: #ff7f50; border-radius: 0vw 1vw 1vw 0vw; padding: 2.5vw ; font-size: 3.5vw; font-weight: 600; color: #FFFFFF; text-align:center;">200 $
        </div>
      </div>
      <p class="problem_text" style="margin-bottom: 0vw; font-size: 2.8vw; line-height: 3.7vw;">Разовый сеанс гипнотерапии = 50 $</p>
    </div>
    
  </div> <!-- конец услуг -->

  <button id="button_client_form" style="align-items: center; width: 100%; margin: 5vw 22.5vw; height: 14vw; width: 55vw; left: 22vw; border-radius: 2vw">
    <a style="font-size: 2.5vw" href="#client_form_mob">ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ</a>
  </button>
  <h2 style="padding: 10vw 8vw 2vw 8vw; text-align: center; font-weight: 800; font-size: 5vw; line-height: 6vw;">
    Как записаться на консультацию
  </h2>
  <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 4vw 7vw; display: flex; justify-content: space-between; align-items: center; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
    <img src="<%= asset_url('form.svg')%>" alt="форма записи на консультацию психолога" style="display: inline-block; width: 25vw; padding-right: 3vw">
    <div style="display: inline-block;">
      <h3 style="font-size: 3.5vw; text-align: center; display: inline-block; margin-bottom: 0px">Онлайн-запись</h3>
      <p style="font-size: 3vw; line-height: 3.8vw; display: inline-block;">
        Вы заполняете <a href="#client_form_mob" style=" border-bottom: 1px solid currentColor;">форму</a> записи на консультацию и оставляете свои контактные данные или связываетесь со мной напрямую по указанным
        <a href="/contacts.html" style=" border-bottom: 1px solid currentColor;">контактам</a>.
      </p>
    </div>
  </div>

  <img src="<%= asset_url('mob-arrow-bottom.svg')%>" alt="стрелка вниз" style="width: 5vw; margin: 0vw 47.5vw">

  <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 4vw 7vw; display: flex; justify-content: space-between;
  align-items: center; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
    <img src="<%= asset_url('first-contact.svg')%>" alt="предварительная консультация психолога" style="display: inline-block; width: 25vw; padding-right: 3vw">
    <div style="display: inline-block;">
      <h3 style="font-size: 3.5vw; text-align: center; display: inline-block; margin-bottom: 0px">
        Первый контакт
      </h3>
      <p style="font-size: 3vw; line-height: 3.8vw; display: inline-block;">
        В течение 24 часов я с вами списываюсь / созваниваюсь, анализирую вашу ситуацию, отвечаю на все вопросы и мы вместе согласовываем наши дальнейшие действия.
      </p>
    </div>
  </div>

  <img src="<%= asset_url('mob-arrow-bottom.svg')%>" alt="стрелка вниз" style="width: 5vw; margin: 0vw 47.5vw">

  <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 4vw 7vw; display: flex; justify-content: space-between;
  align-items: center; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
    <img src="<%= asset_url('consultation.svg')%>" alt="консультация психолога" style="display: inline-block; width: 25vw; padding-right: 3vw">
    <div style="display: inline-block;">
      <h3 style="font-size: 3.5vw; text-align: center; display: inline-block; margin-bottom: 0px">
        Консультация
      </h3>
      <p style="font-size: 3vw; line-height: 3.8vw; display: inline-block;">
        По видеосвязи я работаю с вашей проблемой применяя специально выстроенный диалог и техники психотерапии. Подробнее о моих методах работы читайте 
            <a href="/methods.html" style=" border-bottom: 1px solid currentColor;">здесь</a>.
      </p>
    </div>
  </div>

  <img src="<%= asset_url('mob-arrow-bottom.svg')%>" alt="стрелка вниз" style="width: 5vw; margin: 0vw 47.5vw">

  <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 4vw 7vw 0vw 7vw; display: flex; justify-content: space-between;
  align-items: center; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
    <img src="<%= asset_url('result.svg')%>" alt="результат консультаций психолога" style="display: inline-block; width: 25vw; padding-right: 3vw">
    <div style="display: inline-block;">
      <h3 style="font-size: 3.5vw; text-align: center; display: inline-block; margin-bottom: 0px">
        Результат
      </h3>
      <p style="font-size: 3vw; line-height: 3.8vw; display: inline-block;">
        Вы чувствуете себя комфортно и уверенно в ранее стрессовой ситуации. Делаете то, что для вас ценно и важно. Имеете навыки для самостоятельного решения проблем.
      </p>
    </div>
  </div>

  <div class="container">        
    <%= render partial: "/new/form_mob"%>
  </div>
 
  <h2 style="padding: 10vw 8vw 3vw 8vw; text-align: center; font-size: 5vw; line-height: 6vw">
    Отзывы о моей работе
  </h2>
   <p class="container" style="text-align: center; font-size: 3vw; line-height: 3.8vw; letter-spacing: 0.01em; margin: 1vw 7vw 4vw 7vw;">
    Больше мнений о моей работе и видео отзывы вы найдете в закладке  <a href="/reviews.html" style="text-decoration: none; border-bottom: 1px solid currentColor;">Отзывы</a>
  </p>
  <div class="review_box" style="width: 78vw; height: 41vw; padding: 4vw; margin-bottom: 4vw; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.15))">
    <div style="float: left; margin-right: 5vw; height: 100%; text-align: center; width: 14vw">
      <img class="review_icon"  src="<%= asset_url('review/Мария-20-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Мария 20 лет" style="width: 12vw;">
      <h3 class="review_name" style="font-size: 3vw; line-height: 3.5vw; text-align: center">
        Мария<br>20 лет
      </h3>
    </div>
    <p class="review_text" style="font-size: 3vw; line-height: 3.7vw; margin-top: 0vw;">
      «Я пол года занималась еженедельно с Андреем. Я не понимала, почему у меня не складываются отношения, но на определенном этапе работы оказалось, что то, с чем я пришла - это верхушка айсберга, а причина всему - тревога. Я не могу передать словами то, какого было мое удивление, восхищение методиками работы Андрея...»
    </p>
  </div>

  <div class="review_box" style="width: 78vw; height: 37vw; padding: 4vw; margin-bottom: 4vw; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.15))">
    <div style="float: left; margin-right: 5vw; height: 100%; text-align: center; width: 14vw">
      <img class="review_icon" src="<%= asset_url('review/Богдан-29-лет.png')%>" alt="отзыв психолог Ткаченко Андрей Богдан 29 лет" style="width: 12vw;">
      <h3 class="review_name" style="font-size: 3vw; line-height: 3.5vw; text-align: center">
        Богдан<br>29 лет
      </h3>
    </div>
    <p class="review_text" style="font-size: 3vw; line-height: 3.7vw; margin-top: 0vw;">
      «У меня 3 месяца была тревога и ПА. Я взял пробный урок, без особых надежд на успех, потому что у меня был уже отрицательный опыт. Тем не менее, после первого занятия, техники, которые дал мне Андрей, дали эффект, поэтому я поверил в то, что с этим специалистом можно работать. И мои ожидания абсолютно оправдались...»
    </p>
  </div>

  <div class="review_box" style="width: 78vw; height: 38vw; padding: 4vw; margin-bottom: 4vw; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.15))">
    <div style="float: left; margin-right: 5vw; height: 100%; text-align: center; width: 14vw">
      <img class="review_icon" src="<%= asset_url('review/Светлана-37-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Светлана 37 лет" style="width: 12vw;">
      <h3 class="review_name" style="font-size: 3vw; line-height: 3.5vw; text-align: center">
        Светлана<br>37 лет
      </h3>
    </div>
    <p class="review_text" style="font-size: 3vw; line-height: 3.7vw; margin-top: 0vw;">
      «Андрея я нашла, когда в моей жизни был непростой период. Мне понравился его энтузиазм и то, что он никогда не оставлял меня одну (у нас были домашние задания и постоянная связь в вайбере), и после каждой консультации мы уже могли отмечать какой-то результат. Андрей грамотный психолог, он каждую ситуацию...»
    </p>
  </div>

  <h2 style="padding: 10vw 8vw 2vw 8vw; text-align: center; font-weight: 800; font-size: 5vw; line-height: 5vw;">
    Интересные статьи
  </h2>
  <p class="container" style="text-align: center; font-size: 3vw; line-height: 3.8vw; letter-spacing: 0.01em; margin: 2vw 7vw 3vw 7vw;">
    Если вам интересна тема психологии и вы хотите больше узнать о работе с волнующими вас проблемами - рекомендую ознакомится с моими <a href="/articles.html" style="text-decoration: none; border-bottom: 1px solid currentColor;">статьями</a>
  </p>
  <div style="width: 86vw; display: flex; justify-content: space-around; flex-wrap: wrap; margin: 2vw 7vw;">
    <section class="up-corner-20 article_box">
      <span class="article_box_span">
        <span>
          <h3 class="article_category">
            <a href="/articles?category_id=7">
              Невроз и психосоматика
            </a>
          </h3>
          <span class="article_name" style="margin-bottom: 2vw">
            <a href="/articles/2" style="display: block;">
              Психосоматика. Симптомы и причины возникновения
            </a>
          </span>
        </span>
      </span>
      <a href="/articles/2">
        <img class="card_image" src="<%= asset_url('article3.jpg')%>">
        <div id="linear-gradient">
          <div></div>
        </div>
      </a>
    </section>

    <section class="up-corner-20 article_box">
      <span class="article_box_span">
        <span>
          <h3 class="article_category">
            <a href="/articles?category_id=3">
              Общая психология
            </a>
          </h3>
          <span class="article_name" style="margin-bottom: 2vw">
            <a href="/articles/5" style="display: block;">
              Виды позитивного мышления и восприятия. Как это работает?
            </a>
          </span>
        </span>
      </span>
      <a href="/articles/5">
        <img class="card_image" src="<%= asset_url('article1.jpg')%>">
        <div id="linear-gradient">
          <div></div>
        </div>
      </a>
    </section>

    <section class="up-corner-20 article_box">
      <span class="article_box_span">
        <span>
          <h3 class="article_category">
            <a href="/articles?category_id=8">
              Тревога
            </a>
          </h3>
          <span class="article_name" style="margin-bottom: 2vw">
            <a href="/articles/3" style="display: block;">
              Медитация доброты и сострадания
            </a>
          </span>
        </span>
      </span>
      <a href="/articles/3">
        <img class="card_image" src="<%= asset_url('article2.jpg')%>">
        <div id="linear-gradient">
          <div></div>
        </div>
      </a>
    </section>
  </div> <!-- Конец  container -->
</div> <!-- конец моб версии -->

