  <script type="text/javascript">
    $(document).ready(function(){
    $("#button_client_form > a").on("click", function (event) {
    //отменяем стандартную обработку нажатия по ссылке
    event.preventDefault();

    //забираем идентификатор бока с атрибута href
    var id = $(this).attr('href')
    //узнаем высоту от начала страницы до блока на который ссылается якорь
    var top = $(id).offset().top;
    //анимируем переход на расстояние - top за 1500 мс
    $('body,html').animate({scrollTop: top-50}, 1500);
    });
    });
  </script>
  <div class="pc_content">
    <div class="container"> 
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="width: 50vw; margin-bottom: 6vw">
          <p style="font-size: 2vw; letter-spacing: 0.01em; font-weight: 300">Андрей Ткаченко</p>
          <h1 style="font-weight: 800; font-size: 4.5vw; line-height: 4.8vw; margin-bottom: 0px;">Консультация психолога онлайн</h1>
          <p style="font-size: 1.4vw; line-height: 1.9vw; letter-spacing: 0.01em; width: 35vw; text-align: justify;">
            Я помогу вам разобраться с проблемами из любой точки мира
          </p>
          <div style="display: inline-block;">
            <button id="button_client_form">
              <a href="#client_form">ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ</a>
            </button>
            <div style="display: inline-block;">
              <button id="button_about" style="margin-left: 0.7vw;">
                <a href="about.html">УЗНАТЬ ОБО МНЕ БОЛЬШЕ</a>
              </button>
            </div>
          </div>
        </div>
        <img src="<%= asset_url('main_foto.png') %>" style="height: 46vw">
      </div>

      <h2 style="padding-top: 6vw; text-align: center; font-weight: 800; font-size: 3vw">Мои направления работы</h2>
      <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 0vw 0vw;">
        Если вы хотите узнать могу ли я помощь вам с вашей проблемой, вот список сфер моих компетенций.<br>Подробнее о каждой проблеме и методах работы с ней вы узнаете в разделе <a href="work_with.html" style="text-decoration: none; border-bottom: 1px solid currentColor;">С чем я работаю</a>
      </p>

      <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <div class="problem_box">
          <img src="<%= asset_url('problem/relationship.svg')%>" class="problem_icon">
          <h3 class="problem_name">Улучшение взаимоотношений</h3>
          <p class="problem_text">
            Помощь в принятии сложных решений, устранение конфликтов в семье и в коллективе. Работа с чувством одиночества, страхом отношений, изменами, ревностью, насилием. Развитие навыков коммуникации.
          </p>
        </div>

        <div class="problem_box">
          <img src="<%= asset_url('problem/neurosis.svg')%>" class="problem_icon">
          <h3 class="problem_name">Психотерапия неврозов и психосоматики</h3>
          <p class="problem_text">
            Устранение раздражительности, ранимости, вины, стыда, обиды, злости, ВСД, проблем со сном, аппетитом, повышенной утомляемости, мышечных болей и прочей психосоматики.
          </p>
        </div>

        <div class="problem_box">
          <img src="<%= asset_url('problem/anxiety.svg')%>" class="problem_icon">
          <h3 class="problem_name">Избавление от тревожных расстройств</h3>
          <p class="problem_text">
            Работа с тревожными мыслями, предчувствиями, мышечным напряжением, частой тревогой по поводу и без, беспокойством о множестве вещей. ГТР, ОКР, паническими атаками.
          </p>
        </div>

        <div class="problem_box">
          <img src="<%= asset_url('problem/psychological_trauma.svg')%>" class="problem_icon">
          <h3 class="problem_name">Избавление от глубинных психотравм</h3>
          <p class="problem_text">
            Работа с последствиями сильного или длительного стресса. Помощь с детскими психотравмами, потерей близких, разлукой, потерей бизнеса, денег. Помощь в случаее насилия в семье, после преступлений, катастроф, несчастных случаев.
          </p>
        </div>

        <div class="problem_box">
          <img src="<%= asset_url('problem/self-esteem.svg')%>" class="problem_icon">
          <h3 class="problem_name">Повышение самооценки</h3>
          <p class="problem_text">
            Избавление от самообвинений, сравнений себя с другими, непринятия своей внешности, комплиментов, нерешительности. Работа с установками “Я не смогу”, “Я не достоин”.
          </p>
        </div>

        <div class="problem_box">
          <img src="<%= asset_url('problem/depression.png')%>" class="problem_icon">
          <h3 class="problem_name">Психологическая помощь при депрессии</h3>
          <p class="problem_text">
            Избавление от депрессии, апатии, грусти, печали, подавленности, ощущения того, что ничего не радует. Проработка пессимистичных мыслей, повышение концентрации внимания и активности.
          </p>
        </div>
      </div>

      <div style="max-width: 2560px; display: flex; justify-content: space-between; align-items: center;">
        <img src="<%= asset_url('main_foto2.png')%>" style="height: 50vw; width: 38%">
        <div style="width: 65%; padding-left: 2vw">
          <h2 style="font-weight: 800; font-size: 3.5vw; margin-bottom: 2.5vw">Обо мне</h2> 
          <p style="width: 100%; text-align: justify">
            Здравствуйте, друзья! Меня зовут Ткаченко Андрей, я психолог. Ко мне обращаются люди, которые попали в непростые жизненные обстоятельства. Я помогаю улучшить качество жизни каждого моего клиента, избавляя его от невроза, тревоги, страхов и проблем в личной жизни.
          </p>
          <h4 style="font-weight: 700; margin-bottom: -0.7vw;">Мой путь</h4>
          <p style="font-size: 0.95vw; text-align: justify">
            Для начала, я прошел свою личную терапию, получил официальное психологическое образование, а также обучился нескольким современным направлениям психотерапии (КПТ, МКТ, АСТ). Чтобы закрепить полученные знания на практике, я работал со взрослыми и детьми в психологических центрах, проводил индивидуальные консультации, лекции и тренинги.
          </p>
          <h4 style="font-weight: 700;margin-bottom: -0.7vw;">Моя миссия</h4>
          <p style="font-size: 0.95vw; text-align: justify">
            На моих онлайн-консультациях я поддерживаю своих клиентов, аккуратно и безболезненно обучаю их справляться со своей жизнью самостоятельно, без врачей и таблеток. Данные навыки останутся с Вами на всю жизнь и помогут решать трудности в нашем быстроменяющемся мире.
          </p>
          <h4 style="font-weight: 700; margin-bottom: -0.7vw;">Мое образование и опыт</h4>
          <p style="font-size: 0.95vw; text-align: justify">
            Я окончил Днепровский национальный университет им. Олеся Гончара по специальности “Психология”, при универе организовывал группу по консультированию, прошел курсы повышения квалификции, был волонтером, работал в семейном цетре психологии, а также выступал экспертом в ряде изданий. Последние несколько лет веду частную практику.
          </p>
          <div style="margin: 2vw 14vw">
            <button id="button_about">
              <a href="about.html">УЗНАТЬ ОБО МНЕ БОЛЬШЕ</a>
            </button>
          </div>
        </div>
      </div>

      <h2 style="font-weight: 800; font-size: 3vw; text-align: center; margin: 8vw 0px 3vw 0vw"> Что входит в стоимость консультации</h2> 
      <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <div class="service_box">
          <img src="<%= asset_url('service1.svg')%>" style="width: 80%; margin: 10% 10% 0% 10%">
          <h3 class="service_name">Консультация</h3>
          <p class="service_text">
            2 часа непрерывной работы с Вами (диагностика, изменение схем мышления и поведения, обретение новых навыков и способностей, улучшение эмоционального состояния)
          </p>
        </div>
        <div class="service_box">
          <img src="<%= asset_url('service2.svg')%>" style="width: 80%; margin: 10% 10% 0% 10%">
          <h3 class="service_name">Стенография</h3>
          <p class="service_text">
            Стенография того, что было на консультации с описанием применяемых техник и домашним заданием (в файле docx)
          </p>
        </div>
        <div class="service_box">
          <img src="<%= asset_url('service3.svg')%>" style="width: 80%; margin: 10% 10% 0% 10%">
          <h3 class="service_name">Сопровождение</h3>
          <p class="service_text">
            Между консультациями мы общаемся в мессенджерах, отслеживаем динамику Вашего состояния, Вы рассказываете мне всё, что Вас беспокоит и задаете любые вопросы для достижения максимального результата!
          </p>
        </div>
        <div class="service_box">
          <img src="<%= asset_url('price_dop.png')%>" style="width: 80%; margin: 10% 10% 0% 10%">
          <h3 class="service_name">Доп. материалы</h3>
          <p class="service_text">
            Текстовые, аудио и видео-файлы для выполнения домашнего задания, фиксации результатов терапии, профилактики рецидивов и обучения (в файлах docx, excel, mp3, mp4)
          </p>
        </div>
      </div>

      <h2 style="text-align: center; font-size: 3.5vw; margin: 7vw 0px 3vw 0vw">Цена</h2>
      <p style="text-align: center; font-size: 1.2vw; letter-spacing: 0.01em; margin: 2vw 15vw 1vw 15vw;">и описание процесса консультации</p>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; justify-content: space-evenly; align-items: center">
          <div style="width: 36.5vw">
            <div style="display: flex; justify-content: space-between; align-items: center">
              <div style="display: flex; align-items: center;">
                <img src="<%= asset_url('price6.svg')%>" style="width: 3.5vw; margin-right: 1vw">
                <p style="font-size: 1.3vw">Длительность консультации</p>
              </div>
              <p style="font-weight: 800; font-size: 2vw">2 часа</p>
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center">
              <div style="display: flex; align-items: center;">
                <img src="<%= asset_url('price3.PNG')%>" style="width: 3.5vw; margin-right: 1vw">
                <p style="font-size: 1.3vw">Цена консультации</p>
              </div>
              <p style="font-weight: 800; font-size: 2vw">30 $</p>
            </div>
            <p style="font-size: 1.2vw; line-height: 1.7vw; text-align: justify;">
              Консультация по Skype, Telegram, Viber, Hangouts для тех, кто ценит свое время. Вы находитесь у себя дома, в безопасной обстановке, в удобном кресле, говорите о наболевшем с тем, кто вас понимает, избавляетесь от страхов и сомнений, наполняясь спокойствием и верой в себя. Подробнее о процессе консультации <a href="consultations.html"><b>тут</b></a>.
            </p>
            <button id="button_client_form" style="float: right;">
              <a href="#client_form">ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ</a>
            </button>
          </div>
        </div>
        <img src="<%= asset_url('process.svg')%>" style="width: 42vw">
      </div>

      <h2 style="font-size: 3vw; text-align: center; margin: 10vw 0px 2vw 0vw"> Как попасть на консультацию</h2> 
      <p style="text-align: center; font-size: 1.2vw; letter-spacing: 0.01em; margin: 2vw">и начать улучшать свою жизнь</p>
      <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <div class="service_box">
          <img src="<%= asset_url('КПНК1.svg')%>" style="width: 80%; margin: 10% 10% 0% 10%">
          <h3 class="service_name">Онлайн-запись</h3>
          <p class="service_text">
            Вы нажимаете Записаться на консультацию и оставляете свои контактные данные или связываетесь со мной по указанным 
            <a href="contacts.html" style=" border-bottom: 1px solid currentColor;">контактам</a>.
          </p>
        </div>

        <img src="<%= asset_url('arrow_right.svg')%>" style="width: 1vw; position: relative; top: 1.9vw">

        <div class="service_box">
          <img src="<%= asset_url('КПНК2.svg')%>" style="width: 80%; margin: 10% 10% 0% 10%">
          <h3 class="service_name">Первый контакт</h3>
          <p class="service_text">
            В течение 24 часов я вам перезваниваю/отвечаю на сообщение, анализирую вашу ситуацию, отвечаю на вопросы и мы вместе согласовываем дальнейшие действия.
          </p>
        </div>

        <img src="<%= asset_url('arrow_right.svg')%>" style="width: 1vw; position: relative; top: 1.9vw">

        <div class="service_box">
          <img src="<%= asset_url('КПНК3.svg')%>" style="width: 80%; margin: 10% 10% 0% 10%">
          <h3 class="service_name">Консультация</h3>
          <p class="service_text">
            По видеосвязи работаем с вашим запросом путем специально выстроенного диалога и психотехник.
          </p>
        </div>

        <img src="<%= asset_url('arrow_right.svg')%>" style="width: 1vw; position: relative; top: 1.9vw">

        <div class="service_box">
          <img src="<%= asset_url('КПНК4.svg')%>" style="width: 80%; margin: 10% 10% 0% 10%">
          <h3 class="service_name">Результат</h3>
          <p class="service_text">
            Вы чувствуете себя спокойно, комфортно и уверенно. Делаете то, что для Вас ценно и важно. Имеете навыки для самостоятельного решения проблем.
          </p>
        </div>
      </div>

      <h2 style="font-size: 3vw; text-align: center; margin: 9vw 0px 2vw 0vw"> Запись на консультацию</h2> 
      <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 0vw 0vw;">
        Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
        <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
      </p>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <img src="<%= asset_url('КПНК1.svg')%>" style="width: 40vw">
        <div><a id="client_form" name="client_form"></a>
          <%= render partial: '/new/form' %>
        </div>
      </div>

      <h2 style="font-size: 3vw; text-align: center; margin: 8vw 0px 2vw 0vw"> Отзывы о моей работе</h2> 
      <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 3vw 0vw;">
        Что о работе со мной говорят клиенты, с которыми я провел одну консультацию<br>или полноценный курс психотерапии
      </p>

      <%= render partial: "/new/review" %>
      
      <p style="text-align: center; font-size: 1.2vw; letter-spacing: 0.01em; margin: 3vw">
        Больше мнений о моей работе и видео-отзывы вы найдете в закладке <a href="reviews.html" style="border-bottom: 1px solid currentColor;">Отзывы</a>
      </p>

      <h1 style="font-weight: 800; font-size: 3vw; text-align: center; margin: 10vw 0px 2vw 0vw"> Интересные статьи</h1> 
      <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 3vw 0vw;">
        Если вам интересна тема психологии и вы хотите больше узнать о работе с волнующими<br> вас проблемами - рекомендую ознакомится с моими 
        <a href="articles.html" style="border-bottom: 1px solid currentColor;">статьями</a>
      </p>
  
      <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 7vw">
        <div style="width: 43vw; display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 0.9vw;">
          <section class="article_new_main article_img">
            <div class="linear-gradient" style="filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
              <div style="display: flex; margin: 0vw;">
                <div class="views">         
                  <img src="<%= asset_url('views2.svg')%>" style="height: 0.6vw">
                  <p class="views_text">450</p>
                </div>
                <div class="time_read">
                  <img src="<%= asset_url('time_read.svg')%>" style="height: 0.6vw; width: 0.6vw">
                  <p class="time_read_text">2 мин</p>
                </div>
              </div>
              <div style="width: 100%">
                <p class="article_category"><a href="">Невроз и психосоматика</a></p>
              </div>
              <h3 class="article_name">
                <a href="article.html">
                  Психотерапия депрессии
                </a>
              </h3>
            </div>
          </section>
          <section class="article_new_main article_img">
            <div class="linear-gradient">
              <div style="display: flex; margin: 0vw;">
                <div class="views">         
                  <img src="<%= asset_url('views2.svg')%>" style="height: 0.6vw">
                  <p class="views_text">1450</p>
                </div>
                <div class="time_read">
                  <img src="<%= asset_url('time_read.svg')%>" style="height: 0.6vw">
                  <p class="time_read_text">10 мин</p>
                </div>
              </div>
              <div style="width: 100%">
                <p class="article_category"><a href="">Тревога</a></p>
              </div>
              <h3 class="article_name">
                <a href="article.html">
                  Насколько эффективны онлайн-консультации психолога?
                </a>
              </h3>
            </div>
          </section>
          <section class="article_new_main article_img">
            <div class="linear-gradient">
              <div style="display: flex; margin: 0vw;">
                <div class="views">         
                  <img src="<%= asset_url('views2.svg')%>" style="height: 0.6vw">
                  <p class="views_text">450</p>
                </div>
                <div class="time_read">
                  <img src="<%= asset_url('time_read.svg')%>" style="height: 0.6vw">
                  <p class="time_read_text">2 мин</p>
                </div>
              </div>
              <div style="width: 100%">
                <p class="article_category"><a href="">Навязчивости (ОКР)</a></p>
              </div>
              <h3 class="article_name">
                <a href="article.html">
                  Психотерапия навязчивых мыслей и действий
                </a>
              </h3>
            </div>
          </section>
          <section class="article_new_main article_img">
            <div class="linear-gradient">
              <div style="display: flex; margin: 0vw;">
                <div class="views">         
                  <img src="<%= asset_url('views2.svg')%>" style="height: 0.6vw">
                  <p class="views_text">450</p>
                </div>
                <div class="time_read">
                  <img src="<%= asset_url('time_read.svg')%>" style="height: 0.6vw">
                  <p class="time_read_text">2 мин</p>
                </div>
              </div>
              <div style="width: 100%">
                <p class="article_category"><a href="">Психология отношений</a></p>
              </div>
              <h3 class="article_name">
                <a href="article.html">
                  Консультация в сфере взаимоотношений. Метод работы психолога
                </a>
              </h3>
            </div>
          </section>
        </div>
        <img src="<%= asset_url('articles.svg')%>" style="width: 40vw">
      </div>
    </div>   <!-- конец container -->

  </div>  <!-- конец пк версии -->






















<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7;">
  <img src="<%= asset_url('main_mob.png')%>" style="width: 100%">
  <h2 style="
             position: absolute; 
             top: 78vw;
             left: 66vw;
             font-size: 3vw;
             line-height: 3vw;
             letter-spacing: 0.01em;
             color: #FFFFFF;">
             Андрей Ткаченко</h2>

  <div style="background: #39383c; height: 33vw; position: absolute; top: 87vw; width: 100%">
              <h1 style="
              font-weight: 800;
              font-size: 8.5vw;
              line-height: 11vw;
              color: #FFF7F7;
              text-shadow: 1.5vw 0.2vw 0vw rgba(255, 173, 114, 0.25);
              margin-top: 5.4vw;
              text-align: center;">
              Консультация психолога онлайн</h1>
  </div>
  <div style="background: #9e9b9b; height: 13vw; position: absolute; top: 124vw; width: 100%">
              <h2 style="
              font-weight: normal;
              font-size: 4vw;
              line-height: 4.1vw;
              color: #FFF7F6;
              text-align: center;
              margin: 2.9vw 4vw;">
              Я помогу вам разобраться с проблемами из любой точки мира</h2>
  </div>
  <button id="button_client_form" style="position: absolute; top: 142vw; margin: 0px auto; height: 14vw; width: 55vw; left: 22vw; border-radius: 2vw">
      <a style="font-size: 2.7vw; line-height: 2vw">ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ</a>
  </button>

  <h2 style="padding: 8vw 8vw 5vw 8vw;
    text-align: center; 
    font-weight: 800;
    font-size: 4vw;
    line-height: 4vw;
    color: #494450;">
    Мои направления работы
  </h2>

  <div class="container" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <div class="problem_box">
      <img class="problem_icon" src="/assets/problem/anxiety.svg">
      <h3 class="problem_name">
        Избавление от тревожных расстройств
      </h3>
      <p class="problem_text">
        Генерализованное тревожное расстройство, тревожные мысли, предчувствия, мышечное напряжение <a class="problem_link" href="">больше...</a>
      </p>
    </div>

    <div class="problem_box">
        <img  class="problem_icon" src="/assets/problem/self-esteem.svg">
        <h3 class="problem_name">
          Повышение самооценки
        </h3>
        <p class="problem_text">
          Избавление от мысленных самообвинений. Работа с установками “Я не смогу”, “Я не достоин” <a class="problem_link" href="">больше...</a>
        </p>
    </div>

    <div class="problem_box">
        <img  class="problem_icon" src="/assets/problem/relationship.svg">
        <h3 class="problem_name">
          Улучшение взаимоотношений
        </h3>
        <p class="problem_text">
          Помощь в избавлении от конфликтов в семье, на работе, одиночества, страха отношений <a class="problem_link" href="">больше...</a>
        </p>
    </div>

    <div class="problem_box">
        <img  class="problem_icon" src="/assets/problem/psychological_trauma.svg">
        <h3 class="problem_name">
          Помощь в преодолении кризиса
        </h3>
       <p class="problem_text">
          Работа с потерей смысла жизни, кризисом среднего возраста, проблемой самоопределения <a class="problem_link" href="">больше...</a>
        </p>
    </div>

    <div class="problem_box">
      <img  class="problem_icon" src="/assets/problem/neurosis.svg">
      <h3 class="problem_name">
        Психотерапия неврозов и психосоматики
      </h3>
      <p class="problem_text">
        Работа с раздражительность, ранимостью, виной, стыдом, обидой, злостью, завистью, ВСД <a class="problem_link" href="">больше...</a>
      </p>
    </div>

    <div class="problem_box">
        <img class="problem_icon" src="/assets/problem/depression6.png">
        <h3 class="problem_name">
          Психологическая помощь при депрессии
        </h3>
        <p class="problem_text">
          Работа с проблемой депрессии, дистимии, циклотомии, с грустью, печалью, апатитей, подавленностью <a class="problem_link" href="">больше...</a>
        </p>
    </div>
    <p class="container" style="
      text-align: center;
      font-size: 2vw;
      line-height: 2.5vw;
      letter-spacing: 0.01em;
      margin: 2vw 10vw 10vw 10vw;">
      Подробнее о том, с чем я работаю вы найдете в закладке  <a href="" style="color: #494450; text-decoration: none; border-bottom: 1px solid currentColor;">тут</a>
    </p>
  </div> <!-- конец Мои направления работы -->

  <img src="<%= asset_url('main_mob2.png')%>" style="width: 100%">

  <div style="background: rgba(57, 56, 60, 0.75); position: absolute; top: 460vw; width: 100%;">
    <h2 style="
    font-weight: 800;
    font-size: 8.5vw;
    line-height: 11vw;
    color: #FFF7F7;
    text-shadow: 1.5vw 0.2vw 0vw rgba(255, 173, 114, 0.25);
    margin: 4vw;
    text-align: center;">
    Обо мне</h2>
  </div>
  <div style="background: rgba(57, 56, 60, 0.75); background: blur; position: absolute; top: 485vw; width: 100%"> 

    <p class="container" style="
    font-weight: normal;
    font-size: 3.5vw;
    line-height: 4.5vw;
    color: #FFF7F6;
    text-align: center;
    margin: 4vw 7vw;">
    Здравствуйте, друзья! Меня зовут Ткаченко Андрей, я психолог.<br><br>
    Ко мне обращаются люди, которые попали в непростые жизненные обстоятельства. Я помогаю улучшить качество жизни каждого моего клиента, избавляя его от невроза, тревоги, страхов, депрессии, проблем в личной жизни. из любой точки мира
    </p>
  </div>

    <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 5vw 7vw">
      <h3 style="font-size: 4vw; text-align: center;">
        Мой путь
      </h3>
      <p style="font-size: 3vw; line-height: 3.8vw">
        Для начала, я прошел свою личную терапию, получил официальное психологическое образование, а также обучился нескольким современным направлениям психотерапии (КПТ, МКТ, АСТ).<br><br>
        Чтобы закрепить полученные знания на практике, я работал со взрослыми и детьми в психологических центрах, проводил индивидуальные консультации, лекции и тренинги.
      </p>
    </div>

    <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 5vw 7vw">
      <h3 style="font-size: 4vw; text-align: center;">
        Моя миссия
      </h3>
      <p style="font-size: 3vw; line-height: 3.8vw">
        На моих очных и онлайн-консультациях я поддерживаю своих клиентов, аккуратно и безболезненно обучаю их справляться со своей жизнью самостоятельно, без врачей и таблеток.<br><br>
        Данные навыки останутся с Вами на всю жизнь и помогут решать трудности в нашем быстроменяющемся мире.
      </p>
    </div>

    <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 5vw 7vw">
      <h3 style="font-size: 4vw; text-align: center;">
        Мое образование и опыт
      </h3>
      <p style="font-size: 3vw; line-height: 3.8vw">
        Я окончил Днепровский национальный университет им. Олеся Гончара по специальности “Психология”.<br><br>
        При универе организовывал группу по консультированию, прошел курсы повышения квалификции, был волонтером, работал в семейном цетре психологии, а также выступал экспертом в ряде изданий. Последние несколько лет веду частную практику.
      </p>
    </div>

    <button id="button_about" style="align-items: center; width: 100%; margin: 0px 22.5vw; height: 14vw; width: 55vw; left: 22vw; border-radius: 2vw">
      <a style="font-size: 2.7vw; line-height: 2vw" href="about.html">УЗНАТЬ ОБО МНЕ БОЛЬШЕ</a>
    </button>

    <h2 style="padding: 10vw 8vw 2vw 8vw;
    text-align: center; 
    font-weight: 800;
    font-size: 5vw;
    line-height: 5vw;
    color: #494450;">
    Что входит в стоимость консультации
    </h2>

    <div class="container" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="problem_box">
        <img class="problem_icon" src="/assets/service1.svg">
        <h3 class="problem_name">
          Консультация
        </h3>
        <p class="problem_text">
          2 часа непрерывной работы с Вами (диагностика, изменение схем мышления и поведения, обретение новых навыков и способностей, улучшение эмоционального состояния)
        </p>
      </div>

      <div class="problem_box">
          <img  class="problem_icon" src="/assets/service2.svg">
          <h3 class="problem_name">
            Стенография
          </h3>
          <p class="problem_text">
            Стенография того, что было на консультации с описанием применяемых техник и домашним заданием (в файле docx)
          </p>
      </div>

      <div class="problem_box">
          <img  class="problem_icon" src="/assets/service3.svg">
          <h3 class="problem_name">
            Сопровождение
          </h3>
          <p class="problem_text">
            Между консультациями мы общаемся в мессенджерах, отслеживаем динамику Вашего состояния, Вы рассказываете мне всё, что Вас беспокоит и задаете любые вопросы для достижения максимального результата!
          </p>
      </div>

      <div class="problem_box">
          <img  class="problem_icon" src="/assets/price_dop.png">
          <h3 class="problem_name">
            Доп. материалы
          </h3>
         <p class="problem_text">
            Текстовые, аудио и видео-файлы для выполнения домашнего задания, фиксации результатов терапии, профилактики рецидивов и обучения (в файлах docx, excel, mp3, mp4)
          </p>
      </div>
    </div> <!-- конец Что входит в стоимость консультации -->

    <h2 style="padding: 10vw 8vw 2vw 8vw;
    text-align: center; 
    font-weight: 800;
    font-size: 5vw;
    line-height: 5vw;
    color: #494450;">
    Цена
    </h2>
    <p class="container" style="font-size: 3vw; line-height: 4vw;">
      <b>Длительность консультации: 2 часа<br>
      Стоимость 30 $</b><br>
      Консультация по Skype, Telegram, Viber, Hangouts для тех, кто ценит свое время. Вы находитесь у себя дома, в безопасной обстановке, в удобном кресле, говорите о наболевшем с тем, кто вас понимает, избавляетесь от страхов и сомнений, наполняясь спокойствием и верой в себя. Подробнее о процессе консультации <a href="" style="color: #494450; text-decoration: none; font-weight: 600;">тут</a>.
    </p>

    <button id="button_client_form" style="align-items: center; width: 100%; margin: 5vw 22.5vw; height: 14vw; width: 55vw; left: 22vw; border-radius: 2vw">
      <a style="font-size: 2.7vw; line-height: 2vw" href="#mob_client_form">ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ</a>
    </button>

    <h2 style="padding: 10vw 8vw 2vw 8vw;
    text-align: center; 
    font-weight: 800;
    font-size: 5vw;
    line-height: 5vw;
    color: #494450;">
    Как записаться на консультацию
    </h2>

    <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 4vw 7vw; display: flex; justify-content: space-between;
    align-items: center;">
      <img src="<%= asset_url('КПНК1.svg')%>" style="display: inline-block; width: 25vw; padding-right: 3vw">
      <div style="display: inline-block;">
        <h3 style="font-size: 3.5vw; text-align: center; display: inline-block; margin-bottom: 0px">Онлайн-запись</h3>
        <p style="font-size: 3vw; line-height: 3.8vw; display: inline-block;">
          Вы нажимаете Записаться на консультацию и оставляете свои контактные данные или связываетесь со мной по указанным 
          <a href="contacts.html" style="border-bottom: 1px solid currentColor;">контактам</a>.
        </p>
      </div>
    </div>

    <img src="<%= asset_url('mob_arrow_bottom.svg')%>" style="width: 5vw; 
    margin: 0vw 47.5vw">

    <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 4vw 7vw; display: flex; justify-content: space-between;
    align-items: center;">
      <img src="<%= asset_url('КПНК2.svg')%>" style="display: inline-block; width: 25vw; padding-right: 3vw">
      <div style="display: inline-block;">
        <h3 style="font-size: 3.5vw; text-align: center; display: inline-block; margin-bottom: 0px">
          Первый контакт
        </h3>
        <p style="font-size: 3vw; line-height: 3.8vw; display: inline-block;">
          В течение 24 часов я вам перезваниваю/отвечаю на сообщение, анализирую вашу ситуацию, отвечаю на вопросы и мы вместе согласовываем дальнейшие действия.
        </p>
      </div>
    </div>

    <img src="<%= asset_url('mob_arrow_bottom.svg')%>" style="width: 5vw; 
    margin: 0vw 47.5vw">

    <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 4vw 7vw; display: flex; justify-content: space-between;
    align-items: center;">
      <img src="<%= asset_url('КПНК3.svg')%>" style="display: inline-block; width: 25vw; padding-right: 3vw">
      <div style="display: inline-block;">
        <h3 style="font-size: 3.5vw; text-align: center; display: inline-block; margin-bottom: 0px">
          Консультация
        </h3>
        <p style="font-size: 3vw; line-height: 3.8vw; display: inline-block;">
          Очно или онлайн работаем с вашим запросом путем специально выстроенного диалога и психотерапевтических техник.
        </p>
      </div>
    </div>

    <img src="<%= asset_url('mob_arrow_bottom.svg')%>" style="width: 5vw; 
    margin: 0vw 47.5vw">

    <div style="background-color: #FDFDFD; border-radius: 1vw; padding: 5vw; margin: 4vw 7vw; display: flex; justify-content: space-between;
    align-items: center;">
      <img src="<%= asset_url('КПНК4.svg')%>" style="display: inline-block; width: 25vw; padding-right: 3vw">
      <div style="display: inline-block;">
        <h3 style="font-size: 3.5vw; text-align: center; display: inline-block; margin-bottom: 0px">
          Результат
        </h3>
        <p style="font-size: 3vw; line-height: 3.8vw; display: inline-block;">
          Вы чувствуете себя спокойно, комфортно и уверенно. Делаете то, что для Вас ценно и важно. Имеете навыки для самостоятельного решения проблем.
        </p>
      </div>
    </div>

    <h2 style="padding: 10vw 8vw 2vw 8vw;
    text-align: center; 
    font-weight: 800;
    font-size: 5vw;
    line-height: 5vw;
    color: #494450;">
    Запись на консультацию
    </h2>
    <p class="container" style="
      text-align: center;
      font-size: 2vw;
      line-height: 2.5vw;
      letter-spacing: 0.01em;
      margin: 2vw 10vw 10vw 10vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом по указанным <a href="" style="color: #494450; text-decoration: none; border-bottom: 1px solid currentColor;">контактам</a>
    </p>

    <div style="height: 40vw; width: 100%">
      My good form
      <%= render partial: 'new/form' %>
    </div>

    <h2 style="padding: 10vw 8vw 2vw 8vw;
    text-align: center; 
    font-weight: 800;
    font-size: 5vw;
    line-height: 5vw;
    color: #494450;">
    Отзывы о моей работе
    </h2>

    <div class="container" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="review_box" style="width: 30vw; height: 52vw; padding: 4vw;">
        <img class="review_icon" src="/assets/review/Мария 20.jpg" style="width: 10vw; margin: 0vw 10vw">
        <h3 class="review_name" style="font-size: 2.5vw">
          Мария, 20 лет
        </h3>
        <p class="review_text" style="font-size: 2vw; line-height: 2.5vw">
          «Я пол года занималась еженедельно с Андреем. Я не понимала, почему у меня не складываются отношения, но на определенном этапе работы оказалось, что то, с чем я пришла - это верхушка айсберга, а причина всему - тревога. Я не могу передать словами то, какого было мое удивление, восхищение методиками работы Андрея...»
        </p>
      </div>
        <div class="review_box" style="width: 30vw; height: 52vw; padding: 4vw; margin-bottom: 4.5vw">
          <img class="review_icon" src="/assets/review/Богдан 29.png" style="width: 10vw; margin: 0vw 10vw">
          <h3 class="review_name" style="font-size: 2.5vw">
            Богдан, 29 лет
          </h3>
          <p class="review_text" style="font-size: 2vw; line-height: 2.5vw">
            «У меня 3 месяца была тревога и ПА. Я взял пробный урок, без особых надежд на успех, потому что у меня был уже отрицательный опыт. Тем не менее, после первого занятия, техники, которые дал мне Андрей, дали определенный эффект, поэтому я поверил в то, что с этим специалистом можно работать. И мои ожидания абсолютно оправдались...»
          </p>
      </div>
      <div class="review_box" style="width: 30vw; height: 52vw; padding: 4vw;">
        <img class="review_icon" src="/assets/review/Татьяна 24.png" style="width: 10vw; margin: 0vw 10vw">
        <h3 class="review_name" style="font-size: 2.5vw">
          Татьяна, 24 года
        </h3>
        <p class="review_text" style="font-size: 2vw; line-height: 2.5vw">
          «Під час наших сеансів з Андрієм я навчилася більше розуміти себе, свої емоції і відчуття, позбулася проблем, які довгий час псували мені життя. Завдяки вам, я поглянула на багато ситуацій під іншим ракурсом, що дуже позитивно вплинуло на моє особисте життя, відносини з чоловіком та рідними. Це був чудовий досвід пізнання себе...»
        </p>
      </div>
      <div class="review_box" style="width: 30vw; height: 52vw; padding: 4vw;">
        <img class="review_icon" src="/assets/review/Светлана 37.jpg" style="width: 10vw; margin: 0vw 10vw">
        <h3 class="review_name" style="font-size: 2.5vw">
          Светлана, 37 лет
        </h3>
        <p class="review_text" style="font-size: 2vw; line-height: 2.5vw">
          «Андрея я нашла, когда в моей жизни был непростой период. Мне понравился его энтузиазм и то, что он никогда не оставлял меня одну (у нас были домашние задания и постоянная связь в Вайбере), и после каждой консультации мы уже могли отмечать какой-то результат. Андрей грамотный психолог, он не дал мне ни одного совета, а каждую ситуацию...»
        </p>
      </div>
    </div> <!-- конец Отзывов -->

    <p class="container" style="
      text-align: center;
      font-size: 2.5vw;
      line-height: 3vw;
      letter-spacing: 0.01em;
      margin: 2vw 10vw 10vw 10vw;">
      Больше мнений о моей работе и видео отзывы вы найдете в закладке  <a href="" style="color: #494450; text-decoration: none; border-bottom: 1px solid currentColor;">Отзывы</a>
    </p>

    <h2 style="padding: 10vw 8vw 2vw 8vw;
    text-align: center; 
    font-weight: 800;
    font-size: 5vw;
    line-height: 5vw;
    color: #494450;">
    Интересные статьи
    </h2>
    <p class="container" style="
      text-align: center;
      font-size: 2.5vw;
      line-height: 3vw;
      letter-spacing: 0.01em;
      margin: 2vw 10vw 10vw 10vw;">
      Если вам интересна тема психологии и вы хотите больше узнать о работе с волнующими вас проблемами - рекомендую ознакомится с моими <a href="" style="color: #494450; text-decoration: none; border-bottom: 1px solid currentColor;">статьями</a>
    </p>

    <div style="height: 40vw; width: 100%">Статьи</div>

    <footer style="background: #383838; height: 35vw;">
      <div class="container" style="display: flex; justify-content: center;">
        <a href="https://t.me/tkachenko_psychology"><img style="width: 7vw; margin: 3vw" src="/assets/icons/telegram.svg"></a>
        <a href="viber://chat?number=+380964248025"><img style="width: 7vw; margin: 3vw" src="/assets/icons/viber.svg"></a>
        <a href="https://api.whatsapp.com/send?phone=<+380964248025>"><img style="width: 7vw; margin: 3vw" src="/assets/icons/whatsapp.svg"></a>
        <a href="https://www.facebook.com/tkachenko.psychology"><img style="width: 7vw; margin: 3vw" src="/assets/icons/facebook.svg"></a>
        <a href="https://www.instagram.com/tkachenko_psychology"><img style="width: 7vw; margin: 3vw" src="/assets/icons/instagram.svg"></a>
      </div>
      <div class="container" style="display: flex; justify-content: space-between; height: 9vw; align-items: center; flex-wrap: wrap;">
        <div>
          <p style="margin-bottom: 4vw"><a href="about.html"class="footer_text_mob">Обо мне</a></p>
          <p style="margin-bottom: 4vw"><a href="articles.html"class="footer_text_mob">Статьи</a></p>
        </div>
        <div>
          <p style="margin-bottom: 4vw"><a href="work_with.html"class="footer_text_mob">С чем я работаю</a></p>
          <p style="margin-bottom: 4vw"><a href="methods.html"class="footer_text_mob">Мои методы</a></p>
        </div>
        <div>
          <p style="margin-bottom: 4vw"><a href="consultations.html"class="footer_text_mob">Консультации</a></p>
          <p style="margin-bottom: 4vw"><a href="contacts.html"class="footer_text_mob">Цена</a></p>
        </div>
        <div>
          <p style="margin-bottom: 4vw"><a href="faq.html"class="footer_text_mob">Вопрос-ответ</a></p>
          <p style="margin-bottom: 4vw"><a href="reviews.html"class="footer_text_mob">Отзывы</a></p>
        </div>
      </div>
      <p style=" font-weight: normal; font-size: 2vw; line-height: 1vw; color: #FFF7F6; text-align: center; margin-top: 8vw">© 2020 Все права защищены</p>
    </footer>

  </div> <!-- конец моб версии -->