<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Метакогнитивная терапия | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение сущности метода метакогнитивной терапии с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Метакогнитивная терапия | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение сущности метода метакогнитивной терапии с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Metacognitive-therapy">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/consultation-psychologist-online-Tkachenko-Andrey-15d393997277900bef34501aa768f09ecc97d4153095c5ed20be12d9f55d4582.png">
<% end %>

<div class="pc_content">
  <div class="container" style="text-align: justify;">
    <h1 style="margin-top: 5vw; text-align: center; font-weight: 800; font-size: 2.5vw;">Метакогнитивная терапия</h1>
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 7vw 4vw 7vw;">
      В 90-хх годах был разработан метод, который помогает избавиться от мысленных жвачек, внутренних диалогов и самокритики, научиться отстраняться от своих мыслей и жить с ними в гармонии. Имя ему – МКТ.
    </p>
    <div>
      <img src="<%= asset_url('methods/MCT.svg')%>" alt="метакогнитивная терапия" style="float: right; width: 30vw; margin: 1vw 4vw">
      <h2>Что такое МКТ</h2>
      <p>
        <b>Метакогнитивная терапия</b> (МКТ) – направление 3-й волны КПТ, которое расширяет функционал и улучшает эффективность работы с тревожно-депрессивными состояниями. Развивая <b>гибкость мышления и внимания</b>, человек научается самостоятельно справляться со своими проблемами. Создателем МКТ является Адриан Уэллс, он значительно упростил работу психотерапевтов описав четкий механизм функционирования невротических проблем (схема КАС).
      </p>
      <p>
        Есть большая разница между тревогой (физическими симптомами: дрожь, пот, тахикардия) и беспокойством (тревожными мыслями, которые крутятся в голове). Тревога – это лишь следствие беспокойства, поэтому работать нужно именно с тем, как человек мыслит и как относится к собственным мыслям. Утверждается, что причиной беспокойства являются <b>«метаубеждения»</b> (убеждения о собственных мыслях, чувствах или действиях). Уэллс структурировал самые частые метаубеждения и выявил, что все переживания клиентов сводятся к тому, что тревожные/навязчивые мысли, эмоции, действия и ощущения кажутся:
      </p>
      <p><b>- опасными:</b> «мой организм не вынесет этой тревоги; я сойду с ума от беспокойства»<br>
      <b>- неконтролируемыми:</b> «я не могу контролировать беспокойство; это никогда не пройдет»<br>
      <b>- полезными:</b> «если обращать внимание на возможные опасности, то это убережет меня от них»
      </p>
      <p>Исходя из причин тревоги, были созданы техники «Отстраненная осознанность» и «Тренировка внешнего внимания». Все применяемые техники в МКТ сопровождаются красочными метафорами и примерами, которые помогают клиенту лучше понять и почувствовать, что значит осознанность и гибкость внимания. Согласно исследованиям, МКТ является отличным методом, который предотвращает возможные рецидивы в будущем, после прекращения психотерапии.
      </p>
    </div>

    <h2>Проблемы, которые решаются с помощью МКТ:</h2>
    <ul>
      <li>Невроз и психосоматика</li>
      <li>Повышенная тревога и Генерализованное тревожное расстройство</li>
      <li>Депрессия</li>
      <li>Фобии</li>
      <li>Панические атаки</li>
      <li>Навязчивые мысли и действия (ОКР)</li>
      <li>Низкая самооценка</li>
    </ul>

    <h2>Как работает МКТ</h2>
    <p>
      Клиент на первой сессии описывает свою проблему, МКТ-терапевт слушает, задает уточняющие вопросы, проводит полноценную диагностику по схеме КАС
    </p>

    <div style="text-align: center; margin: 3vw"><img src="<%= asset_url('methods/CAS.svg')%>" alt="Когнитивно-аттенционный синдром в метакогнитивной терапии" style="width: 50vw;"></div>
  
    <h2>Что будет происходить дальше</h2>
    <ul style="padding-left: 1vw;">
      <li style="list-style-type: decimal;">Совместными усилиями, выявляются ряд событий, которые вызывают тревогу (триггеры).</li>
      <li style="list-style-type: decimal;">Выясняются те действия (мониторинг угроз), которые человек делает, чтобы предотвратить появление беспокойства (например, прислушивается к собственным ощущениям).</li>
      <li style="list-style-type: decimal;">Далее, записывается список самых частых тревожных мыслей («что со мной не так?», «а вдруг…», «почему…?»), следом за которыми возникают негативные симптомы.</li>
      <li style="list-style-type: decimal;">Диагностируются вся имеющаяся психосоматика: неприятные ощущения в теле, пот, тахикардия, плачь и эмоции страха, тревоги, паники и т.д.</li>
      <li style="list-style-type: decimal;">Затем, выясняют то, как человек относится к собственным мыслям и переживаниям (вторичное беспокойство: «это ненормально; я странный; это никогда не закончится»).</li>
      <li style="list-style-type: decimal;">В конце, проясняем, что в итоге человек предпринимает, чтоб избавиться от своей проблемы.</li>
    </ul>
    <p>
      Таким нехитрым образом, перед нами вырисовывается процессуальная картина проблемы клиента под названием <b>Когнитивно-аттенционный синдром</b> (КАС) – это такая структура, которая не позволяет человеку получать новый опыт, быть гибким и приспосабливаться к новым условиям внешней среды. Основные метаубеждения записываются в отдельный опросник, который человек заполняет перед каждой консультацией и таким образом ведется учет динамики состояния клиента.
    </p>
    <h2>Вторая и третья сессия</h2>
    <p>
      На 2-й и 3-й сессии ведется разбор защитного поведения и проверяется на практике «неконтролируемость» беспокойства. МКТ-терапевт обучает человека принципу «мысль – не факт», объясняет работу мышления, применяет техники по работе с мыслями, обучает клиента не накручивать себя, останавливать внутренний диалог, не спорить со своими мыслями, отстраняться от собственных размышлений и переживаний.
    </p>
    <h2>Четвертая и пятая сессия</h2>
    <p>
      На 4-й и 5-й сессии проверяется «опасность» мыслей и эмоций, клиент пытается усиливать свое беспокойство, накручивать себя, понимает, что ничего «опасного» не происходит, убеждается в контролируемости и безопасности своего состояния и со временем отказывается от неэффективных методов борьбы со своей проблемой.
    </p>
    <h2>Шестая и седьмая сессия</h2>
    <p>
      На 6-й и 7-й сессии модифицируется метаубеждение про «пользу» мониторинга. Клиент проверяет к чему на практике приводит концентрация внимания на негативных мыслях, постоянный контроль своего самочувствия и вечная «подготовка к худшему». Исследовав это, начинается обучение гибкости внимания. Путем тренировки, клиент обретает навык осознанности, научается объективно оценивать происходящее, замечать негативные, позитивные и нейтральные события в своей жизни.
    </p>
    <h2>Завершающая консультация
    </h2>
    <p>
      На 8-й, завершающей сессии, проводится профилактика рецидивов, ставятся задачи и цели на будущее, делаются окончательные выводы. Клиент обрел внутреннюю уверенность и готов самостоятельно справляться с возможными проблемами.
    </p>
    <h2>Как долго нужно проходить терапию МКТ
    </h2>
    <p>
      Стандартная МКТ-терапия длится 8-10 сессий 1-2 раза в неделю. В зависимости от сложности проблемы, индивидуальных особенностей человека, работа может длиться и дольше. По желанию клиента может проводиться поддерживающая терапия (1 сессия раз в 3-4 недели).
    </p>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 6vw 0px 2vw 0vw; padding-top: 3vw">Запись на консультацию</h2> 
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 4vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8vw">
      <img src="<%= asset_url('form.svg')%>" alt="форма онлайн-записи на консультацию психолога" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- конец container -->
</div> <!-- конец pc_content -->



















<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7; padding-bottom: 8vw">
  <div class="container">
    <h1 class="methods-name">
      Метакогнитивная терапия
    </h1>
    <p class="methods-description">
      В 90-хх годах был разработан метод, который помогает избавиться от мысленных жвачек, внутренних диалогов и самокритики, научиться отстраняться от своих мыслей и жить с ними в гармонии. Имя ему – МКТ.
    </p>
    <img src="<%= asset_url('methods/MCT.svg')%>" alt="метакогнитивная терапия" class="methods-img">

    <h2>Что такое МКТ</h2>
    <p>
      <b>Метакогнитивная терапия</b> (МКТ) – направление 3-й волны КПТ, которое расширяет функционал и улучшает эффективность работы с тревожно-депрессивными состояниями. Развивая <b>гибкость мышления и внимания</b>, человек научается самостоятельно справляться со своими проблемами. Создателем МКТ является Адриан Уэллс, он значительно упростил работу психотерапевтов описав четкий механизм функционирования невротических проблем (схема КАС).
    </p>
    <p>
      Есть большая разница между тревогой (физическими симптомами: дрожь, пот, тахикардия) и беспокойством (тревожными мыслями, которые крутятся в голове). Тревога – это лишь следствие беспокойства, поэтому работать нужно именно с тем, как человек мыслит и как относится к собственным мыслям. Утверждается, что причиной беспокойства являются <b>«метаубеждения»</b> (убеждения о собственных мыслях, чувствах или действиях). Уэллс структурировал самые частые метаубеждения и выявил, что все переживания клиентов сводятся к тому, что тревожные/навязчивые мысли, эмоции, действия и ощущения кажутся:
    </p>
    <p><b>- опасными:</b> «мой организм не вынесет этой тревоги; я сойду с ума от беспокойства»<br>
    <b>- неконтролируемыми:</b> «я не могу контролировать беспокойство; это никогда не пройдет»<br>
    <b>- полезными:</b> «если обращать внимание на возможные опасности, то это убережет меня от них»
    </p>
    <p>Исходя из причин тревоги, были созданы техники «Отстраненная осознанность» и «Тренировка внешнего внимания». Все применяемые техники в МКТ сопровождаются красочными метафорами и примерами, которые помогают клиенту лучше понять и почувствовать, что значит осознанность и гибкость внимания. Согласно исследованиям, МКТ является отличным методом, который предотвращает возможные рецидивы в будущем, после прекращения психотерапии.
    </p>

    <h2>Проблемы, которые решаются с помощью МКТ:</h2>
    <ul>
      <li>Невроз и психосоматика</li>
      <li>Повышенная тревога и Генерализованное тревожное расстройство</li>
      <li>Депрессия</li>
      <li>Фобии</li>
      <li>Панические атаки</li>
      <li>Навязчивые мысли и действия (ОКР)</li>
      <li>Низкая самооценка</li>
    </ul>

    <h2>Как работает МКТ</h2>
    <p>
      Клиент на первой сессии описывает свою проблему, МКТ-терапевт слушает, задает уточняющие вопросы, проводит полноценную диагностику по схеме КАС
    </p>

    <div style="text-align: center; margin: 5vw 0vw 0vw 0vw;"><img src="<%= asset_url('methods/CAS.svg')%>" alt="Когнитивно-аттенционный синдром в метакогнитивной терапии" style="width: 86vw;"></div>

    <h2>Что будет происходить дальше</h2>
    <ul style="padding-left: 1vw;">
      <li style="list-style-type: decimal;">Совместными усилиями, выявляются ряд событий, которые вызывают тревогу (триггеры).</li>
      <li style="list-style-type: decimal;">Выясняются те действия (мониторинг угроз), которые человек делает, чтобы предотвратить появление беспокойства (например, прислушивается к собственным ощущениям).</li>
      <li style="list-style-type: decimal;">Далее, записывается список самых частых тревожных мыслей («что со мной не так?», «а вдруг…», «почему…?»), следом за которыми возникают негативные симптомы.</li>
      <li style="list-style-type: decimal;">Диагностируются вся имеющаяся психосоматика: неприятные ощущения в теле, пот, тахикардия, плачь и эмоции страха, тревоги, паники и т.д.</li>
      <li style="list-style-type: decimal;">Затем, выясняют то, как человек относится к собственным мыслям и переживаниям (вторичное беспокойство: «это ненормально; я странный; это никогда не закончится»).</li>
      <li style="list-style-type: decimal;">В конце, проясняем, что в итоге человек предпринимает, чтоб избавиться от своей проблемы.</li>
    </ul>
    <p>
      Таким нехитрым образом, перед нами вырисовывается процессуальная картина проблемы клиента под названием <b>Когнитивно-аттенционный синдром</b> (КАС) – это такая структура, которая не позволяет человеку получать новый опыт, быть гибким и приспосабливаться к новым условиям внешней среды. Основные метаубеждения записываются в отдельный опросник, который человек заполняет перед каждой консультацией и таким образом ведется учет динамики состояния клиента.
    </p>
    <h2>Вторая и третья сессия</h2>
    <p>
      На 2-й и 3-й сессии ведется разбор защитного поведения и проверяется на практике «неконтролируемость» беспокойства. МКТ-терапевт обучает человека принципу «мысль – не факт», объясняет работу мышления, применяет техники по работе с мыслями, обучает клиента не накручивать себя, останавливать внутренний диалог, не спорить со своими мыслями, отстраняться от собственных размышлений и переживаний.
    </p>
    <h2>Четвертая и пятая сессия</h2>
    <p>
      На 4-й и 5-й сессии проверяется «опасность» мыслей и эмоций, клиент пытается усиливать свое беспокойство, накручивать себя, понимает, что ничего «опасного» не происходит, убеждается в контролируемости и безопасности своего состояния и со временем отказывается от неэффективных методов борьбы со своей проблемой.
    </p>
    <h2>Шестая и седьмая сессия</h2>
    <p>
      На 6-й и 7-й сессии модифицируется метаубеждение про «пользу» мониторинга. Клиент проверяет к чему на практике приводит концентрация внимания на негативных мыслях, постоянный контроль своего самочувствия и вечная «подготовка к худшему». Исследовав это, начинается обучение гибкости внимания. Путем тренировки, клиент обретает навык осознанности, научается объективно оценивать происходящее, замечать негативные, позитивные и нейтральные события в своей жизни.
    </p>
    <h2>Завершающая консультация
    </h2>
    <p>
      На 8-й, завершающей сессии, проводится профилактика рецидивов, ставятся задачи и цели на будущее, делаются окончательные выводы. Клиент обрел внутреннюю уверенность и готов самостоятельно справляться с возможными проблемами.
    </p>
    <h2>Как долго нужно проходить терапию МКТ
    </h2>
    <p>
      Стандартная МКТ-терапия длится 8-10 сессий 1-2 раза в неделю. В зависимости от сложности проблемы, индивидуальных особенностей человека, работа может длиться и дольше. По желанию клиента может проводиться поддерживающая терапия (1 сессия раз в 3-4 недели).
    </p>

  </div> <!-- конец container -->

  <div class="container">        
    <%= render partial: "/new/form_mob"%>
  </div>

</div> <!-- конец моб версии -->