<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://tkachenkoandrey.com/Metacognitive-therapy">
  <title>Метакогнитивная терапия | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение сущности метода метакогнитивной терапии с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta name="keywords" content="метакогнитивная терапия, консультация психолога онлайн, МКТ, психотерапия МКТ онлайн, как работает МКТ, техники МКТ, МКТ психолог, МКТ психотерапевт, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Metacognitive-therapy">
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Метакогнитивная терапия | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение сущности метода метакогнитивной терапии с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="метакогнитивная терапия">
  <meta property="article:tag" content="консультация психолога онлайн">
  <meta property="article:tag" content="МКТ">
  <meta property="article:tag" content="психотерапия МКТ онлайн">
  <meta property="article:tag" content="как работает МКТ">
  <meta property="article:tag" content="техники МКТ">
  <meta property="article:tag" content="МКТ психолог">
  <meta property="article:tag" content="МКТ психотерапевт">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="http://tkachenkoandrey.com/Metacognitive-therapy">
  <meta name="twitter:title" content="Метакогнитивная терапия | Психолог Ткаченко Андрей">
  <meta name="twitter:desctiption" content="Краткое объяснение сущности метода метакогнитивной терапии с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name">Метакогнитивная терапия</h1>
      <p class="article__description pc">В 90-хх годах был разработан метод, который помогает безоценочно относиться к своим мыслям, менять глубинные механизмы восприятия и контролировать свое внимание. Имя ему – МКТ.</p>
      <img class="fullscreen__image" src="<%= asset_url('methods/MCT.webp')%>" title="Метакогнитивная терапия" alt="Метакогнитивная терапия">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Что такое МКТ</h2>
        <p>
          <b>Метакогнитивная терапия</b> (МКТ) – направление 3-й волны КПТ, которое расширяет функционал и улучшает эффективность работы с тревожно-депрессивными состояниями. Развивая <b>гибкость мышления и внимания</b>, человек научается самостоятельно справляться со своими проблемами. Создателем МКТ является Адриан Уэллс, он значительно упростил работу психотерапевтов описав четкий механизм функционирования невротических проблем (схема КАС).
        </p>
        <p>
          Есть большая разница между тревогой (физическими симптомами: дрожь, пот, тахикардия) и беспокойством (тревожными мыслями, которые крутятся в голове). Тревога – это лишь следствие беспокойства, поэтому работать нужно именно с тем, как человек мыслит и как относится к собственным мыслям. Утверждается, что причиной беспокойства являются <b>«метаубеждения»</b> (убеждения о собственных мыслях, чувствах или действиях). Уэллс структурировал самые частые метаубеждения и выявил, что все переживания клиентов сводятся к тому, что тревожные/навязчивые мысли, эмоции, действия и ощущения кажутся:
        </p>
        <p>
          <b>– опасными:</b> «мой организм не вынесет этой тревоги», «я сойду с ума от беспокойства»<br>
          <b>– неконтролируемыми:</b> «я не могу контролировать беспокойство», «это никогда не пройдет»<br>
          <b>– полезными:</b> «если обращать внимание на возможные опасности, то это убережет меня от них»
        </p>
        <p>Исходя из причин тревоги, были созданы техники «Отстраненная осознанность» и «Тренировка внешнего внимания». Все применяемые техники в МКТ сопровождаются красочными метафорами и примерами, которые помогают клиенту лучше понять и почувствовать, что значит осознанность и гибкость внимания. Согласно исследованиям, МКТ является отличным методом, который предотвращает возможные рецидивы в будущем, после прекращения психотерапии.
        </p>
      </section>

      <section>
        <h2>Проблемы, которые решаются с помощью МКТ:</h2>
        <ul>
          <li>Невроз и психосоматика</li>
          <li>Повышенная тревога и Генерализованное тревожное расстройство</li>
          <li>Депрессия</li>
          <li>Фобии</li>
          <li>Панические атаки</li>
          <li>Навязчивые мысли и действия (ОКР)</li>
          <li>Низкая самооценка</li>
        </ul>
      </section>

      <section>
        <h2>Как работает МКТ</h2>
        <p>
          Клиент на первой консультации (сеансе) описывает свою проблему, МКТ-терапевт слушает, задает уточняющие вопросы, проводит полноценную диагностику по схеме КАС:
        </p>

        <img src="<%= asset_url('methods/CAS.svg')%>" alt="Когнитивно-аттенционный синдром в метакогнитивной терапии" style="width: 100%; max-width: 800px">
      
        <h3>Что будет происходить дальше</h3>
        <ul>
          <li style="list-style-type: decimal;">Совместными усилиями, выявляются ряд событий, которые вызывают тревогу (триггеры).</li>
          <li style="list-style-type: decimal;">Выясняются те действия (мониторинг угроз), которые человек делает, чтобы предотвратить появление беспокойства (например, прислушивается к собственным ощущениям).</li>
          <li style="list-style-type: decimal;">Далее, записывается список самых частых тревожных мыслей («что со мной не так?», «а вдруг…», «почему…?»), следом за которыми возникают негативные симптомы.</li>
          <li style="list-style-type: decimal;">Диагностируются вся имеющаяся психосоматика: неприятные ощущения в теле, пот, тахикардия, плачь и эмоции страха, тревоги, паники и т.д.</li>
          <li style="list-style-type: decimal;">Затем, выясняют то, как человек относится к собственным мыслям и переживаниям (вторичное беспокойство: «это ненормально; я странный; это никогда не закончится»).</li>
          <li style="list-style-type: decimal;">В конце, проясняем, что в итоге человек предпринимает, чтоб избавиться от своей проблемы.</li>
        </ul>
        <p>
          Таким нехитрым образом, перед нами вырисовывается процессуальная картина проблемы клиента под названием <b>Когнитивно-аттенционный синдром</b> (КАС) – это такая структура, которая не позволяет человеку получать новый опыт, быть гибким и приспосабливаться к новым условиям внешней среды. Основные метаубеждения записываются в отдельный опросник, который человек заполняет перед каждой консультацией и таким образом ведется учет динамики состояния клиента.
        </p>
        <h3>Второй – третий сеанс</h3>
        <p>
          Здесь ведется разбор защитного поведения и проверяется на практике «неконтролируемость» беспокойства. МКТ-терапевт обучает человека принципу «мысль – не факт», объясняет работу мышления, применяет техники по работе с мыслями, обучает клиента не накручивать себя, останавливать внутренний диалог, не спорить со своими мыслями, отстраняться от собственных размышлений и переживаний.
        </p>

        <h3>Четвертый – пятый сеанс</h3>
        <p>
          Проверяется «опасность» мыслей и эмоций, клиент пытается усиливать свое беспокойство, накручивать себя, понимает, что ничего «опасного» не происходит, убеждается в контролируемости и безопасности своего состояния и со временем отказывается от неэффективных методов борьбы со своей проблемой.
        </p>

        <h3>Шестой – девятый сеанс</h3>
        <p>
          Модифицируется метаубеждение про «пользу» мониторинга. Клиент проверяет к чему на практике приводит концентрация внимания на негативных мыслях, постоянный контроль своего самочувствия и вечная «подготовка к худшему». Исследовав это, начинается обучение гибкости внимания. Путем тренировки, клиент обретает навык осознанности, научается объективно оценивать происходящее, замечать негативные, позитивные и нейтральные события в своей жизни.
        </p>

        <h3>Завершающий сеанс</h3>
        <p>
          На 10-м, завершающем сеансе, проводится профилактика рецидивов, ставятся задачи и цели на будущее, делаются окончательные выводы. Клиент обрел внутреннюю уверенность и готов самостоятельно справляться с возможными проблемами.
        </p>

        <h3>Как долго нужно проходить терапию МКТ</h3>
        <p>
          Стандартная МКТ-терапия длится 10 сеансов 1-2 раза в неделю. В зависимости от сложности проблемы, индивидуальных особенностей человека, работа может длиться и дольше. По желанию клиента может проводиться поддерживающая терапия (1 сеанс раз в 2-4 недели).
        </p>
      </section>

    </div>
  </article>

  <div class="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=+380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>