<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Методы работы психолога | Ткаченко Андрей</title>
  <meta name="description" content="Мои методы работы: КПТ, позитивная психотерапия, гипнотерапия, МКТ, АСТ, эмоционально-образная терапия, транзактный анализ, майндфулнесс, СМД.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Методы работы психолога | Ткаченко Андрей">
  <meta property="og:description" content="Мои методы работы: КПТ, позитивная психотерапия, гипнотерапия, МКТ, АСТ, эмоционально-образная терапия, транзактный анализ, майндфулнесс, СМД.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/methods">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/Tkachenko-Andrey-0ccd9afe47bf51522e172c3619a0dd1b97986605188615048acbc034288baecf.jpg">
<% end %>

<div class="pc_content">
  <div class="container">
    <h1 style="text-align: center; font-weight: 800; font-size: 2.5vw; margin: 5vw 0px 6vw 0vw">Мои методы работы</h1>

    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="problem_box">
        <a href="Cognitive-Behavioral-Therapy.html" style="text-decoration: none; color: inherit;">
          <img src="<%= asset_url('methods/CBT.svg')%>" alt="Когнитивно-поведенческая терапия" class="problem_icon">
          <h3 class="problem_name">Когнитивно-поведенческая терапия</h3>
        </a>
        <p class="problem_text">
          Самый эффективный метод работы с невротическими и депрессивными состояниями. Основа для иных методов психотерапии. Используя протоколы лечения, постепенно изменяя поведение, анализируя свои мысли, заполняя таблицы и дневники, достигается отличный результат.
        </p>
      </div>

      <div class="problem_box">
        <a href="Hypnotherapy.html" style="text-decoration: none; color: inherit;">
          <img src="<%= asset_url('methods/Hypnotherapy.svg')%>" alt="Гипнотерапия" class="problem_icon">
          <h3 class="problem_name">Гипнотерапия</h3>
        </a>
        <p class="problem_text">
          Идеальное средство для избавления от детских психотравм и псиосоматики. Серьезный инструмент в умелых руках. Работая с телом и психикой, применяя внушение, человек достигает расслабления, перепроживает ситуации из жизни и научается реагировать на стрессы иначе.
        </p>
      </div>

      <div class="problem_box">
        <a href="Positive-psychotherapy.html" style="text-decoration: none; color: inherit;">
          <img src="<%= asset_url('methods/Positive-psychotherapy.svg')%>" alt="Позитивная психотерапия" class="problem_icon">
          <h3 class="problem_name">Позитивная психотерапия</h3>
        </a>
        <p class="problem_text">
          Прекрасный метод работы с внутренними конфликтами. Взращивая свои способности, используя позитивные формулировки, концентрируясь на сильных сторонах своей личности, человек научается самостоятельно применять свои ресурсы для решения жизненных трудностей.
        </p>
      </div>
    </div>

    <h2 style="text-align: center; font-weight: 800; font-size: 2.5vw; margin: 6vw 0px 6vw 0vw">Вспомогательные методы</h2>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 4vw">
      <div class="problem_box">
        <a href="Metacognitive-therapy.html" style="text-decoration: none; color: inherit;">
          <img src="<%= asset_url('methods/MCT.svg')%>" alt="Метакогнитивная терапия" class="problem_icon">
          <h3 class="problem_name">Метакогнитивная терапия</h3>
        </a>
        <p class="problem_text">
          Направление 3-й волны КПТ, которое расширяет функционал и улучшает эффективность КПТ при работе с тревожно-депрессивными состояниями. Развивая гибкость мышления и внимания, человек научается самостоятельно справляться со своими проблемами.
        </p>
      </div>

      <div class="problem_box">
        <a href="Acceptance-and-Commitment-Therapy.html" style="text-decoration: none; color: inherit;">
          <img src="<%= asset_url('methods/ACT.svg')%>" alt="Терапия принятия и ответственности" class="problem_icon">
          <h3 class="problem_name">Терапия принятия и ответственности</h3>
        </a>
        <p class="problem_text">
          Направление 3-й волны КПТ, помогает при работе с невротическими состояниями. Улучшая осознанность, выявляя ценности, делая акцент на действиях, важных для человека, достигаются стойкие результаты психотерапии. Также, помогает решать экзистенциальные проблемы.
        </p>
      </div>

      <div class="problem_box">
        <a href="Emotional-Figurative-Therapy.html" style="text-decoration: none; color: inherit;">
          <img src="<%= asset_url('methods/EIT.svg')%>" alt="Эмоционально-образная терапия" class="problem_icon">
          <h3 class="problem_name">Эмоционально-образная терапия</h3>
        </a>
        <p class="problem_text">
          Отличный метод работы с эмоциями. Представляем события, мысли, эмоции или ощущения в виде метафор/образов и преобразуем их. Один самых красочных и изящных методов. Любимая игрушка творческих людей. Подходит для людей любого возраста.
        </p>
      </div>

      <div class="problem_box">
        <a href="Transactional-analysis.html" style="text-decoration: none; color: inherit;">
          <img src="<%= asset_url('methods/Transactional-analysis.svg')%>" alt="Транзактный анализ" class="problem_icon">
          <h3 class="problem_name">Транзактный анализ</h3>
        </a>
        <p class="problem_text">
          Эффективный метод работы с отношениями. Рассматриваем взаимодействие людей с точки зрения их внутреннего состояния (родитель, ребенок, взрослый) и внешнего поведения (слова, жесты, действия). Это помогает понять сценарий их игры способы трансформации этого взаимодействия.
        </p>
      </div>

      <div class="problem_box">
        <a href="Mindfulness.html" style="text-decoration: none; color: inherit;">
          <img src="<%= asset_url('methods/Mindfulness.svg')%>" alt="Майндфулнесс" class="problem_icon">
          <h3 class="problem_name">Майндфулнесс</h3>
        </a>
        <p class="problem_text">
          Направление 3-й волны КПТ, практика осознанности и развития внимания, которая заимствовала техники йоги и медитации из Востока, для работы с навязчивыми мыслями, невротическими желаниями и страхами. Самый эффективный метод управления стрессом.
        </p>
      </div>

      <div class="problem_box">
        <a href="STA.html" style="text-decoration: none; color: inherit;">       
          <img src="<%= asset_url('methods/STA.svg')%>" alt="Системно-мыследеятельностный подход" class="problem_icon">
          <h3 class="problem_name" style="padding: 0.5vw 0vw">Системно-мыследеятельностный подход</h3>
        </a>
        <p class="problem_text">
          Прекрасный метод коучинга, принятия решений и общего саморазвития. Беря за основу лозунг: «я действую так, как я мыслю», стремимся улучшить качество своего мышления. С помощью схем проверяем мышление на наличие противоречий и устраняем их.
        </p>
      </div>
    </div>
  </div> <!-- конец container -->
</div> <!-- конец pc_content -->


















<!-- начало моб версии -->
    <div class="mob" style="background: #F7F7F7;">
      <div class="container" style="margin-bottom: 8vw">
        <h1 style="padding: 9vw 0vw 6vw 0vw; text-align: center; font-weight: 800; font-size: 5vw; margin: 0px">
          Мои методы работы
        </h1>
        <a href="Cognitive-Behavioral-Therapy.html" style="text-decoration: none; color: inherit;">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <img src="<%= asset_url('methods/CBT.svg')%>" alt="Когнитивно-поведенческая терапия" style="width: 28vw; margin-right: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Когнитивно-поведенческая терапия
              </h2>
              <p style="font-size: 2.5vw; line-height: 3vw; margin: 1.5vw 0vw 0vw 0vw;">
                Самый эффективный метод работы с невротическими и депрессивными состояниями. Основа для иных методов психотерапии. Используя протоколы лечения, постепенно изменяя поведение, анализируя свои мысли, заполняя таблицы и дневники, достигается отличный результат.
              </p>
            </div>
          </div>
        </a>

        <a href="Hypnotherapy.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Гипнотерапия
              </h2>
              <p style="font-size: 2.5vw; line-height: 3vw; margin: 1.5vw 0vw 0vw 0vw;">
                Идеальное средство для избавления от детских психотравм и псиосоматики. Серьезный инструмент в умелых руках. Работая с телом и психикой, применяя внушение, человек достигает расслабления, перепроживает ситуации из жизни и научается реагировать на стрессы иначе.
              </p>
            </div>
            <img src="<%= asset_url('methods/Hypnotherapy.svg')%>" alt="Гипнотерапия" style="width: 28vw; margin-left: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
          </div>
        </a>

        <a href="Positive-psychotherapy.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <img src="<%= asset_url('methods/Positive-psychotherapy.svg')%>" alt="Позитивная психотерапия" style="width: 28vw; margin-right: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Позитивная психотерапия
              </h2>
              <p style="font-size: 2.5vw; line-height: 3vw; margin: 1.5vw 0vw 0vw 0vw;">
                Прекрасный метод работы с внутренними конфликтами. Взращивая свои способности, используя позитивные формулировки, концентрируясь на сильных сторонах своей личности, человек научается самостоятельно применять свои ресурсы для решения жизненных трудностей.
              </p>
            </div>
          </div>
        </a>

        <h1 style="padding: 7vw 0vw 2vw 0vw; text-align: center; font-weight: 800; font-size: 5vw">
          Вспомогательные методы
        </h1>

        <a href="Metacognitive-therapy.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Метакогнитивная терапия
              </h2>
              <p style="font-size: 2.5vw; line-height: 3vw; margin: 1.5vw 0vw 0vw 0vw;">
                Направление 3-й волны КПТ, которое расширяет функционал и улучшает эффективность КПТ при работе с тревожно-депрессивными состояниями. Развивая гибкость мышления и внимания, человек научается самостоятельно справляться со своими проблемами.
              </p>
            </div>
            <img src="<%= asset_url('methods/MCT.svg')%>" alt="Метакогнитивная терапия" style="width: 28vw; margin-left: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
          </div>
        </a>

        <a href="Acceptance-and-Commitment-Therapy.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <img src="<%= asset_url('methods/ACT.svg')%>" alt="Терапия принятия и ответственности" style="width: 28vw; margin-right: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Терапия принятия и ответственности
              </h2>
              <p style="font-size: 2.5vw; line-height: 3vw; margin: 1.5vw 0vw 0vw 0vw;">
                Направление 3-й волны КПТ, помогает при работе с невротическими состояниями. Улучшая осознанность, выявляя ценности, делая акцент на действиях, важных для человека, достигаются стойкие результаты психотерапии. Также, помогает решать экзистенциальные проблемы.
              </p>
            </div>
          </div>
        </a>

        <a href="Emotional-Figurative-Therapy.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Эмоционально-образная терапия
              </h2>
              <p style="font-size: 2.5vw; line-height: 3vw; margin: 1.5vw 0vw 0vw 0vw;">
                Отличный метод работы с эмоциями. Представляем события, мысли, эмоции или ощущения в виде метафор/образов и преобразуем их. Один самых красочных и изящных методов. Любимая игрушка творческих людей. Подходит для людей любого возраста.
              </p>
            </div>
            <img src="<%= asset_url('methods/EIT.svg')%>"alt="Эмоционально-образная терапия" style="width: 28vw; margin-left: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
          </div>
        </a>

        <a href="Transactional-analysis.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <img src="<%= asset_url('methods/Transactional-analysis.svg')%>" alt="Транзактный анализ" style="width: 28vw; margin-right: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Транзактный анализ
              </h2>
              <p style="font-size: 2.5vw; line-height: 3vw; margin: 1.5vw 0vw 0vw 0vw;">
                Эффективный метод работы с отношениями. Рассматриваем взаимодействие людей с точки зрения их внутреннего состояния (родитель, ребенок, взрослый) и внешнего поведения (слова, жесты, действия). Это помогает понять сценарий их игры способы трансформации этого взаимодействия.
              </p>
            </div>
          </div>
        </a>

        <a href="Mindfulness.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Майндфулнесс
              </h2>
              <p style="font-size: 2.5vw; line-height: 3vw; margin: 1.5vw 0vw 0vw 0vw;">
                Направление 3-й волны КПТ, практика осознанности и развития внимания, которая заимствовала техники йоги и медитации из Востока, для работы с навязчивыми мыслями, невротическими желаниями и страхами. Самый эффективный метод управления стрессом.
              </p>
            </div>
            <img src="<%= asset_url('methods/Mindfulness.svg')%>" alt="Майндфулнесс" style="width: 28vw; margin-left: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
          </div>
        </a>

        <a href="STA.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <img src="<%= asset_url('methods/STA.svg')%>" alt="Системно-мыследеятельностный подход"  style="width: 28vw; margin-right: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15)); transform: scale(-1, 1);">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Системно-мыследеятельностный подход
              </h2>
              <p style="font-size: 2.5vw; line-height: 3vw; margin: 1.5vw 0vw 0vw 0vw;">
                Прекрасный метод коучинга, принятия решений и общего саморазвития. Беря за основу лозунг: «я действую так, как я мыслю», стремимся улучшить качество своего мышления. С помощью схем проверяем мышление на наличие противоречий и устраняем их.
              </p>
            </div>
          </div>
        </a>
        </div>
          
    </div>  <!-- конец моб версии -->