<div class="pc_content">
  <div class="container">
    <h1 style="text-align: center; font-weight: 800; font-size: 3vw; margin: 5vw 0px 6vw 0vw">Мои методы работы</h1>

    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="problem_box">
        <a href="CBT.html" style="text-decoration: none; color: inherit;">
          <img src="<%= asset_url('methods/CBT.svg')%>" class="problem_icon">
          <h3 class="problem_name">Когнитивно-поведенческая терапия</h3>
        </a>
        <p class="problem_text">
          Самый эффективный метод работы с невротическими и депрессивными состояниями. Основа для иных методов психотерапии. Используя протоколы лечения, постепенно изменяя поведение, анализируя свои мысли, заполняя таблицы и дневники, делая домашние задания, достигается качественный результат психотерапии.
        </p>
      </div>

      <div class="problem_box">
        <a href="MCT.html" style="text-decoration: none; color: inherit;">
          <img src="<%= asset_url('methods/MCT.svg')%>" class="problem_icon">
          <h3 class="problem_name">Метакогнитивная терапия</h3>
        </a>
        <p class="problem_text">
          Направление 3-й волны КПТ, которое расширяет функционал и улучшает эффективность КПТ при работе с тревожно-депрессивными состояниями. Развивая гибкость мышления и внимания, человек научается самостоятельно справляться со своими проблемами.
        </p>
      </div>

      <div class="problem_box">
        <a href="ACT.html" style="text-decoration: none; color: inherit;">
          <img src="<%= asset_url('methods/ACT.svg')%>" class="problem_icon">
          <h3 class="problem_name">Терапия принятия и ответственности</h3>
        </a>
        <p class="problem_text">
          Направление 3-й волны КПТ, помогает при работе с невротическими состояниями. Улучшая осознанность, выявляя ценности, делая акцент на действиях, важных для человека, достигаются стойкие результаты психотерапии. Также, помогает решать экзистенциальные проблемы.
        </p>
      </div>

      <div class="problem_box">
        <a href="EIT.html" style="text-decoration: none; color: inherit;">
          <img src="<%= asset_url('methods/EIT.svg')%>" class="problem_icon">
          <h3 class="problem_name">Эмоционально-образная терапия</h3>
        </a>
        <p class="problem_text">
          Отличный метод работы с эмоциями. Представляем события, мысли, эмоции или ощущения в виде метафор/образов и преобразуем их. Один самых красочных и изящных методов. Любимая игрушка творческих людей.
        </p>
      </div>

      <div class="problem_box">
        <a href="TA.html" style="text-decoration: none; color: inherit;">
          <img src="<%= asset_url('methods/TA.svg')%>" class="problem_icon">
          <h3 class="problem_name">Транзактный анализ</h3>
        </a>
        <p class="problem_text">
          Эффективный метод работы с отношениями. Рассматриваем взаимодействие людей с точки зрения их социальных ролей. Это помогает понять в какую игру они играют, что происходит и как изменить это взаимодействие.
        </p>
      </div>

      <div class="problem_box">
        <a href="STA.html" style="text-decoration: none; color: inherit;">       
          <img src="<%= asset_url('methods/STA.svg')%>" class="problem_icon">
          <h3 class="problem_name">Системно-мыследеятельностный подход</h3>
        </a>
        <p class="problem_text">
          Прекрасный метод коучинга. Подходит для принятия решений, выстраивания бизнес-планов и общего саморазвития. Беря за основу лозунг: «я действую так, как я мыслю», стремимся улучшить качество своего мышления. С помощью схем проверяем мышление на наличие противоречий и устраняем их.
        </p>
      </div>
    </div>
  </div> <!-- конец container -->