 <div class="pc_content">
  <div class="container" style="text-align: justify;">
    <h1 style="padding-top: 4vw; text-align: center; font-weight: 800; font-size: 3vw;">Позитивная психотерапия</h1>
    <p style="text-align: center; font-size: 1.1vw; line-height: 1.6vw; letter-spacing: 0.01em; margin: 2vw 7vw 4vw 7vw;">
      В 70-хх годах был разработан метод, который помогает избавиться от невротических проблем и внутрених конфликтов. Имя ему – ППТ.
    </p>
    <div>
      <img src="<%= asset_url('methods/Positive-psychotherapy.svg')%>" alt="позитивная психотерапия" style="float: right; width: 30vw; margin: 1vw 4vw">
      <h2>Что такое ППТ</h2>
      <p>
        <b>Позитивная психотерапия</b> (ППТ) – это краткосрочный метод работы с конфликтами базирующийся на психоанализе. Основная фишка – транскультурность (метод одинаково хорошо работает с людьми из разных культур, например, Африки и Европы). Название метода происходит от латинского слова «positum» (имеющий место, данный, фактический).
      </p>
      <p>
        Создателем ППТ является Носсрат Пезешкиан, который в 1968 году на основе проведенных им исследований людей из 20 стран мира выявил закономерности в их культурах. Он доказал, что:<br>
        <b>1.</b> Все люди имеют представление о <b>способностях</b> человека к любви, справедливости, терпению и т.д. Это значит, что можно любую ситуацию описать с точки зрения cпособностей: "низкая самооценка - чрезмерно высокая способность к справедливости и низкая способность любить себя" (человек привык сравнивать себя с другими и думать, что он хуже остальных и не достоин иметь большее, потому что это будет несправедливо; человек не видит своих положительных качеств, считает сам факт наличия своих желаний недостаточным основанием для их удовлетворения, ведь он не любит себя).
        Пезешкиан описал ряд базовых способностей человека, классифицировал их и утверждал, что важнейшая задача терапии - научить клиента использовать свои способности, ведь весь набор способностей уже заложен в человека с рождения, а значит у него есть всё, чтобы решить свои проблемы.<br>
        <b>2.</b> Позитивное толкование симптомов снижает уровень тревоги: "упрямство - способность сказать "нет", возразить авторитетам", "страх - способность избегать угрожающих ситуаций, объектов, субъектов".<br>
        <b>3.</b> Эффективным средством работы с негативными концепциями (убеждениями) в любой из культур являются <b>поговорки, истории, притчи, сказки</b>, которые позволяют заглянуть с необычной стороны на свои проблемы как бы со стороны, без тревоги и неудобства, обычно испытываемых при обсуждении человеком его трудностей.<br>
        Принципы ППТ:
      </p>
      <ul>
        <li>Принцип надежды — человек от рождения способен адаптироваться и совершенствоваться. Его способности развиваются по мере обретения и осмысления жизненного опыта, а позднее — с помощью целенаправленной тренировки. Выделяют две базовые способности человека: 
        <b>любить</b> (вступать в отношения с окружающим миром и людьми, чтобы удовлетворить свои потребности) и <b>познавать</b> (развивать свои знания и умения, чтобы лучше удовлетворять потребности). Все конфликты и симптомы рассматриваются как попытки, пусть и не всегда удачные, приспособиться и развить свои способности. Такой ориентированный на ресурсы подход позволяет человеку осознать, что «я не так уж плох», принять ситуацию и сосредоточиться на имеющихся ресурсах для поиска более оптимальных путей адаптации. Такая направленность помогает человеку почувствовать свои способности и взять на себя ответственность.
        </li>
        <li>Принцип баланса — предлагает рассматривать жизнь и развитие личности в четырёх областях (тело, деятельность, контакты, фантазии), стремящихся к восстановлению естественного баланса. Нарушение баланса между ними ведет к конфликтам и заболеваниям. Поэтому терапия направлена на работу с ожиданиями, мотивациями и концепциями. Такой подход позволяет клиенту справиться с корнем проблемы и свести к минимуму возможность ее рецидивов.</li>
        <li>Принцип самопомощи — клиент является активным участником процесса терапии. Это возможно благодаря хорошо структурированной и простой пятиступенчатой модели терапии. Задача - вызвать у клиента интерес к исследованию своей ситуации и научить основным приемам самопомощи. Носсрат Пезешкиан часто говорил: «здоров не тот, у кого нет проблем, а тот, кто умеет их решать».
        </li>
      </ul>
      <p>
        Все применяемые техники в ППТ сопровождаются красочными метафорами, притчами, историями и позитивными интерпретациями, которые помогают клиенту сконцентрироваться на сильных стронах своей личности.
      </p>
    </div>

    <h2>Проблемы, которые решаются с помощью ППТ:</h2>
    <ul>
      <li>Низкая самооценка</li>
      <li>Повышенная тревога</li>
      <li>Невроз и психосоматика</li>
      <li>Конфликты во взаимоотношениях</li>
      <li>Экзистенциальые проблемы (потеря смысла жизни)</li>
      <li>Внутренние конфликты и противоречия (хочу, но не могу; не хочу, а надо; хочу одновременно и одно и другое)</li>
    </ul>

    <h2>Как работает ППТ</h2>
    <p>
      Клиент на первой сессии описывает свою проблему, ППТ-терапевт слушает, задает уточняющие вопросы, проводит полноценную диагностику по модели баланса и подражания:
    </p>

    <div style="text-align: center; margin: 3vw;"><img src="<%= asset_url('methods/Models-of-positive-psychotherapy.png')%>" alt="модели позитивной психотерапии" style="width: 60vw;"></div>
  
    <p>
      Текущая проблема в жизни человека (<b>Актуальный Конфликт</b>) описывается через 4 сферы: как тело реагирует на ситуацию, как человек действует в этой ситуации, как он коммуницирует и что для него значит вся эта ситуация (о чем он фантазирует, мечтает, что думает о будущем). Если 4 сферы находятся в дисбалансе, то человек ощущает дискомфорт и негативные эмоции. Для анализа причин дисбаланса выявляются родительские установки по модели подражания: то, как родители (или значимые взрослые) относились к себе, к друг другу, к чужим людям, к вере, что говорили о будущем, традициях и о чем мечтали. Модель подражания дает возможность понять происхождение негативных эмоций и причины поведения человека.<br>
      Терапевтическая работа строиться на осознанном оптимальном развитии новых навыков по 5-ти ступенчатой модели: наблюдение, понимание, поощрение, вербализация, расширение целей.
    </p>
    <h2>1. Наблюдение и дистанциализация</h2>
    <p>
      Cлушание рассказа клиента о его субъективном видении жалоб и конфликтов, сбор концепций и верований клиента, структурирование информации по модели баланса. Эмоционально эта стадия направлена на создание доверительных отношений с клиентом (раппорта). Для их создания, терапевт отслеживает свои эмоции, а также эмоции и поведение клиента. Терапевт систематически структурирует информацию, строит гипотезы о том, какое значение проблема имеет для клиента и его семьи используя позитивные интерпретации - это помогает терапевту дистанцироваться от своего собственного восприятия и избежать повторения негативных убеждений клиента. Если клиент готов, терапевт уже может предлагать альтернативную точку зрения на ситуацию, описывать проблему с точки зрения применяемых способностей. Это делается для того, чтобы помочь человеку преодолеть позицию жертвы и самобичевание. В процессе анализа обнаруживаются области жизни, связанные с проблемой, в которых конфликт проявлен меньше, а клиент чувствует себя скорее хозяином ситуации, чем жертвой. Таким образом, обсуждение смещается от симптомов и слабостей к ресурсам. Позитивное толкование дает эмоциональное успокоение, мобилизирует ресурсы и стимулирует к поиску альтернативных вариантов решения проблемы.
    </p>
    <h2>2. Инвентаризация</h2>
    <p>
      Детальный анализ существующей проблемы и наиболее значимых событий за последние пять лет.
      Выявляем то, как человек пытается справиться с АК:<br>
      - уходя с головой в работу<br>
      - убегая в зависимые отношения/одиночество<br>
      - уходя в мир фантазий, мечт, религию<br>
      - уходя в болезнь (как способ оттянуть принятия важного решения, избежать ответственности)<br>
      Выяснение того, как человек пытался справиться с подобными проблемами в прошлом, дает почву для выявления <b>Базового Конфликта</b> - ситуации, когда человек научился определенным способом думать, чувствовать, вести себя, ценить что-то (паттерны модели подражания). БК чаще всего находится в детстве: отношения с родителями, братьями, сёстрами и другими значимыми людьми. Невозможность достичь результата в АК через паттерны заложенные в детстве порождает <b>Внутренний конфликт</b> (хочу, но не могу; не хочу, а надо; хочу одновременно и того и другого). Именно ВК порождает проблему в АК. Итак, на этапе инвентаризации мы находим ответы на такие вопросы:<br>
        1) Какие способности задействованы в АК?<br>
        2) Какие "правила игры" относительно этих способностей?<br>
        3) Какие концепции затрагивает этот конфликт?<br>
        4) Как и от кого были усвоены эти концепции в БК? Какие способности в них задествуются?<br>
        Эти данные укажут на тактические особенности подхода к коррекции.
    </p>
    <h2>3. Ситуативное поощрение</h2>
    <p> 
      Описание ситуации клиента в виде метафорической истории, сказки, рисунка, которая подчёркивает ресурсы клиента. Выбор метафорических персонажей и их характеров, которые помогают описать проблему в безоценочной манере, делает сам клиент. Терапевт поддерживает клиента, позитивной интерпретацией помогает осознать относительность концепций, поощряет ресурсные способности клиента, использует психотехники для успокоения, расслабления и усвоения новых альтернативных концепций (напрмиер, аутогенная тренировка), помогает научиться получать эмоциональную поддержку от окружающих и активировать свой внутренний ресурс - имеющийся опыт преодоления подобных проблем в прошлом. Это стимулирует клиента для взятия на себя ответственности за происходящее с ним и создает личный интерес для дальнейшей работы и самопомощи.
    </p>
    <h2>4. Вербализация, решение и действие</h2>
    <p>
      Основная задача: чтобы клиент ощутил себя активным творцом своей жизни. Альтернативность и юмор метафор, историй, поощряют клиента принимать простые решения, выполнение которых даёт вдохновение и уверенность в эффективности новых концепций.<br>
      На этой стадии терапевт выступает посредником для достижения изменений и своего рода тренером, предоставляющим клиенту:<br> 
      - возможность открыто обсудить конфликт и альтернативные способы его разрешения в безопасной обстановке;<br>
      - собственное терпение;<br>
      - пример овладения собой и ситуацией;<br>
      - осознанную ответственность, которую клиент должен принять за изменения в его жизни.<br>
      На этой стадии проводится поиск альтернативных способов удовлетворения своих устремлений. Практически для этого используются: размышление, истории, чтение, обсуждение, поиск примеров для подражания и т. д. Когда удовлетворительные альтернативы найдены, требуется принять решение, спланировать изменения и действовать.<br>
      Клиент и терапевт сотрудничают в конструктивном разрешении конфликтов. Для этого лично я применяю весь спектр психологических техник и приемов: письмо симптому, техника пустого стула, 5-ти шаговый рисунок, техники прощения и терапии частей, ЭОТ, ТА.<br>
      Клиент учится формулировать свои мысли в отношении конфликтов активным языком "хозяина собственной жизни", вместо языка жертвы, состоящему из стереотипов и препятствующему развитию. Закрепление активного языка на уровне привычки/рефлекса способствует разрешению конфликтов и преодолению симптомов.
    </p>
    <h2>5. Расширение целей</h2>
    <p>
      Терапевт обсуждает с клиентом его понимание ситуации, предлагает записать свои идеи относительно истории, а возможно, переписать или продолжить её.
      Важный момент терапии - составление плана терапии/реабилитации, фокусирование клиента на активных осознанных действиях в настоящем и их результатах, расширяющих возможности в будущем. В частности, объектом такого расширения должно оказаться использование клиентом опыта и навыков, полученных в терапии для самопомощи. Залог постоянства развития - в способности прогнозировать результаты и последствия действий, анализировать реальные достижения в свете меняющейся ситуации, корректировать планы и направлять своё дальнейшее развитие.<br>
      В этом контексте важно ответить на следующие вопросы:<br>
      1. Что я буду делать, когда разрешу свои затруднения?<br>
      2. Какие новые перспективы откроются?<br>
      3. Что я предпринял бы, если бы был один?<br>
      Неотъемлемая часть планирования собственного развития — образование и самообразование. Окончательное закрепление фокуса на сбалансированном последовательном развитии, позволяющем использовать любой, в т. ч. и конфликтный, опыт в целях достижения намеченных изменений.
    </p>
    <h2>Как долго нужно проходить терапию ППТ</h2>
    <p>
      Стандартная ППТ-терапия длится от 10 сессий 1-2 раза в неделю. В зависимости от сложности проблемы, индивидуальных особенностей человека, работа может длиться и дольше. По желанию клиента может проводиться поддерживающая терапия (1 сессия раз в 3-4 недели).
    </p>

    <h2 style="font-size: 3vw; text-align: center; margin: 6vw 0px 2vw 0vw; padding-top: 3vw">Запись на консультацию</h2> 
    <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 5vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8vw">
      <img src="<%= asset_url('form.svg')%>" alt="форма онлайн-записи на консультацию психолога" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- конец container -->
</div> <!-- конец pc_content -->















<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7; padding-bottom: 8vw">
  <div class="container" style="margin-bottom: 8vw; font-size: 2.7vw; line-height: 3.4vw; text-align: start;">
    <h1 style="padding: 9vw 0vw 0vw 0vw; text-align: center; font-weight: 800; font-size: 5vw; line-height: 6vw; margin: 0px;">
      Позитивная психотерапия
    </h1>
    <p style="text-align: center; font-size: 2.7vw; line-height: 3.2vw; letter-spacing: 0.01em; margin: 5vw 0vw 7vw 0vw">
      В 70-хх годах был разработан метод, который помогает избавиться от невротических проблем и внутрених конфликтов. Имя ему – ППТ.
    </p>
    <img src="<%= asset_url('methods/Positive-psychotherapy.svg')%>" alt="позитивная психотерапия" style="width: 86vw">

    <h2>Что такое ППТ</h2>
    <p>
      <b>Позитивная психотерапия</b> (ППТ) – это краткосрочный метод работы с конфликтами базирующийся на психоанализе. Основная фишка – транскультурность (метод одинаково хорошо работает с людьми из разных культур, например, Африки и Европы). Название метода происходит от латинского слова «positum» (имеющий место, данный, фактический).
    </p>
    <p>
      Создателем ППТ является Носсрат Пезешкиан, который в 1968 году на основе проведенных им исследований людей из 20 стран мира выявил закономерности в их культурах. Он доказал, что:<br>
      <b>1.</b> Все люди имеют представление о <b>способностях</b> человека к любви, справедливости, терпению и т.д. Это значит, что можно любую ситуацию описать с точки зрения cпособностей: "низкая самооценка - чрезмерно высокая способность к справедливости и низкая способность любить себя" (человек привык сравнивать себя с другими и думать, что он хуже остальных и не достоин иметь большее, потому что это будет несправедливо; человек не видит своих положительных качеств, считает сам факт наличия своих желаний недостаточным основанием для их удовлетворения, ведь он не любит себя).
      Пезешкиан описал ряд базовых способностей человека, классифицировал их и утверждал, что важнейшая задача терапии - научить клиента использовать свои способности, ведь весь набор способностей уже заложен в человека с рождения, а значит у него есть всё, чтобы решить свои проблемы.<br>
      <b>2.</b> Позитивное толкование симптомов снижает уровень тревоги: "упрямство - способность сказать "нет", возразить авторитетам", "страх - способность избегать угрожающих ситуаций, объектов, субъектов".<br>
      <b>3.</b> Эффективным средством работы с негативными концепциями (убеждениями) в любой из культур являются <b>поговорки, истории, притчи, сказки</b>, которые позволяют заглянуть с необычной стороны на свои проблемы как бы со стороны, без тревоги и неудобства, обычно испытываемых при обсуждении человеком его трудностей.<br>
      Принципы ППТ:
    </p>
    <ul>
      <li>Принцип надежды — человек от рождения способен адаптироваться и совершенствоваться. Его способности развиваются по мере обретения и осмысления жизненного опыта, а позднее — с помощью целенаправленной тренировки. Выделяют две базовые способности человека: 
      <b>любить</b> (вступать в отношения с окружающим миром и людьми, чтобы удовлетворить свои потребности) и <b>познавать</b> (развивать свои знания и умения, чтобы лучше удовлетворять потребности). Все конфликты и симптомы рассматриваются как попытки, пусть и не всегда удачные, приспособиться и развить свои способности. Такой ориентированный на ресурсы подход позволяет человеку осознать, что «я не так уж плох», принять ситуацию и сосредоточиться на имеющихся ресурсах для поиска более оптимальных путей адаптации. Такая направленность помогает человеку почувствовать свои способности и взять на себя ответственность.
      </li>
      <li>Принцип баланса — предлагает рассматривать жизнь и развитие личности в четырёх областях (тело, деятельность, контакты, фантазии), стремящихся к восстановлению естественного баланса. Нарушение баланса между ними ведет к конфликтам и заболеваниям. Поэтому терапия направлена на работу с ожиданиями, мотивациями и концепциями. Такой подход позволяет клиенту справиться с корнем проблемы и свести к минимуму возможность ее рецидивов.</li>
      <li>Принцип самопомощи — клиент является активным участником процесса терапии. Это возможно благодаря хорошо структурированной и простой пятиступенчатой модели терапии. Задача - вызвать у клиента интерес к исследованию своей ситуации и научить основным приемам самопомощи. Носсрат Пезешкиан часто говорил: «здоров не тот, у кого нет проблем, а тот, кто умеет их решать».
      </li>
    </ul>
    <p>
      Все применяемые техники в ППТ сопровождаются красочными метафорами, притчами, историями и позитивными интерпретациями, которые помогают клиенту сконцентрироваться на сильных стронах своей личности.
    </p>

    <h2>Проблемы, которые решаются с помощью ППТ:</h2>
    <ul>
      <li>Низкая самооценка</li>
      <li>Повышенная тревога</li>
      <li>Невроз и психосоматика</li>
      <li>Конфликты во взаимоотношениях</li>
      <li>Экзистенциальые проблемы (потеря смысла жизни)</li>
      <li>Внутренние конфликты и противоречия (хочу, но не могу; не хочу, а надо; хочу одновременно и одно и другое)</li>
    </ul>

    <h2>Как работает ППТ</h2>
    <p>
      Клиент на первой сессии описывает свою проблему, ППТ-терапевт слушает, задает уточняющие вопросы, проводит полноценную диагностику по модели баланса и подражания:
    </p>

    <div style="text-align: center; margin: 5vw 0vw 0vw 0vw;"><img src="<%= asset_url('methods/Models-of-positive-psychotherapy.png')%>" alt="модели позитивной психотерапии" style="width: 86vw;"></div>

    <p>
      Текущая проблема в жизни человека (<b>Актуальный Конфликт</b>) описывается через 4 сферы: как тело реагирует на ситуацию, как человек действует в этой ситуации, как он коммуницирует и что для него значит вся эта ситуация (о чем он фантазирует, мечтает, что думает о будущем). Если 4 сферы находятся в дисбалансе, то человек ощущает дискомфорт и негативные эмоции. Для анализа причин дисбаланса выявляются родительские установки по модели подражания: то, как родители (или значимые взрослые) относились к себе, к друг другу, к чужим людям, к вере, что говорили о будущем, традициях и о чем мечтали. Модель подражания дает возможность понять происхождение негативных эмоций и причины поведения человека.<br>
      Терапевтическая работа строиться на осознанном оптимальном развитии новых навыков по 5-ти ступенчатой модели: наблюдение, понимание, поощрение, вербализация, расширение целей.
    </p>
    <h2>1. Наблюдение и дистанциализация</h2>
    <p>
      Cлушание рассказа клиента о его субъективном видении жалоб и конфликтов, сбор концепций и верований клиента, структурирование информации по модели баланса. Эмоционально эта стадия направлена на создание доверительных отношений с клиентом (раппорта). Для их создания, терапевт отслеживает свои эмоции, а также эмоции и поведение клиента. Терапевт систематически структурирует информацию, строит гипотезы о том, какое значение проблема имеет для клиента и его семьи используя позитивные интерпретации - это помогает терапевту дистанцироваться от своего собственного восприятия и избежать повторения негативных убеждений клиента. Если клиент готов, терапевт уже может предлагать альтернативную точку зрения на ситуацию, описывать проблему с точки зрения применяемых способностей. Это делается для того, чтобы помочь человеку преодолеть позицию жертвы и самобичевание. В процессе анализа обнаруживаются области жизни, связанные с проблемой, в которых конфликт проявлен меньше, а клиент чувствует себя скорее хозяином ситуации, чем жертвой. Таким образом, обсуждение смещается от симптомов и слабостей к ресурсам. Позитивное толкование дает эмоциональное успокоение, мобилизирует ресурсы и стимулирует к поиску альтернативных вариантов решения проблемы.
    </p>
    <h2>2. Инвентаризация</h2>
    <p>
      Детальный анализ существующей проблемы и наиболее значимых событий за последние пять лет.
      Выявляем то, как человек пытается справиться с АК:<br>
      - уходя с головой в работу<br>
      - убегая в зависимые отношения/одиночество<br>
      - уходя в мир фантазий, мечт, религию<br>
      - уходя в болезнь (как способ оттянуть принятия важного решения, избежать ответственности)<br>
      Выяснение того, как человек пытался справиться с подобными проблемами в прошлом, дает почву для выявления <b>Базового Конфликта</b> - ситуации, когда человек научился определенным способом думать, чувствовать, вести себя, ценить что-то (паттерны модели подражания). БК чаще всего находится в детстве: отношения с родителями, братьями, сёстрами и другими значимыми людьми. Невозможность достичь результата в АК через паттерны заложенные в детстве порождает <b>Внутренний конфликт</b> (хочу, но не могу; не хочу, а надо; хочу одновременно и того и другого). Именно ВК порождает проблему в АК. Итак, на этапе инвентаризации мы находим ответы на такие вопросы:<br>
        1) Какие способности задействованы в АК?<br>
        2) Какие "правила игры" относительно этих способностей?<br>
        3) Какие концепции затрагивает этот конфликт?<br>
        4) Как и от кого были усвоены эти концепции в БК? Какие способности в них задествуются?<br>
        Эти данные укажут на тактические особенности подхода к коррекции.
    </p>
    <h2>3. Ситуативное поощрение</h2>
    <p> 
      Описание ситуации клиента в виде метафорической истории, сказки, рисунка, которая подчёркивает ресурсы клиента. Выбор метафорических персонажей и их характеров, которые помогают описать проблему в безоценочной манере, делает сам клиент. Терапевт поддерживает клиента, позитивной интерпретацией помогает осознать относительность концепций, поощряет ресурсные способности клиента, использует психотехники для успокоения, расслабления и усвоения новых альтернативных концепций (напрмиер, аутогенная тренировка), помогает научиться получать эмоциональную поддержку от окружающих и активировать свой внутренний ресурс - имеющийся опыт преодоления подобных проблем в прошлом. Это стимулирует клиента для взятия на себя ответственности за происходящее с ним и создает личный интерес для дальнейшей работы и самопомощи.
    </p>
    <h2>4. Вербализация, решение и действие</h2>
    <p>
      Основная задача: чтобы клиент ощутил себя активным творцом своей жизни. Альтернативность и юмор метафор, историй, поощряют клиента принимать простые решения, выполнение которых даёт вдохновение и уверенность в эффективности новых концепций.<br>
      На этой стадии терапевт выступает посредником для достижения изменений и своего рода тренером, предоставляющим клиенту:<br> 
      - возможность открыто обсудить конфликт и альтернативные способы его разрешения в безопасной обстановке;<br>
      - собственное терпение;<br>
      - пример овладения собой и ситуацией;<br>
      - осознанную ответственность, которую клиент должен принять за изменения в его жизни.<br>
      На этой стадии проводится поиск альтернативных способов удовлетворения своих устремлений. Практически для этого используются: размышление, истории, чтение, обсуждение, поиск примеров для подражания и т. д. Когда удовлетворительные альтернативы найдены, требуется принять решение, спланировать изменения и действовать.<br>
      Клиент и терапевт сотрудничают в конструктивном разрешении конфликтов. Для этого лично я применяю весь спектр психологических техник и приемов: письмо симптому, техника пустого стула, 5-ти шаговый рисунок, техники прощения и терапии частей, ЭОТ, ТА.<br>
      Клиент учится формулировать свои мысли в отношении конфликтов активным языком "хозяина собственной жизни", вместо языка жертвы, состоящему из стереотипов и препятствующему развитию. Закрепление активного языка на уровне привычки/рефлекса способствует разрешению конфликтов и преодолению симптомов.
    </p>
    <h2>5. Расширение целей</h2>
    <p>
      Терапевт обсуждает с клиентом его понимание ситуации, предлагает записать свои идеи относительно истории, а возможно, переписать или продолжить её.
      Важный момент терапии - составление плана терапии/реабилитации, фокусирование клиента на активных осознанных действиях в настоящем и их результатах, расширяющих возможности в будущем. В частности, объектом такого расширения должно оказаться использование клиентом опыта и навыков, полученных в терапии для самопомощи. Залог постоянства развития - в способности прогнозировать результаты и последствия действий, анализировать реальные достижения в свете меняющейся ситуации, корректировать планы и направлять своё дальнейшее развитие.<br>
      В этом контексте важно ответить на следующие вопросы:<br>
      1. Что я буду делать, когда разрешу свои затруднения?<br>
      2. Какие новые перспективы откроются?<br>
      3. Что я предпринял бы, если бы был один?<br>
      Неотъемлемая часть планирования собственного развития — образование и самообразование. Окончательное закрепление фокуса на сбалансированном последовательном развитии, позволяющем использовать любой, в т. ч. и конфликтный, опыт в целях достижения намеченных изменений.
    </p>
    <h2>Как долго нужно проходить терапию ППТ</h2>
    <p>
      Стандартная ППТ-терапия длится от 10 сессий 1-2 раза в неделю. В зависимости от сложности проблемы, индивидуальных особенностей человека, работа может длиться и дольше. По желанию клиента может проводиться поддерживающая терапия (1 сессия раз в 3-4 недели).
    </p>

  </div> <!-- конец container -->
    
  <h2 style="padding: 7vw 0vw 2vw 0vw; text-align: center; font-weight: 800; font-size: 5vw">
    Запись на консультацию
  </h2>
  <p style="text-align: center; font-size: 2.9vw; line-height: 3.7vw; margin: 2vw 7vw 7vw 7vw">
    Заполните форму или свяжитесь со мной любым удобным для вас способом. Контакты вы найдете 
    <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
  </p>

  <%= render partial: "/new/form"%>

</div> <!-- конец моб версии -->