<div class="pc_content">
  <div class="container">
    <h1 style="text-align: center; font-weight: 800; font-size: 3.5vw; margin: 5vw 0px 4vw 0vw">Цена</h1>

    <div style="display: flex; justify-content: space-evenly; align-items: center;">
      <img src="<%= asset_url('Price_main.svg')%>" style="width: 32vw">
      <div style="width: 36.5vw">
        <h2 style="font-size: 2vw; line-height: 2.6vw; margin: 0vw 10vw 1vw 0vw">Индивидуальная<br>онлайн консультация</h2>
        <div style="display: flex; justify-content: space-between; align-items: center">
          <div style="display: flex; align-items: center;">
            <img src="<%= asset_url('price6.svg')%>" style="width: 3.5vw; margin-right: 1vw">
            <p style="font-size: 1.3vw">Длительность консультации</p>
          </div>
          <p style="font-weight: 800; font-size: 2vw">2 часа</p>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center">
          <div style="display: flex; align-items: center;">
            <img src="<%= asset_url('price3.PNG')%>" style="width: 3.5vw; margin-right: 1vw">
            <p style="font-size: 1.3vw">Цена консультации</p>
          </div>
          <p style="font-weight: 800; font-size: 2vw">30 $</p>
        </div>
        <p style="text-align: justify;">
          Консультация по Skype, Telegram, Viber, Hangouts для тех, кто ценит свое время. Вы находитесь у себя дома, в безопасной обстановке, в удобном кресле, говорите о наболевшем с тем, кто вас понимает, избавляетесь от страхов и сомнений, наполняясь спокойствием и верой в себя. Подробнее о процессе консультации <a href="consultations.html"><b>тут</b></a>.
        </p>
        <button id="button_client_form">
          <a href="#client_form">ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ</a>
        </button>
      </div>
    </div>

    <h2 style="font-weight: 800; font-size: 3vw; text-align: center; margin: 12vw 0px 4vw 0vw">Что входит в стоимость консультации</h2>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="service_box">
        <img src="<%= asset_url('service1.svg')%>" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Консультация</h3>
        <p class="service_text">
          2 часа непрерывной работы с Вами (диагностика, изменение схем мышления и поведения, обретение новых навыков и способностей, улучшение эмоционального состояния)
        </p>
      </div>

      <div class="service_box">
        <img src="<%= asset_url('service2.svg')%>" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Стенография</h3>
        <p class="service_text">
          Стенография того, что было на консультации с описанием применяемых техник и домашним заданием (в файле docx)
        </p>
      </div>

      <div class="service_box">
        <img src="<%= asset_url('service3.svg')%>" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Сопровождение</h3>
        <p class="service_text">
          Между консультациями мы общаемся в мессенджерах, отслеживаем динамику Вашего состояния, Вы рассказываете мне всё, что Вас беспокоит и задаете любые вопросы для достижения максимального результата!
        </p>
      </div>

      <div class="service_box">
        <img src="<%= asset_url('price_dop.png')%>" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name">Доп. материалы</h3>
        <p class="service_text">
          Текстовые, аудио и видео-файлы для выполнения домашнего задания, фиксации результатов терапии, профилактики рецидивов и обучения (в файлах word, excel, mp3, mp4)
        </p>
      </div>
    </div>
 
    <h2 style="font-size: 3vw; text-align: center; margin: 10vw 0px 2vw 0vw">Гарантия результата</h2>
    <p style="text-align: center; font-size: 1.2vw; letter-spacing: 0.01em; margin: 3vw 0vw 3vw 0vw;">
      Почему вам нужно выбрать меня? Мои преимущества:
    </p>

    <div style="display: flex; justify-content: center; align-items: center">
      <ul style="width: 40vw; margin: 1vw 4vw 0vw 0vw">
        <li>4 года практики психологической помощи</li>
        <li>Личная супервизия раз в месяц (анализ моих консультаций другими психологами)</li>
        <li>Мои дипломы и сертификаты об официальном образовании</li>
        <li>Ежедневный контроль Вашего состояния благодаря прямой связи со мной!</li>
        <li>Отзывы моих клиентов, которые достигли положительного результата</li>
        <li>Профессиональный подход: сначала полная диагностика - потом психотерапия!</li>
        <li>Индивидуальный подход: план психотерапии мы создаем ВМЕСТЕ, с учетом всех ваших потребностей и финансовых возможностей</li>
      </ul>
      <img src="<%= asset_url('result.svg')%>" style="width: 32vw;">
    </div>

    <h2 style="font-size: 3vw; text-align: center; margin: 10vw 0px 2vw 0vw">Запись на консультацию</h2> 
    <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 5vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>.
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5vw">
      <img src="<%= asset_url('КПНК1.svg')%>" style="width: 40vw">
      <%= render partial: '/new/form' %>
    </div>

  </div>  <!-- конец container -->