<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Психотерапия неврозов и психосоматики | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие невроза и как психолог помогает от нее избавиться.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Психотерапия неврозов и психосоматики | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие невроза и как психолог помогает от нее избавиться.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Psychotherapy-of-neuroses">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/Tkachenko-Andrey-0ccd9afe47bf51522e172c3619a0dd1b97986605188615048acbc034288baecf.jpg">
<% end %>

<div class="pc_content">
  <div class="container" style="text-align: justify;">
    <h1 style="text-align: center; font-weight: 800; font-size: 2.5vw; margin: 5vw 0px 3vw 0vw">Психотерапия неврозов и психосоматики</h1>
    <p style="text-align: center; margin: 1vw 3vw 5vw 3vw;">
      Если вы это читаете, то, вероятно, у вас психосоматика или невроз. Эта статья призвана кратко объяснить процесс психотерапии с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе
    </p>

    <img src="<%= asset_url('problem/neurosis.svg')%>" alt="Психотерапия неврозов и психосоматики" style="float: right; width: 30vw; margin: 1vw 4vw">
    <h2 style="font-size: 1.6vw; margin: 4vw 0vw 2vw 3vw">Как практически будет выглядеть наша работа</h2>
    <p>
      Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
    </p>
    <p>
      Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы невроза. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
    </p>
    <p>
      Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от невроза и научились конструктивно удовлетворять свои потребности.
    </p>

    <h2 style="font-size: 1.6vw; margin: 4vw 0vw 2vw 3vw">Критерии наличия невроза и критерии достижения результата</h2>
    <table>
      <th>Невроз и психосоматика</th>
      <th>Результат психотерапии</th>
      <tr>
        <td>По опроснику невротических состояний вы набираете -1,28 балла и менее по одной и более шкал.</td>
        <td>По опроснику невротических состояний вы набираете +1,28 балла и более по всем шкалам на протяжении 3-х недель подряд.</td>
      </tr>
      <tr>
        <td>Неумение выстраивать отношения, договариваться, решать конфликты.</td>
        <td>Способность договариваться, решать конфликты, отстаивать свою точку зрения.</td>
      </tr>
      <tr>
        <td>Дискомфортные психосоматические симптомы без видимых физиологических причин, болезней (боли в мышцах, диарея, онемения, повышенная усталость и т.д.).</td>
        <td>Отсутствие или не вызывающая сильного дискомфорта психосоматика.</td>
      </tr>
      <tr>
        <td>Чрезмерные эмоциональные переживания (раздражительность, злость, обида, вина, стыд и т.д.) даже в ответ на незначительные стимулы, "пустяки".</td>
        <td>Уровень вашего беспокойства соответствует обстоятельствам, в которых вы находитесь. Вы умеете управлять своим эмоциональным состоянием.</td>
      </tr>
      <tr>
        <td>Ипохондрия - убежденность в наличии какой-то болезни, неверие врачам, которые утверждают, что нет органической патологии.</td>
        <td>Вы цените свое здоровье, критично воспринимаете информацию, делаете собственные выводы и при этом не чувствуете дискомфорта от того, что иногда приходит мысль: «а вдруг меня недообследовали?», «вдруг я больна?!»td>
      </tr>
      <tfoot>
        <tr>
          <td>Трудности во взаимоотношениях, психологические проблемы (например, внутренний конфликт "хочу, но не могу", "и хочу и не хочу", "не хочу, а надо").</td>
          <td>Отсутствие или не вызывающий сильного дискомфорта внутренний конфликт. Улучшение взаимоотношений в социуме, адаптация к социальному окружению.</td>
        </tr>
      </tfoot>
    </table>

    <h2>План психотерапии невроза</h2>
    <p>
      Вы чувствуете, что у вас "расшатанные нервы" и подозреваете у себя наличие невротического состояния. Для самостоятельной диагностики вы можете заполнить опросник невротических состояний. Далее записывайтесь ко мне на консультацию за психологической диагностикой и психотерапией. В случае необходимости, я отправлю вас к врачу за медицинским обследованием и назначением медикаментов, если они потребуются.
    </p>
    <p>
      <a href="/consultations.html#First" style="border-bottom: 1px solid currentColor;">Первая диагностическая консультация</a> всегда посвящена детальному разбору вашего случая. Она состоит из 3-х основных этапов:
    </p>
    <ul>
      <li>Диагностика. Выявление симптомов и психологических механизмов невроза.</li>
      <li>Информирование. Я объясняю причины симптомов и механизм функционирования невроза. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения, отвечаю на ваши вопросы.</li>
      <li>Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.</li>
    </ul>
    <p>
      В конце консультации вы получаете:<br>
      <b>+ Стенографию</b> консультации в формате docx, которую можно перечитывать в любой момент;<br>
      <b>+ Еxcel файл</b> с вашей схемой невроза и опросником (созданным на основе лично вашей ситуации), который нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результата нашей работы;<br>
      <b>+ Мои личные контакты.</b> Возможность связываться со мной для поддержания связи между сеансами, ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!
    </p>
    <p>
      После диагностики, мы начинаем либо стандартный <a href="/consultations.html#Hypnotherapy" style="border-bottom: 1px solid currentColor;">курс гипнотерапии</a> (5 сеансов по 3 часа, для избавления от психосоматики и психотравм), либо курс психотерапии с использованием методов <a href="/Cognitive-Behavioral-Therapy.html" style="border-bottom: 1px solid currentColor;">Когнитивно-поведенческой терапии</a>, <a href="/Positive-psychotherapy.html" style="border-bottom: 1px solid currentColor;">Позитивной психотерапии</a> и <a href="/Acceptance-and-Commitment-Therapy.html" style="border-bottom: 1px solid currentColor;">Терапии принятия и ответственности</a>. В среднем, для избавления от невроза легкой или средней тяжести необходимо 10 сеансов психотерапии. При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться, однако общая структура психотерапии выглядит следующим образом: 
    </p>

    <h2>Первый – третий сеанс</h2>
    <p>
      Анализируем насколько ваше мышление влияет на общее эмоциональное и физическое состояние. Анализируем насколько ваши убеждения конструктивны и объективны, учимся мыслить критически. Проверяем неконтролируемость, опасность негативных мыслей, учимся откладывать беспокойство на потом, не бороться с ними, а смотреть на мысли отстраненно. Если психосоматика возникла в результате сильного стресса, то вначале мы разбираемся с данной "психотравмой", вспоминаем произошедшее, перепроживаем, создаем новые выводы. Далее, делаем анализ ваших попыток справиться с невротическими симптомами, выявляем то, что работает, и то, что приносит выгоду лишь на краткосрочном промежутке времени, ухудшая ваше состояние в долгосрочном периоде. Научаемся принимать свои эмоции, быть готовыми действовать даже не смотря на негативные переживания. Работаем с внутренними конфликтами и вторичными выгодами, учимся удовлетворять свои потребности.
    </p>        
    <h2>Четвертый – шестой сеанс</h2>
    <p>
      Мы продолжаем работать с мышлением и эмоциями, понемногу учимся управлять собственным вниманием. Развиваем осознанность на настоящем моменте, чтобы вовремя замечать и предотвращать появление негативных эмоций. Применяем техники медитации и заполняем АВС-схему для усиления гибкости внимания, наблюдательной позиции и умения смотреть на ситуацию с разных точек зрения. 
    </p>    
    <h2>Седьмой – восьмой сеанс</h2>
    <p>
      Мы научились контролировать свое внимание. Прекращаем мониторить, подготавливаться и предугадывать возможные угрозы, прислушиваться к негативным мыслям и часто проверять свое самочувствие. Выявляем список ваших ценностей, целей, которые вы хотите достичь, и возможные препятствия (негативные мысли, эмоции, желания, непредвиденные обстоятельства). Снижаем общую тревожность, учимся принимать решения и справляться с  возникающими трудностями. Увеличиваем стрессоустойчивость.
    </p>
    <h2>Девятый – десятый сеанс</h2>
    <p>
     Научаемся применять технику "СТОП". Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
    </p>  
  
    <h2 style="font-size: 2.5vw; text-align: center; margin: 6vw 0px 2vw 0vw; padding-top: 3vw">Запись на консультацию</h2> 
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 4vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8vw">
      <img src="<%= asset_url('form.svg')%>" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- конец container -->
</div>  <!-- конец pc_content -->













<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7; padding-bottom: 8vw">
  <div class="container">
    <h1 class="methods-name">
      Психотерапия неврозов и психосоматики
    </h1>
    <p class="methods-description">
      Если вы это читаете, то, вероятно, у вас психосоматика или невроз. Эта статья призвана кратко объяснить процесс психотерапии с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе
    </p>
    <img src="<%= asset_url('problem/neurosis.svg')%>" alt="Психотерапия неврозов и психосоматики" class="methods-img">
    <h2>
      Как практически будет выглядеть наша работа
    </h2>
    <p>
      Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
    </p>
    <p>
      Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы невроза. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
    </p>
    <p>
      Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от невроза и научились конструктивно удовлетворять свои потребности.
    </p>

    <h2>Критерии наличия невроза и критерии достижения результата</h2>
    <table>
      <th>Невроз и психосоматика</th>
      <th>Результат психотерапии</th>
      <tr>
        <td>По опроснику невротических состояний вы набираете -1,28 балла и менее по одной и более шкал.</td>
        <td>По опроснику невротических состояний вы набираете +1,28 балла и более по всем шкалам на протяжении 3-х недель подряд.</td>
      </tr>
      <tr>
        <td>Неумение выстраивать отношения, договариваться, решать конфликты.</td>
        <td>Способность договариваться, решать конфликты, отстаивать свою точку зрения.</td>
      </tr>
      <tr>
        <td>Дискомфортные психосоматические симптомы без видимых физиологических причин, болезней (боли в мышцах, диарея, онемения, повышенная усталость и т.д.).</td>
        <td>Отсутствие или не вызывающая сильного дискомфорта психосоматика.</td>
      </tr>
      <tr>
        <td>Чрезмерные эмоциональные переживания (раздражительность, злость, обида, вина, стыд и т.д.) даже в ответ на незначительные стимулы, "пустяки".</td>
        <td>Уровень вашего беспокойства соответствует обстоятельствам, в которых вы находитесь. Вы умеете управлять своим эмоциональным состоянием.</td>
      </tr>
      <tr>
        <td>Ипохондрия - убежденность в наличии какой-то болезни, неверие врачам, которые утверждают, что нет органической патологии.</td>
        <td>Вы цените свое здоровье, критично воспринимаете информацию, делаете собственные выводы и при этом не чувствуете дискомфорта от того, что иногда приходит мысль: «а вдруг меня недообследовали?», «вдруг я больна?!»td>
      </tr>
      <tfoot>
        <tr>
          <td>Трудности во взаимоотношениях, психологические проблемы (например, внутренний конфликт "хочу, но не могу", "и хочу и не хочу", "не хочу, а надо").</td>
          <td>Отсутствие или не вызывающий сильного дискомфорта внутренний конфликт. Улучшение взаимоотношений в социуме, адаптация к социальному окружению.</td>
        </tr>
      </tfoot>
    </table>

    <h2>План психотерапии невроза</h2>
    <p>
      Вы чувствуете, что у вас "расшатанные нервы" и подозреваете у себя наличие невротического состояния. Для самостоятельной диагностики вы можете заполнить опросник невротических состояний. Далее записывайтесь ко мне на консультацию за психологической диагностикой и психотерапией. В случае необходимости, я отправлю вас к врачу за медицинским обследованием и назначением медикаментов, если они потребуются.
    </p>
    <p>
      <a href="/consultations.html#first" style="border-bottom: 1px solid currentColor;">Первая диагностическая консультация</a> всегда посвящена детальному разбору вашего случая. Она состоит из 3-х основных этапов:
    </p>
    <ul>
      <li>Диагностика. Выявление симптомов и психологических механизмов невроза.</li>
      <li>Информирование. Я объясняю причины симптомов и механизм функционирования невроза. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения, отвечаю на ваши вопросы.</li>
      <li>Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.</li>
    </ul>
    <p>
      В конце консультации вы получаете:<br>
      <b>+ Стенографию</b> консультации в формате docx, которую можно перечитывать в любой момент;<br>
      <b>+ Еxcel файл</b> с вашей схемой невроза и опросником (созданным на основе лично вашей ситуации), который нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результата нашей работы;<br>
      <b>+ Мои личные контакты.</b> Возможность связываться со мной для поддержания связи между сеансами, ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!
    </p>
    <p>
      После диагностики, мы начинаем либо стандартный <a href="/consultations.html#hypnotherapy" style="border-bottom: 1px solid currentColor;">курс гипнотерапии</a> (5 сеансов по 3 часа, для избавления от психосоматики и психотравм), либо курс психотерапии с использованием методов <a href="/Cognitive-Behavioral-Therapy.html" style="border-bottom: 1px solid currentColor;">Когнитивно-поведенческой терапии</a>, <a href="/Positive-psychotherapy.html" style="border-bottom: 1px solid currentColor;">Позитивной психотерапии</a> и <a href="/Acceptance-and-Commitment-Therapy.html" style="border-bottom: 1px solid currentColor;">Терапии принятия и ответственности</a>. В среднем, для избавления от невроза легкой или средней тяжести необходимо 10 сеансов психотерапии. При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться, однако общая структура психотерапии выглядит следующим образом: 
    </p>

    <h2>Первый – третий сеанс</h2>
    <p>
      Анализируем насколько ваше мышление влияет на общее эмоциональное и физическое состояние. Анализируем насколько ваши убеждения конструктивны и объективны, учимся мыслить критически. Проверяем неконтролируемость, опасность негативных мыслей, учимся откладывать беспокойство на потом, не бороться с ними, а смотреть на мысли отстраненно. Если психосоматика возникла в результате сильного стресса, то вначале мы разбираемся с данной "психотравмой", вспоминаем произошедшее, перепроживаем, создаем новые выводы. Далее, делаем анализ ваших попыток справиться с невротическими симптомами, выявляем то, что работает, и то, что приносит выгоду лишь на краткосрочном промежутке времени, ухудшая ваше состояние в долгосрочном периоде. Научаемся принимать свои эмоции, быть готовыми действовать даже не смотря на негативные переживания. Работаем с внутренними конфликтами и вторичными выгодами, учимся удовлетворять свои потребности.
    </p>        
    <h2>Четвертый – шестой сеанс</h2>
    <p>
      Мы продолжаем работать с мышлением и эмоциями, понемногу учимся управлять собственным вниманием. Развиваем осознанность на настоящем моменте, чтобы вовремя замечать и предотвращать появление негативных эмоций. Применяем техники медитации и заполняем АВС-схему для усиления гибкости внимания, наблюдательной позиции и умения смотреть на ситуацию с разных точек зрения. 
    </p>    
    <h2>Седьмой – восьмой сеанс</h2>
    <p>
      Мы научились контролировать свое внимание. Прекращаем мониторить, подготавливаться и предугадывать возможные угрозы, прислушиваться к негативным мыслям и часто проверять свое самочувствие. Выявляем список ваших ценностей, целей, которые вы хотите достичь, и возможные препятствия (негативные мысли, эмоции, желания, непредвиденные обстоятельства). Снижаем общую тревожность, учимся принимать решения и справляться с  возникающими трудностями. Увеличиваем стрессоустойчивость.
    </p>
    <h2>Девятый – десятый сеанс</h2>
    <p>
     Научаемся применять технику "СТОП". Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
    </p>

    </div> <!-- конец container -->
    
  <div class="container">        
    <%= render partial: "/new/form_mob"%>
  </div>

</div> <!-- конец моб версии -->