<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Психотерапия тревоги | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие повышенной тревоги и как психолог помогает от нее избавиться.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Психотерапия тревоги | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие повышенной тревоги и как психолог помогает от нее избавиться.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Psychotherapy-of-anxiety">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/consultation-psychologist-online-Tkachenko-Andrey-15d393997277900bef34501aa768f09ecc97d4153095c5ed20be12d9f55d4582.png">
<% end %>

<div class="pc_content">
  <div class="container" style="text-align: justify;">
    <h1 style="text-align: center; font-weight: 800; font-size: 2.5vw; margin: 5vw 0px 3vw 0vw">Психотерапия тревоги</h1>
    <p style="text-align: center; margin: 2vw 5vw 4vw 5vw;">
      Если вы это читаете, то, вероятно, у вас повышенная тревога. Эта статья призвана кратко объяснить вам процесс психотерапии с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе
    </p>
    <img src="<%= asset_url('problem/anxiety.svg')%>" alt="Избавление от тревоги" style="float: right; width: 30vw; margin: 1vw 4vw">
    <h2 style="font-size: 1.6vw; margin: 4vw 0vw 2vw 3vw">Как практически будет выглядеть наша работа</h2>
    <p>
      Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
    </p>
    <p>
      Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы тревоги. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
    </p>
    <p>
      Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от тревоги и научились конструктивно удовлетворять свои потребности.
    </p>

    <h2 style="font-size: 1.6vw; margin: 4vw 0vw 2vw 3vw">Критерии наличия тревоги и критерии достижения результата</h2>
    <table>
      <th>Повышенная тревожность</th>
      <th>Результат психотерапии</th>
      <tr>
        <td>По опроснику Шкала тревоги Гамильтона вы набираете 8-56 балла. Также, несколько симптомов тревоги присутствовали у вас почти каждый день в течение месяца.</td>
        <td>Снижение суммарного балла по опроснику Шкала тревоги Гамильтона на 50% и более, по сравнению с начальным, на протяжении 3-х недель подряд.</td>
      </tr>
      <tr>
        <td>Тревога и беспокойство мешают вам работать, вести повседневную жизнь, вмешиваются в ваши личные отношения.</td>
        <td>Тревога и беспокойство не мешают вашей повседневной жизни и работе.</td>
      </tr>
      <tr>
        <td>Вы не можете контролировать вашу тревогу.</td>
        <td>Вы способны контролировать свою тревогу.</td>
      </tr>
      <tr>
        <td>Беспокойство вызывает сильное напряжение и стресс.</td>
        <td>Беспокойство не вызывает значительного стресса.</td>
      </tr>
      <tr>
        <td>Вы беспокоитесь о множестве вещей и предвидите только худшее развитие ситуации.</td>
        <td>Вы тревожитесь о конкретном ограниченном количестве реальных вещей, объективно оцениваете развитие событий.</td>
      </tr>
      <tr>
        <td>Вы излишне сильно беспокоитесь о маловероятных происшествиях или тревожитесь без видимой причины.</td>
        <td>Вы беспокоитесь, если на то есть повод.</td>
      </tr>
      <tr>
        <td>Длительные, повторяющиеся тревожные мысли от которых трудно избавиться.</td>
        <td>Ваше беспокойство проходит за небольшой промежуток времени.</td>
      </tr>
      <tr>
        <td>Иногда: суетливость, раздражительность, мышечные напряжения, дрожь, потливость, тахикардия и т.д.</td>
        <td>При тревоге вы физически ощущаете симптомы психосоматики, но они не ярко выражены и не причиняют сильного дискомфорта.</td>
      </tr>
      <tfoot>
        <tr>
          <td>Перфекционизм, самообвинения, страх неопределенности.</td>
          <td>Нацеленность на результат.</td>
        </tr>
      </tfoot>
    </table>

    <table>
      <th>Генерализованное тревожное расстройство</th>
      <th>Результат психотерапии</th>
      <tr>
        <td>По опроснику Шкала тревоги Гамильтона вы набираете 20-56 балла.</td>
        <td>Снижение суммарного балла по опроснику Шкала тревоги Гамильтона на 50% и более, по сравнению с начальным, на протяжении 3-х недель подряд.</td>
      </tr>
      <tr>
        <td>Тревога или физические симптомы, приводят к клинически значимым расстройствам или нарушениям в социальной, трудовой или другой сфере жизнедеятельности.</td>
        <td>Оставшиеся симптомы не вызывают сильного дискомфорта и почти не влияют на вас в разных сферах жизни.</td>
      </tr>
      <tr>
        <td>Избыточная тревога и беспокойство (дурные предчувствия), появляющиеся на протяжение как минимум 6 месяцев при разных событиях или видах деятельности.</td>
        <td>Вы не застреваете в каком-либо одном настроении. Вы в состоянии испытывать различные эмоции (радость, грусть, злость) в зависимости от обстоятельств.</td>
      </tr>
      <tr>
        <td>Беспокойство трудно контролировать.</td>
        <td>Беспокойство контролируемое, вы не застреваете в одной эмоции, в одной мысли.</td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;">Тревога и беспокойство связаны с тремя (или более) из следующих шести симптомов<br>(при условии, что часть симптомов представлена как минимум на протяжении 6 месяцев):</td>
      </tr>
      <tr>
        <td>1. Возбужденность или нервозность, состояние «на пределе».</td>
        <td>1. Отсутствие или не вызывающие сильного дискомфорта нервозность.</td>
      </tr>
      <tr>
        <td>2. Быстрая утомляемость.</td>
        <td>2. Нормализация активности, отсутствие заторможенности или неприсущей вам возбудимости.</td>
      </tr>
      <tr>
        <td>3. Трудно сконцентрироваться или «мозги отключаются».</td>
        <td>3. Гибкое внимание. Восстановление привычного уровня концентрации внимания и способности мыслить.</td>
      </tr>
      <tr>
        <td>4. Раздражительность.</td>
        <td>4. Отсутствие или не вызывающие сильного дискомфорта раздражительность.</td>
      </tr>
      <tr>
        <td>5. Мышечное напряжение.</td>
        <td>5. Отсутствие или не вызывающие сильного дискомфорта мышечное напряжение.</td>
      </tr>
      <tfoot>
        <tr>
          <td>6. Проблемы со сном (трудности в засыпании или нарушение продолжительности сна, или беспокойный, не приносящий удовольствия сон).</td>
          <td>6. Нормализация сна (6-10 часов сна без пробуждений с ощущением, что выспался).</td>
        </tr>
      </tfoot>
    </table>

    <p style="margin-bottom: 5vw">
      *в средних и тяжелых случаях, для устранения симптомов может потребоваться применение медикаментов, их вам назначит лечащий врач.
    </p>

    <h2>План психотерапии тревоги</h2>
    <p>
      Вы подозреваете у себя наличие чрезмерной тревоги или ГТР. Для самостоятельной диагностики вы можете заполнить тест Шкала тревоги Гамильтона. Далее записывайтесь ко мне на консультацию за психологической диагностикой и психотерапией. В случае необходимости, я отправлю вас к врачу за медицинской диагностикой и назначением медикаментов, если они потребуются.
    </p>
    <p>
      После диагностики, мы начинаем либо стандартный <a href="consultations.html#Hypnotherapy" style="border-bottom: 1px solid currentColor;">курс гипнотерапии</a> (5 сеансов по 3 часа), либо курс психотерапии с использованием методов <a href="Cognitive-Behavioral-Therapy.html" style="border-bottom: 1px solid currentColor;">Когнитивно-поведенческой терапии</a>, <a href="Metacognitive-therapy.html" style="border-bottom: 1px solid currentColor;">Метакогнитивной терапии</a> и <a href="Acceptance-and-Commitment-Therapy.html" style="border-bottom: 1px solid currentColor;">Терапии принятия и ответственности</a>. В среднем, для избавления от тревоги средней тяжести необходимо 10 сеансов психотерапии. Подробнее о структуре психотерапии:
    </p>
    
    <p style="font-style: italic;">
      *При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться!
    </p>

    <h2>Первая консультация</h2>
    <p>Первая психологическая консультация всегда посвящена детальному разбору вашего случая. Она состоит из 3-х этапов:</p>
    <ul>
      <li>Диагностика. Выявление симптомов и психологических механизмов тревоги.</li>
      <li>Информирование. Я объясняю причины симптомов и механизм функционирования тревоги. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения.</li>
      <li>Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.</li>
    </ul>
    <p>
      В конце консультации вы получаете:<br>
      + Стенографию консультации в формате docx, которую можно перечитывать в любой момент;<br>
      + Еxcel файл с вашей схемой тревоги и опросником (созданным на основе лично вашей ситуации), который нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результата нашей работы;<br>
      + Мои личные контакты. Возможность связываться со мной для поддержания связи между консультациями, ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!
    </p>

    <h2>Вторая и третья консультация</h2>
    <p>
      Направление работы: мышление и поведение. Мы анализируем насколько ваши тревожные мысли неконтролируемы, опасны, учимся откладывать беспокойство на потом, смотреть на мысли отстраненно, не спутываться с ними, не пытаться их задавить, перебороть. Анализируем насколько ваши убеждения конструктивны и объективны, учимся мыслить критически. Делаем анализ вашей стратегий защиты от тревоги: выявляем то, что работает, и то, что приносит выгоду лишь на краткосрочном промежутке времени, ухудшая ваше состояние в долгосрочном периоде. Научаемся принимать свои эмоции, быть готовыми действовать даже не смотря на негативные переживания (систематическая десенсибилизация).
    </p>
    <h2>Четвертая - шестая консультация</h2>
    <p>
      Мы продолжаем работать с мышлением и эмоциями, понемногу учимся управлять собственным вниманием. Развиваем осознанность на настоящем моменте, чтобы вовремя замечать и предотвращать появление тревоги. Применяем техники медитации и заполняем АВС-схему для усиления гибкости внимания, наблюдательной позиции и умения смотреть на ситуацию с разных точек зрения.
    </p>        
    <h2>Седьмая - восьмая консультация</h2>
    <p>
      Мы научились контролировать свое внимание. Прекращаем мониторить, подготавливаться и предугадывать возможные угрозы, прислушиваться к негативным мыслям и часто проверять свое самочувствие. Выявляем список ваших ценностей, целей, которые вы хотите достичь, и возможные препятствия (негативные мысли, эмоции, желания, непредвиденные обстоятельства). Учимся принимать решения и справляться с  возникающими трудностями. Увеличиваем стрессоустойчивость.
    </p>    
    <h2>Девятая и десятая консультация</h2>
    <p>
     Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
    </p>   

    <h2 style="font-size: 2.5vw; text-align: center; margin: 6vw 0px 2vw 0vw; padding-top: 3vw">Запись на консультацию</h2> 
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 4vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8vw">
      <img src="<%= asset_url('form.svg')%>" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- конец container -->
</div>  <!-- конец pc_content -->













<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7; padding-bottom: 8vw">
  <div class="container">
    <h1 class="methods-name">
      Психотерапия тревоги
    </h1>
    <p class="methods-description">
      Если вы это читаете, то, вероятно, у вас повышенная тревога. Эта статья призвана кратко объяснить вам процесс психотерапии с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе
    </p>
    <img src="<%= asset_url('problem/anxiety.svg')%>" alt="Избавление от тревоги" class="methods-img">
    <h2>
      Как практически будет выглядеть наша работа
    </h2>

    <p>
      Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
    </p>
    <p>
      Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы тревоги. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
    </p>
    <p>
      Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от тревоги и научились конструктивно удовлетворять свои потребности.
    </p>

    <h2>Критерии наличия тревоги и критерии достижения результата</h2>
    <table>
      <th>Повышенная тревожность</th>
      <th>Результат психотерапии</th>
      <tr>
        <td>По опроснику Шкала тревоги Гамильтона вы набираете 8-56 балла. Также, несколько симптомов тревоги присутствовали у вас почти каждый день в течение месяца.</td>
        <td>Снижение суммарного балла по опроснику Шкала тревоги Гамильтона на 50% и более, по сравнению с начальным, на протяжении 3-х недель подряд.</td>
      </tr>
      <tr>
        <td>Тревога и беспокойство мешают вам работать, вести повседневную жизнь, вмешиваются в ваши личные отношения.</td>
        <td>Тревога и беспокойство не мешают вашей повседневной жизни и работе.</td>
      </tr>
      <tr>
        <td>Вы не можете контролировать вашу тревогу.</td>
        <td>Вы способны контролировать свою тревогу.</td>
      </tr>
      <tr>
        <td>Беспокойство вызывает сильное напряжение и стресс.</td>
        <td>Беспокойство не вызывает значительного стресса.</td>
      </tr>
      <tr>
        <td>Вы беспокоитесь о множестве вещей и предвидите только худшее развитие ситуации.</td>
        <td>Вы тревожитесь о конкретном ограниченном количестве реальных вещей, объективно оцениваете развитие событий.</td>
      </tr>
      <tr>
        <td>Вы излишне сильно беспокоитесь о маловероятных происшествиях или тревожитесь без видимой причины.</td>
        <td>Вы беспокоитесь, если на то есть повод.</td>
      </tr>
      <tr>
        <td>Длительные, повторяющиеся тревожные мысли от которых трудно избавиться.</td>
        <td>Ваше беспокойство проходит за небольшой промежуток времени.</td>
      </tr>
      <tr>
        <td>Иногда: суетливость, раздражительность, мышечные напряжения, дрожь, потливость, тахикардия и т.д.</td>
        <td>При тревоге вы физически ощущаете симптомы психосоматики, но они не ярко выражены и не причиняют сильного дискомфорта.</td>
      </tr>
      <tfoot>
        <tr>
          <td>Перфекционизм, самообвинения, страх неопределенности.</td>
          <td>Нацеленность на результат.</td>
        </tr>
      </tfoot>
    </table>

    <table>
      <th>Генерализованное тревожное расстройство</th>
      <th>Результат психотерапии</th>
      <tr>
        <td>По опроснику Шкала тревоги Гамильтона вы набираете 20-56 балла.</td>
        <td>Снижение суммарного балла по опроснику Шкала тревоги Гамильтона на 50% и более, по сравнению с начальным, на протяжении 3-х недель подряд.</td>
      </tr>
      <tr>
        <td>Тревога или физические симптомы, приводят к клинически значимым расстройствам или нарушениям в социальной, трудовой или другой сфере жизнедеятельности.</td>
        <td>Оставшиеся симптомы не вызывают сильного дискомфорта и почти не влияют на вас в разных сферах жизни.</td>
      </tr>
      <tr>
        <td>Избыточная тревога и беспокойство (дурные предчувствия), появляющиеся на протяжение как минимум 6 месяцев при разных событиях или видах деятельности.</td>
        <td>Вы не застреваете в каком-либо одном настроении. Вы в состоянии испытывать различные эмоции (радость, грусть, злость) в зависимости от обстоятельств.</td>
      </tr>
      <tr>
        <td>Беспокойство трудно контролировать.</td>
        <td>Беспокойство контролируемое, вы не застреваете в одной эмоции, в одной мысли.</td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center; border-right: 1px solid black !important">Тревога и беспокойство связаны с тремя (или более) из следующих шести симптомов<br>(при условии, что часть симптомов представлена как минимум на протяжении 6 месяцев):</td>
      </tr>
      <tr>
        <td>1. Возбужденность или нервозность, состояние «на пределе».</td>
        <td>1. Отсутствие или не вызывающие сильного дискомфорта нервозность.</td>
      </tr>
      <tr>
        <td>2. Быстрая утомляемость.</td>
        <td>2. Нормализация активности, отсутствие заторможенности или неприсущей вам возбудимости.</td>
      </tr>
      <tr>
        <td>3. Трудно сконцентрироваться или «мозги отключаются».</td>
        <td>3. Гибкое внимание. Восстановление привычного уровня концентрации внимания и способности мыслить.</td>
      </tr>
      <tr>
        <td>4. Раздражительность.</td>
        <td>4. Отсутствие или не вызывающие сильного дискомфорта раздражительность.</td>
      </tr>
      <tr>
        <td>5. Мышечное напряжение.</td>
        <td>5. Отсутствие или не вызывающие сильного дискомфорта мышечное напряжение.</td>
      </tr>
      <tfoot>
        <tr>
          <td>6. Проблемы со сном (трудности в засыпании или нарушение продолжительности сна, или беспокойный, не приносящий удовольствия сон).</td>
          <td>6. Нормализация сна (6-10 часов сна без пробуждений с ощущением, что выспался).</td>
        </tr>
      </tfoot>
    </table>

    <p style="margin-bottom: 5vw">
      *в средних и тяжелых случаях, для устранения симптомов может потребоваться применение медикаментов, их вам назначит лечащий врач.
    </p>

    <h2>План психотерапии тревоги</h2>
    <p>
      Вы подозреваете у себя наличие чрезмерной тревоги или ГТР.. Для самостоятельной диагностики вы можете заполнить тест Шкала тревоги Гамильтона. Далее записывайтесь ко мне на консультацию за психологической диагностикой и психотерапией. В случае необходимости, я отправлю вас к врачу за медицинской диагностикой и назначением медикаментов, если они потребуются.
    </p>
    <p>
      После диагностики, мы начинаем либо стандартный <a href="consultations.html#hypnotherapy" style="border-bottom: 1px solid currentColor;">курс гипнотерапии</a> (5 сеансов по 3 часа), либо курс психотерапии с использованием методов <a href="Cognitive-Behavioral-Therapy.html" style="border-bottom: 1px solid currentColor;">Когнитивно-поведенческой терапии</a>, <a href="Metacognitive-therapy.html" style="border-bottom: 1px solid currentColor;">Метакогнитивной терапии</a> и <a href="Acceptance-and-Commitment-Therapy.html" style="border-bottom: 1px solid currentColor;">Терапии принятия и ответственности</a>. В среднем, для избавления от тревоги средней тяжести необходимо 10 сеансов психотерапии. Подробнее о структуре психотерапии:
    </p>
    
    <p style="font-style: italic;">
      *При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться!
    </p>

    <h2>Первая консультация</h2>
    <p>Первая психологическая консультация всегда посвящена детальному разбору вашего случая. Она состоит из 3-х этапов:</p>
    <ul>
      <li>Диагностика. Выявление симптомов и психологических механизмов тревоги.</li>
      <li>Информирование. Я объясняю причины симптомов и механизм функционирования тревоги. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения.</li>
      <li>Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.</li>
    </ul>
    <p>
      В конце консультации вы получаете:<br>
      + Стенографию консультации в формате docx, которую можно перечитывать в любой момент;<br>
      + Еxcel файл с вашей схемой тревоги и опросником (созданным на основе лично вашей ситуации), который нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результата нашей работы;<br>
      + Мои личные контакты. Возможность связываться со мной для поддержания связи между консультациями, ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!
    </p>

    <h2>Вторая и третья консультация</h2>
    <p>
      Направление работы: мышление и поведение. Мы анализируем насколько ваши тревожные мысли неконтролируемы, опасны, учимся откладывать беспокойство на потом, смотреть на мысли отстраненно, не спутываться с ними, не пытаться их задавить, перебороть. Анализируем насколько ваши убеждения конструктивны и объективны, учимся мыслить критически. Делаем анализ вашей стратегий защиты от тревоги: выявляем то, что работает, и то, что приносит выгоду лишь на краткосрочном промежутке времени, ухудшая ваше состояние в долгосрочном периоде. Научаемся принимать свои эмоции, быть готовыми действовать даже не смотря на негативные переживания (систематическая десенсибилизация).
    </p>
    <h2>Четвертая - шестая консультация</h2>
    <p>
      Мы продолжаем работать с мышлением и эмоциями, понемногу учимся управлять собственным вниманием. Развиваем осознанность на настоящем моменте, чтобы вовремя замечать и предотвращать появление тревоги. Применяем техники медитации и заполняем АВС-схему для усиления гибкости внимания, наблюдательной позиции и умения смотреть на ситуацию с разных точек зрения.
    </p>        
    <h2>Седьмая - восьмая консультация</h2>
    <p>
      Мы научились контролировать свое внимание. Прекращаем мониторить, подготавливаться и предугадывать возможные угрозы, прислушиваться к негативным мыслям и часто проверять свое самочувствие. Выявляем список ваших ценностей, целей, которые вы хотите достичь, и возможные препятствия (негативные мысли, эмоции, желания, непредвиденные обстоятельства). Учимся принимать решения и справляться с  возникающими трудностями. Увеличиваем стрессоустойчивость.
    </p>    
    <h2>Девятая и десятая консультация</h2>
    <p>
     Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
    </p>

    </div> <!-- конец container -->
    
  <div class="container">        
    <%= render partial: "/new/form_mob"%>
  </div>

</div> <!-- конец моб версии -->