<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://tkachenkoandrey.com/Psychotherapy-of-depression">
  <title>Психотерапия депрессии | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие депрессии и как психолог помогает от нее избавиться.">
  <meta name="keywords" content="психотерапия депрессии, консультация психолога депрессия, как лечится депрессия, симптомы депрессии, КПТ депрессии, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Psychotherapy-of-depression">
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Психотерапия депрессии | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие депрессии и как психолог помогает от нее избавиться.">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="психотерапия депрессии">
  <meta property="article:tag" content="консультация психолога депрессия">
  <meta property="article:tag" content="как лечится депрессия">
  <meta property="article:tag" content="симптомы депрессии">
  <meta property="article:tag" content="КПТ депрессии">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="http://tkachenkoandrey.com/Psychotherapy-of-depression">
  <meta name="twitter:title" content="Психотерапия депрессии | Психолог Ткаченко Андрей">
  <meta name="twitter:desctiption" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие депрессии и как психолог помогает от нее избавиться.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name">Психотерапия депрессии</h1>
      <p class="article__description pc">Если вы это читаете, то, вероятно, у вас депрессия, апатия или уныние. Эта статья призвана кратко объяснить процесс психотерапии с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе.</p>
      <img class="fullscreen__image" src="<%= asset_url('problem/Depression.webp')%>" title="Психотерапия депрессии" alt="Психотерапия депрессии">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Как практически будет выглядеть наша работа</h2>
        <p>
          Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
        </p>
        <p>
          Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы депрессии, апатии или уныния. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
        </p>
        <p>
          Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от депрессии и научились конструктивно удовлетворять свои потребности.
        </p>
      </section>

      <table>
        <caption>Критерии наличия депрессии и критерии достижения результата</caption>
        <thead>
          <tr>
            <th scope="col">Депрессия</th>
            <th scope="col">Результат психотерапии</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Депрессия">По опроснику Шкала депрессии Бека вы набираете 10-63 балла. Также, несколько симптомов депрессии присутствовали у вас почти каждый день в течение 2-х недель.</td>
            <td data-label="Результат психотерапии">Снижение суммарного балла по опроснику Шкала депрессии Бека на 50% и более, по сравнению с начальным, на протяжении 2-х недель подряд.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Депрессия">Симптомы вызывают значительный дистресс или трудности в социальной, профессиональной и других важных сферах жизни.</td>
            <td data-label="Результат психотерапии">Оставшиеся симптомы не вызывают сильного дискомфорта и почти не влияют на вас в разных сферах жизни.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Депрессия">Подавленное настроение на протяжении большей части дня, почти каждый день.</td>
            <td data-label="Результат психотерапии">Вы не застреваете в каком-либо одном настроении. Вы в состоянии испытывать различные эмоции (радость, грусть, злость) в зависимости от обстоятельств.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Депрессия">Заметное снижение интереса или удовольствия от всех или почти всех видов деятельности в течение большей части дня.</td>
            <td data-label="Результат психотерапии">Вы в снова можете испытывать интерес и удовольствие от значимых для вас видов деятельности.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Депрессия">Потеря/увеличение веса без соблюдения диеты (>5% за месяц) или снижение/повышение аппетита почти каждый день.</td>
            <td data-label="Результат психотерапии">Нормализация аппетита (возвращение к вашему обычному уровню), отсутствие резких колебаний веса.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Депрессия">Бессонница (ранние пробуждения с невозможностью заснуть и ощущением, что не выспался) или повышенная сонливость.</td>
            <td data-label="Результат психотерапии">Нормализация сна (6-10 часов сна без пробуждений с ощущением, что выспался).</td>
          </tr>
          <tr>
            <td scope="row" data-label="Депрессия">Психомоторное возбуждение или заторможенность почти каждый день.</td>
            <td data-label="Результат психотерапии">Нормализация активности, отсутствие заторможенности или неприсущей вам возбудимости.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Депрессия">Повышенная утомляемость или потеря энергии почти каждый день.</td>
            <td data-label="Результат психотерапии">Нормальный для вас уровень активности, вы ощущаете в себе силы действовать.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Депрессия">Чувство бесполезности, чрезмерной или необоснованной вины почти каждый день.</td>
            <td data-label="Результат психотерапии">Отсутствие или не вызывающие сильного дискомфорта чувства бесполезности или вины.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Депрессия">Снижение концентрации внимания, способности мыслить или нерешительность почти каждый день.</td>
            <td data-label="Результат психотерапии">Гибкое внимание. Восстановление привычного уровня концентрации внимания и способности мыслить.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Депрессия">Повторяющиеся мысли о смерти или самоубийстве, попытки суицида или конкретный план совершения самоубийства.</td>
            <td data-label="Результат психотерапии">Вы не застреваете в мыслях. Отсутствие попыток или плана суицида.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Депрессия">Негативные и пессимистичные мысли о себе, о мире, о будущем, самообвинения, снижение самооценки.</td>
            <td data-label="Результат психотерапии">Гибкое мышление (вы не застреваете на какой-либо одной мысли). Объективное, критическое отношение к происходящему.</td>
          </tr>
        </tbody>
      </table>

      <section>
        <h2>План психотерапии депрессии</h2>
        <p>
          Вы подозреваете у себя наличие депрессии. Для самодиагностики вы можете заполнить тест Шкала депрессии Бека. Далее, <a href="/Psychotherapy-of-depression.html#sign-up">записывайтесь</a> ко мне на консультацию и приходите за психологической диагностикой и психотерапией. В случае необходимости, я отправлю вас к врачу за медицинским обследованием и назначением медикаментов.
        </p>
        <p>
          <a href="/individual_consultation.html#First">Первая консультация</a> всегда посвящена детальному разбору вашего случая. Она состоит из 3-х основных этапов:<br>
          1. Диагностика. Выявление симптомов и психологических механизмов депрессии;<br>
          2. Информирование. Я объясняю причины симптомов и механизм функционирования депрессии. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения, отвечаю на ваши вопросы;<br>
          3. Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.
        </p>
        <p>
          В конце консультации вы получаете:
        </p>
        <ul>
          <li><b>Стенографию</b> консультации в текстовом формате, которую можно перечитывать в любой момент;</li>
          <li><b>Схему депрессии и опросник</b>, которые созданы на основе вашей диагностики. Опросник нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результатов нашей работы;</li>
          <li><b>Мои личные контакты</b>. Возможность поддерживать со мной связь между сеансами для ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!</li>
          <li><b>Дополнительные материалы</b>. Текстовые, аудио- и видеофайлы для выполнения домашнего задания, развития навыков и осведомленности о своей проблеме.</li>
        </ul>
        <p>
          Апатию, уныние можно проработать за несколько консультаций. Если же после диагностики была выявлена именно депрессия, то мы начинаем краткосрочный курс психотерапии (10 сеансов) с использованием методов <a href="/Cognitive-Behavioral-Therapy.html">Когнитивно-поведенческой терапии</a> и <a href="/Acceptance-and-Commitment-Therapy.html">Терапии принятия и ответственности</a>. Как показывает практика, для избавления от легкой депрессии 10 сеансов может быть достаточно, чтобы уменьшить количество и мучительность симптомов на 50% и более. В более серьезных случаях может понадобится длительная терапия. Для избавления от прошлых обид, чувства вины, стыда за совершенные действия мы можем использовать разовые сеансы <a href="/Hypnotherapy.html">Гипнотерапии</a>. Для избавления от внутреннего конфликта ("хочу, но не могу", "не хочу, а надо", "хочу и того и другого"), который привел к депрессии используем <a href="/Positive-psychotherapy.html">Позитивную психотерапию</a>. При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться, однако общая структура психотерапии выглядит следующим образом: 
        </p>

        <h3>Первый – второй сеанс</h3>
        <p>
          Направлены на работу с вашим мышлением и поведением. Разбираем насколько ваши убеждения о себе и мире соответствуют реальности, всё ли так плохо на самом деле, виноваты ли вы в случившимся. Анализируем зависимость настроения от поведения. Начинаем вести дневник настроения и планируем список действий, которые могут принести положительные эмоции и чувство контроля над ситуацией. Я поддерживаю и сопереживаю вам, вместе мы ищем пути решения в вашей ситуации.
        </p>

        <h3>Третий – четвертый сеанс</h3>
        <p>
          Проводим анализ вашей стратегий защиты: выявляем то, что работает, и то, что приносит выгоду лишь на краткосрочном промежутке времени, ухудшая ваше состояние в долгосрочном периоде. Научаемся принимать свои эмоции, быть готовыми действовать даже несмотря на негативные переживания. Исследуем зависимость настроения от мышления. Учимся откладывать беспокойные мысли на потом, не спутываться с ними, отстраняться от них.
        </p>   

        <h3>Пятый – шестой сеанс</h3>
        <p>
          Понемногу учимся управлять собственным вниманием. Тренируем переключаемость и концентрацию внимания, понемногу усиливаем нагрузки. Развиваем осознанность на настоящем моменте, чтобы вовремя замечать и предотвращать появление пессимистичных мыслей и депрессивного настроения. Применяем техники медитации и заполняем АВС-схему для усиления гибкости внимания, наблюдательной позиции и умения смотреть на ситуацию с разных точек зрения.
        </p>

        <h3>Седьмой – восьмой сеанс</h3>
        <p>
          Прекращаем мониторить, подготавливаться и предугадывать возможные угрозы, прислушиваться к негативным мыслям и часто проверять свое самочувствие. Выявляем список ваших ценностей, целей, которые вы хотите достичь, и возможные препятствия (негативные мысли, эмоции, желания, непредвиденные обстоятельства). Учимся принимать решения и справляться с  возникающими трудностями. Увеличиваем стрессоустойчивость.
        </p>

        <h3>Девятый – десятый сеанс</h3>
        <p>
          Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
        </p>

        <h3>Поддерживающая терапия</h3>
        <p>
         После курса психотерапии, если это требуется, мы можем проводить поддерживающую терапию (1 сеанс каждые 2-4 недели) для профилактики рецидивов, развития навыков, улучшения имеющихся результатов. На ней вы получаете моральную и психологическую поддержку, возможность выговориться, мы разбираем актуальные жизненные проблемы, ищем пути решения, проводим обучение необходимым навыкам (например, стрессоустойчивости), закрепляем ранее изученные техники работы с психоэмоциональным состоянием.
        </p>
      </section>

    </div>
  </article>

  <div class="sign-up" id="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=%2B380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>














    
    
  

     














<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7; padding-bottom: 8vw; display: none;">
  <div class="container">
    <h1 class="methods-name">
      Психотерапия депрессии
    </h1>
    <p class="methods-description">
      Если вы это читаете, то, вероятно, у вас депрессия, апатия или уныние. Эта статья призвана кратко объяснить процесс психотерапии с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе
    </p>
    <img src="<%= asset_url('problem/depression.svg')%>" alt="Психологическая помощь при депрессии" class="methods-img">
    <h2>
      Как практически будет выглядеть наша работа
    </h2>

    <p>
      Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
    </p>
    <p>
      Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы депрессии, апатии или уныния. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
    </p>
    <p>
      Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от депрессии и научились конструктивно удовлетворять свои потребности.
    </p>

    <h2>Критерии наличия депрессии и критерии достижения результата</h2>
    <table>
      <th>Депрессия</th>
      <th>Результат психотерапии</th>
      <tr>
        <td>По опроснику Шкала депрессии Бека вы набираете 10-63 балла. Также, несколько симптомов депрессии присутствовали у вас почти каждый день в течение 2-х недель.</td>
        <td>Снижение суммарного балла по опроснику Шкала депрессии Бека на 50% и более, по сравнению с начальным, на протяжении 2-х недель подряд.</td>
      </tr>
      <tr>
        <td>Симптомы вызывают значительный дистресс или трудности в социальной, профессиональной и других важных сферах жизни.</td>
        <td>Оставшиеся симптомы не вызывают сильного дискомфорта и почти не влияют на вас в разных сферах жизни.</td>
      </tr>
      <tr>
        <td>Подавленное настроение на протяжении большей части дня, почти каждый день.</td>
        <td>Вы не застреваете в каком-либо одном настроении. Вы в состоянии испытывать различные эмоции (радость, грусть, злость) в зависимости от обстоятельств.</td>
      </tr>
      <tr>
        <td>Заметное снижение интереса или удовольствия от всех или почти всех видов деятельности в течение большей части дня.</td>
        <td>Вы в снова можете испытывать интерес и удовольствие от значимых для вас видов деятельности.</td>
      </tr>
      <tr>
        <td>Потеря/увеличение веса без соблюдения диеты (>5% за месяц) или снижение/повышение аппетита почти каждый день.</td>
        <td>Нормализация аппетита (возвращение к вашему обычному уровню), отсутствие резких колебаний веса.</td>
      </tr>
      <tr>
        <td>Бессонница (ранние пробуждения с невозможностью заснуть и ощущением, что не выспался) или повышенная сонливость.</td>
        <td>Нормализация сна (6-10 часов сна без пробуждений с ощущением, что выспался).</td>
      </tr>
      <tr>
        <td>Психомоторное возбуждение или заторможенность почти каждый день.</td>
        <td>Нормализация активности, отсутствие заторможенности или неприсущей вам возбудимости.</td>
      </tr>
      <tr>
        <td>Повышенная утомляемость или потеря энергии почти каждый день.</td>
        <td>Нормальный для вас уровень активности, вы ощущаете в себе силы действовать.</td>
      </tr>
      <tr>
        <td>Чувство бесполезности, чрезмерной или необоснованной вины почти каждый день.</td>
        <td>Отсутствие или не вызывающие сильного дискомфорта чувства бесполезности или вины.</td>
      </tr>
      <tr>
        <td>Снижение концентрации внимания, способности мыслить или нерешительность почти каждый день.</td>
        <td>Гибкое внимание. Восстановление привычного уровня концентрации внимания и способности мыслить.</td>
      </tr>
      <tr>
        <td>Повторяющиеся мысли о смерти или самоубийстве, попытки суицида или конкретный план совершения самоубийства.</td>
        <td>Вы не застреваете в мыслях. Отсутствие попыток или плана суицида.</td>
      </tr>
      <tfoot>
        <tr>
          <td>Негативные и пессимистичные мысли о себе, о мире, о будущем, самообвинения, снижение самооценки.</td>
          <td>Гибкое мышление (вы не застреваете на какой-либо одной мысли). Объективное, критическое отношение к происходящему.</td>
        </tr>
      </tfoot>
    </table>

    <h2>План психотерапии депрессии</h2>
    <p>
      Вы подозреваете у себя наличие депрессии, апатии или уныния. Для самостоятельной диагностики вы можете заполнить тест Шкала депрессии Бека. Далее записывайтесь ко мне на первую консультацию за психологической диагностикой. В случае необходимости, я отправлю вас к врачу за медицинским обследованием и назначением медикаментов, если они потребуются.
    </p>
    <p>
      <a href="/consultations.html#first" style="border-bottom: 1px solid currentColor;">Первая диагностическая консультация</a> всегда посвящена детальному разбору вашего случая. Она состоит из 3-х основных этапов:
    </p>
    <ul>
      <li>Диагностика. Выявление симптомов и психологических механизмов депрессии.</li>
      <li>Информирование. Я объясняю причины симптомов и механизм функционирования депрессии. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения.</li>
      <li>Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.</li>
    </ul>
    <p>
      В конце консультации вы получаете:<br>
      <b>+ Стенографию</b> консультации в формате docx, которую можно перечитывать в любой момент;<br>
      <b>+ Еxcel файл</b> с вашей схемой депрессии и опросником (созданным на основе лично вашей ситуации), который нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результата нашей работы;<br>
      <b>+ Мои личные контакты.</b> Возможность связываться со мной для поддержания связи между сеансами, ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!
    </p>
    <p>
      В своей работе с депрессией, иногда, я использую стандартный <a href="/consultations.html#hypnotherapy" style="border-bottom: 1px solid currentColor;">курс гипнотерапии</a> (если депрессия началась после какого-то стресса).<br>
      В остальных случаях, в терапии депрессии я использую методы <a href="/Cognitive-Behavioral-Therapy.html" style="border-bottom: 1px solid currentColor;">Когнитивно-поведенческой терапии</a> и <a href="/Acceptance-and-Commitment-Therapy.html" style="border-bottom: 1px solid currentColor;">Терапии принятия и ответственности</a>. В среднем, для избавления от депрессии легкой или средней степени тяжести необходимо 10 сеансов психотерапии. При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться, однако общая структура психотерапии выглядит следующим образом:
    </p>

    <h2>Первый – второй сеанс</h2>
    <p>
      Направлены на работу с вашим мышлением и поведением. Разбираем насколько ваши убеждения о себе и мире соответствуют реальности, всё ли так плохо на самом деле, виноваты ли вы в случившимся. Анализируем зависимость настроения от поведения. Начинаем вести дневник настроения и планируем список действий, которые могут принести положительные эмоции и чувство контроля над ситуацией. Я поддерживаю и сопереживаю вам, вместе мы ищем пути решения в вашей ситуации.
    </p>
    <h2>Третий – четвертый сеанс</h2>
    <p>
      Проводим анализ вашей стратегий защиты: выявляем то, что работает, и то, что приносит выгоду лишь на краткосрочном промежутке времени, ухудшая ваше состояние в долгосрочном периоде. Научаемся принимать свои эмоции, быть готовыми действовать даже не смотря на негативные переживания. Исследуем зависимость настроения от мышления. Учимся откладывать беспокойные мысли на потом, не спутываться с ними, отстраняться от них.
    </p>  
    <h2>Пятый – шестой сеанс</h2>
    <p>
      Понемногу учимся управлять собственным вниманием. Тренируем переключаемость и концентрацию внимания, понемногу усиливаем нагрузки. Развиваем осознанность на настоящем моменте, чтобы вовремя замечать и предотвращать появление пессимистичных мыслей и депрессивного настроения. Применяем техники медитации и заполняем АВС-схему для усиления гибкости внимания, наблюдательной позиции и умения смотреть на ситуацию с разных точек зрения.
    </p>
    <h2>Седьмой – восьмой сеанс</h2>
    <p>
      Прекращаем мониторить, подготавливаться и предугадывать возможные угрозы, прислушиваться к негативным мыслям и часто проверять свое самочувствие. Выявляем список ваших ценностей, целей, которые вы хотите достичь, и возможные препятствия (негативные мысли, эмоции, желания, непредвиденные обстоятельства). Учимся принимать решения и справляться с  возникающими трудностями. Увеличиваем стрессоустойчивость.
    </p>
    <h2>Девятый – десятый сеанс</h2>
    <p>
      Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
    </p>
    <h2>Поддерживающая терапия</h2>
    <p>
     После курса психотерапии, если это требуется, мы можем проводить поддерживающую терапию (1 сеанс каждые 2-4 недели) для профилактики рецидивов, развития навыков, улучшения имеющихся результатов. На ней вы получаете моральную и психологическую поддержку, возможность выговориться, мы разбираем актуальные жизненные проблемы, ищем пути решения, проводим обучение необходимым навыкам (например, стрессоустойчивости), закрепляем ранее изученные техники работы с психоэмоциональным состоянием.
    </p>

    </div> <!-- конец container -->
    
  <div class="container">       
    <%= render partial: "/new/form_mob"%>
  </div>

</div> <!-- конец моб версии -->