<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://tkachenkoandrey.com/Psychotherapy-of-psychotrauma">
  <title>Психотерапия психотравм | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие психотравм и как психолог помогает от них избавиться.">
  <meta name="keywords" content="психотерапия психотравм, стресс консультация психолога, как лечатся психотравмы, симптомы психотравмы, КПТ психотравм, гипнотерапия психотравм, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Psychotherapy-of-psychotrauma">
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Психотерапия психотравм | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие психотравм и как психолог помогает от них избавиться.">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="психотерапия психотравм">
  <meta property="article:tag" content="стресс консультация психолога">
  <meta property="article:tag" content="как лечатся психотравмы">
  <meta property="article:tag" content="симптомы психотравмы">
  <meta property="article:tag" content="КПТ психотравм">
  <meta property="article:tag" content="гипнотерапия психотравм">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="http://tkachenkoandrey.com/Psychotherapy-of-psychotrauma">
  <meta name="twitter:title" content="Психотерапия психотравм | Психолог Ткаченко Андрей">
  <meta name="twitter:desctiption" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие психотравм и как психолог помогает от них избавиться.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name">Психотерапия психотравм</h1>
      <p class="article__description pc">Если вы это читаете, то, вероятно, вы пережили сильный или долгий стресс. Эта статья призвана кратко объяснить процесс психотерапии с практической точки зрения: описание проблемы, результат и применяемые мною техники в нашей совместной работе.</p>
      <img class="fullscreen__image" src="<%= asset_url('problem/Psychotrauma.webp')%>" title="Психотерапия психотравм" alt="Психотерапия психотравм">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Как практически будет выглядеть наша работа</h2>
        <p>
          Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
        </p>
        <p>
          Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы вашего состояния. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
        </p>
        <p>
          Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от психотравм и научились конструктивно удовлетворять свои потребности.
        </p>
       </section>

      <table>
        <caption>Критерии наличия психотравм и критерии достижения результата</caption>
        <thead>
          <tr>
            <th scope="col">Последствия стресса</th>
            <th scope="col">Результат психотерапии</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Последствия стресса">По опроснику Миссисипская шкала ПТСР вы набираете 97-111 баллов (нарушение адаптации), 112 баллов и более (ПТСР).</td>
            <td data-label="Результат психотерапии">По опроснику Миссисипская шкала ПТСР вы набираете 35-96 баллов на протяжении 3-х недель подряд.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Последствия стресса">Симптомы приводят к нарушениям в социальной, трудовой или другой сфере жизнедеятельности.</td>
            <td data-label="Результат психотерапии">Оставшиеся симптомы не вызывают сильного дискомфорта и почти не влияют на вас в разных сферах жизни.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Последствия стресса">Эпизоды повторного переживания травмы: навязчивые воспоминания, кошмарные сны, оцепенение, вспышки страха, паники или агрессии, вегетативная активность (симптомы психосоматики).</td>
            <td data-label="Результат психотерапии">Отсутствие "флешбэков" или не вызывающие сильного дискомфорта воспоминания. Беспокойство контролируемое, вы не застреваете в одной эмоции, в одной мысли.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Последствия стресса">Повышенный уровень бодрствования, общее депрессивное настроение, тревога, раздраженность, низкая продуктивность в ежедневных делах.</td>
            <td data-label="Результат психотерапии">Нормальный для вас уровень бодрствования, вы в состоянии испытывать разные эмоции, в зависимости от обстоятельств.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Последствия стресса">Излишнее самонаблюдение за своим состоянием и внимание к мельчайшим признакам стресса.</td>
            <td data-label="Результат психотерапии">Гибкое внимание. Отсутствие повышенной концентрации на своем самочувствии.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Последствия стресса">Агрессивное поведение, невозможность адаптироваться в социуме, отчуждения от других людей.</td>
            <td data-label="Результат психотерапии">Отсутствие или не вызывающие сильного дискомфорта нервозность. Адаптация к социуму.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Последствия стресса">Избегание деятельности и ситуаций, напоминающих о травме. Страх вернутся туда.</td>
            <td data-label="Результат психотерапии">Отсутствие избегания. Не вызывающий сильного дискомфорта беспокойство "а вдруг опять?"</td>
          </tr>
          <tr>
            <td scope="row" data-label="Последствия стресса">Усиленное избегание стрессов и болезней: диета, главенство отдыха над работой, исключение любой негативной информации, много физических нагрузок, прием медикаментов и пр.</td>
            <td data-label="Результат психотерапии">Нормализация поведения. Вы объективно оцениваете свое состояние и не совершаете неоправданных действий, чтобы уберечь себя.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Последствия стресса">Чувство неспособности справляться с нынешней ситуацией, планировать, принимать решения, общая неорганизованность и чувство потери контроля.</td>
            <td data-label="Результат психотерапии">Чувство контроля над ситуацией. Умение управлять своим психоэмоциональным состоянием.</td>
          </tr>
        </tbody>
      </table>



      <section>
        <h2>План психотерапии последствий стресса</h2>
        <p>
          Вы чувствуете, что у вас "расшатанные нервы", флешбэки после сильного стресса или череды проблем. Для самодиагностики вы можете заполнить опросник "Миссисипская шкала ПТСР". Далее, <a href="/Psychotherapy-of-psychotrauma.html#sign-up">записывайтесь</a> ко мне на консультацию и приходите за психологической диагностикой и психотерапией. В случае необходимости, я отправлю вас к врачу за медицинским обследованием и назначением медикаментов для купирования последствий стресса. В данном случае, под последствиями стресса подразумевается "реакция на тяжелый стресс и нарушение адаптации". Полный список невротических расстройств из МКБ-10 читайте <a href="/articles/49">тут</a>. Детальней, про психотравмы читайте <a href="/articles/54">здесь</a>.  
        </p>
        <p>
          При состоянии острого стресса, в первые часы или дни после травмы, когда нужна срочная помощь, я применяю метод <a href="/EMDR.html">ДПДГ</a> для стабилизации вашего состояния (1-5 сеансов). После чего, можем переходить к стандартной психотерапии. При ПТСР и старых психотравмах (нажитых в детском и подростковом возрасте) мы работаем по следующей схеме:<br> 
          <a href="/individual_consultation.html#First">Первая консультация</a> всегда посвящена детальному разбору вашего случая. Она состоит из 3-х основных этапов:<br>
          1. Диагностика. Выявление симптомов и психологических механизмов психотравмы;<br>
          2. Информирование. Я объясняю причины симптомов и механизм функционирования психотравмы. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения, отвечаю на ваши вопросы;<br>
          3. Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.
        </p>
        <p>
          В конце консультации вы получаете:
        </p>
        <ul>
          <li><b>Стенографию</b> консультации в текстовом формате, которую можно перечитывать в любой момент;</li>
          <li><b>Опросник</b>, который создан на основе вашей диагностики. Его нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результатов нашей работы;</li>
          <li><b>Мои личные контакты</b>. Возможность поддерживать со мной связь между сеансами для ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!</li>
          <li><b>Дополнительные материалы</b>. Текстовые, аудио- и видеофайлы для выполнения домашнего задания, развития навыков и осведомленности о своей проблеме.</li>
        </ul>
        <p>
          После диагностики мы стабилизируем ваше состояние и подготавливаем к курсу <a href="/Hypnotherapy.html">Гипнотерапии</a> (5 сеансов по 3 часа) для избавления от неприятных воспоминаний и психосоматики.
          Далее, если у вас тяжелый случай, мы продолжаем курс психотерапии (от 10 сеансов) с использованием методов <a href="/Cognitive-Behavioral-Therapy.html">Когнитивно-поведенческой терапии</a> и <a href="/Positive-psychotherapy.html">Позитивной психотерапии</a>. При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться, однако общая структура психотерапии выглядит следующим образом:
        </p>

        <h3>Первый – пятый сеанс</h3>
        <p>
          Когда выстроено доверие, можно начинать систематическую десенсибилизацию. Мы подробно анализируем ваши мысли и убеждения, делаем рефрейминг (смотрим на ситуацию под разными точками зрения). Иногда, возникающее чувство вины, страха, стыда, злости мешает полноценной работе, в таком случае мы работаем с данными эмоциями, анализируем их объективность, проводим несколько раз регрессию в прошлое (вспоминаем события), делаем абреакцию (высвобождаем эмоции, плачем, кричим, злимся), делаем новые выводы и закрываем "гештальт." Для комфортной работы, если необходимо, применяем техники релаксации и медитации, а также планируем ваш режим дня, изменяем образ жизни, улучшаем сон, аппетит и активность.
        </p>
        <p>
          Если у вас был длительный стресс (например, длительное насилие в семье), то кроме обычной работы с воспоминаниями, мы занимаемся принятием и прощением себя, за то, что так долго терпели и не решались уйти из ситуации.
        </p>
        <p>
          Если у вас детская психотравма (например, крики родителей), делаем тоже самое: регрессия в прошлое (вспоминаем) и абреакция (высвобождаем эмоции).
        </p>    
        <h3>Шестой – девятый сеанс</h3>
        <p>
          Учимся снова доверять людям. Понемногу входим в социум, обретаем навыки коммуникации, адаптируемся к окружению. Выявляем ваши ценности и цели, ставим минимальные задачи: поговорить, написать, выйти на улицу, погулять с друзьями, завести новые знакомства. Учимся не убегать, а стремится к собственным целям, несмотря на то, что иногда вы можете испытывать стресс. Развиваем стрессоустойчивость: я рассказываю о механизмах стресса, мы обучаемся техникам релаксации, самоанализа, тому, как принимать решения и брать за них ответственность, повышаем самооценку.
        </p>
        <h3>Десятый сеанс</h3>
        <p>
          Научаемся применять технику "СТОП". Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
        </p>   
        <h3>Поддерживающая терапия</h3>
        <p>
          После курса психотерапии, если это требуется, мы можем проводить поддерживающую терапию (1 сеанс каждые 2-4 недели) для профилактики рецидивов, развития навыков, улучшения имеющихся результатов. На ней вы получаете моральную и психологическую поддержку, возможность выговориться, мы разбираем актуальные жизненные проблемы, ищем пути решения, проводим обучение необходимым навыкам (например, стрессоустойчивости), закрепляем ранее изученные техники работы с психоэмоциональным состоянием.
        </p>
      </section>

    </div>
  </article>

  <div class="sign-up" id="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=+380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>