<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Психотерапия психотравм | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие психотравм и как психолог помогает от них избавиться.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Психотерапия психотравм | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие психотравм и как психолог помогает от них избавиться.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Psychotherapy-of-psychotrauma">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/consultation-psychologist-online-Tkachenko-Andrey-15d393997277900bef34501aa768f09ecc97d4153095c5ed20be12d9f55d4582.png">
<% end %>

 <div class="pc_content">
  <div class="container" style="text-align: justify;">
    <h1 style="text-align: center; font-weight: 800; font-size: 2.5vw; margin: 5vw 0px 3vw 0vw">Психотерапия психотравм</h1>
    <p style="text-align: center; margin: 2vw 3vw 4vw 3vw;">
      Если вы это читаете, то, вероятно, вы пережили сильный или долгий стресс. Эта статья призвана кратко объяснить процесс психотерапии с практической точки зрения: описание проблемы, результат и применяемые мною техники в нашей совместной работе
    </p>

    <img src="<%= asset_url('problem/psychological-trauma.svg')%>" alt="Избавление от глубинных психотравм" style="float: right; width: 30vw; margin: 1vw 4vw">
    <h2 style="font-size: 1.6vw; margin: 4vw 0vw 2vw 3vw">Как практически будет выглядеть наша работа</h2>
    <p>
      Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
    </p>
    <p>
      Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы вашего состояния. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
    </p>
    <p>
      Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от психотравм и научились конструктивно удовлетворять свои потребности.
    </p>

    <h2 style="font-size: 1.6vw; margin: 4vw 0vw 2vw 3vw">Критерии наличия психотравм и критерии достижения результата</h2>
    <table>
      <th>Последствия стресса</th>
      <th>Результат психотерапии</th>
      <tr>
        <td>По опроснику Миссисипская шкала ПТСР вы набираете 97-111 баллов (нарушение адаптации), 112 баллов и более (ПТСР).</td>
        <td>По опроснику Миссисипская шкала ПТСР вы набираете 35-96 баллов на протяжении 3-х недель подряд.</td>
      </tr>
      <tr>
        <td>Симптомы приводят к нарушениям в социальной, трудовой или другой сфере жизнедеятельности.</td>
        <td>Оставшиеся симптомы не вызывают сильного дискомфорта и почти не влияют на вас в разных сферах жизни.</td>
      </tr>
      <tr>
        <td>Эпизоды повторного переживания травмы: навязчивые воспоминания, кошмарные сны, оцепенение, вспышки страха, паники или агрессии, вегетативная активность (симптомы психосоматики).</td>
        <td>Отсутствие "флешбеков" или не вызывающие сильного дискомфорта воспоминания. Беспокойство контролируемое, вы не застреваете в одной эмоции, в одной мысли.</td>
      </tr>
      <tr>
        <td>Повышенный уровень бодрствования, общее депрессивное настроение, тревога, раздраженность, низкая продуктивность в ежедневных делах.</td>
        <td>Нормальный для вас уровень бодрствования, вы в состоянии испытывать разные эмоции, в зависимости от обстоятельств.</td>
      </tr>
      <tr>
        <td>Излишнее самонаблюдение за своим состоянием и внимание к мельчайшим признакам стресса.</td>
        <td>Гибкое внимание. Отсутствие повышенной концентрации на своем самочувствии.</td>
      </tr>
      <tr>
        <td>Агрессивное поведение, невозможность адаптироваться в социуме, отчуждения от других людей.</td>
        <td>Отсутствие или не вызывающие сильного дискомфорта нервозность. Адаптация к социуму.</td>
      </tr>
      <tr>
        <td>Избегание деятельности и ситуаций, напоминающих о травме. Страх вернутся туда.</td>
        <td>Отсутствие избегания. Не вызывающий сильного дискомфорта беспокойство "а вдруг опять?"</td>
      </tr>
      <tr>
        <td>Усиленное избегание стрессов и болезней: диета, главенство отдыха над работой, исключение любой негативной информации, много физических нагрузок, прием медикаментов и пр.</td>
        <td>Нормализация поведения. Вы объективно оцениваете свое состояние и не совершаете неоправданных действий, чтобы уберечь себя.</td>
      </tr>
      <tfoot>
        <tr>
          <td>Чувство неспособности справляться с нынешней ситуацией, планировать, принимать решения, общая неорганизованность и чувство потери контроля.</td>
          <td>Чувство контроля над ситуацией. Умение управлять своим психоэмоциональным состоянием.</td>
        </tr>
      </tfoot>
    </table>
    <p style="margin-top: -3vw">*в средних и тяжелых случаях, для устранения симптомов может потребоваться применение медикаментов, их вам назначит лечащий врач.<br>
    **в данном случае, под последствиями стресса подразумевается "реакция на тяжелый стресс и нарушение адаптации". Полный список невротических расстройств из МКБ-10 читайте <a href="/articles/49" style="border-bottom: 1px solid currentColor;">тут</a>.
    </p>

    <h2>План психотерапии последствий стресса</h2>
    <p>
      Вы чувствуете, что у вас "расшатанные нервы" после сильного стресса или череды проблем. Для самостоятельной диагностики вы можете заполнить опросник Миссисипская шкала ПТСР. Далее записывайтесь ко мне на первую консультацию за психологической диагностикой. В случае необходимости, я отправлю вас к врачу за медицинским обследованием и назначением медикаментов, если они потребуются.
    </p>
    <p>
      <a href="/consultations.html#First" style="border-bottom: 1px solid currentColor;">Первая диагностическая консультация</a> всегда посвящена детальному разбору вашего случая. Она состоит из 3-х основных этапов:
    </p>
    <ul>
      <li>Диагностика. Выявление симптомов и психологических механизмов психотравмы.</li>
      <li>Информирование. Я объясняю причины симптомов и механизм функционирования психотравмы. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения.</li>
      <li>Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.</li>
    </ul>
    <p>
      В конце консультации вы получаете:<br>
      <b>+ Стенографию</b> консультации в формате docx, которую можно перечитывать в любой момент;<br>
      <b>+ Еxcel файл</b> с вашей схемой психотравмы и опросником (созданным на основе лично вашей ситуации), который нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результата нашей работы;<br>
      <b>+ Мои личные контакты.</b> Возможность связываться со мной для поддержания связи между сеансами, ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!
    </p>
    <p>
      После диагностики мы начинаем <a href="/consultations.html#Hypnotherapy" style="border-bottom: 1px solid currentColor;">курс гипнотерапии</a> (5 сеансов по 3 часа) для избавления от неприятных воспоминаний и психосоматики.<br>
      Далее, если у вас тяжелый случай, мы назначаем курс психотерапии из 10 сеансов с использованием методов <a href="/Cognitive-Behavioral-Therapy.html" style="border-bottom: 1px solid currentColor;">Когнитивно-поведенческой терапии</a> и <a href="/Acceptance-and-Commitment-Therapy.html" style="border-bottom: 1px solid currentColor;">Терапии принятия и ответственности</a>. При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться, однако общая структура психотерапии выглядит следующим образом:
    </p>

    <h2>Первый – пятый сеанс</h2>
    <p>
      Когда выстроено доверие, можно начинать систематическую десенсибилизацию. Если у вас произошла трагедия, сильно вас ранившая, то мы подготавливаемся к работе с ней. Подробно анализируем ваши мысли и убеждения, делаем рефрейминг (смотрим на ситуацию под разными точками зрения) и пытаемся посекундно вспомнить все события, позволить сознанию переработать воспоминания и забыть о них. Иногда, возникающее чувство вины, страха, стыда, злости мешает полноценной работе, в таком случае мы работаем с данными эмоциями, анализируем их объективность, проводим несколько раз регрессию в прошлое (вспоминаем события), делаем абреакцию (высвобождаем эмоции, плачим, кричим, злимся), делаем новые выводы и закрываем "гештальт." Для комфортной работы, если необходимо, применяем техники релаксации и медитации, а также планируем ваш режим дня, изменяем образ жизни, улучшаем сон, аппетит и активность.
    </p>
    <p>
      Если у вас был длительный стресс (например, длительное насилие в семье), то кроме обычной работы с воспоминаниями, мы занимаемся принятием и прощением себя, за то, что так долго терпели и не решались уйти из ситуации.
    </p>
    <p>
      Если у вас детская психотравма (например, крики родителей), делаем то же самое: регрессия в прошлое (вспоминаем) и абреакция (высвобождаем эмоции).
    </p>    
    <h2>Шестой – девятый сеанс</h2>
    <p>
      Учимся снова доверять людям. Понемногу входим в социум, обретаем навыки коммуникации, адаптируемся к окружению. Выявляем ваши ценности и цели, ставим минимальные задачи: поговорить, написать, выйти на улицу, погулять с друзьями, завести новые знакомства. Учимся не убегать, а стремится к собственным целям, несмотря на то, что иногда вы можете испытывать стресс. Развиваем стрессоустойчивость: я рассказываю о механизмах стресса, мы обучаемся техникам релаксации, самоанализа, тому, как принимать решения и брать за них ответственность, повышаем самооценку.
    </p>
    <h2>Десятый сеанс</h2>
    <p>
      Научаемся применять технику "СТОП". Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
    </p>   
    <h2>Поддерживающая терапия</h2>
    <p>
      После курса психотерапии, если это требуется, мы можем проводить поддерживающую терапию (1 сеанс каждые 2-4 недели) для профилактики рецидивов, развития навыков, улучшения имеющихся результатов. На ней вы получаете моральную и психологическую поддержку, возможность выговориться, мы разбираем актуальные жизненные проблемы, ищем пути решения, проводим обучение необходимым навыкам (например, стрессоустойчивости), закрепляем ранее изученные техники работы с психоэмоциональным состоянием.
    </p>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 6vw 0px 2vw 0vw; padding-top: 3vw">Запись на консультацию</h2> 
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 4vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8vw">
      <img src="<%= asset_url('form.svg')%>" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- конец container -->
</div>  <!-- конец pc_content -->











<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7; padding-bottom: 8vw">
  <div class="container">
    <h1 class="methods-name">
      Психотерапия психотравм
    </h1>
    <p class="methods-description">
      Если вы это читаете, то, вероятно, вы пережили сильный или долгий стресс. Эта статья призвана кратко объяснить процесс психотерапии с практической точки зрения: описание проблемы, результат и применяемые мною техники в нашей совместной работе
    </p>
    <img src="<%= asset_url('problem/psychological-trauma.svg')%>" alt="Избавление от глубинных психотравм" class="methods-img">
    <h2>
      Как практически будет выглядеть наша работа
    </h2>

    <p>
      Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
    </p>
    <p>
      Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы вашего состояния. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
    </p>
    <p>
      Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от психотравм и научились конструктивно удовлетворять свои потребности.
    </p>

    <h2>Критерии наличия психотравм и критерии достижения результата</h2>
    <table>
      <th>Последствия стресса</th>
      <th>Результат психотерапии</th>
      <tr>
        <td>По опроснику Миссисипская шкала ПТСР вы набираете 97-111 баллов (нарушение адаптации), 112 баллов и более (ПТСР).</td>
        <td>По опроснику Миссисипская шкала ПТСР вы набираете 35-96 баллов на протяжении 3-х недель подряд.</td>
      </tr>
      <tr>
        <td>Симптомы приводят к нарушениям в социальной, трудовой или другой сфере жизнедеятельности.</td>
        <td>Оставшиеся симптомы не вызывают сильного дискомфорта и почти не влияют на вас в разных сферах жизни.</td>
      </tr>
      <tr>
        <td>Эпизоды повторного переживания травмы: навязчивые воспоминания, кошмарные сны, оцепенение, вспышки страха, паники или агрессии, вегетативная активность (симптомы психосоматики).</td>
        <td>Отсутствие "флешбеков" или не вызывающие сильного дискомфорта воспоминания. Беспокойство контролируемое, вы не застреваете в одной эмоции, в одной мысли.</td>
      </tr>
      <tr>
        <td>Повышенный уровень бодрствования, общее депрессивное настроение, тревога, раздраженность, низкая продуктивность в ежедневных делах.</td>
        <td>Нормальный для вас уровень бодрствования, вы в состоянии испытывать разные эмоции, в зависимости от обстоятельств.</td>
      </tr>
      <tr>
        <td>Излишнее самонаблюдение за своим состоянием и внимание к мельчайшим признакам стресса.</td>
        <td>Гибкое внимание. Отсутствие повышенной концентрации на своем самочувствии.</td>
      </tr>
      <tr>
        <td>Агрессивное поведение, невозможность адаптироваться в социуме, отчуждения от других людей.</td>
        <td>Отсутствие или не вызывающие сильного дискомфорта нервозность. Адаптация к социуму.</td>
      </tr>
      <tr>
        <td>Избегание деятельности и ситуаций, напоминающих о травме. Страх вернутся туда.</td>
        <td>Отсутствие избегания. Не вызывающий сильного дискомфорта беспокойство "а вдруг опять?"</td>
      </tr>
      <tr>
        <td>Усиленное избегание стрессов и болезней: диета, главенство отдыха над работой, исключение любой негативной информации, много физических нагрузок, прием медикаментов и пр.</td>
        <td>Нормализация поведения. Вы объективно оцениваете свое состояние и не совершаете неоправданных действий, чтобы уберечь себя.</td>
      </tr>
      <tfoot>
        <tr>
          <td>Чувство неспособности справляться с нынешней ситуацией, планировать, принимать решения, общая неорганизованность и чувство потери контроля.</td>
          <td>Чувство контроля над ситуацией. Умение управлять своим психоэмоциональным состоянием.</td>
        </tr>
      </tfoot>
    </table>
    <p>*в средних и тяжелых случаях, для устранения симптомов может потребоваться применение медикаментов, их вам назначит лечащий врач.<br>
    **в данном случае, под последствиями стресса подразумевается "реакция на тяжелый стресс и нарушение адаптации". Полный список невротических расстройств из МКБ-10 читайте <a href="/articles/49" style="border-bottom: 1px solid currentColor;">тут</a>.
    </p>

    <h2>План психотерапии последствий стресса</h2>
    <p>
      Вы чувствуете, что у вас "расшатанные нервы" после сильного стресса или череды проблем. Для самостоятельной диагностики вы можете заполнить опросник Миссисипская шкала ПТСР. Далее записывайтесь ко мне на первую консультацию за психологической диагностикой. В случае необходимости, я отправлю вас к врачу за медицинским обследованием и назначением медикаментов, если они потребуются.
    </p>
    <p>
      <a href="/consultations.html#first" style="border-bottom: 1px solid currentColor;">Первая диагностическая консультация</a> всегда посвящена детальному разбору вашего случая. Она состоит из 3-х основных этапов:
    </p>
    <ul>
      <li>Диагностика. Выявление симптомов и психологических механизмов психотравмы.</li>
      <li>Информирование. Я объясняю причины симптомов и механизм функционирования психотравмы. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения.</li>
      <li>Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.</li>
    </ul>
    <p>
      В конце консультации вы получаете:<br>
      <b>+ Стенографию</b> консультации в формате docx, которую можно перечитывать в любой момент;<br>
      <b>+ Еxcel файл</b> с вашей схемой психотравмы и опросником (созданным на основе лично вашей ситуации), который нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результата нашей работы;<br>
      <b>+ Мои личные контакты.</b> Возможность связываться со мной для поддержания связи между сеансами, ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!
    </p>
    <p>
      После диагностики мы начинаем <a href="/consultations.html#hypnotherapy" style="border-bottom: 1px solid currentColor;">курс гипнотерапии</a> (5 сеансов по 3 часа) для избавления от неприятных воспоминаний и психосоматики.<br>
      Далее, если у вас тяжелый случай, мы назначаем курс психотерапии из 10 сеансов с использованием методов <a href="/Cognitive-Behavioral-Therapy.html" style="border-bottom: 1px solid currentColor;">Когнитивно-поведенческой терапии</a> и <a href="/Acceptance-and-Commitment-Therapy.html" style="border-bottom: 1px solid currentColor;">Терапии принятия и ответственности</a>. При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться, однако общая структура психотерапии выглядит следующим образом: 
    </p>

    <h2>Первый – пятый сеанс</h2>
    <p>
      Когда выстроено доверие, можно начинать систематическую десенсибилизацию. Если у вас произошла трагедия, сильно вас ранившая, то мы подготавливаемся к работе с ней. Подробно анализируем ваши мысли и убеждения, делаем рефрейминг (смотрим на ситуацию под разными точками зрения) и пытаемся посекундно вспомнить все события, позволить сознанию переработать воспоминания и забыть о них. Иногда, возникающее чувство вины, страха, стыда, злости мешает полноценной работе, в таком случае мы работаем с данными эмоциями, анализируем их объективность, проводим несколько раз регрессию в прошлое (вспоминаем события), делаем абреакцию (высвобождаем эмоции, плачим, кричим, злимся), делаем новые выводы и закрываем "гештальт." Для комфортной работы, если необходимо, применяем техники релаксации и медитации, а также планируем ваш режим дня, изменяем образ жизни, улучшаем сон, аппетит и активность.
    </p>
    <p>
      Если у вас был длительный стресс (например, длительное насилие в семье), то кроме обычной работы с воспоминаниями, мы занимаемся принятием и прощением себя, за то, что так долго терпели и не решались уйти из ситуации.
    </p>
    <p>
      Если у вас детская психотравма (например, крики родителей), делаем то же самое: регрессия в прошлое (вспоминаем) и абреакция (высвобождаем эмоции).
    </p>    
    <h2>Шестой – девятый сеанс</h2>
    <p>
      Учимся снова доверять людям. Понемногу входим в социум, обретаем навыки коммуникации, адаптируемся к окружению. Выявляем ваши ценности и цели, ставим минимальные задачи: поговорить, написать, выйти на улицу, погулять с друзьями, завести новые знакомства. Учимся не убегать, а стремится к собственным целям, несмотря на то, что иногда вы можете испытывать стресс. Развиваем стрессоустойчивость: я рассказываю о механизмах стресса, мы обучаемся техникам релаксации, самоанализа, тому, как принимать решения и брать за них ответственность, повышаем самооценку.
    </p>
    <h2>Десятый сеанс</h2>
    <p>
      Научаемся применять технику "СТОП". Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
    </p>   
    <h2>Поддерживающая терапия</h2>
    <p>
      После курса психотерапии, если это требуется, мы можем проводить поддерживающую терапию (1 сеанс каждые 2-4 недели) для профилактики рецидивов, развития навыков, улучшения имеющихся результатов. На ней вы получаете моральную и психологическую поддержку, возможность выговориться, мы разбираем актуальные жизненные проблемы, ищем пути решения, проводим обучение необходимым навыкам (например, стрессоустойчивости), закрепляем ранее изученные техники работы с психоэмоциональным состоянием.
    </p>

  </div> <!-- конец container -->
    
  <div class="container">        
    <%= render partial: "/new/form_mob"%>
  </div>

</div> <!-- конец моб версии -->