<% content_for :head do %>
  <link rel="canonical" href="http://tkachenkoandrey.com/Psychotherapy-of-neuroses">
  <title>Психотерапия неврозов и психосоматики | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие невроза и как психолог помогает от него избавиться.">
  <meta name="keywords" content="психотерапия невроза, психотерапия психосоматики, консультация психолога невроз, консультация психолога психосоматика, как лечится невроз, терапия невроза, психотерапия ВСД, убрать психосоматику, симптомы невроза, КПТ невроз, гипнотерапия психосоматики, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Psychotherapy-of-neuroses">
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Психотерапия неврозов и психосоматики | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие невроза и как психолог помогает от него избавиться.">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="психотерапия невроза">
  <meta property="article:tag" content="психотерапия психосоматики">
  <meta property="article:tag" content="консультация психолога невроз">
  <meta property="article:tag" content="консультация психолога психосоматика">
  <meta property="article:tag" content="как лечится невроз">
  <meta property="article:tag" content="терапия невроза">
  <meta property="article:tag" content="психотерапия ВСД">
  <meta property="article:tag" content="убрать психосоматику">
  <meta property="article:tag" content="симптомы невроза">
  <meta property="article:tag" content="КПТ невроз">
  <meta property="article:tag" content="гипнотерапия психосоматики">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="http://tkachenkoandrey.com/Psychotherapy-of-neuroses">
  <meta name="twitter:title" content="Психотерапия неврозов и психосоматики | Психолог Ткаченко Андрей">
  <meta name="twitter:desctiption" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие невроза и как психолог помогает от него избавиться.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name">Психотерапия неврозов и психосоматики</h1>
      <p class="article__description pc">Если вы это читаете, то, вероятно, у вас психосоматика или невроз. Эта статья призвана кратко объяснить процесс психотерапии с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе.</p>
      <img class="fullscreen__image" src="<%= asset_url('problem/Neurosis.webp')%>" title="Психотерапия неврозов и психосоматики" alt="Психотерапия неврозов и психосоматики">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Как практически будет выглядеть наша работа</h2>
        <p>
          Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
        </p>
        <p>
          Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы невроза. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
        </p>
        <p>
          Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от невроза и научились конструктивно удовлетворять свои потребности.
        </p>
       </section>

      <table>
        <caption>Критерии наличия проблем в отношениях и критерии достижения результата</caption>
        <thead>
          <tr>
            <th scope="col">Невроз и психосоматика</th>
            <th scope="col">Результат психотерапии</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Невроз и психосоматика">По опроснику невротических состояний вы набираете -1,28 балла и менее по одной и более шкал.</td>
            <td data-label="Результат психотерапии">По опроснику невротических состояний вы набираете +1,28 балла и более по всем шкалам на протяжении 3-х недель подряд.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Невроз и психосоматика">Неумение выстраивать отношения, договариваться, решать конфликты.</td>
            <td data-label="Результат психотерапии">Способность договариваться, решать конфликты, отстаивать свою точку зрения.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Невроз и психосоматика">Дискомфортные психосоматические симптомы без видимых физиологических причин (боли в мышцах, диарея, онемения, повышенная усталость и т.д.).</td>
            <td data-label="Результат психотерапии">Отсутствие или не вызывающая сильного дискомфорта психосоматика.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Невроз и психосоматика">Чрезмерные эмоциональные переживания (раздражительность, злость, обида, вина, стыд и т.д.) даже в ответ на незначительные стимулы, "пустяки".</td>
            <td data-label="Результат психотерапии">Уровень вашего беспокойства соответствует обстоятельствам, в которых вы находитесь. Вы умеете управлять своим эмоциональным состоянием.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Невроз и психосоматика">Ипохондрия - убежденность в наличии какой-то болезни, неверие врачам, которые утверждают, что нет органической патологии.</td>
            <td data-label="Результат психотерапии">Вы цените свое здоровье, критично воспринимаете информацию, делаете собственные выводы и при этом не чувствуете дискомфорта от того, что иногда приходит мысль: «а вдруг меня недообследовали?», «вдруг я больна?!».</td>
          </tr>
          <tr>
            <td scope="row" data-label="Невроз и психосоматика">Трудности во взаимоотношениях, психологические проблемы (например, внутренний конфликт "хочу, но не могу", "и хочу и не хочу", "не хочу, а надо").</td>
            <td data-label="Результат психотерапии">Отсутствие или не вызывающий сильного дискомфорта внутренний конфликт. Улучшение взаимоотношений, адаптация к социальному окружению.</td>
          </tr>
        </tbody>
      </table>

      <section>
        <h2>План психотерапии невроза</h2>
        <p>
          Вы чувствуете, что у вас "расшатанные нервы" и подозреваете у себя наличие невротического состояния. Для самодиагностики вы можете заполнить опросник невротических состояний. Далее, <a href="/Psychotherapy-of-neuroses.html#sign-up">записывайтесь</a> ко мне на консультацию и приходите за психологической диагностикой и психотерапией. В случае необходимости, я отправлю вас к врачу за медицинским обследованием и назначением медикаментов.
        </p>
        <p>
          <a href="/individual_consultation.html#First">Первая консультация</a> всегда посвящена детальному разбору вашего случая. Она состоит из 3-х основных этапов:<br>
          1. Диагностика. Выявление симптомов и психологических механизмов невроза;<br>
          2. Информирование. Я объясняю причины симптомов и механизм функционирования невроза. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения, отвечаю на ваши вопросы;<br>
          3. Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.
        </p>
        <p>
          В конце консультации вы получаете:
        </p>
        <ul>
          <li><b>Стенографию</b> консультации в текстовом формате, которую можно перечитывать в любой момент;</li>
          <li><b>Схему невроза и опросник</b>, которые созданы на основе вашей диагностики. Опросник нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результатов нашей работы;</li>
          <li><b>Мои личные контакты</b>. Возможность поддерживать со мной связь между сеансами для ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!</li>
          <li><b>Дополнительные материалы</b>. Текстовые, аудио- и видеофайлы для выполнения домашнего задания, развития навыков и осведомленности о своей проблеме.</li>
        </ul>
        </p>
        <p>
          Единичные невротические эмоции (вина, стыд, злость) можно проработать за несколько консультаций. Если же после диагностики был выявлен явный невроз, то мы начинаем курс психотерапии с использованием методов <a href="/Cognitive-Behavioral-Therapy.html">Когнитивно-поведенческой терапии</a>, <a href="/Positive-psychotherapy.html">Позитивной психотерапии</a>, <a href="/Acceptance-and-Commitment-Therapy.html">Терапии принятия и ответственности</a>. В среднем, для избавления от невроза легкой степени необходимо 10 сеансов психотерапии. Для избавления от локальной психосоматики используем разовые сеансы <a href="/Hypnotherapy.html">Гипнотерапии</a>. При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться, однако общая структура психотерапии выглядит следующим образом: 
        </p>

        <h3>Первый – третий сеанс</h3>
        <p>
          Анализируем насколько ваше мышление влияет на общее эмоциональное и физическое состояние, насколько ваши убеждения конструктивны и объективны, учимся мыслить критически. Проверяем неконтролируемость, опасность негативных мыслей, учимся откладывать беспокойство на потом, не бороться с ними, а смотреть на мысли отстраненно. Если психосоматика возникла в результате сильного стресса, то вначале мы разбираемся с данной "психотравмой", вспоминаем произошедшее, перепроживаем, создаем новые выводы. Далее, делаем анализ ваших попыток справиться с невротическими симптомами, выявляем то, что работает, и то, что приносит выгоду лишь на краткосрочном промежутке времени, ухудшая ваше состояние в долгосрочном периоде. Научаемся принимать свои эмоции, быть готовыми действовать даже несмотря на негативные переживания. Работаем с внутренними конфликтами и вторичными выгодами, учимся удовлетворять свои потребности.
        </p>
        <h3>Четвертый – шестой сеанс</h3>
        <p>
          Мы продолжаем работать с мышлением и эмоциями, понемногу учимся управлять собственным вниманием. Развиваем осознанность на настоящем моменте, чтобы вовремя замечать и предотвращать появление негативных эмоций. Применяем техники медитации и заполняем АВС-схему для усиления гибкости внимания, наблюдательной позиции и умения смотреть на ситуацию с разных точек зрения.
        </p>
        <h3>Седьмой – восьмой сеанс</h3>
        <p>
          Мы научились контролировать свое внимание. Прекращаем мониторить, подготавливаться и предугадывать возможные угрозы, прислушиваться к негативным мыслям и часто проверять свое самочувствие. Выявляем список ваших ценностей, целей, которые вы хотите достичь, и возможные препятствия (негативные мысли, эмоции, желания, непредвиденные обстоятельства). Снижаем общую тревожность, учимся принимать решения и справляться с  возникающими трудностями. Увеличиваем стрессоустойчивость.
        </p>
        <h3>Девятый – десятый сеанс</h3>
        <p>
          Научаемся применять технику "СТОП". Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
        </p>
      </section>
    </div>
  </article>

  <div class="sign-up" id="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=%2B380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>