<div class="pc_content">
  <div class="container" style="text-align: justify;">
    <h1 style="text-align: center; font-weight: 800; font-size: 3vw; margin: 5vw 0px 4vw 0vw">Психотерапия панических атак</h1>
    <p style="font-size: 1.1vw; text-align: center; margin: 2vw 3vw 4vw 3vw;">
      Если вы это читаете, то, вероятно, у вас панические атаки. Эта статья призвана кратко объяснить процесс психотерапии с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе
    </p>
    <img src="<%= asset_url('problem/panic-disorder.svg')%>" alt="Избавление от панических атак" style="float: right; width: 30vw; margin: 1vw 4vw">
    <h2 style="font-size: 1.6vw; margin: 4vw 0vw 2vw 3vw">Как практически будет выглядеть наша работа</h2>
    <p>
      Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
    </p>
    <p>
      Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы панических атак. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
    </p>
    <p>
      Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально Когда вы радуетесь – я разделяю с вами вашу радость, когда вы грустите – я поддержу вас и помогу найти верное решение. Я абсолютно безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от панических атак и улучшили качество своей жизни.
    </p>
    <h2 style="font-size: 1.6vw; margin: 4vw 0vw 2vw 3vw">Критерии наличия панических атаки и критерии достижения результата</h2>
    <table>
      <th>Паническое расстройство</th>
      <th>Результат психотерапии</th>
      <tr>
        <td>По опроснику Шкала тяжести панического расстройства вы набираете 2-28 баллов.</td>
        <td>По опроснику Шкала тяжести панического расстройства вы набираете 0-1 балл на протяжении 3-х недель подряд.</td>
      </tr>
      <tr>
        <td>Повторяющиеся неожиданные панические атаки - крайне выраженная тревога (паника), сопровождающаяся страхом смерти, потери сознания, самоконтроля, страхом сойти с ума, деперсонализацией и дереализацией, а также выраженными вегетативными симптомами: ускоренным сердцебиением, усиленным потоотделением, болью в груди, головокружением, тошнотой, дискомфортом в животе, чувством жара или озноба, тремором.</td>
        <td>Отсутствие панических атак при контакте с триггерами, либо уменьшение симптомов на 50% и более процентов.</td>
      </tr>
      <tr>
        <td>Постоянная тревога или беспокойство о возможности следующих панических атак или их последствиях (потерять контроль, получить сердечный приступ или «сойти с ума»).</td>
        <td>Отсутствие или не вызывающий сильный дискомфорт беспокойство о возможности следующих панических атак.</td>
      </tr>
      <tfoot>
        <tr>
          <td>Значительные изменения в поведении направленное на избежание панических атак (например, уклонение от физической нагрузки или непривычной ситуации).</td>
          <td>Отсутствие избегания. Вы в состоянии реализовывать собственные цели и следовать своим ценностям, не смотря на иногда возникающую тревогу / ПА.</td>
        </tr>
      </tfoot>
    </table>

    <h2>План психотерапии панических атак</h2>
    <p>
      Вы подозреваете у себя наличие панических атак. Для самостоятельной диагностики вы можете заполнить тест Шкала тяжести панического расстройства. Далее обращайтесь за помощью к своему лечащему врачу. Если врачи не выявят иных заболеваний и у них будут подозрения именно на ПА – вас отправят к неврологу или психиатру за медицинской диагностикой и назначением медикаментов, если они потребуются. После этого записывайтесь ко мне на консультацию за психологической диагностикой и психотерапией (либо, можете сразу обратиться ко мне, а далее, если это необходимо, я отправлю вас к врачу).
    </p>
    <p>
      Я в своей работе использую метод <a href="CBT.html" style="border-bottom: 1px solid currentColor;">Когнитивно-поведенческой терапии</a>, и <a href="ACT.html" style="border-bottom: 1px solid currentColor;">Терапии принятия и ответственности</a>. В среднем, для избавления от ПА легкой или средней тяжести необходимо 8-10 консультаций.
    </p>

    <p style="font-style: italic;">
      *При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться!
    </p>

    <h2>Первая консультация</h2>
    <p>Первая психологическая консультация всегда посвящена детальному разбору вашего случая. Она состоит из 3-х этапов:</p>
    <ul>
      <li>Диагностика. Выявление симптомов и психологических механизмов ПА.</li>
      <li>Информирование. Я объясняю причины симптомов и механизм функционирования ПА. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения.</li>
      <li>Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.</li>
    </ul>
    <p>
      В конце консультации вы получаете:<br>
      <b>+ Стенографию</b> консультации в формате docx, которую можно перечитывать в любой момент;<br>
      <b>+ Еxcel файл</b> с вашей схемой ПА и опросником (созданным на основе лично вашей ситуации), который нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результата нашей работы;<br>
      <b>+ Мои личные контакты.</b> Возможность связываться со мной для поддержания связи между консультациями, ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!
    </p>
    <h2>Вторая консультация</h2>
    <p>
      Начинаем трансформировать катастрофические убеждений о том, что "если у меня учащенное сердцебиение, то будет инфаркт", "если закружилась голова, то сейчас упаду в обморок". Путем поведенческих экспериментов мы на практике проверяем насколько могут быть опасны и неконтролируемы приступы паники. Извлекая новые знания, самые важные убеждения записываем на карточки и носим с собой, чтоб всегда иметь под рукой объективную информацию о своем состоянии. Если необходимо - научаемся техникам релаксации.
    </p>
    <h2>Третья консультация</h2>
    <p>
      Уменьшаем значимость симптомов путем внутренней десенсибилизации. Намеренно вызываем физические ощущения, схожие с симптомами ПА, для того, чтобы изменить восприятие собственных ощущений и переживаний. Например, можно поприседать, чтобы вызвать учащенное сердцебиение, и посмотреть что будет с организмом после этого, как через время сердце начинает биться в своем нормальном ритме. Также, учимся управлять своим вниманием, не зацикливаться на собственных мыслях о своем самочувствии.
    </p>        
    <h2>Четвертая - шестая консультация</h2>
    <p>
      Составляем план систематической десенсибилизации - уникального метода избавления от любого страха. Понемногу, без вреда для здоровья, начинаем контактировать с триггерами, бывать в тех местах и ситуациях где возникают ПА. Если возникают симптомы - принимаем и преувеличиваем их, таким образом доказывая себе и своему организму, что бояться нечего.
    </p>    
    <h2>Пятая и шестая консультация</h2>
    <p>
      Понемногу учимся управлять собственным вниманием. Тренируем переключаемость и концентрацию внимания, понемногу усиливаем нагрузки. Развиваем осознанность на настоящем моменте, чтобы вовремя замечать и предотвращать появление пессимистичных мыслей и депрессивного настроения. Применяем техники медитации и заполняем АВС-схему для усиления гибкости внимания, наблюдательной позиции и умения смотреть на ситуацию с разных точек зрения.
    </p>
    <h2>Седьмая и восьмая консультация</h2>
    <p>
      Мы научились не перепроверять свое состояние, ПА в этот период, чаще всего, становятся мало заметными или вовсе не возникают. Работаем над уменьшением общей тревожности, учимся принимать решения и справляться с  возникающими трудностями. Увеличиваем стрессоустойчивость.
    </p>
    <h2>Девятая и десятая консультация</h2>
    <p>
     Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
    </p>

    <h2 style="font-size: 3vw; text-align: center; margin: 6vw 0px 2vw 0vw; padding-top: 3vw">Запись на консультацию</h2> 
    <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 5vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8vw">
      <img src="<%= asset_url('form.svg')%>" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- конец container -->
</div>  <!-- конец pc_content -->













<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7; padding-bottom: 8vw">
  <div class="container" style="margin-bottom: 8vw; font-size: 2.7vw; line-height: 3.4vw; text-align: start; ">
    <h1 style="padding: 9vw 0vw 0vw 0vw; text-align: center; font-weight: 800; font-size: 5vw; line-height: 6vw; margin: 0px;">
      Психотерапия панических атак
    </h1>
    <p style="text-align: center; font-size: 2.7vw; line-height: 3.2vw; letter-spacing: 0.01em; margin: 5vw 0vw 7vw 0vw">
      Если вы это читаете, то, вероятно, у вас панические атаки. Эта статья призвана кратко объяснить процесс психотерапии с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе
    </p>
    <img src="<%= asset_url('problem/panic-disorder.svg')%>" alt="Избавление от панических атак" style="width: 86vw">
    <h2>
      Как практически будет выглядеть наша работа
    </h2>

    <p>
      Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
    </p>
    <p>
      Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы панических атак. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
    </p>
    <p>
      Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально Когда вы радуетесь – я разделяю с вами вашу радость, когда вы грустите – я поддержу вас и помогу найти верное решение. Я абсолютно безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от панических атак и улучшили качество своей жизни.
    </p>
    <h2 style="margin: 4vw 0vw 2vw 3vw">Критерии наличия панических атаки и критерии достижения результата</h2>
    <table>
      <th>Паническое расстройство</th>
      <th>Результат психотерапии</th>
      <tr>
        <td>По опроснику Шкала тяжести панического расстройства вы набираете 2-28 баллов.</td>
        <td>По опроснику Шкала тяжести панического расстройства вы набираете 0-1 балл на протяжении 3-х недель подряд.</td>
      </tr>
      <tr>
        <td>Повторяющиеся неожиданные панические атаки - крайне выраженная тревога (паника), сопровождающаяся страхом смерти, потери сознания, самоконтроля, страхом сойти с ума, деперсонализацией и дереализацией, а также выраженными вегетативными симптомами: ускоренным сердцебиением, усиленным потоотделением, болью в груди, головокружением, тошнотой, дискомфортом в животе, чувством жара или озноба, тремором.</td>
        <td>Отсутствие панических атак при контакте с триггерами, либо уменьшение симптомов на 50% и более процентов.</td>
      </tr>
      <tr>
        <td>Постоянная тревога или беспокойство о возможности следующих панических атак или их последствиях (потерять контроль, получить сердечный приступ или «сойти с ума»).</td>
        <td>Отсутствие или не вызывающий сильный дискомфорт беспокойство о возможности следующих панических атак.</td>
      </tr>
      <tfoot>
        <tr>
          <td>Значительные изменения в поведении направленное на избежание панических атак (например, уклонение от физической нагрузки или непривычной ситуации).</td>
          <td>Отсутствие избегания. Вы в состоянии реализовывать собственные цели и следовать своим ценностям, не смотря на иногда возникающую тревогу / ПА.</td>
        </tr>
      </tfoot>
    </table>

    <h2>План психотерапии панических атак</h2>
    <p>
      Вы подозреваете у себя наличие панических атак. Для самостоятельной диагностики вы можете заполнить тест Шкала тяжести панического расстройства. Далее обращайтесь за помощью к своему лечащему врачу. Если врачи не выявят иных заболеваний и у них будут подозрения именно на ПА – вас отправят к неврологу или психиатру за медицинской диагностикой и назначением медикаментов, если они потребуются. После этого записывайтесь ко мне на консультацию за психологической диагностикой и психотерапией (либо, можете сразу обратиться ко мне, а далее, если это необходимо, я отправлю вас к врачу).
    </p>
    <p>
      Я в своей работе использую метод <a href="CBT.html" style="border-bottom: 1px solid currentColor;">Когнитивно-поведенческой терапии</a>, и <a href="ACT.html" style="border-bottom: 1px solid currentColor;">Терапии принятия и ответственности</a>. В среднем, для избавления от ПА легкой или средней тяжести необходимо 8-10 консультаций.
    </p>

    <p style="font-style: italic;">
      *При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться!
    </p>

    <h2>Первая консультация</h2>
    <p>Первая психологическая консультация всегда посвящена детальному разбору вашего случая. Она состоит из 3-х этапов:</p>
    <ul>
      <li>Диагностика. Выявление симптомов и психологических механизмов ПА.</li>
      <li>Информирование. Я объясняю причины симптомов и механизм функционирования ПА. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения.</li>
      <li>Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.</li>
    </ul>
    <p>
      В конце консультации вы получаете:<br>
      <b>+ Стенографию</b> консультации в формате docx, которую можно перечитывать в любой момент;<br>
      <b>+ Еxcel файл</b> с вашей схемой ПА и опросником (созданным на основе лично вашей ситуации), который нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результата нашей работы;<br>
      <b>+ Мои личные контакты.</b> Возможность связываться со мной для поддержания связи между консультациями, ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!
    </p>
    <h2>Вторая консультация</h2>
    <p>
      Начинаем трансформировать катастрофические убеждений о том, что "если у меня учащенное сердцебиение, то будет инфаркт", "если закружилась голова, то сейчас упаду в обморок". Путем поведенческих экспериментов мы на практике проверяем насколько могут быть опасны и неконтролируемы приступы паники. Извлекая новые знания, самые важные убеждения записываем на карточки и носим с собой, чтоб всегда иметь под рукой объективную информацию о своем состоянии. Если необходимо - научаемся техникам релаксации.
    </p>
    <h2>Третья консультация</h2>
    <p>
      Уменьшаем значимость симптомов путем внутренней десенсибилизации. Намеренно вызываем физические ощущения, схожие с симптомами ПА, для того, чтобы изменить восприятие собственных ощущений и переживаний. Например, можно поприседать, чтобы вызвать учащенное сердцебиение, и посмотреть что будет с организмом после этого, как через время сердце начинает биться в своем нормальном ритме. Также, учимся управлять своим вниманием, не зацикливаться на собственных мыслях о своем самочувствии.
    </p>        
    <h2>Четвертая - шестая консультация</h2>
    <p>
      Составляем план систематической десенсибилизации - уникального метода избавления от любого страха. Понемногу, без вреда для здоровья, начинаем контактировать с триггерами, бывать в тех местах и ситуациях где возникают ПА. Если возникают симптомы - принимаем и преувеличиваем их, таким образом доказывая себе и своему организму, что бояться нечего.
    </p>    
    <h2>Пятая и шестая консультация</h2>
    <p>
      Понемногу учимся управлять собственным вниманием. Тренируем переключаемость и концентрацию внимания, понемногу усиливаем нагрузки. Развиваем осознанность на настоящем моменте, чтобы вовремя замечать и предотвращать появление пессимистичных мыслей и депрессивного настроения. Применяем техники медитации и заполняем АВС-схему для усиления гибкости внимания, наблюдательной позиции и умения смотреть на ситуацию с разных точек зрения.
    </p>
    <h2>Седьмая и восьмая консультация</h2>
    <p>
      Мы научились не перепроверять свое состояние, ПА в этот период, чаще всего, становятся мало заметными или вовсе не возникают. Работаем над уменьшением общей тревожности, учимся принимать решения и справляться с  возникающими трудностями. Увеличиваем стрессоустойчивость.
    </p>
    <h2>Девятая и десятая консультация</h2>
    <p>
     Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
    </p>

  </div> <!-- конец container -->
    
  <h2 style="padding: 7vw 0vw 2vw 0vw; text-align: center; font-weight: 800; font-size: 5vw">
    Запись на консультацию
  </h2>
  <p style="text-align: center; font-size: 2.9vw; line-height: 3.7vw; margin: 2vw 7vw 7vw 7vw">
    Заполните форму или свяжитесь со мной любым удобным для вас способом. Контакты вы найдете 
    <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
  </p>

  <%= render partial: "/new/form"%>

</div> <!-- конец моб версии -->