<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="<%= t 'Тревога.head.url' %>">
  <title><%= t 'Тревога.head.title' %></title>
  <meta name="description" content="<%= t 'Тревога.head.description' %>">
  <meta name="keywords" content="<%= t 'Тревога.head.keywords' %>">
  <meta name="author" content="<%= t 'head.author' %>">
  <meta property="og:locale" content="<%= t 'head.og:locale' %>">
  <meta property="og:url" content="<%= t 'Тревога.head.url' %>">
  <meta property='og:site_name' content='<%= t 'head.og:site_name' %>'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= t 'Тревога.head.title' %>">
  <meta property="og:description" content="<%= t 'Тревога.head.description' %>">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="<%= t 'Тревога.head.article:tag1' %>">
  <meta property="article:tag" content="<%= t 'Тревога.head.article:tag2' %>">
  <meta property="article:tag" content="<%= t 'Тревога.head.article:tag3' %>">
  <meta property="article:tag" content="<%= t 'Тревога.head.article:tag4' %>">
  <meta property="article:tag" content="<%= t 'Тревога.head.article:tag5' %>">
  <meta property="article:tag" content="<%= t 'Тревога.head.article:tag6' %>">
  <meta property="article:tag" content="<%= t 'Тревога.head.article:tag7' %>">
  <meta property="article:tag" content="<%= t 'Тревога.head.article:tag8' %>">
  <meta property="article:tag" content="<%= t 'Тревога.head.article:tag9' %>">
  <meta property="article:tag" content="<%= t 'Тревога.head.article:tag10' %>">
  <meta property="article:tag" content="<%= t 'Тревога.head.article:tag11' %>">
  <meta property="article:tag" content="<%= t 'Тревога.head.article:tag12' %>">
  <meta name="twitter:url" content="<%= t 'Тревога.head.url' %>">
  <meta name="twitter:title" content="<%= t 'Тревога.head.title' %>">
  <meta name="twitter:desctiption" content="<%= t 'Тревога.head.description' %>">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name"><%= t 'Тревога.title' %></h1>
      <p class="article__description pc"><%= t 'Тревога.description' %></p>
      <img class="fullscreen__image" src="<%= asset_url('problem/anxiety.webp')%>" title="<%= t 'Тревога.title' %>" alt="<%= t 'Тревога.title' %>">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2><%= t 'Тревога.setting.h2' %></h2>
        <%= raw t 'Тревога.setting.text' %>
       </section>

      <section>
        <h2><%= t 'Тревога.diagnostics.h2' %></h2>
        <%= raw t 'Тревога.diagnostics.text' %>
      </section>

       <table>
        <%= raw t 'Тревога.criteria-anxiety.text' %>
      </table>

       <table>
        <%= raw t 'Тревога.criteria-GAD.text' %>
      </table>

      <section>
        <h2><%= t 'Тревога.methods.h2' %></h2>
        <%= raw t 'Тревога.methods.text' %>
      </section>

      <section>
        <h2><%= t 'Тревога.profi.h2' %></h2>
        <%= raw t 'Тревога.profi.text' %>
      </section>
      
      <section>
        <h2><%= t 'Тревога.plan.h2' %></h2>
        <%= raw t 'Тревога.plan.text' %>
      </section>

    </div>
  </article>

  <div class="sign-up" id="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form"><%= t 'sign-up.title' %></h2>
        <p class="sign-up__text"><%= t 'sign-up.sub-title' %></p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=%2B380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          <%= raw t 'sign-up.text' %>
        </p>
      </div>
    </div>
  </div>

</div>