<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="<%= t 'ПА.head.url' %>">
  <title><%= t 'ПА.head.title' %></title>
  <meta name="description" content="<%= t 'ПА.head.description' %>">
  <meta name="keywords" content="<%= t 'ПА.head.keywords' %>">
  <meta name="author" content="<%= t 'head.author' %>">
  <meta property="og:locale" content="<%= t 'head.og:locale' %>">
  <meta property="og:url" content="<%= t 'ПА.head.url' %>">
  <meta property='og:site_name' content='<%= t 'head.og:site_name' %>'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= t 'ПА.head.title' %>">
  <meta property="og:description" content="<%= t 'ПА.head.description' %>">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="<%= t 'ПА.head.article:tag1' %>">
  <meta property="article:tag" content="<%= t 'ПА.head.article:tag2' %>">
  <meta property="article:tag" content="<%= t 'ПА.head.article:tag3' %>">
  <meta property="article:tag" content="<%= t 'ПА.head.article:tag4' %>">
  <meta property="article:tag" content="<%= t 'ПА.head.article:tag5' %>">
  <meta property="article:tag" content="<%= t 'ПА.head.article:tag6' %>">
  <meta property="article:tag" content="<%= t 'ПА.head.article:tag7' %>">
  <meta property="article:tag" content="<%= t 'ПА.head.article:tag8' %>">
  <meta property="article:tag" content="<%= t 'ПА.head.article:tag9' %>">
  <meta property="article:tag" content="<%= t 'ПА.head.article:tag10' %>">
  <meta property="article:tag" content="<%= t 'ПА.head.article:tag11' %>">
  <meta name="twitter:url" content="<%= t 'ПА.head.url' %>">
  <meta name="twitter:title" content="<%= t 'ПА.head.title' %>">
  <meta name="twitter:desctiption" content="<%= t 'ПА.head.description' %>">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name"><%= t 'ПА.title' %></h1>
      <p class="article__description pc"><%= t 'ПА.description' %></p>
      <img class="fullscreen__image" src="<%= asset_url('problem/Panic-disorder.webp')%>" title="<%= t 'ПА.title' %>" alt="<%= t 'ПА.title' %>">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Как практически будет выглядеть наша работа</h2>
        <p>
          Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
        </p>
        <p>
          Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы панических атак. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
        </p>
        <p>
          Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально Когда вы радуетесь – я разделяю с вами вашу радость, когда вы грустите – я поддержу вас и помогу найти верное решение. Я абсолютно безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от панических атак и улучшили качество своей жизни.
        </p>
       </section>

      <table>
        <caption>Критерии наличия панических атаки и критерии достижения результата</caption>
        <thead>
          <tr>
            <th scope="col">Паническое расстройство</th>
            <th scope="col">Результат психотерапии</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Паническое расстройство">По опроснику Шкала тяжести панического расстройства вы набираете 2-28 баллов.</td>
            <td data-label="Результат психотерапии">По опроснику Шкала тяжести панического расстройства вы набираете 0-1 балл на протяжении 3-х недель подряд.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Паническое расстройство">Повторяющиеся неожиданные панические атаки - крайне выраженная тревога (паника), сопровождающаяся страхом смерти, потери сознания, самоконтроля, страхом сойти с ума, деперсонализацией и дереализацией, а также выраженными вегетативными симптомами: ускоренным сердцебиением, усиленным потоотделением, болью в груди, головокружением, тошнотой, дискомфортом в животе, чувством жара или озноба, тремором.</td>
            <td data-label="Результат психотерапии">Отсутствие панических атак при контакте с триггерами, либо уменьшение симптомов на 50 и более процентов.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Паническое расстройство">Постоянная тревога или беспокойство о возможности следующих панических атак или их последствиях (потерять контроль, получить сердечный приступ или «сойти с ума»).</td>
            <td data-label="Результат психотерапии">Отсутствие или не вызывающий сильный дискомфорт беспокойство о возможности следующих панических атак.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Паническое расстройство">Значительные изменения в поведении направленное на избежание панических атак (например, уклонение от физической нагрузки или непривычной ситуации).</td>
            <td data-label="Результат психотерапии">Отсутствие избегания. Вы в состоянии реализовывать собственные цели и следовать своим ценностям, несмотря на иногда возникающую тревогу / ПА.</td>
          </tr>
        </tbody>
      </table>



      <section>
        <h2>План психотерапии панических атак</h2>
        <p>
          Вы подозреваете у себя наличие панических атак. Для самодиагностики вы можете заполнить тест Шкала тяжести панического расстройства. Далее, <a href="/Psychotherapy-for-panic-disorder.html#sign-up">записывайтесь</a> ко мне на консультацию и приходите за психологической диагностикой и психотерапией. В случае необходимости, я отправлю вас к врачу за медицинским обследованием и назначением медикаментов.
        </p>
        <p>
          <a href="/individual_consultation.html#First">Первая консультация</a> всегда посвящена детальному разбору вашего случая. Она состоит из 3-х основных этапов:<br>
          1. Диагностика. Выявление симптомов и психологических механизмов ПА;<br>
          2. Информирование. Я объясняю причины симптомов и механизм функционирования ПА. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения, отвечаю на ваши вопросы;<br>
          3. Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.
        </p>
        <p>
          В конце консультации вы получаете:
        </p>
        <ul>
          <li><b>Стенографию</b> консультации в текстовом формате, которую можно перечитывать в любой момент;</li>
          <li><b>Схему ПА и опросник</b>, которые созданы на основе вашей диагностики. Опросник нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результатов нашей работы;</li>
          <li><b>Мои личные контакты</b>. Возможность поддерживать со мной связь между сеансами для ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!</li>
          <li><b>Дополнительные материалы</b>. Текстовые, аудио- и видеофайлы для выполнения домашнего задания, развития навыков и осведомленности о своей проблеме.</li>
        </ul>
        <p>
          Единичные симптомы "приступа тревоги" (без особой паники) можно проработать за несколько консультаций. Если же после диагностики были выявлены именно панические атаки, то мы начинаем краткосрочный курс психотерапии (10 сеансов) с использованием методов <a href="/Cognitive-Behavioral-Therapy.html">Когнитивно-поведенческой терапии</a>, <a href="/Acceptance-and-Commitment-Therapy.html">Терапии принятия и ответственности</a> и <a href="/Positive-psychotherapy.html">Позитивной психотерапии</a>. Как показывает практика, для избавления от ПА 10 сеансов вполне достаточно, чтобы уменьшить количество и мучительность симптомов на 50% и более. В тяжелых случаях с многолетним анамнезом ПА может понадобится более длительная терапия. Для избавления от вегетативных симптомов мы можем использовать разовые сеансы <a href="/Hypnotherapy.html">Гипнотерапии</a>. При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться, однако общая структура психотерапии выглядит следующим образом: 
        </p>
        <h3>Первый – второй сеанс</h3>
        <p>
          Начинаем трансформировать катастрофические убеждений о том, что: "если у меня учащенное сердцебиение, то будет инфаркт", "если закружилась голова, то сейчас упаду в обморок". Путем поведенческих экспериментов мы на практике проверяем насколько могут быть опасны и неконтролируемы приступы паники. Извлекая новые знания, самые важные убеждения записываем на карточки и носим с собой, чтоб всегда иметь под рукой объективную информацию о своем состоянии. Если необходимо - научаемся техникам релаксации.
        </p>
        <h3>Третий – четвертый сеанс</h3>
        <p>
          Уменьшаем значимость симптомов путем внутренней десенсибилизации. Намеренно вызываем физические ощущения, схожие с симптомами ПА, для того, чтобы изменить восприятие собственных ощущений и переживаний. Например, можно поприседать, чтобы вызвать учащенное сердцебиение, и посмотреть что будет с организмом после этого, как через время сердце начинает биться в своем нормальном ритме. Также, учимся управлять своим вниманием, не зацикливаться на собственных мыслях о своем самочувствии.
        <p>
          Параллельно составляем план систематической десенсибилизации - уникального метода избавления от любого страха. Понемногу, без вреда для здоровья, начинаем контактировать с триггерами, бывать в тех местах и ситуациях где возникают ПА. Если возникают симптомы - принимаем и преувеличиваем их, таким образом доказывая себе и своему организму, что бояться нечего.
        </p>    
        <h3>Пятый – шестой сеанс</h3>
        <p>
          Понемногу учимся управлять собственным вниманием. Тренируем переключаемость и концентрацию внимания, понемногу усиливаем нагрузки. Развиваем осознанность на настоящем моменте, чтобы вовремя замечать и предотвращать появление пессимистичных мыслей и депрессивного настроения. Применяем техники медитации и заполняем АВС-схему для усиления гибкости внимания, наблюдательной позиции и умения смотреть на ситуацию с разных точек зрения.
        </p>
        <h3>Седьмой – восьмой сеанс</h3>
        <p>
          Мы научились не перепроверять свое состояние, ПА в этот период, чаще всего, становятся мало заметными или вовсе не возникают. Работаем над уменьшением общей тревожности, учимся принимать решения и справляться с  возникающими трудностями. Увеличиваем стрессоустойчивость. Работаем с внутренними конфликтами, вторичными выгодами, убираем психотравмы.
        </p>
        <h3>Девятый – десятый сеанс</h3>
        <p>
         Научаемся применять технику "СТОП". Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
        </p>
      </section>

    </div>
  </article>

  <div class="sign-up" id="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form"><%= t 'sign-up.title' %></h2>
        <p class="sign-up__text"><%= t 'sign-up.sub-title' %></p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=%2B380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          <%= raw t 'sign-up.text' %>
        </p>
      </div>
    </div>
  </div>

</div>