<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Консультирование в сфере взаимоотношений | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение процесса консультирования с практической точки зрения: как понять что есть проблемы в отношениях и как психолог помогает от них избавиться.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Консультирование в сфере взаимоотношений | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение процесса консультирования с практической точки зрения: как понять что есть проблемы в отношениях и как психолог помогает от них избавиться.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Relationship-counseling">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/consultation-psychologist-online-Tkachenko-Andrey-15d393997277900bef34501aa768f09ecc97d4153095c5ed20be12d9f55d4582.png">
<% end %>

<div class="pc_content">
  <div class="container" style="text-align: justify;">
    <h1 style="text-align: center; font-weight: 800; font-size: 2.5vw; margin: 5vw 0px 3vw 0vw">Консультирование в сфере взаимоотношений</h1>
    <p style="text-align: center; margin: 1vw 1vw 4vw 1vw;">
      Если вы это читаете, то, вероятно, у вас проблемы во взаимоотношениях с людьми. Эта статья призвана кратко объяснить процесс консультирования с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе
    </p>

    <img src="<%= asset_url('problem/relationship.svg')%>" alt="Улучшение взаимоотношений" style="float: right; width: 30vw; margin: 1vw 4vw">
    <h2 style="font-size: 1.6vw; margin: 4vw 0vw 2vw 3vw">Как практически будет выглядеть наша работа</h2>
    <p>
      Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
    </p>
    <p>
      Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню структуру ваших взаимоотношений с точки зрения научной психологии. В процессе работы мы будем анализировать ваши мысли, чувства и действия, учиться вести диалог, договариваться, говорить "нет" и т.д.
    </p>
    <p>
      Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы улучшили свои взаимоотношения и научились конструктивно удовлетворять свои потребности. При этом меня не волнует какое именно решение вы примете, главное - чтобы оно Вас удовлетворяло.
    </p>

    <h2 style="font-size: 1.6vw; margin: 4vw 0vw 2vw 3vw">Критерии наличия проблем в отношениях и критерии достижения результата</h2>
    <table>
      <th>Проблемы с отношениями</th>
      <th>Результат консультаций</th>
      <tr>
        <td>Непродуктивные отношения, конфликты в семье и на работе, насилие, ссоры, травля коллег.</td>
        <td>Нормализация отношений или их завершение. Вы понимаете причину ссор и разногласий и сами принимаете решение как поступить.</td>
      </tr>
      <tr>
        <td>Неумение выстраивать отношения, договариваться, решать конфликты.</td>
        <td>Способность договариваться, решать конфликты, отстаивать свою точку зрения.</td>
      </tr>
      <tr>
        <td>Страх отношений, измен, предательств. Одиночество. Комплексы.</td>
        <td>Вы чувствуете спокойствие и уверенность рядом с партнером, понимаете, что "расставание - не приговор". Смело ищите себе вторую половинку, если это необходимо.</td>
      </tr>
      <tr>
        <td>Невозможность принять решение: уйти / смириться / попытаться вновь.</td>
        <td>Вы приняли решение, основываясь на обстоятельствах, своих чувствах и ценностях. Морально готовы действовать.</td>
      </tr>
      <tr>
        <td>Непонимание своих чувств и эмоций.</td>
        <td>Развитый эмоциональный интеллект. Вы понимаете свои эмоции, можете их описать, знаете причину их возникновения и что с ними нужно делать.</td>
      </tr>
      <tfoot>
        <tr>
          <td>Накопленный негативный опыт, разочарование, потеря доверия.</td>
          <td>Вы выговорились и получили поддержку. Осознали произошедшее и приняли свое прошлое. Восстановили доверие к людям.</td>
        </tr>
      </tfoot>
    </table>

    <h2>Методы работы с проблемными отношениями</h2>
    <p>
      Вы чувствуете, что сами не справляетесь со своими отношениями или не понимаете причину происходящего с вами. Далее записывайтесь ко мне на консультацию за психологической диагностикой и консультированием. В своей работе с отношениями я использую <a href="/Emotional-Figurative-Therapy.html" style=" border-bottom: 1px solid currentColor;">Эмоционально-образную терапию</a> и <a href="/Transactional-analysis.html" style="border-bottom: 1px solid currentColor;">Транзактный анализ</a>. Длительность работы может сильно варьироваться в зависимости от человека. В среднем, легкий вопрос решается за одну консультацию. Если для решения проблемы, в вашем случае, одной консультации недостаточно (например, у вас сильная ревность, отсутствие навыков коммуникации и решения проблем) – мы работаем дальше с каждой проблемой отдельно.
    </p>
    <p>
      <a href="/consultations.html#First" style="border-bottom: 1px solid currentColor;">Первая диагностическая консультация</a> посвящена детальному разбору вашего случая и работе с проблемой. Она состоит из 4-х основных этапов:
    </p>
    <ul>
      <li>Диагностика. Выявление симптомов и психологических механизмов вашей проблемы;</li>
      <li>Информирование. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения, отвечаю на ваши вопросы;</li>
      <li>Составление запроса и плана работы. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана работы, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая;</li>
      <li>Работа с проблемой.</li>
    </ul>
    <p>
      В конце консультации вы получаете:<br>
      <b>+ Стенографию</b> консультации в формате docx, которую можно перечитывать в любой момент;<br>
      <b>+ Прочие файлы</b> для развития навыков коммуникации, эмоционального интеллекта и т.д.<br>
      <b>+ Мои личные контакты.</b> Возможность связываться со мной между консультациями для оказания поддержки, ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!
    </p>

    <h2>Работа с проблемами в отношениях</h2>
    <p>
      Анализируем ваши отношения методом транзактного анализа, выявляем игру, в которую вы играете с людьми и вашу роль в ней. Понимаем причину проблемных отношений, создаем для вас новую роль, в которой вам было бы комфортно.
    </p>
    <p>
      Страхи и неуверенность. Разбираем, насколько ваше мышление влияет на общее эмоциональное и физическое состояние, конструктивны и объективны ли ваши убеждения, учимся мыслить критически. Техниками КПТ работаем с негативными мыслями, тренируемся откладывать беспокойство на потом, не бороться с мыслями, а смотреть на них отстраненно. Научаемся принимать свои эмоции, свое тело, быть готовыми действовать даже не смотря на негативные переживания. Для лучшего понимания своих чувств, развиваем эмоциональный интеллект (например, что-то едим и описываем свои ощущения задавая рефлексивные вопросы). Проводим стресс-консультации, на которых вам необходимо спорить со мной, отстаивать свою точку зрения, договариваться. Так мы увеличиваем вашу стрессоустойчивость.
    </p>    
    <p>
      В отношениях с другими - начинаем с себя. Для улучшения взаимоотношений повышаем ваши коммуникативные навыки техниками "ненасильственного общения", повышаем самооценку, решаем внутриличностные конфликты.
    </p>
    <p>
      В случае грусти, обиды на себя или партнера, за "зря потраченные годы" - анализируем объективность данных убеждений, занимаемся принятием и прощением себя (работа в воображении). Проходим все стадии принятия, восстанавливаем доверие к людям.
    </p>
    <p>
      С помощью техник ЭОТ, майндфулнес и медитаций создаем внутренний образ себя. Развиваем осознанность и умение смотреть на события с разных точек зрения методом АВС-схемы. Это помогает принимать верные решения в самых сложных ситуациях.
    </p>
    <p>
      Техниками АСТ учимся самостоятельно находить собственные смыслы и ценности. Исходя их них выявляем промежуточные достижения (цели), прописываем порядок действий, возможные препятствия (негативные мысли, эмоции, обстоятельства) и методы их преодоления (психотехники).
    </p>
    <p>
      Тренируем технику СТОП, чтобы мочь в любой момент времени следовать своим ценностям, не смотря на возможные трудности. На основании выявленных событий, своих чувств и ценностей Вы принимаете собственное решение: уходить из отношений, продолжать пытаться их изменить или принять происходящее и жить дальше. Принять - значит прекратить сопротивление и перестать ощущать негативные эмоции по поводу какого-либо события, а не "терпеть".
    </p>
    <p>
      В конце, подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния и решения конфликтов. Завершаем работу :)
    </p>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 6vw 0px 2vw 0vw; padding-top: 3vw">Запись на консультацию</h2> 
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 4vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="/contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8vw">
      <img src="<%= asset_url('form.svg')%>" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- конец container -->
</div>  <!-- конец pc_content -->













<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7; padding-bottom: 8vw">
  <div class="container">
    <h1  class="methods-name">
      Консультирование в сфере взаимоотношений
    </h1>
    <p class="methods-description">
      Если вы это читаете, то, вероятно, у вас проблемы во взаимоотношениях с людьми. Эта статья призвана кратко объяснить процесс консультирования с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе
    </p>
    <img src="<%= asset_url('problem/relationship.svg')%>" alt="Улучшение взаимоотношений" class="methods-img">
    <h2>
      Как практически будет выглядеть наша работа
    </h2>
    <p>
      Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
      <br><br>
      Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню структуру ваших взаимоотношений с точки зрения научной психологии. В процессе работы мы будем анализировать ваши мысли, чувства и действия, учиться вести диалог, договариваться, говорить "нет" и т.д.
      <br><br>у
      Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы улучшили свои взаимоотношения и научились конструктивно удовлетворять свои потребности. При этом меня не волнует какое именно решение вы примете, главное - чтобы оно Вас удовлетворяло.
    </p>
    <h2>Критерии наличия проблем в отношениях и критерии достижения результата</h2>
    <table>
      <th>Проблемы с отношениями</th>
      <th>Результат консультаций</th>
      <tr>
        <td>Непродуктивные отношения, конфликты в семье и на работе, насилие, ссоры, травля коллег.</td>
        <td>Нормализация отношений или их завершение. Вы понимаете причину ссор и разногласий и сами принимаете решение как поступить.</td>
      </tr>
      <tr>
        <td>Неумение выстраивать отношения, договариваться, решать конфликты.</td>
        <td>Способность договариваться, решать конфликты, отстаивать свою точку зрения.</td>
      </tr>
      <tr>
        <td>Страх отношений, измен, предательств. Одиночество. Комплексы.</td>
        <td>Вы чувствуете спокойствие и уверенность рядом с партнером, понимаете, что "расставание - не приговор". Смело ищите себе вторую половинку, если это необходимо.</td>
      </tr>
      <tr>
        <td>Невозможность принять решение: уйти / смириться / попытаться вновь.</td>
        <td>Вы приняли решение, основываясь на обстоятельствах, своих чувствах и ценностях. Морально готовы действовать.</td>
      </tr>
      <tr>
        <td>Непонимание своих чувств и эмоций.</td>
        <td>Развитый эмоциональный интеллект. Вы понимаете свои эмоции, можете их описать, знаете причину их возникновения и что с ними нужно делать.</td>
      </tr>
      <tfoot>
        <tr>
          <td>Накопленный негативный опыт, разочарование, потеря доверия.</td>
          <td>Вы выговорились и получили поддержку. Осознали произошедшее и приняли свое прошлое. Восстановили доверие к людям.</td>
        </tr>
      </tfoot>
    </table>
    <h2>
      Методы работы с проблемными отношениями
    </h2>
    <p>
      Вы чувствуете, что сами не справляетесь со своими отношениями или не понимаете причину происходящего с вами. Далее записывайтесь ко мне на консультацию за психологической диагностикой и консультированием. В своей работе с отношениями я использую <a href="/Emotional-Figurative-Therapy.html" style=" border-bottom: 1px solid currentColor;">Эмоционально-образную терапию</a> и <a href="/Transactional-analysis.html" style="border-bottom: 1px solid currentColor;">Транзактный анализ</a>. Длительность работы может сильно варьироваться в зависимости от человека. В среднем, легкий вопрос решается за одну консультацию. Если для решения проблемы, в вашем случае, одной консультации недостаточно (например, у вас сильная ревность, отсутствие навыков коммуникации и решения проблем) – мы работаем дальше с каждой проблемой отдельно.
    </p>
    <p>
      <a href="/consultations.html#first" style="border-bottom: 1px solid currentColor;">Первая диагностическая консультация</a> посвящена детальному разбору вашего случая и работе с проблемой. Она состоит из 4-х основных этапов:
    </p>
    <ul>
      <li>Диагностика. Выявление симптомов и психологических механизмов вашей проблемы;</li>
      <li>Информирование. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения, отвечаю на ваши вопросы;</li>
      <li>Составление запроса и плана работы. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана работы, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая;</li>
      <li>Работа с проблемой.</li>
    </ul>
    <p>
      В конце консультации вы получаете:<br>
      <b>+ Стенографию</b> консультации в формате docx, которую можно перечитывать в любой момент;<br>
      <b>+ Прочие файлы</b> для развития навыков коммуникации, эмоционального интеллекта и т.д.<br>
      <b>+ Мои личные контакты.</b> Возможность связываться со мной между консультациями для оказания поддержки, ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!
    </p>
    <h2>
      Работа с проблемами в отношениях
    </h2>
    <p>
      Анализируем ваши отношения методом транзактного анализа, выявляем игру, в которую вы играете с людьми и вашу роль в ней. Понимаем причину проблемных отношений, создаем для вас новую роль, в которой вам было бы комфортно.
    </p>
    <p>
      Страхи и неуверенность. Разбираем, насколько ваше мышление влияет на общее эмоциональное и физическое состояние, конструктивны и объективны ли ваши убеждения, учимся мыслить критически. Техниками КПТ работаем с негативными мыслями, тренируемся откладывать беспокойство на потом, не бороться с мыслями, а смотреть на них отстраненно. Научаемся принимать свои эмоции, свое тело, быть готовыми действовать даже не смотря на негативные переживания. Для лучшего понимания своих чувств, развиваем эмоциональный интеллект (например, что-то едим и описываем свои ощущения задавая рефлексивные вопросы). Проводим стресс-консультации, на которых вам необходимо спорить со мной, отстаивать свою точку зрения, договариваться. Так мы увеличиваем вашу стрессоустойчивость.
    </p>    
    <p>
      В отношениях с другими - начинаем с себя. Для улучшения взаимоотношений повышаем ваши коммуникативные навыки техниками "ненасильственного общения", повышаем самооценку, решаем внутриличностные конфликты.
    </p>
    <p>
      В случае грусти, обиды на себя или партнера, за "зря потраченные годы" - анализируем объективность данных убеждений, занимаемся принятием и прощением себя (работа в воображении). Проходим все стадии принятия, восстанавливаем доверие к людям.
    </p>
    <p>
      С помощью техник ЭОТ, майндфулнес и медитаций создаем внутренний образ себя. Развиваем осознанность и умение смотреть на события с разных точек зрения методом АВС-схемы. Это помогает принимать верные решения в самых сложных ситуациях.
    </p>
    <p>
      Техниками АСТ учимся самостоятельно находить собственные смыслы и ценности. Исходя их них выявляем промежуточные достижения (цели), прописываем порядок действий, возможные препятствия (негативные мысли, эмоции, обстоятельства) и методы их преодоления (психотехники).
    </p>
    <p>
      Тренируем технику СТОП, чтобы мочь в любой момент времени следовать своим ценностям, не смотря на возможные трудности. На основании выявленных событий, своих чувств и ценностей Вы принимаете собственное решение: уходить из отношений, продолжать пытаться их изменить или принять происходящее и жить дальше. Принять - значит прекратить сопротивление и перестать ощущать негативные эмоции по поводу какого-либо события, а не "терпеть".
    </p>
    <p>
      В конце, подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния и решения конфликтов. Завершаем работу :)
    </p>

  </div> <!-- конец container -->
    
  <div class="container">
    <%= render partial: "/new/form_mob"%>
  </div>

</div> <!-- конец моб версии -->