<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="<%= t 'reviews.head.url' %>">
  <title><%= t 'reviews.head.title' %></title>
  <meta name="description" content="<%= t 'reviews.head.description' %>">
  <meta name="keywords" content="<%= t 'reviews.head.keywords' %>">
  <meta name="author" content="<%= t 'head.author' %>">
  <meta property="og:locale" content="<%= t 'head.og:locale' %>">
  <meta property="og:url" content="<%= t 'reviews.head.url' %>">
  <meta property="og:site_name" content="<%= t 'head.og:site_name' %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= t 'reviews.head.title' %>">
  <meta property="og:description" content="<%= t 'reviews.head.description' %>">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="<%= t 'reviews.head.article:tag1' %>">
  <meta property="article:tag" content="<%= t 'reviews.head.article:tag2' %>">
  <meta property="article:tag" content="<%= t 'reviews.head.article:tag3' %>">
  <meta property="article:tag" content="<%= t 'reviews.head.article:tag4' %>">
  <meta property="article:tag" content="<%= t 'reviews.head.article:tag5' %>">
  <meta property="article:tag" content="<%= t 'reviews.head.article:tag6' %>">
  <meta property="article:tag" content="<%= t 'reviews.head.article:tag7' %>">
  <meta property="article:tag" content="<%= t 'reviews.head.article:tag8' %>">
  <meta property="article:tag" content="<%= t 'reviews.head.article:tag9' %>">
  <meta name="twitter:url" content="<%= t 'reviews.head.url' %>">
  <meta name="twitter:title" content="<%= t 'reviews.head.title' %>">
  <meta name="twitter:desctiption" content="<%= t 'reviews.head.description' %>">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>



<div class="reviews" id="w_reviews">
  <div class="reviews__body container">
    <div class="reviews__header  header_box">
      <h1 class="reviews__title title"><%= t 'reviews.title' %></h1>
      <p class="subtitle"><%= t 'reviews.subtitle1' %><br><%= t 'reviews.subtitle2' %></p>
    </div>
    <div class="reviews__row">
      <div class="reviews__column">
        <div class="reviews__item">
          <div class="reviews__client-info">
            <img class="reviews__client-foto" src="<%= asset_url('review/Мария-20-лет.webp')%>" alt="<%= t 'reviews.Maria20.alt' %>">
            <h3 class="reviews__client-name"><%= t 'reviews.Maria20.name' %><br><%= t 'reviews.Maria20.age' %></h3>
          </div>
          <div class="reviews__client-text">
            <h3><%= t 'reviews.Maria20.title' %></h3>
            <p><%= t 'reviews.Maria20.text' %></p>
          </div>
        </div>
      </div>
      <div class="reviews__column">
        <div class="reviews__item">
          <div class="reviews__client-info">
            <img class="reviews__client-foto" src="<%= asset_url('review/Татьяна-24-года.webp')%>" alt="<%= t 'reviews.Tatiana24.alt' %>">
            <h3 class="reviews__client-name"><%= t 'reviews.Tatiana24.name' %><br><%= t 'reviews.Tatiana24.age' %></h3>
          </div>
          <div class="reviews__client-text">
            <h3><%= t 'reviews.Tatiana24.title' %></h3>
            <p><%= t 'reviews.Tatiana24.text' %></p>
          </div>
        </div>
      </div>
      <div class="reviews__column">
        <div class="reviews__item">
          <div class="reviews__client-info">
            <img class="reviews__client-foto" src="<%= asset_url('review/Анастасия-20-лет.webp')%>" alt="<%= t 'reviews.Anastasia20.alt' %>">
            <h3 class="reviews__client-name"><%= t 'reviews.Anastasia20.name' %><br><%= t 'reviews.Anastasia20.age' %></h3>
          </div>
          <div class="reviews__client-text">
            <h3><%= t 'reviews.Anastasia20.title' %></h3>
            <p><%= t 'reviews.Anastasia20.text' %></p>
          </div>
        </div>
      </div>
      <div class="reviews__column">
        <div class="reviews__item">
          <div class="reviews__client-info">
            <img class="reviews__client-foto" src="<%= asset_url('review/Мария-19-лет.webp')%>" alt="<%= t 'reviews.Maria19.alt' %>">
            <h3 class="reviews__client-name"><%= t 'reviews.Maria19.name' %><br><%= t 'reviews.Maria19.age' %></h3>
          </div>
          <div class="reviews__client-text">
            <h3><%= t 'reviews.Maria19.title' %></h3>
            <p><%= t 'reviews.Maria19.text' %></p>
          </div>
        </div>
      </div>
      <div class="reviews__column">
        <div class="reviews__item">
          <div class="reviews__client-info">
            <img class="reviews__client-foto" src="<%= asset_url('review/Богдан-29-лет.webp')%>" alt="<%= t 'reviews.Bogdan29.alt' %>">
            <h3 class="reviews__client-name"><%= t 'reviews.Bogdan29.name' %><br><%= t 'reviews.Bogdan29.age' %></h3>
          </div>
          <div class="reviews__client-text">
            <h3><%= t 'reviews.Bogdan29.title' %></h3>
            <p><%= t 'reviews.Bogdan29.text' %></p>
          </div>
        </div>
      </div>
      <div class="reviews__column">
        <div class="reviews__item">
          <div class="reviews__client-info">
            <img class="reviews__client-foto" src="<%= asset_url('review/Светлана-37-лет.webp')%>" alt="<%= t 'reviews.Svetlana37.alt' %>">
            <h3 class="reviews__client-name"><%= t 'reviews.Svetlana37.name' %><br><%= t 'reviews.Svetlana37.age' %></h3>
          </div>
          <div class="reviews__client-text">
            <h3><%= t 'reviews.Svetlana37.title' %></h3>
            <p><%= t 'reviews.Svetlana37.text' %></p>
          </div>
        </div>
      </div>
      <div class="reviews__column">
        <div class="reviews__item">
          <div class="reviews__client-info">
            <img class="reviews__client-foto" src="<%= asset_url('review/Данил-20-лет.webp')%>" alt="<%= t 'reviews.Danil20.alt' %>">
            <h3 class="reviews__client-name"><%= t 'reviews.Danil20.name' %><br><%= t 'reviews.Danil20.age' %></h3>
          </div>
          <div class="reviews__client-text">
            <h3><%= t 'reviews.Danil20.title' %></h3>
            <p><%= t 'reviews.Danil20.text' %></p>
          </div>
        </div>
      </div>
      <div class="reviews__column">
        <div class="reviews__item">
          <div class="reviews__client-info">
            <img class="reviews__client-foto" src="<%= asset_url('review/Алина-22-года.webp')%>" alt="<%= t 'reviews.Alina22.alt' %>">
            <h3 class="reviews__client-name"><%= t 'reviews.Alina22.name' %><br><%= t 'reviews.Alina22.age' %></h3>
          </div>
          <div class="reviews__client-text">
            <h3><%= t 'reviews.Alina22.title' %></h3>
            <p><%= t 'reviews.Alina22.text' %></p>
          </div>
        </div>
      </div>
      <div class="reviews__column">
        <div class="reviews__item">
          <div class="reviews__client-info">
            <img class="reviews__client-foto" src="<%= asset_url('review/Марина-30-лет.webp')%>" alt="<%= t 'reviews.Marina30.alt' %>">
            <h3 class="reviews__client-name"><%= t 'reviews.Marina30.name' %><br><%= t 'reviews.Marina30.age' %></h3>
          </div>
          <div class="reviews__client-text">
            <h3><%= t 'reviews.Marina30.title' %></h3>
            <p><%= t 'reviews.Marina30.text' %></p>
          </div>
        </div>
      </div>
      <div class="reviews__column">
        <div class="reviews__item">
          <div class="reviews__client-info">
            <img class="reviews__client-foto" src="<%= asset_url('review/Анна-40-лет.webp')%>" alt="<%= t 'reviews.Anna40.alt' %>">
            <h3 class="reviews__client-name"><%= t 'reviews.Anna40.name' %><br><%= t 'reviews.Anna40.age' %></h3>
          </div>
          <div class="reviews__client-text">
            <h3><%= t 'reviews.Anna40.title' %></h3>
            <p><%= t 'reviews.Anna40.text' %></p>
          </div>
        </div>
      </div>
      <div class="reviews__column">
        <div class="reviews__item">
          <div class="reviews__client-info">
            <img class="reviews__client-foto" src="<%= asset_url('review/Инна-28-лет.webp')%>" alt="<%= t 'reviews.Inna28.alt' %>">
            <h3 class="reviews__client-name"><%= t 'reviews.Inna28.name' %><br><%= t 'reviews.Inna28.age' %></h3>
          </div>
          <div class="reviews__client-text">
            <h3><%= t 'reviews.Inna28.title' %></h3>
            <p><%= t 'reviews.Inna28.text' %></p>
          </div>
        </div>
      </div>
      <div class="reviews__column">
        <div class="reviews__item">
          <div class="reviews__client-info">
            <img class="reviews__client-foto" src="<%= asset_url('review/Марина-30-лет.webp')%>" alt="<%= t 'reviews.Michael26.alt' %>">
            <h3 class="reviews__client-name"><%= t 'reviews.Michael26.name' %><br><%= t 'reviews.Michael26.age' %></h3>
          </div>
          <div class="reviews__client-text">
            <h3><%= t 'reviews.Michael26.title' %></h3>
            <p><%= t 'reviews.Michael26.text' %></p>
          </div>
        </div>
      </div>
      <div class="reviews__column">
        <div class="reviews__item">
          <div class="reviews__client-info">
            <img class="reviews__client-foto" src="<%= asset_url('review/Максим-32-года.webp')%>" alt="<%= t 'reviews.Maksim32.alt' %>">
            <h3 class="reviews__client-name"><%= t 'reviews.Maksim32.name' %><br><%= t 'reviews.Maksim32.age' %></h3>
          </div>
          <div class="reviews__client-text">
            <h3><%= t 'reviews.Maksim32.title' %></h3>
            <p><%= t 'reviews.Maksim32.text' %></p>
          </div>
        </div>
      </div>
      <div class="reviews__column" style="flex: 0 100%">
        <div class="reviews__item">
          <div class="reviews__client-info">
            <img class="reviews__client-foto" src="<%= asset_url('review/Марина-28-лет.webp')%>" alt="<%= t 'reviews.Marina28.alt' %>">
            <h3 class="reviews__client-name"><%= t 'reviews.Marina28.name' %><br><%= t 'reviews.Marina28.age' %></h3>
          </div>
          <div class="reviews__client-text">
            <h3><%= t 'reviews.Marina28.title' %></h3>
            <p><%= t 'reviews.Marina28.text' %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="video-reviews__row">
      <iframe width="100%" height="100%" src="<%= t 'video-reviews.Maria20' %>" frameborder="0" showinfo="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="100%" height="100%" src="<%= t 'video-reviews.Bogdan29' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="100%" height="100%" src="<%= t 'video-reviews.Svetlana37' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="100%" height="100%" src="<%= t 'video-reviews.Julia29' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="100%" height="100%" src="<%= t 'video-reviews.Danil20' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
      <iframe width="100%" height="100%" src="<%= t 'video-reviews.Kate22' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="100%" height="100%" src="<%= t 'video-reviews.Stanislav' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="100%" height="100%" src="<%= t 'video-reviews.Maksim' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="100%" height="100%" src="<%= t 'video-reviews.Alina' %>" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>


