<div class="pc_content" id="w_reviews">
  <div class="container">
    <h1 style="text-align: center; font-weight: 800; font-size: 2.5vw; margin: 5vw 0px 2vw 0vw">Отзывы</h1>
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 4vw 0vw;">Предлагаю вам ознакомиться с тем, что говорят о проделанной мною работе мои клиенты.<br>Внизу сраницы вы также найдете видео отзывы людей, которых я консультировал</p>
    <div style="display: flex; justify-content: space-between;">
      <div style="display: inline-block; width: 42vw">
        <section style="background: #FFFFFF; box-shadow: 0px 0px 1vw rgba(189, 167, 144, 0.4); border-radius: 1vw; padding: 2vw; margin-bottom: 1vw">
          <div style="float: left; margin-right: 2vw">
            <img src="<%= asset_url('review/Мария-20-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Мария 20 лет" style="width: 6vw; height: 6vw; border-radius: 100%">
            <h3 style="text-align: center;">Мария<br>20 лет</h3>
          </div>
          <div style="display: inline-block; width: 29vw">
            <h3>“Я обрела всё, чего мне не хватало”</h3>
            <p style="text-align: justify;">Я пол года занималась еженедельно с Андреем. Я не понимала, почему у меня не складываются отношения, но на определенном этапе работы оказалось, что то, с чем я пришла - это верхушка айсберга, а причина всему - тревога. Я не могу передать словами то, какого было мое удивление, восхищение методиками работы Андрея, насколько структурированы и понятны его методы. Я обрела всё, чего мне не хватало. Спасибо!</p>
          </div>
        </section>
        <section style="background: #FFFFFF; box-shadow: 0px 0px 1vw rgba(189, 167, 144, 0.4); border-radius: 1vw; padding: 2vw; margin-bottom: 1vw">
          <div style="float: left; margin-right: 2vw">
            <img src="<%= asset_url('review/Татьяна-24-года.png')%>" alt="отзыв психолог Ткаченко Андрей Татьяна 24 года" style="width: 6vw; height: 6vw; border-radius: 100%">
            <h3 style="text-align: center;">Татьяна<br>24 года</h3>
          </div>
          <div style="display: inline-block; width: 29vw">
            <h3>“Чудовий досвід пізнання себе”</h3>
            <p style="text-align: justify;">Під час наших сеансів з Андрієм я навчилася більше розуміти себе, свої емоції і відчуття, позбулася проблем, які довгий час псували мені життя. Завдяки Андрію, я поглянула на багато ситуацій під іншим кутом, що дуже позитивно вплинуло на моє особисте життя, відносини з чоловіком та рідними. Це був чудовий досвід пізнання себе. Дякую за продуктивну роботу, розуміння з півслова та безсумнівний професіоналізм. А також за техніку релаксації 👍</p>
          </div>
        </section>
        <section style="background: #FFFFFF; box-shadow: 0px 0px 1vw rgba(189, 167, 144, 0.4); border-radius: 1vw; padding: 2vw; margin-bottom: 1vw">
          <div style="float: left; margin-right: 2vw">
            <img src="<%= asset_url('review/Анастасия-20-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Анастасия 20 лет" style="width: 6vw; height: 6vw; border-radius: 100%">
            <h3 style="text-align: center;">Анастасия<br>20 лет</h3>
          </div>
          <div style="display: inline-block; width: 29vw">
            <h3>“Во время работы с Андреем было очень легко”</h3>
            <p style="text-align: justify;">Во время работы с Андреем было очень легко. Некоторые вещи после консультации перестали беспокоить и стали более понятными. За одну консультацию мы решили все вопросы, сразу ощутилась легкость! Проблемы преобразовались в легкие решения. Спасибо большое Вам за проделанную работу! Очень приятным бонусом был файл, где были прописаны все проблемы и пути их решения, к которым мы пришли на консультации!</p>
          </div>
        </section>
        <section style="background: #FFFFFF; box-shadow: 0px 0px 1vw rgba(189, 167, 144, 0.4); border-radius: 1vw; padding: 2vw; margin-bottom: 1vw">
          <div style="float: left; margin-right: 2vw">
            <img src="<%= asset_url('review/Марина-30-лет.png')%>" alt="отзыв психолог Ткаченко Андрей Мария 19 лет" style="width: 6vw; height: 6vw; border-radius: 100%">
            <h3 style="text-align: center;">Мария<br>19 лет</h3>
          </div>
          <div style="display: inline-block; width: 29vw">
            <h3>“Я стала менше тривожитись”</h3>
            <p style="text-align: justify;">Раніше я думала, що перестати боятися чогось, або змінити погляди на життя, можна лише за довгий період часу. Але мені вистачило лише двох консультацій з вами для того, щоб мені стало легше. У мене зменшилися страхи. Також, завдяки вам я навчилася приймати свої відчуття, а не уникати їх. Я стала менше тривожитись. Тому я дуже рада, що працювала саме з вами. Ви допомагаєте краще пізнати себе і світ, і завжди закінчуєте зустріч на приємній ноті. Я думаю, що ви зможете допомогти ще не одній людині.</p>
          </div>
        </section>
      </div>
      <div style="display: inline-block; width: 42vw">
        <section style="background: #FFFFFF; box-shadow: 0px 0px 1vw rgba(189, 167, 144, 0.4); border-radius: 1vw; padding: 2vw; margin-bottom: 1vw">
          <div style="float: left; margin-right: 2vw">
            <img src="<%= asset_url('review/Богдан-29-лет.png')%>" alt="отзыв психолог Ткаченко Андрей Богдан 29 лет" style="width: 6vw; height: 6vw; border-radius: 100%">
            <h3 style="text-align: center;">Богдан<br>29 лет</h3>
          </div>
          <div style="display: inline-block; width: 29vw">
            <h3>“Мои ожидания абсолютно оправдались”</h3>
            <p style="text-align: justify;">У меня 3 месяца была тревога и ПА. Я взял пробный урок, без особых надежд на успех, потому что у меня был уже отрицательный опыт. Однако, после 1-го занятия, техники, которые дал мне Андрей, дали определенный эффект, поэтому я поверил в то, что с этим специалистом можно работать. И мои ожидания абсолютно оправдались. Мы прозанимались 5 занятий и мои проблемы решились. Прошло пол года - никаких проблем нет.</p>
          </div>
        </section>
        <section style="background: #FFFFFF; box-shadow: 0px 0px 1vw rgba(189, 167, 144, 0.4); border-radius: 1vw; padding: 2vw; margin-bottom: 1vw">
          <div style="float: left; margin-right: 2vw">
            <img src="<%= asset_url('review/Светлана-37-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Светлана 37 лет" style="width: 6vw; height: 6vw; border-radius: 100%">
            <h3 style="text-align: center;">Светлана<br>37 лет</h3>
          </div>
          <div style="display: inline-block; width: 29vw">
            <h3>“Андрей - грамотный психолог”</h3>
            <p style="text-align: justify;">Андрея я нашла, когда в моей жизни был непростой период. Мне понравился энтузиазм Андрея и то, что он никогда не оставлял меня одну (была постоянная связь в Вайбере), после каждой консультации мы уже могли отмечать какой-то результат. ДЗ мы делали вместе. Андрей - грамотный психолог, он не дал мне ни одного совета, а каждую ситуацию показал с какой-то неведомой для меня стороны, тогда я всё поняла и приняла ряд верных решений.</p>
          </div>
        </section>
        <section style="background: #FFFFFF; box-shadow: 0px 0px 1vw rgba(189, 167, 144, 0.4); border-radius: 1vw; padding: 2vw; margin-bottom: 1vw">
          <div style="float: left; margin-right: 2vw">
            <img src="<%= asset_url('review/Данил-20-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Данил 20 лет" style="width: 6vw; height: 6vw; border-radius: 100%">
            <h3 style="text-align: center;">Данил<br>20 лет</h3>
          </div>
          <div style="display: inline-block; width: 29vw">
            <h3>“Иногда, казалось, что он видит меня насквозь”</h3>
            <p style="text-align: justify;">Очень понравился подход Андрея как специалиста, изначально он много информации передал мне во время первичного общения о том, как будет выглядеть консультация, финансовые вопросы, всё было ясно изложено, это впечатлило. Мне было легко общаться с Андреем, он задавал вопросы в нужный момент, никогда не давил. Иногда, казалось, что он видит меня насквозь, мне кжется, это о многом свидетельствует</p>
          </div>
        </section>
        <section style="background: #FFFFFF; box-shadow: 0px 0px 1vw rgba(189, 167, 144, 0.4); border-radius: 1vw; padding: 2vw; margin-bottom: 1vw">
          <div style="float: left; margin-right: 2vw">
            <img src="<%= asset_url('review/Марина-30-лет.png')%>" alt="отзыв психолог Ткаченко Андрей Марина 30 лет" style="width: 6vw; height: 6vw; border-radius: 100%">
            <h3 style="text-align: center;">Марина<br>30 лет</h3>
          </div>
          <div style="display: inline-block; width: 29vw">
            <h3>“Это начало чего-то интересненького в жизни”</h3>
            <p style="text-align: justify;">Андрей, я очень благодарна за постановку моих мозгов на здоровый путь) Теперь я умею разбирать себя на части, как матрёшка, и собирать обратно, - в крепкое целостностное дерево. Мне было очень приятно работать с профессиональным психологом, было ощущение твердой опоры на уверенное плечо и доверительная дружественная обстановка, в которой не страшно откровенничать, даже если думаешь что говоришь глупости. Теперь нужно немного привыкать к тому, что я думаю и действую по новому, оптимальному, для себя и других людей, пути, экологичным способом для всех. Что я такая же как все, и нет смысла лишний раз стесняться) Это начало чего-то интересненького в жизни, чему я очень рада)) Если возникнут какие-либо преграды на моем пути, в психологическом плане, то знаю к кому можно обратиться, для разбора ситуации по полочкам в голове) Огромное спасибо!</p>
          </div>
        </section>
      </div>
    </div>

    <section style="background: #FFFFFF; box-shadow: 0px 0px 1vw rgba(189, 167, 144, 0.4); border-radius: 1vw; padding: 2vw; margin-bottom: 1vw">
      <div style="float: left; margin-right: 2vw">
        <img src="<%= asset_url('review/Максим-32-года.jpg')%>" alt="отзыв психолог Ткаченко Андрей Максимм 32 года" style="width: 6vw; height: 6vw; border-radius: 100%">
        <h3 style="text-align: center;">Максим<br>32 года</h3>
      </div>
      <div style="display: inline-block; width: 72vw">
        <h3>“Самое главное - что Андрей работает на результат”</h3>
        <p style="text-align: justify;">Я специально выбирал себе специалиста по когнитивно-поведенческой терапии. Андрей показался самым перспективным. Андрей сразу дал понять, что как минимум половина ответственности за успех - на мне. Это важно, и он объяснил это доходчиво. Сначала, на первой консультации мне показалось, что между нами недостаёт эмпатии, но я слышал, что КПТ вообще это свойственно. На самом деле, нам просто нужно было найти подход друг к другу. Уже на второй консультации все зажимы в общении пропали. Что со мной произошло за эти консультации: я пришел с мыслями насчет моей личной жизни, от которых не было совершенно никакого отбоя. Они кружились в моей голове бесконечно. Я переживал, и думал, что ничего не изменится, пока не пройдет время, или что-то не изменится. У меня был огромный скепсис, я думал, что с этим невозможно справиться. Ведь мысли - это часть меня. Но Андрей показал, что с этим можно работать. И у меня стало получаться. Я был тревожным, неуверенным, а после практики получал огромное удовольствие, разделяя эмоции, мысли и реальность. Самое главное - что Андрей работает на результат. Я и раньше посещал психолога с целью избавиться от тех же проблем, которые привели меня к Андрею. Но наши консультации превратились в какой-то бесконечный цикл. С Андреем у нас было пять консультаций. После четвертой я ощутил, как я достигаю цели, и спросил, а нужны ли нам еще консультации. На что Андрей сказал, что нужна еще одна для того, чтобы дать пару упражнений для закрепления результата. Мне очень понравился этот подход. И как только наша цель была достигнута, мы с удовольствием пожелали друг другу удачи и завершили наши встречи.</p>
      </div>
    </section>

    <section style="background: #FFFFFF; box-shadow: 0px 0px 1vw rgba(189, 167, 144, 0.4); border-radius: 1vw; padding: 2vw; margin-bottom: 1vw">
      <div style="float: left; margin-right: 2vw">
        <img src="<%= asset_url('review/Марина-28-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Марина 28 лет" style="width: 6vw; height: 6vw; border-radius: 100%">
        <h3 style="text-align: center;">Марина<br>28 лет</h3>
      </div>
      <div style="display: inline-block; width: 72vw">
        <h3>“Видно, что он вкладывает душу в свое дело”</h3>
        <p style="text-align: justify;">Перед первым занятием я очень волновалась. Уже не первый раз сталкиваясь с разными психологами думала о том какой на этот раз мне попадется человек и специалист. Моя проблема не простая и мне важно было чтобы человек, который мне будет помогать как можно лучше меня понимал.<br>Такого человека я нашла в Андрее. На первой встрече мы долго говорили - почти в 2 раза дольше чем было заплачено за консультацию! (Хочу еще заметить что консультации у Андрея в 2 раза дольше чем у других психологов, а оплата в 2 раза меньше, что не может не радовать). За три с половиной часа он узнал обо мне очень многое, что необходимо было для работы и сказал что возьмется работать с моей проблемой. И я поверила в то, что ее возможно решить.<br>Андрей показал мне план работы которому мы будем следовать. Сказал, что я могу писать ему в вайбер на протяжении недели когда мы не будем видеться (в формате личного дневника или просто о своих сложностях), что я могу всегда рассчитывать на его поддержку. А чтобы я могла поддерживать себя сама он будет давать мне домашнее задание и перед каждой встречей я должна буду заполнять опросник о своем состоянии за неделю для того, чтобы видеть наши результаты работы и изменения.<br>Вначале (до первой консультации) еще настораживал молодой возраст психолога, но после разговора с ним я поняла, что этот стереотип в даном случае не подтвердился и моя тревога развеялась. Мой надуманный минус превратился в плюс! Молодой возраст оказался плюсом, потому что я увидела, что Андрей со свойственным только молодым людям рвением и энтузиазмом делает свою работу, что у него есть немаленький багаж знаний в сфере его специальности и он стремится усовершенствовать их, тратит свое личное время на это и хочет быть еще лучше! Видно, что он вкладывает душу в свое дело, а не это ли самое главное в любой профессии? Еще он сказал что любит свою профессию и это было для меня заметно даже без слов.<br>Очень рекомендую его всем кто нуждается в психологической помощи, всем кто, к сожалению, столкнулся с такими неприятными проблемами о которых сложно даже рассказать кому-нибудь. На данный момент это лучший психолог из всех к кому я обращалась за помощью. Поэтому продолжаю с ним работать и уже вижу положительные изменения!</p>
      </div>
    </section>

    <div class="slider" style="margin: 8vw auto">
      <div class="slider__wrapper">
        <div class="slider__item" style="flex: 0 0 33.33%; max-width: 33.33%; justify-content: center;">
          <div style="width: 25vw; height: 14vw; border-radius: 1vw; margin: 0px auto;">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZARsaKAtUcE" frameborder="0" showinfo="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="slider__item" style="flex: 0 0 33.33%; max-width: 33.33%; justify-content: center;">
          <div style="width: 25vw; height: 14vw; border-radius: 1vw; margin: 0px auto;">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/IBAo8tFKcPU" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="slider__item" style="flex: 0 0 33.33%; max-width: 33.33%; justify-content: center;">
          <div style="width: 25vw; height: 14vw; border-radius: 1vw; margin: 0px auto;">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7AsF2wwtl88" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="slider__item" style="flex: 0 0 33.33%; max-width: 33.33%; justify-content: center;">
          <div style="width: 25vw; height: 14vw; border-radius: 1vw; margin: 0px auto;">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/KeSHTC-NdP8" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
          </div>
        </div>
        <div class="slider__item" style="flex: 0 0 33.33%; max-width: 33.33%; justify-content: center;">
          <div style="width: 25vw; height: 14vw; border-radius: 1vw; margin: 0px auto;">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/sfScVNRsE7o" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="slider__item" style="flex: 0 0 33.33%; max-width: 33.33%; justify-content: center;">
          <div style="width: 25vw; height: 14vw; border-radius: 1vw; margin: 0px auto;">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/M3bIAkj8g2I" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="slider__item" style="flex: 0 0 33.33%; max-width: 33.33%; justify-content: center;">
          <div style="width: 25vw; height: 14vw; border-radius: 1vw; margin: 0px auto;">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zt6S3vXjCNM" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>

        
      </div>
      <a class="slider__control slider__control_left" href="#" role="button"></a>
      <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
    </div>

    <%= render partial: "/new/slider"%>
    <script type="text/javascript">
        var slider = multiItemSlider('#w_reviews')
    </script>

  </div> <!-- Конец  container -->
</div> <!-- Конец  pc_content -->













<!-- начало моб версии -->
    <div class="mob" style="background: #F7F7F7;">
      <div class="container" style="margin-bottom: 8vw; font-size: 2.5vw; line-height: 3vw">
        <h1 style="padding: 7vw 0vw 2vw 0vw; text-align: center; font-weight: 800; font-size: 5vw">
          Отзывы
        </h1>
        <p style="text-align: center; font-size: 2.7vw; line-height: 3.2vw; letter-spacing: 0.01em; margin: 2vw auto">
          Предлагаю вам ознакомиться с тем, что говорят о проделанной мною работе мои клиенты.<br>Внизу сраницы вы также найдете видео отзывы людей, которых я консультировал
        </p>

        <div style="padding: 5vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
          <div style="margin-right: 5vw; text-align: center;">
            <img class="review_icon" src="<%= asset_url('review/Мария-20-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Мария 20 лет" style="width: 10vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <h2 style="font-weight: 600; font-size: 2.8vw; line-height: 3.2vw; text-align: center; margin: 2vw 0vw; padding-top: 0px">
              Мария<br>20 лет
            </h2>
          </div>
          <div>
            <h3 style="font-size: 2.5vw; line-height: 3vw; font-weight: 700; margin: 0vw">
              “Я обрела всё, чего мне не хватало”
            </h3>
            <p style="font-size: 2.2vw; line-height: 2.7vw; margin-bottom: 0vw">
              Я пол года занималась еженедельно с Андреем. Я не понимала, почему у меня не складываются отношения, но на определенном этапе работы оказалось, что то, с чем я пришла - это верхушка айсберга, а причина всему - тревога. Я не могу передать словами то, какого было мое удивление, восхищение методиками работы Андрея, насколько структурированы и понятны его методы. Я обрела всё, чего мне не хватало. Спасибо!
            </p>
          </div>
        </div>

        <div style="padding: 5vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
          <div style="margin-right: 5vw; text-align: center;">
            <img class="review_icon" src="<%= asset_url('review/Богдан-29-лет.png')%>" alt="отзыв психолог Ткаченко Андрей Богдан 29 лет" style="width: 10vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <h2 style="font-weight: 600; font-size: 2.8vw; line-height: 3.2vw; text-align: center; margin: 2vw 0vw; padding-top: 0px">
              Богдан<br>29 лет
            </h2>
          </div>
          <div>
            <h3 style="font-size: 2.5vw; line-height: 3vw; font-weight: 700; margin: 0vw">
              “Мои ожидания абсолютно оправдались”
            </h3>
            <p style="font-size: 2.2vw; line-height: 2.7vw; margin-bottom: 0vw">
              У меня 3 месяца была тревога и ПА. Я взял пробный урок, без особых надежд на успех, потому что у меня был уже отрицательный опыт. Однако, после 1-го занятия, техники, которые дал мне Андрей, дали определенный эффект, поэтому я поверил в то, что с этим специалистом можно работать. И мои ожидания абсолютно оправдались. Мы прозанимались 5 занятий и мои проблемы решились. Прошло пол года - никаких проблем нет.
            </p>
          </div>
        </div>
        <div style="padding: 5vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
          <div style="margin-right: 5vw; text-align: center;">
            <img class="review_icon" src="<%= asset_url('review/Татьяна-24-года.png')%>" alt="отзыв психолог Ткаченко Андрей Татьяна 24 года" style="width: 10vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <h2 style="font-weight: 600; font-size: 2.8vw; line-height: 3.2vw; text-align: center; margin: 2vw 0vw; padding-top: 0px">
              Татьяна<br>24 года
            </h2>
          </div>
          <div>
            <h3 style="font-size: 2.5vw; line-height: 3vw; font-weight: 700; margin: 0vw">
              “Чудовий досвід пізнання себе”
            </h3>
            <p style="font-size: 2.2vw; line-height: 2.7vw; margin-bottom: 0vw">
              Під час наших сеансів з Андрієм я навчилася більше розуміти себе, свої емоції і відчуття, позбулася проблем, які довгий час псували мені життя. Завдяки Андрію, я поглянула на багато ситуацій під іншим кутом, що дуже позитивно вплинуло на моє особисте життя, відносини з чоловіком та рідними. Це був чудовий досвід пізнання себе. Дякую за продуктивну роботу, розуміння з півслова та безсумнівний професіоналізм. А також за техніку релаксації 👍
            </p>
          </div>
        </div>

        <div style="padding: 5vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
          <div style="margin-right: 5vw; text-align: center;">
            <img class="review_icon" src="<%= asset_url('review/Светлана-37-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Светлана 37 лет" style="width: 10vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <h2 style="font-weight: 600; font-size: 2.8vw; line-height: 3.2vw; text-align: center; margin: 2vw 0vw; padding-top: 0px">
              Светлана<br>37 лет
            </h2>
          </div>
          <div>
            <h3 style="font-size: 2.5vw; line-height: 3vw; font-weight: 700; margin: 0vw">
              “Андрей - грамотный психолог”
            </h3>
            <p style="font-size: 2.2vw; line-height: 2.7vw; margin-bottom: 0vw">
              Андрея я нашла, когда в моей жизни был непростой период. Мне понравился энтузиазм Андрея и то, что он никогда не оставлял меня одну (была постоянная связь в Вайбере), после каждой консультации мы уже могли отмечать какой-то результат. ДЗ мы делали вместе. Андрей - грамотный психолог, он не дал мне ни одного совета, а каждую ситуацию показал с какой-то неведомой для меня стороны, тогда я всё поняла и приняла ряд верных решений.
            </p>
          </div>
        </div>
        <div style="padding: 5vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
          <div style="margin-right: 5vw; text-align: center;">
            <img class="review_icon" src="<%= asset_url('review/Анастасия-20-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Анастасия 20 лет" style="width: 10vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <h2 style="font-weight: 600; font-size: 2.8vw; line-height: 3.2vw; text-align: center; margin: 2vw 0vw; padding-top: 0px">
              Анастасия<br>20 лет
            </h2>
          </div>
          <div>
            <h3 style="font-size: 2.5vw; line-height: 3vw; font-weight: 700; margin: 0vw">
              “Во время работы с Андреем было очень легко”
            </h3>
            <p style="font-size: 2.2vw; line-height: 2.7vw; margin-bottom: 0vw">
              Во время работы с Андреем было очень легко. Некоторые вещи после консультации перестали беспокоить и стали более понятными. За одну консультацию мы решили все вопросы, сразу ощутилась легкость! Проблемы преобразовались в легкие решения. Спасибо большое Вам за проделанную работу! Очень приятным бонусом был файл, где были прописаны все проблемы и пути их решения, к которым мы пришли на консультации!
            </p>
          </div>
        </div>

        <div style="padding: 5vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
          <div style="margin-right: 5vw; text-align: center;">
            <img class="review_icon" src="<%= asset_url('review/Данил-20-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Данил 20 лет" style="width: 10vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <h2 style="font-weight: 600; font-size: 2.8vw; line-height: 3.2vw; text-align: center; margin: 2vw 0vw; padding-top: 0px">
              Данил<br>20 лет
            </h2>
          </div>
          <div>
            <h3 style="font-size: 2.5vw; line-height: 3vw; font-weight: 700; margin: 0vw">
              “Иногда, казалось, что он видит меня насквозь”
            </h3>
            <p style="font-size: 2.2vw; line-height: 2.7vw; margin-bottom: 0vw">
              Очень понравился подход Андрея как специалиста, изначально он много информации передал мне во время первичного общения о том, как будет выглядеть консультация, финансовые вопросы, всё было ясно изложено, это впечатлило. Мне было легко общаться с Андреем, он задавал вопросы в нужный момент, никогда не давил. Иногда, казалось, что он видит меня насквозь, мне кжется, это о многом свидетельствует.
            </p>
          </div>
        </div>
        <div style="padding: 5vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
          <div style="margin-right: 5vw; text-align: center;">
            <img class="review_icon" src="<%= asset_url('review/Марина-30-лет.png')%>" alt="отзыв психолог Ткаченко Андрей Мария 19 лет" style="width: 10vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <h2 style="font-weight: 600; font-size: 2.8vw; line-height: 3.2vw; text-align: center; margin: 2vw 0vw; padding-top: 0px">
              Мария<br>19 лет
            </h2>
          </div>
          <div>
            <h3 style="font-size: 2.5vw; line-height: 3vw; font-weight: 700; margin: 0vw">
              “Я стала менше тривожитись”
            </h3>
            <p style="font-size: 2.2vw; line-height: 2.7vw; margin-bottom: 0vw">
              Раніше я думала, що перестати боятися чогось, або змінити погляди на життя, можна лише за довгий період часу. Але мені вистачило лише двох консультацій з вами для того, щоб мені стало легше. У мене зменшилися страхи. Також, завдяки вам я навчилася приймати свої відчуття, а не уникати їх. Я стала менше тривожитись. Тому я дуже рада, що працювала саме з вами. Ви допомагаєте краще пізнати себе і світ, і завжди закінчуєте зустріч на приємній ноті. Я думаю, що ви зможете допомогти ще не одній людині.
            </p>
          </div>
        </div>

        <div style="padding: 5vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
          <div style="margin-right: 5vw; text-align: center;">
            <img class="review_icon" src="<%= asset_url('review/Марина-30-лет.png')%>" alt="отзыв психолог Ткаченко Андрей Марина 30 лет" style="width: 10vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <h2 style="font-weight: 600; font-size: 2.8vw; line-height: 3.2vw; text-align: center; margin: 2vw 0vw; padding-top: 0px">
              Марина<br>30 лет
            </h2>
          </div>
          <div>
            <h3 style="font-size: 2.5vw; line-height: 3vw; font-weight: 700; margin: 0vw">
              “Это начало чего-то интересненького в жизни”
            </h3>
            <p style="font-size: 2.2vw; line-height: 2.7vw; margin-bottom: 0vw">
              Андрей, я очень благодарна за постановку моих мозгов на здоровый путь) Теперь я умею разбирать себя на части, как матрёшка, и собирать обратно, - в крепкое целостностное дерево. Мне было очень приятно работать с профессиональным психологом, было ощущение твердой опоры на уверенное плечо и доверительная дружественная обстановка, в которой не страшно откровенничать, даже если думаешь что говоришь глупости. Теперь нужно немного привыкать к тому, что я думаю и действую по новому, оптимальному, для себя и других людей, пути, экологичным способом для всех. Что я такая же как все, и нет смысла лишний раз стесняться) Это начало чего-то интересненького в жизни, чему я очень рада)) Если возникнут какие-либо преграды на моем пути, в психологическом плане, то знаю к кому можно обратиться, для разбора ситуации по полочкам в голове) Огромное спасибо!
            </p>
          </div>
        </div>

        <div style="padding: 5vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
          <div style="margin-right: 5vw; text-align: center;">
            <img class="review_icon" src="<%= asset_url('review/Максим-32-года.jpg')%>" alt="отзыв психолог Ткаченко Андрей Максимм 32 года" style="width: 10vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <h2 style="font-weight: 600; font-size: 2.8vw; line-height: 3.2vw; text-align: center; margin: 2vw 0vw; padding-top: 0px">
              Максим<br>32 года
            </h2>
          </div>
          <div>
            <h3 style="font-size: 2.5vw; line-height: 3vw; font-weight: 700; margin: 0vw">
              “Самое главное - что Андрей работает на результат”
            </h3>
            <p style="font-size: 2.2vw; line-height: 2.7vw; margin-bottom: 0vw">
              Я специально выбирал себе специалиста по когнитивно-поведенческой терапии. Андрей показался самым перспективным. Андрей сразу дал понять, что как минимум половина ответственности за успех - на мне. Это важно, и он объяснил это доходчиво. Сначала, на первой консультации мне показалось, что между нами недостаёт эмпатии, но я слышал, что КПТ вообще это свойственно. На самом деле, нам просто нужно было найти подход друг к другу. Уже на второй консультации все зажимы в общении пропали. Что со мной произошло за эти консультации: я пришел с мыслями насчет моей личной жизни, от которых не было совершенно никакого отбоя. Они кружились в моей голове бесконечно. Я переживал, и думал, что ничего не изменится, пока не пройдет время, или что-то не изменится. У меня был огромный скепсис, я думал, что с этим невозможно справиться. Ведь мысли - это часть меня. Но Андрей показал, что с этим можно работать. И у меня стало получаться. Я был тревожным, неуверенным, а после практики получал огромное удовольствие, разделяя эмоции, мысли и реальность. Самое главное - что Андрей работает на результат. Я и раньше посещал психолога с целью избавиться от тех же проблем, которые привели меня к Андрею. Но наши консультации превратились в какой-то бесконечный цикл. С Андреем у нас было пять консультаций. После четвертой я ощутил, как я достигаю цели, и спросил, а нужны ли нам еще консультации. На что Андрей сказал, что нужна еще одна для того, чтобы дать пару упражнений для закрепления результата. Мне очень понравился этот подход. И как только наша цель была достигнута, мы с удовольствием пожелали друг другу удачи и завершили наши встречи.
            </p>
          </div>
        </div>

        <div style="padding: 5vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
          <div style="margin-right: 5vw; text-align: center;">
            <img class="review_icon" src="<%= asset_url('review/Марина-28-лет.jpg')%>" alt="отзыв психолог Ткаченко Андрей Марина 28 лет" style="width: 10vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <h2 style="font-weight: 600; font-size: 2.8vw; line-height: 3.2vw; text-align: center; margin: 2vw 0vw; padding-top: 0px">
              Марина<br>28 лет
            </h2>
          </div>
          <div>
            <h3 style="font-size: 2.5vw; line-height: 3vw; font-weight: 700; margin: 0vw">
              “Видно, что он вкладывает душу в свое дело”
            </h3>
            <p style="font-size: 2.2vw; line-height: 2.7vw; margin-bottom: 0vw">
              Перед первым занятием я очень волновалась. Уже не первый раз сталкиваясь с разными психологами думала о том какой на этот раз мне попадется человек и специалист. Моя проблема не простая и мне важно было чтобы человек, который мне будет помогать как можно лучше меня понимал.<br>Такого человека я нашла в Андрее. На первой встрече мы долго говорили - почти в 2 раза дольше чем было заплачено за консультацию! (Хочу еще заметить что консультации у Андрея в 2 раза дольше чем у других психологов, а оплата в 2 раза меньше, что не может не радовать). За три с половиной часа он узнал обо мне очень многое, что необходимо было для работы и сказал что возьмется работать с моей проблемой. И я поверила в то, что ее возможно решить.<br>Андрей показал мне план работы которому мы будем следовать. Сказал, что я могу писать ему в вайбер на протяжении недели когда мы не будем видеться (в формате личного дневника или просто о своих сложностях), что я могу всегда рассчитывать на его поддержку. А чтобы я могла поддерживать себя сама он будет давать мне домашнее задание и перед каждой встречей я должна буду заполнять опросник о своем состоянии за неделю для того, чтобы видеть наши результаты работы и изменения.<br>Вначале (до первой консультации) еще настораживал молодой возраст психолога, но после разговора с ним я поняла, что этот стереотип в даном случае не подтвердился и моя тревога развеялась. Мой надуманный минус превратился в плюс! Молодой возраст оказался плюсом, потому что я увидела, что Андрей со свойственным только молодым людям рвением и энтузиазмом делает свою работу, что у него есть немаленький багаж знаний в сфере его специальности и он стремится усовершенствовать их, тратит свое личное время на это и хочет быть еще лучше! Видно, что он вкладывает душу в свое дело, а не это ли самое главное в любой профессии? Еще он сказал что любит свою профессию и это было для меня заметно даже без слов.<br>Очень рекомендую его всем кто нуждается в психологической помощи, всем кто, к сожалению, столкнулся с такими неприятными проблемами о которых сложно даже рассказать кому-нибудь. На данный момент это лучший психолог из всех к кому я обращалась за помощью. Поэтому продолжаю с ним работать и уже вижу положительные изменения!
            </p>
          </div>
        </div>
        <div style="filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25)); margin-bottom: 4vw; height: 49vw;">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZARsaKAtUcE" frameborder="0" showinfo="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div style="filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25)); margin-bottom: 4vw; height: 49vw;">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/IBAo8tFKcPU" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div style="filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25)); margin-bottom: 4vw; height: 49vw;">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7AsF2wwtl88" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div style="filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25)); margin-bottom: 4vw; height: 49vw;">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/KeSHTC-NdP8" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
        </div>
        <div style="filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25)); margin-bottom: 4vw; height: 49vw;">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/sfScVNRsE7o" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div style="filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25)); margin-bottom: 4vw; height: 49vw;">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/M3bIAkj8g2I" frameborder="0" showinfo="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <img src="image/video-reviews.svg" alt="" style="width: 86vw;">

        

      </div>  <!-- конец container -->
          
    </div>  <!-- конец моб версии -->