<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Услуги психолога | Стоимость | Ткаченко Андрей</title>
  <meta name="description" content="Провожу индивидуальные и групповые консультации (2 часа раз в неделю), а также интенсивную психотерапию (5 дней подряд по 4 часа).">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Услуги психолога | Стоимость | Ткаченко Андрей">
  <meta property="og:description" content="Провожу индивидуальные и групповые консультации (2 часа раз в неделю), а также интенсивную психотерапию (5 дней подряд по 4 часа).">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/services">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/Tkachenko-Andrey-0ccd9afe47bf51522e172c3619a0dd1b97986605188615048acbc034288baecf.jpg">
<% end %>

<div class="pc_content">
  <div class="container">
    <h1 style="text-align: center; font-weight: 800; font-size: 3vw; margin: 5vw 0px 5vw 0vw">Услуги</h1>

    <div>
        <table style="margin-bottom: 1vw">
          <th style="width: 1%">Услуга</th>
          <th style="width: 10%">Длительность</th>
          <th style="width: 5%">Цена</th>
          <th style="width: 34%">Описание услуги</th>
          <tr>
            <td><a href="services.html#Predv" style="color: inherit; font-weight: 600; font-size: 1.1vw; text-decoration: none;">Предварительная консультация</a></td>
            <td style="border-left: 1px solid #4b4b4b; border-right: 1px solid #4b4b4b">15 минут</td>
            <td style="border-left: 1px solid #4b4b4b; border-right: 1px solid #4b4b4b">
              <span style="font-size: 1.5vw; font-weight: 600">Бесплатно</span><br>
            </td>
            <td>В течение 24 часов, после вашей <a href="services.html#Predv" style="border-bottom: 1px solid #4b4b4b; text-decoration: none; color: #4b4b4b"><b>записи на консультацию</b></a>, я вам пишу в мессенджер (если вы хотите – мы созваниемся), анализирую вашу ситуацию, отвечаю на все вопросы и мы вместе согласовываем дальнейшие действия.
            </td>
          </tr>
          <tr>
            <td><a href="consultations.html" style="color: inherit; font-weight: 600; font-size: 1.1vw; text-decoration: none;">Индивидуальная консультация</a></td>
            <td style="border-left: 1px solid #4b4b4b; border-right: 1px solid #4b4b4b">2 часа</td>
            <td style="border-left: 1px solid #4b4b4b; border-right: 1px solid #4b4b4b">
              <span style="font-size: 1.5vw; font-weight: 600">30 $</span>
            </td>
            <td><b>Метод – <a href="Positive-psychotherapy.html" style="border-bottom: 1px solid #4b4b4b; text-decoration: none; color: #4b4b4b">позитивная психотерапия</a>.</b><br>
              ▷ Диагностика<br>
              ▷ Постановка целей<br>
              ▷ Принятие решений<br>
              ▷ Проблемы в отношениях<br>
              ▷ Обида, вина, стыд, злость, страх
            </td>
          </tr>
          <tr>
            <td><a href="consultations.html" style="color: inherit; font-weight: 600; font-size: 1.1vw; text-decoration: none;">Курс психотерапии</a></td>
            <td  style="border-left: 1px solid #4b4b4b; border-right: 1px solid #4b4b4b">10 сеансов по 2 часа</td>
            <td style="border-left: 1px solid #4b4b4b; border-right: 1px solid #4b4b4b">
              <span style="font-size: 1.5vw; font-weight: 600">250 $</span><br>
              Разовый сеанс = 30 $
            </td>
            <td>
              <b>Метод – <a href="Cognitive-Behavioral-Therapy.html" style="border-bottom: 1px solid #4b4b4b; text-decoration: none; color: #4b4b4b">КПТ</a>, <a href="Acceptance-and-Commitment-Therapy.html" style="border-bottom: 1px solid #4b4b4b; text-decoration: none; color: #4b4b4b">ACT</a>, <a href="Mindfulness.html" style="border-bottom: 1px solid #4b4b4b; text-decoration: none; color: #4b4b4b">Майндфулнесс</a>.</b> (1–2 сеанса в неделю)<br>
              ▷ Невроз<br>
              ▷ Тревога<br>
              ▷ Депрессия<br>
              ▷ Навязчивости<br>
              ▷ Панические атаки<br>
              ▷ Низкая самооценка<br>
              ▷ Обучение медитации<br>
              ▷ Развитие стрессоустойчивости
            </td>
          </tr>
          <tfoot>
            <tr>
              <td><a href="consultations.html#Hypnotherapy" style="color: inherit; font-weight: 600; font-size: 1.1vw; text-decoration: none;">Курс гипнотерапии</a></td>
              <td style="border-left: 1px solid #4b4b4b; border-right: 1px solid #4b4b4b; padding: 0.9vw 1.8vw;">5 сеансов по 3 часа</td>
              <td style="border-left: 1px solid #4b4b4b; border-right: 1px solid #4b4b4b"><span style="font-size: 1.5vw; font-weight: 600">200 $</span><br>
              Разовый сеанс = 50 $</td>
              <td>
                <b>Метод – <a href="Hypnotherapy.html" style="border-bottom: 1px solid #4b4b4b; text-decoration: none; color: #4b4b4b">гипнотерапия</a>.</b> (1–5 сеансов в неделю)<br>
                ▷ Невроз<br>
                ▷ Тревога<br>
                ▷ Депрессия<br>
                ▷ Навязчивости<br>
                ▷ Панические атаки<br>
                ▷ Низкая самооценка<br>
                ▷ Психотравмы и ПТСР<br>
                ▷ Психосоматика (боли, спазмы, СРК, энурез, заикание, аноргазмия)</td>
            </tr>
          </tfoot>
        </table>
      </div>
<!--
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; text-align: center; margin: 0vw 2vw">
        <div style="width: 29%;" id="service_box">
          <a href="consultations.html#group" style="color: inherit; text-decoration:none;">
            <img src="<%= asset_url('group-consultation.svg')%>" alt="групповые консультации психолога" style="height: 12vw; transition: 0.3s;">  
            <h3 class="service_name" style="margin: 0vw; padding: 1.2vw 0vw 1.2vw 0vw">Групповая консультация</h3>
          </a>
          <div class="service_accordion" style="margin-bottom: 1vw; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.25));">
            <div class="service_accordion_title" style="background-color: #454554; border-radius: 0.4vw; padding: 1vw 4vw 1vw 6vw; font-size: 1.2vw; font-weight: 600; color: #FFFFFF;">2 часа<img src="<%= asset_url('arrow.svg')%>" alt="стрелка категории" class="arrow"></div>
            <div class="service_accordion_text">Дешевая групповая психотерапия в<br>Zoom (1 – 2 сеанса в неделю).<br>Группа от 3-х до 5-ти человек<br>объединенных одной проблемой<br>(например, низкая самооценка,<br>тревога, панические атаки или ОКР)</div>
          </div>
          <span style="font-size: 2vw; font-weight: 600; color: #FFFFFF; display: block; background-color: #ff7f50; border-radius: 0.4vw; padding: 1vw">10 $</span>
          <p>Скидка: 4 сеанса по предоплате 30 $</p>
        </div>

        <div style="width: 29%;" id="service_box">
          <a href="consultations.html" style="color: inherit; text-decoration:none;">
            <img src="<%= asset_url('consultation.svg')%>" alt="индивидуальная консультация психолога" style="height: 12vw; transition: 0.3s;">  
            <h3 class="service_name" style="margin: 0vw; padding: 1.2vw 0vw 1.2vw 0vw">Индивидуальная консультация</h3>
          </a>
          <div class="service_accordion" style="margin-bottom: 1vw; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.25));">
            <div class="service_accordion_title" style="background-color: #454554; border-radius: 0.4vw; padding: 1vw 4vw 1vw 6vw; font-size: 1.2vw; font-weight: 600; color: #FFFFFF;">2 часа<img src="<%= asset_url('arrow.svg')%>" alt="стрелка категории" class="arrow"></div>
            <div class="service_accordion_text">Консультация по Skype, Telegram, Viber, Zoom для тех, кто ценит свое время. Вы находитесь у себя дома, в безопасной обстановке, в удобном кресле, говорите о наболевшем с тем, кто вас понимает, избавляетесь от страхов и сомнений, наполняясь спокойствием и верой в себя.</div>
          </div>     
          <span style="font-size: 2vw; font-weight: 600; color: #FFFFFF; display: block; background-color: #ff7f50; border-radius: 0.4vw; padding: 1vw">30 $</span>
          <p>Скидка: 4 сеанса по предоплате 100 $</p>
        </div>

        <div style="width: 29%;" id="service_box">
          <a href="consultations.html#Coaching" style="color: inherit; text-decoration:none;">
            <img src="<%= asset_url('problem/coaching.svg')%>" alt="интенсивный коучинг" style="height: 12vw; transition: 0.3s;">  
            <h3 class="service_name" style="margin: 0vw; padding: 1.2vw 0vw 1.2vw 0vw">Интенсивный коучинг</h3>
          </a>
          <div class="service_accordion" style="margin-bottom: 1vw; filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.25));">
            <div class="service_accordion_title" style="background-color: #454554; border-radius: 0.4vw; padding: 1vw 0vw 1vw 0vw; font-size: 1.2vw; font-weight: 600; color: #FFFFFF;">5 дней подряд по 4 часа<img src="<%= asset_url('arrow.svg')%>" alt="стрелка категории" class="arrow"></div>
            <div class="service_accordion_text">5 дней непрерывной психотерапии, гипнотерапии и консультирования до достижения результата. Работаем столько, сколько нужно по времени (2-6 часов). Избавление от тревоги, психосоматики, панических атак, неврозов, низкой самооценки, страха больших денег и потери бизнеса, прокрастинации. Обучение медитации, стрессоустойчивости, самоанализу. Нахождение ценностей и смысла жизни. Если вас не устроит результат - я верну вам деньги!</div>
          </div>     
          <span style="font-size: 2vw; font-weight: 600; color: #FFFFFF; display: block; background-color: #ff7f50; border-radius: 0.4vw; padding: 1vw">300 $</span>
        </div>
      </div>
    -->
<!--
    <div style="display: flex; justify-content: space-evenly; align-items: center;">
      <img src="<%= asset_url('Price_main.svg')%>" style="width: 32vw">
      <div style="width: 36.5vw">
        <h2 style="font-size: 2vw; line-height: 2.6vw; margin: 0vw 10vw 1vw 0vw">Индивидуальная<br>онлайн консультация</h2>
        <div style="display: flex; justify-content: space-between; align-items: center">
          <div style="display: flex; align-items: center;">
            <img src="<%= asset_url('price6.svg')%>" style="width: 3.5vw; margin-right: 1vw">
            <p style="font-size: 1.3vw">Длительность консультации</p>
          </div>
          <p style="font-weight: 800; font-size: 2vw">2 часа</p>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center">
          <div style="display: flex; align-items: center;">
            <img src="<%= asset_url('price3.PNG')%>" style="width: 3.5vw; margin-right: 1vw">
            <p style="font-size: 1.3vw">Цена консультации</p>
          </div>
          <p style="font-weight: 800; font-size: 2vw">30 $</p>
        </div>
        <p style="text-align: justify;">
          Консультация по Skype, Telegram, Viber, Hangouts для тех, кто ценит свое время. Вы находитесь у себя дома, в безопасной обстановке, в удобном кресле, говорите о наболевшем с тем, кто вас понимает, избавляетесь от страхов и сомнений, наполняясь спокойствием и верой в себя. Подробнее о процессе консультации <a href="consultations.html"><b>тут</b></a>.
        </p>
        <button id="button_client_form">
          <a href="#client_form">ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ</a>
        </button>
      </div>
    </div>
-->
    <h2 style="font-size: 2.5vw; text-align: center; margin: 8vw 0px 3vw 0vw">Что входит в стоимость консультации</h2> 
      <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <div class="service_box">
          <img src="<%= asset_url('consultation.svg')%>" alt="консультация психолога" style="width: 80%; margin: 10% 10% 0% 10%">
          <h3 class="service_name">Консультация</h3>
          <p class="service_text">
            2 часа непрерывной работы с Вами (диагностика, изменение схем мышления и поведения, обретение новых навыков и способностей, улучшение эмоционального состояния)
          </p>
        </div>
        <div class="service_box">
          <img src="<%= asset_url('stenografiya.svg')%>" alt="стенография консультации психолога" style="width: 80%; margin: 10% 10% 0% 10%">
          <h3 class="service_name">Стенография</h3>
          <p class="service_text">
            Стенография консультации с описанием проделанной работы и применяемых техник, результатами диагностики и вашим домашним заданием<br>(в файле docx)
          </p>
        </div>
        <div class="service_box">
          <img src="<%= asset_url('support.svg')%>" alt="сопровождение психолога" style="width: 80%; margin: 10% 10% 0% 10%">
          <h3 class="service_name">Сопровождение</h3>
          <p class="service_text">
            Между консультациями мы продолжаем поддерживать с вами связь в мессенджерах для контроля вашего состояния, поддержки, ответов на ваши вопросы и корректировки дз.
          </p>
        </div>
        <div class="service_box">
          <img src="<%= asset_url('dopolnitelnye-materialy.svg')%>" alt="дополнительные материалы для психологической самопомощи" style="width: 80%; margin: 10% 10% 0% 10%">
          <h3 class="service_name">Доп. материалы</h3>
          <p class="service_text">
            Текстовые, аудио и видео-файлы для выполнения дз, фиксации результатов терапии, профилактики рецидивов и обучения полезным навыкам<br>(в файлах docx, excel, mp3, mp4)
          </p>
        </div>
      </div>
 
    <h2 style="font-size: 2.5vw; text-align: center; margin: 10vw 0px 2vw 0vw">Гарантия результата</h2>
    <p style="text-align: center; letter-spacing: 0.01em; margin: 3vw 0vw 3vw 0vw;">
      Почему вам нужно выбрать меня? Мои преимущества:
    </p>

    <div style="display: flex; justify-content: center; align-items: center">
      <ul style="width: 40vw; margin: 1vw 4vw 0vw 0vw">
        <li>5 лет практики психологической помощи</li>
        <li>Личная супервизия раз в месяц (анализ моих консультаций другими психологами)</li>
        <li>Мои дипломы и сертификаты об официальном образовании</li>
        <li>Ежедневный контроль Вашего состояния благодаря прямой связи со мной!</li>
        <li>Отзывы моих клиентов, которые достигли положительного результата</li>
        <li>Профессиональный подход: сначала полная диагностика - потом психотерапия!</li>
        <li>Индивидуальный подход: план психотерапии мы создаем ВМЕСТЕ, с учетом всех ваших потребностей и финансовых возможностей</li>
      </ul>
      <img src="<%= asset_url('guarantees.svg')%>" alt="гарантии результата консультаций психолога"  style="width: 32vw;">
    </div>

    <h2 style="font-size: 2.5vw; text-align: center; margin: 6vw 0px 2vw 0vw; padding-top: 3vw" id="Predv">Запись на консультацию</h2> 
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 0vw 5vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8vw">
      <img src="<%= asset_url('form.svg')%>" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div>  <!-- конец container --> 
</div> <!-- конец pc_content -->






















<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7; padding-bottom: 10vw">
  <h1 style="padding: 9vw 0vw 6vw 0vw; text-align: center; font-weight: 800; font-size: 5vw; margin: 0px">
    Услуги
  </h1>

    <div class="container" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10)); width: 100%; height: auto; text-align: center;">
        <a href="consultations.html#group" style="color: #4b4b4b; text-decoration: none; text-align: center;">
          <span class="problem_name" style="font-size: 3.5vw; color: #4b4b4b; border-bottom: 1px solid currentColor; padding-bottom: 0.6vw;">
            Предварительная консультация
          </span>
        </a>
        <p class="problem_text" style="font-size: 3vw; line-height: 3.8vw;">
          В течение 24 часов, после вашей <a href="services.html#predv" style="border-bottom: 1px solid #4b4b4b; text-decoration: none; color: #4b4b4b"><b>записи на консультацию</b></a>, я вам пишу в мессенджер (если вы хотите – мы созваниемся), анализирую вашу ситуацию, отвечаю на все вопросы и мы вместе согласовываем дальнейшие действия.
        </p>
        <div style="display:flex; justify-content: center;">
          <div style="width: 100%; background-color: #454554; border-radius: 1vw 0vw 0vw 1vw; padding: 2.5vw ; font-size: 3vw; font-weight: 600; color: #FFFFFF; text-align:center;">15 минут
          </div>
          <div style="width: 100%; background-color: #ff7f50; border-radius: 0vw 1vw 1vw 0vw; padding: 2.5vw ; font-size: 3.5vw; font-weight: 600; color: #FFFFFF; text-align:center;">БЕСПЛАТНО
          </div>
        </div>
      </div>
    <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10)); width: 100%; height: auto; text-align: center;">
      <a href="consultations.html#group" style="color: #4b4b4b; text-decoration: none; text-align: center;">
        <span class="problem_name" style="font-size: 3.5vw; color: #4b4b4b; border-bottom: 1px solid currentColor; padding-bottom: 0.6vw;">
          Индивидуальная консультация
        </span>
      </a>
      <p class="problem_text" style="font-size: 3vw; line-height: 3.8vw;">
        <b>Метод – <a href="Positive-psychotherapy.html" style="border-bottom: 1px solid #4b4b4b; text-decoration: none; color: #4b4b4b">позитивная психотерапия</a>.</b><br>
        ▷ Диагностика<br>
        ▷ Постановка целей<br>
        ▷ Принятие решений<br>
        ▷ Проблемы в отношениях<br>
        ▷ Обида, вина, стыд, злость, страх
      </p>
      <div style="display:flex; justify-content: center;">
        <div style="width: 100%; background-color: #454554; border-radius: 1vw 0vw 0vw 1vw; padding: 2.5vw ; font-size: 3vw; font-weight: 600; color: #FFFFFF; text-align:center;">2 часа
        </div>
        <div style="width: 100%; background-color: #ff7f50; border-radius: 0vw 1vw 1vw 0vw; padding: 2.5vw ; font-size: 3.5vw; font-weight: 600; color: #FFFFFF; text-align:center;">30 $
        </div>
      </div>
    </div>

    <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10)); width: 100%; height: auto; text-align: center;">
      <a href="consultations.html" style="color: #4b4b4b; text-decoration: none; text-align: center;">
        <span class="problem_name" style="font-size: 3.5vw; color: #4b4b4b; border-bottom: 1px solid currentColor; padding-bottom: 0.6vw;">
          Курс психотерапии
        </span>
      </a>
      <p class="problem_text" style="font-size: 3vw; line-height: 3.8vw;">
        <b>Метод – <a href="Cognitive-Behavioral-Therapy.html" style="border-bottom: 1px solid #4b4b4b; text-decoration: none; color: #4b4b4b">КПТ</a>, <a href="Acceptance-and-Commitment-Therapy.html" style="border-bottom: 1px solid #4b4b4b; text-decoration: none; color: #4b4b4b">ACT</a>, <a href="Mindfulness.html" style="border-bottom: 1px solid #4b4b4b; text-decoration: none; color: #4b4b4b">Майндфулнесс</a>.</b> (1–2 сеанса в неделю)<br>
        ▷ Невроз<br>
        ▷ Тревога<br>
        ▷ Депрессия<br>
        ▷ Навязчивости<br>
        ▷ Панические атаки<br>
        ▷ Низкая самооценка<br>
        ▷ Обучение медитации<br>
        ▷ Развитие стрессоустойчивости
      </p>
      <div style="display:flex; justify-content: center;">
        <div style="width: 100%; background-color: #454554; border-radius: 1vw 0vw 0vw 1vw; padding: 2.5vw ; font-size: 3vw; font-weight: 600; color: #FFFFFF; text-align:center;">10 сеансов по 2 часа
        </div>
        <div style="width: 100%; background-color: #ff7f50; border-radius: 0vw 1vw 1vw 0vw; padding: 2.5vw ; font-size: 3.5vw; font-weight: 600; color: #FFFFFF; text-align:center;">250 $
        </div>
      </div>
      <p class="problem_text" style="margin-bottom: 0vw; font-size: 2.8vw; line-height: 3.7vw;">Разовый сеанс психотерапии = 30 $</p>
    </div>

    <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10)); width: 100%; height: auto; text-align: center;">
      <a href="consultations.html#hypnotherapy" style="color: #4b4b4b; text-decoration: none; text-align: center;">
        <span class="problem_name" style="font-size: 3.5vw; color: #4b4b4b; border-bottom: 1px solid currentColor; padding-bottom: 0.6vw;">
          Курс гипнотерапии
        </span>
      </a>
      <p class="problem_text" style="font-size: 3vw; line-height: 3.8vw;">
        <b>Метод – <a href="Hypnotherapy.html" style="border-bottom: 1px solid #4b4b4b; text-decoration: none; color: #4b4b4b">гипнотерапия</a>.</b> (1–5 сеансов в неделю)<br>
        ▷ Невроз<br>
        ▷ Тревога<br>
        ▷ Депрессия<br>
        ▷ Навязчивости<br>
        ▷ Панические атаки<br>
        ▷ Низкая самооценка<br>
        ▷ Психотравмы и ПТСР<br>
        ▷ Психосоматика (боли, спазмы, СРК, энурез, заикание, аноргазмия)
      </p>
      <div style="display:flex; justify-content: center;">
        <div style="width: 100%; background-color: #454554; border-radius: 1vw 0vw 0vw 1vw; padding: 2.5vw ; font-size: 3vw; font-weight: 600; color: #FFFFFF; text-align:center;">5 сеансов по 3 часа
        </div>
        <div style="width: 100%; background-color: #ff7f50; border-radius: 0vw 1vw 1vw 0vw; padding: 2.5vw ; font-size: 3.5vw; font-weight: 600; color: #FFFFFF; text-align:center;">200 $
        </div>
      </div>
      <p class="problem_text" style="margin-bottom: 0vw; font-size: 2.8vw; line-height: 3.7vw;">Разовый сеанс гипнохотерапии = 50 $</p>
    </div>
    
  </div> <!-- конец услуг -->

  

  <h2 style="padding: 10vw 8vw 3vw 8vw; text-align: center; font-weight: 800; font-size: 5vw; line-height: 6vw">
    Что входит в стоимость консультации
  </h2>
  <div class="container" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
      <img class="problem_icon" src="<%= asset_url('consultation.svg')%>" alt="консультация психолога">
      <h3 class="problem_name">
        Консультация
      </h3>
      <p class="problem_text">
        2 часа непрерывной работы c Вами (диагностика, изменение схем мышления и поведения, обретение новых способностей и навыков, улучшение эмоционального состояния)
      </p>
    </div>
    <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
      <img  class="problem_icon" src="<%= asset_url('stenografiya.svg')%>" alt="стенография консультации психолога">
      <h3 class="problem_name">
        Стенография
      </h3>
      <p class="problem_text">
        Стенография консультации с описанием проделанной работы, применяемых техник, результатами Вашей диагностики и домашним заданием (в файле docx)
      </p>
    </div>

    <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
      <img  class="problem_icon" src="<%= asset_url('support.svg')%>" alt="сопровождение психолога">
      <h3 class="problem_name">
        Сопровождение
      </h3>
      <p class="problem_text">
        Между сеансами мы поддерживаем с Вами связь в мессенджерах для контроля Вашего состояния, поддержки, ответов на Ваши вопросы и корректировки дз.
      </p>
    </div>

    <div class="price_con_box" style="filter: drop-shadow(0px 1vw 2vw rgba(123, 123, 123, 0.10));">
      <img  class="problem_icon" src="<%= asset_url('dopolnitelnye-materialy.svg')%>" alt="дополнительные материалы для психологической самопомощи">
      <h3 class="problem_name">
        Доп. материалы
      </h3>
     <p class="problem_text">
        Текстовые, аудио и видео-файлы для выполнения дз, фиксации результатов терапии, профилактики рецидивов и обучения полезным навыкам (в файлах docx, excel, mp3, mp4)
      </p>
    </div>
  </div> <!-- конец Что входит в стоимость консультации -->

  <h2 style="padding: 10vw 8vw 2vw 8vw; text-align: center; font-weight: 800; font-size: 5vw; line-height: 6vw">
    Гарантия результата
  </h2>
  <p style="text-align: center; letter-spacing: 0.02em; margin: 2vw 7vw 5vw 7vw; font-size: 3vw; line-height: 3.8vw">
    Почему вам нужно выбрать меня?<br>Мои преимущества:
  </p>
  <ul class="container">
    <li>5 лет практики психологической помощи</li>
    <li>Личная супервизия раз в месяц (анализ моих консультаций другими психологами)</li>
    <li>Мои дипломы и сертификаты об официальном образовании</li>
    <li>Ежедневный контроль Вашего состояния благодаря прямой связи со мной!</li>
    <li>Отзывы моих клиентов, которые достигли положительного результата</li>
    <li>Профессиональный подход: сначала полная диагностика - потом психотерапия!</li>
    <li>Индивидуальный подход: план психотерапии мы создаем ВМЕСТЕ, с учетом всех ваших потребностей и финансовых возможностей</li>
  </ul>
  <img src="<%= asset_url('guarantees.svg')%>" class="container" alt="гарантии результата консультаций психолога" style="width: 86vw;">

  <div class="container" id="predv">       
    <%= render partial: "/new/form_mob"%>
  </div>

</div>  <!-- конец моб версии -->