<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://tkachenkoandrey.com/STA">
  <title>Системно-мыследеятельностный подход | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение сущности метода СМД с практической точки зрения: какие проблемы решает, как проходит консультация, ее длительность и конечный результат.">
  <meta name="keywords" content="системно-мыследеятельностный подход, мыследеятельность, Щедровицкий, консультация психолога онлайн, СМД, психотерапия СМД онлайн, как работает СМД, техники СМД, СМД психолог, СМД психотерапевт, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property="og:url" content="https://www.tkachenkoandrey.com/STA">
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Системно-мыследеятельностный подход | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение сущности метода СМД с практической точки зрения: какие проблемы решает, как проходит консультация, ее длительность и конечный результат.">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="системно-мыследеятельностный подход">
  <meta property="article:tag" content="мыследеятельность">
  <meta property="article:tag" content="Щедровицкий">
  <meta property="article:tag" content="консультация психолога онлайн">
  <meta property="article:tag" content="СМД">
  <meta property="article:tag" content="психотерапия СМД онлайн">
  <meta property="article:tag" content="как работает СМД">
  <meta property="article:tag" content="техники СМД">
  <meta property="article:tag" content="СМД психолог">
  <meta property="article:tag" content="СМД психотерапевт">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="https://tkachenkoandrey.com/STA">
  <meta name="twitter:title" content="Системно-мыследеятельностный подход | Психолог Ткаченко Андрей">
  <meta name="twitter:desctiption" content="Краткое объяснение сущности метода СМД с практической точки зрения: какие проблемы решает, как проходит консультация, ее длительность и конечный результат.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name">Системно-мыследеятельностный подход</h1>
      <p class="article__description pc">«Я действую так, как я мыслю». Чтобы в век высоких технологий суметь вовремя адаптироваться к новым условностям мира - следует прокачивать свое мышление. Именно этим и занимается СМД.</p>
      <img class="fullscreen__image" src="<%= asset_url('methods/STA.webp')%>" title="Системно-мыследеятельностный подход" alt="Системно-мыследеятельностный подход">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Что такое СМД</h2>
        <p>
          <b>Системно-мыследеятельностный подход</b> (СМД) – методологическое философское направление рожденное трудами Московского методологического кружка, идейный вдохновитель - Георгий Петрович Щедровицкий. В центре – анализ <b>деятельности, мышления и коммуникации</b>. Задача – создание методологий для производств и сложных деятельностных структур. Благодаря своей практичности, СМД применимо в сфере консультирования и коучинга.
        </p>
        <p>
          С точки зрения СМД, проблемы в отношениях, в работе у человека возникают именно потому, что таким образом устроены его мышление, коммуникация и деятельность, что, в свою очередь, определяется <b>схемами его мышления</b>. Если в схемах есть разрывы и противоречия – тут и там будут возникать трудности.
        </p>
        <p>
          Чтобы построить завод – необходим чертеж и план организации работы (кто будет гайки крутить, кто будет занимать место руководителя). Задача СМД – анализировать мышление человека таким образом, будто мы строим завод: следует нарисовать «чертеж» того, как я понимаю происходящую со мной ситуацию и по кирпичикам разобрать ее. Ведь, когда мы описываем свои чувства, то говорим: «кошки на душе скребутся», «меня будто катком переехали» - это фразы, описывающие деятельность, поэтому и разбирать мышление нужно так, будто оно разворачивается в реальном мире.
        </p>
        <p>
          Образы и метафоры клиентов всегда неожиданны и интересны. Благодаря им диалог клиента и психолога превращается в произведение искусства, где есть место безграничной фантазии. В этой палитре красок всегда рождается новое понимание ситуации, улучшается эмоциональное состояние, проходят старые обиды, тревоги и страхи.
        </p>
      </section>
      
      <section>
        <h2>Проблемы, которые решаются с помощью СМД:</h2>
        <ul>
          <li>Низкая самооценка (взаимодействие с людьми)</li>
          <li>Коучинг и обучение:</li>
          <ul>
            <li>навыкам принятия решений</li>
            <li>постановки целей</li>
            <li>коммуникации</li>
            <li>самоанализу и рефлексии</li>
            <li>общее развитие структурированного мышления</li>
          </ul>
          <li>Проблемы в отношениях:</li>
          <ul>
            <li>конфликты в семье / на работе / с друзьями</li>
            <li>травля коллег, знакомых</li>
            <li>насилие, буллинг, газлайтинг</li>
            <li>страх отношений с партнером</li>
            <li>неумение выстраивать отношения, договариваться</li>
            <li>измены, ревность</li>
            <li>одиночество</li>
            <li>принятие решения "остаться или уйти?"</li>
          </ul>
        </ul>
        <p>
          Как правило, проблемы в отношениях решаются в тандеме с <a href="/Positive-psychotherapy">Позитивной психотерапией</a>.
        </p>
      </section>

      <section>
        <h2>Как работает СМД</h2>
        <p>
          Для того, чтобы начать изменять схему мышления, нужно, чтобы клиент нарисовал то, о чем он говорит. Для этого, необходимо, чтобы психолог создал такие условия для клиента, чтобы тот вышел из своей ситуации, стал в позицию «Схематизатора» (того, кто рисует схему) и исходя из своей «рамки сознания» начал рисовать:
        </p>

        <img src="<%= asset_url('methods/Schematization.svg')%>" alt="Схематизация" style="width: 100%; max-width: 400px">
      
        <p>
          На следующем этапе, когда схема нарисована, психолог предлагает клиенту посмотреть не на то, <b>что</b> нарисовано, а на то, <b>как</b> это нарисовано, на форму изображения, и проанализировать ее исходя из своего внутреннего состояния. Человек анализирует, выявляет проблемное место, разрыв или противоречие в схеме.
        </p>
        <p>
          После нахождения проблемы, психолог помогает клиенту выдвинуть <b>требования</b> к новой схеме (желаемый результат), перерисовать ее так, чтобы она соответствовала требованиям. В процессе изменения рисунка меняется и мышление человека, структурируется его понимание ситуации, потому что для клиента человек на рисунке – это он сам, глядя на рисунок он видит себя. Устраняя противоречия в изображении, клиент изменяет структуру мысли о своей ситуации.
        </p>
        <p>
          Последним этапом является постановка задач на будущее. Свидетельством того, что схема мышления трансформировалась, является изменение характера мысли и эмоционального состояния клиента, он ощущает уверенность и готовность выполнять поставленные задачи.
        </p>
        <p>
          Решаемые проблемы носят одноразовый характер и решаются за одну встречу. <a href="/Training">Развитие навыков</a> происходит за больший срок (в зависимости от запроса).
        </p>
      </section>

      <section>
        <h2>Улучшение взаимоотношений</h2>
        <p>
          Взаимодействие людей между собой всегда напоминает какую-то игру. Вечные конфликты родственников, травля в коллективе, повторение неудачных взаимоотношений с партнером. Конечно, личность человека невозможно полностью описать одним словом, одной ролью, в которую он играет. Но, для упрощения, можно использовать базовые образцы поведения, которыми можно объяснить повторение одного и тоже же сценарий в отношениях.
        </p>
        <p>
          Иногда, ролевая игра поддерживает сама себя так, что из нее трудно выбраться: спасатель, жертва, преследователь.<br>
          Иногда, люди играют в семью: родитель, ребенок, муж/жена.<br>
          Есть общие ролевые позиции: взрослый, родитель, ребенок.
        </p>
        <p>
          <b>Часто задаваемые вопросы:</b><br>
          1. Почему человек ведет себя именно так?<br>
          – Потому что он играет сейчас определенную роль (спасатель не может не спасать)<br>
          2. Почему он чувствует себя именно так, в компании с этими людьми?<br>
          – Потому что его роль подразумевает именно такое внутреннее самочувствие (жертва не может не бояться)<br>
          3. Почему человек привык быть «ребенком» и не может занять позицию «Взрослого»?<br>
          – У человека не было никакого примера поведения Взрослого. У него вся семья состояла из «детей», которые не умеют принимать решения и брать ответственность на себя. Либо, ему роль ребенка очень выгодна.<br>
          4. Как ему помочь?<br>
          – Необходимо схематизировать его ситуацию, выявить противоречия и устранить их, создав новую схему деятельности.
        </p>
      
        <p>
          Клиент рассказывает о своих неудачных отношениях, говорит в чем по его мнению проблема и к какому результату он хотел бы прийти. Психолог внимательно слушает, задает уточняющие вопросы, моделирует в голове схему взаимоотношений клиента по схеме ролевой игры:
        </p>

        <img src="<%= asset_url('methods/Role-play-scheme.svg')%>" alt="Схема игры ролей в группе" style="width: 100%; max-width: 500px">
      
        <p>
          Каждый человек играет в ту роль, которой он уже обучен. Люди выстраивают свою семью по примеру отношений мамы с папой, дедушки с бабушкой и т.д. Схема игры ролей существует у каждого человека в сознании.
        </p>
        <p>
          Работа психолога выглядит приблизительно так:<br>
          1. Описываем объективно происходящие события, структуру взаимодействия людей. Кто что сказал или сделал.<br>
          2. Выявляем роль клиента. Узнаем его самочувствие в данной ситуации, какие у него мысли, эмоции, ощущения и каковы его действия.<br>
          3. Выявляем роли окружающих. Понимаем кто получает выгоду в этих взаимоотношениях.<br>
          4. Понимая все роли, прописываем сценарий по которому постоянно развиваются данные события. Выявляем нежелательные элементы сценария.<br>
          5. Ищем иные способы реализовывать собственные потребности, подбираем новую роль.<br>
          6. Практикуемся быть в новой роли, прямо на консультации проводим ролевую игру.<br>
          7. Проверяем новую роль на практике в обычной жизни.
        </p>
        <p>
          Также:<br>
          Для улучшения эмоционального состояния применяем <a href="/Positive-psychotherapy">Позитивную психотерапию</a>.<br>
          Для научения навыкам коммуникации применяем метод ненасильственного общения Розенберга.
        </p>
        <p>
          В результате клиент:<br>
          1. Понимает свою роль. Осознание дает возможность выбора "играть или не играть".<br>
          2. Понимает роль окружающих. Это дает возможность выбрать оптимальную стратегию поведения с ними.<br>
          3. Научается новому поведению, меняется его психоэмоциональное состояние.
        </p>
        <p>
          Разбор отношений редко затягивается дольше одной консультации. За это время клиент уже начинает понимать, какое решение следует принять. Если присутствует страх, тревога, то данные негативные эмоции прорабатываются отдельно другими <a href="/methods">методами</a>.
        </p>
      </section>

    </div>
  </article>

  <div class="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=%2B380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>