<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Консультация психолога онлайн | Психотерапия по Скайп | Ткаченко Андрей</title>
  <meta name="description" content="Специалист с международным дипломом, член Ассоциации Позитивной Психотерапии в Украине. Оставьте Заявку на Сайте. 2-х часовая психотерапия сложных проблем.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Консультация психолога онлайн | Психотерапия по Скайп | Ткаченко Андрей">
  <meta property="og:description" content="Специалист с международным дипломом, член Ассоциации Позитивной Психотерапии в Украине. Оставьте Заявку на Сайте. 2-х часовая психотерапия сложных проблем.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/Tkachenko-Andrey-0ccd9afe47bf51522e172c3619a0dd1b97986605188615048acbc034288baecf.jpg">
<% end %>

<div class="pc_content">
  <div class="container">
    <h1 style="text-align: center; font-weight: 800; font-size: 2.5vw; margin: 4vw 0px 2vw 0vw">Отправлено!</h1>
    <p style="text-align: center; margin: 0vw 3vw 2vw 3vw;">
      Спасибо за доверие! Я свяжусь с Вами в ближайшее время.<br>
      Перед консультацией можете ознакомится с моими <a href="/articles.html" style="border-bottom: 1px solid currentColor;">статьями</a> по интересующей вас теме:
    </p>

    <div style="position: relative; display: flex; justify-content: space-between; padding-bottom: 4vw">
      <div id="box_mini_card" style="position: relative; width: 46vw">
        <section class="up-corner-20 article_box" style="display: inline-block; width: 20.7vw; height: 14.5vw; margin-right: 1.8vw">
          <span style="display: block; position: relative; top: 8.57vw; left: 1.44vw;">
            <span>
              <h3 class="article_category" style="float: left; clear: left; position: relative;">
                <a href="/articles?category_id=2" style="font-size: 0.7vw; padding: 0.1vw 0.6vw;">
                  Психология отношений
                </a>
              </h3>
              <span class="article_name" style="float: left; clear: left; position: relative;">
                <a href="/articles/59.html" style="display: block; font-size: 0.91vw; line-height: 1.15vw; font-weight: 700">
                  5 фраз для решения конфликтов с близкими людьми
                </a>
              </span>
            </span>
          </span>
          <a href="/articles/59.html">
            <img src="<%= asset_url('article4.jpg')%>" style="width: 100%; height: 100%; object-fit: cover; border-radius: 0.8vw; margin-top: -5.5vw; line-height: 0px">
          </a>
        </section>

        <section class="up-corner-20 article_box" style="display: inline-block; width: 20.7vw; height: 14.5vw">
          <span style="display: block; position: relative; top: 8.57vw; left: 1.44vw;">
            <span>
              <h3 class="article_category" style="float: left; clear: left; position: relative;">
                <a href="/articles?category_id=5" style="font-size: 0.7vw; padding: 0.1vw 0.6vw;">
                  Саморазвитие
                </a>
              </h3>
              <span class="article_name" style="float: left; clear: left; position: relative;">
                <a href="/articles/60.html" style="display: block; font-size: 0.91vw; line-height: 1.15vw; font-weight: 700">
                  Медитация на принятие себя и сострадание
                </a>
              </span>
            </span>
          </span>
          <a href="/articles/60.html">
            <img src="<%= asset_url('article2.jpg')%>" style="width: 100%; height: 100%; object-fit: cover; border-radius: 0.8vw; margin-top: -5.5vw; line-height: 0px">
          </a>
        </section>

        <section class="up-corner-20 article_box" style="display: inline-block; width: 20.7vw; height: 14.5vw; margin-right: 1.8vw">
          <span style="display: block; position: relative; top: 8.57vw; left: 1.44vw;">
            <span>
              <h3 class="article_category" style="float: left; clear: left; position: relative;">
                <a href="/articles?category_id=7" style="font-size: 0.7vw; padding: 0.1vw 0.6vw;">
                  НЕВРОЗ И ПСИХОСОМАТИКА
                </a>
              </h3>
              <span class="article_name" style="float: left; clear: left; position: relative;">
                <a href="/articles/50.html" style="display: block; font-size: 0.91vw; line-height: 1.15vw; font-weight: 700">
                  Психосоматика. Симптомы и<br>причины возникновения
                </a>
              </span>
            </span>
          </span>
          <a href="/articles/50">
            <img src="<%= asset_url('article3.jpg')%>" style="width: 100%; height: 100%; object-fit: cover; border-radius: 0.8vw; margin-top: -5.5vw; line-height: 0px">
          </a>
        </section>

        <section class="up-corner-20 article_box" style="display: inline-block; width: 20.7vw; height: 14.5vw">
          <span style="display: block; position: relative; top: 8.57vw; left: 1.44vw;">
            <span>
              <h3 class="article_category" style="float: left; clear: left; position: relative;">
                <a href="/articles?category_id=14" style="font-size: 0.7vw; padding: 0.1vw 0.6vw;">
                  Низкая самооценка
                </a>
              </h3>
              <span class="article_name" style="float: left; clear: left; position: relative;">
                <a href="/articles/55.html" style="display: block; font-size: 0.91vw; line-height: 1.15vw; font-weight: 700">
                  Самооценка. Низкая, завышенная, нарциссизм. Причины и следствия
                </a>
              </span>
            </span>
          </span>
          <a href="/articles/55.html">
            <img src="<%= asset_url('55.jpg')%>" style="width: 100%; height: 100%; object-fit: cover; border-radius: 0.8vw; margin-top: -5.5vw; line-height: 0px">
          </a>
        </section>
      </div>
      <img src="<%= asset_url('articles.svg')%>" alt="статьи психолога" style="width: 40vw;">
    </div>
  </div>  <!-- конец container -->    
</div>  <!-- конец пк версии -->






















 
  
  


  <!-- начало моб версии #9e9b9b  -->
<div class="mob" style="background: #F7F7F7;">

  <h2 style="padding: 10vw 8vw 2vw 8vw; text-align: center; font-weight: 800; font-size: 5vw; line-height: 5vw;">
    Отправлено!
  </h2>
  <p class="container" style="text-align: center; font-size: 3vw; line-height: 3.8vw; letter-spacing: 0.01em; margin: 2vw 7vw 3vw 7vw;">
    Спасибо за доверие! Я свяжусь с Вами в ближайшее время.<br><br>
    Перед консультацией можете ознакомится с моими <a href="/articles.html" style="border-bottom: 1px solid currentColor;">статьями</a> по интересующей вас теме:
  </p>
  <div style="width: 86vw; display: flex; justify-content: space-around; flex-wrap: wrap; margin: 2vw 7vw;">
    <section class="up-corner-20 article_box">
      <span class="article_box_span">
        <span>
          <h3 class="article_category">
            <a href="/articles?category_id=7">
              Невроз и психосоматика
            </a>
          </h3>
          <span class="article_name" style="margin-bottom: 2vw">
            <a href="/articles/50.html" style="display: block;">
              Психосоматика. Симптомы и причины возникновения
            </a>
          </span>
        </span>
      </span>
      <a href="/articles/50.html">
        <img class="card_image" src="<%= asset_url('article3.jpg')%>">
        <div id="linear-gradient">
          <div></div>
        </div>
      </a>
    </section>

    <section class="up-corner-20 article_box">
      <span class="article_box_span">
        <span>
          <h3 class="article_category">
            <a href="/articles?category_id=2">
              Психология отношений
            </a>
          </h3>
          <span class="article_name" style="margin-bottom: 2vw">
            <a href="/articles/59.html" style="display: block;">
              5 фраз для решения конфликтов с близкими людьми
            </a>
          </span>
        </span>
      </span>
      <a href="/articles/59.html">
        <img class="card_image" src="<%= asset_url('article4.jpg')%>">
        <div id="linear-gradient">
          <div></div>
        </div>
      </a>
    </section>

    <section class="up-corner-20 article_box">
      <span class="article_box_span">
        <span>
          <h3 class="article_category">
            <a href="/articles?category_id=5">
              Саморазвитие
            </a>
          </h3>
          <span class="article_name" style="margin-bottom: 2vw">
            <a href="/articles/60.html" style="display: block;">
              Медитация на принятие себя и сострадание
            </a>
          </span>
        </span>
      </span>
      <a href="/articles/60.html">
        <img class="card_image" src="<%= asset_url('article2.jpg')%>">
        <div id="linear-gradient">
          <div></div>
        </div>
      </a>
    </section>
  </div> <!-- Конец  container -->
</div> <!-- конец моб версии -->

