<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://tkachenkoandrey.com/work-with">
  <title>Направления работы психолога | Ткаченко Андрей</title>
  <meta name="description" content="Я работаю с: неврозом, психосоматикой, тревогой, самооценкой, ОКР, психотравмами, депрессией, паническими атаками и взаимоотношениями.">
  <meta name="keywords" content="направления работы психолога, с чем работает психолог, проблемы которые решает психолог, психологические проблемы, психотерапия неврозов, психотерапия тревоги, психотерапия панических атак, психотерапия депрессии, психотерапия психотравм, психосоматика психолог, ОКР психотерапевт, низкая самооценка психолог, консультация психолога, психолог Ткаченко Андрей">
  <meta name="author" content="Ткаченко Андрей">
  <meta property="og:locale" content="ru_UA">
  <meta property='og:url' content='http://tkachenkoandrey.com/work-with'>
  <meta property='og:site_name' content='Психолог Ткаченко Андрей'>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Направления работы психолога | Ткаченко Андрей">
  <meta property="og:description" content="Я работаю с: неврозом, психосоматикой, тревогой, самооценкой, ОКР, психотравмами, депрессией, паническими атаками и взаимоотношениями.">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="направления работы психолога">
  <meta property="article:tag" content="с чем работает психолог">
  <meta property="article:tag" content="проблемы которые решает психолог">
  <meta property="article:tag" content="психологические проблемы">
  <meta property="article:tag" content="психотерапия неврозов">
  <meta property="article:tag" content="психотерапия тревоги">
  <meta property="article:tag" content="психотерапия панических атак">
  <meta property="article:tag" content="психотерапия депрессии">
  <meta property="article:tag" content="психотерапия психотравм">
  <meta property="article:tag" content="психосоматика психолог">
  <meta property="article:tag" content="ОКР психотерапевт">
  <meta property="article:tag" content="низкая самооценка психолог">
  <meta property="article:tag" content="консультация психолога">
  <meta property="article:tag" content="психолог Ткаченко Андрей">
  <meta name="twitter:url" content="http://tkachenkoandrey.com/work-with">
  <meta name="twitter:title" content="Направления работы психолога | Ткаченко Андрей">
  <meta name="twitter:desctiption" content="Я работаю с: неврозом, психосоматикой, тревогой, самооценкой, ОКР, психотравмами, депрессией, паническими атаками и взаимоотношениями.">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="problem">
  <div class="problem__body container">
    <div class="problem__header header_box" style="margin: 0px 0px 7px 0px">
      <h1 class="problem__title title">Мои направления работы</h1>
    </div>
    <div class="problem__row">
      <a class="problem__column problem__link" href="Psychotherapy-of-neuroses.html">
        <div class="problem__item">
          <h3 class="problem__name">Невроз и психосоматика</h3>
          <p class="problem__info">Психотерапия</p>
          <p class="problem__text">Устранение раздражительности, ранимости, вины, стыда, обиды, злости, ВСД, проблем со сном, аппетитом, сексом. Избавление от мышечных болей и прочей психосоматики.</p>
        </div>
      </a>
      <a class="problem__column problem__link" href="Psychotherapy-of-anxiety.html">
        <div class="problem__item">
          <h3 class="problem__name">Тревога</h3>
          <p class="problem__info">Психотерапия</p>
          <p class="problem__text">Избавление от повышенной тревоги и ГТР: длительных повторяющихся неконтролируемых тревожных мыслей, предчувствий и сомнений о здоровье и благополучии.</p>
        </div>
      </a>
      <a class="problem__column problem__link" href="Psychotherapy-for-panic-disorder.html">
        <div class="problem__item">
          <h3 class="problem__name">Панические атаки</h3>
          <p class="problem__info">Психотерапия</p>
          <p class="problem__text">Работа с приступами паники, удушья, страхом умереть, сойти с ума или опозориться. Избавление от тремора, головокружения, тахикардии, озноба, онемения.</p>
        </div>
      </a>
      <a class="problem__column problem__link" href="Psychotherapy-of-depression.html">
        <div class="problem__item">
          <h3 class="problem__name">Депрессия</h3>
          <p class="problem__info">Психотерапия</p>
          <p class="problem__text">Избавление от депрессии, подавленности, апатии, грусти. Проработка пессимистичных мыслей, повышение концентрации внимания и активности.</p>
        </div>
      </a>
      <a class="problem__column problem__link" href="Psychotherapy-of-psychotrauma.html">
        <div class="problem__item">
          <h3 class="problem__name">Пcихотравмы</h3>
          <p class="problem__info">Гипнотерапия и ДПДГ</p>
          <p class="problem__text">Работа с последствиями сильного или длительного стресса, детскими психотравмами. Психологическая поддержка в случае насилия, катастроф, утраты близких.</p>
        </div>
      </a>
      <a class="problem__column problem__link" href="OCD-psychotherapy.html">
        <div class="problem__item">
          <h3 class="problem__name">Навязчивости</h3>
          <p class="problem__info">Психотерапия</p>
          <p class="problem__text">Терапия ОКР и ее компонентов: страха загрязнения или заражения, навязчивых сомнений, перепроверок, ритуалов, мыслей сексуального или агрессивного содержания.</p>
        </div>
      </a>
      <a class="problem__column problem__link" href="Low-self-esteem-psychotherapy.html">
        <div class="problem__item">
          <h3 class="problem__name">Низкая самооценка</h3>
          <p class="problem__info">Психотерапия</p>
          <p class="problem__text">Избавление от самообвинений, сравнений себя с другими, комплексов внешности, нерешительности. Работа с установками “Я не смогу”, “Я не достоин”.</p>
        </div>
      </a>
      <a class="problem__column problem__link"  href="Relationship-counseling.html">
        <div class="problem__item">
          <h3 class="problem__name">Взаимоотношения</h3>
          <p class="problem__info">Консультирование</p>
          <p class="problem__text">Помощь в принятии сложных решений. Развитие навыков коммуникации. Работа с чувством одиночества, ревностью, конфликтами.</p>
        </div>
      </a>          
      <a class="problem__column problem__link" href="Training.html">
        <div class="problem__item">
          <h3 class="problem__name">Обучение</h3>
          <p class="problem__info">Тренинг</p>
          <p class="problem__text">Обучение стрессоустойчивости, релаксации, методам принятия решений, постановки целей, самонаблюдения, самоанализа, коммуникации, осознанности, медитации.</p>
        </div>
      </a>
    </div>
  </div>
</div>