<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="<%= t 'work-with.head.url' %>">
  <title><%= t 'work-with.head.title' %></title>
  <meta name="description" content="<%= t 'work-with.head.description' %>">
  <meta name="keywords" content="<%= t 'work-with.head.keywords' %>">
  <meta name="author" content="<%= t 'head.author' %>">
  <meta property="og:locale" content="<%= t 'head.og:locale' %>">
  <meta property='og:url' content='<%= t 'work-with.head.url' %>'>
  <meta property='og:site_name' content="<%= t 'head.og:site_name' %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= t 'work-with.head.title' %>">
  <meta property="og:description" content="<%= t 'work-with.head.description' %>">
  <meta property="og:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:secure_url" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1133">
  <meta property="og:image:height" content="780">
  <meta property='article:publisher' content='https://www.facebook.com/tkachenko.psychology/'>
  <meta property="article:tag" content="<%= t 'work-with.head.article:tag1' %>">
  <meta property="article:tag" content="<%= t 'work-with.head.article:tag2' %>">
  <meta property="article:tag" content="<%= t 'work-with.head.article:tag3' %>">
  <meta property="article:tag" content="<%= t 'work-with.head.article:tag4' %>">
  <meta property="article:tag" content="<%= t 'work-with.head.article:tag5' %>">
  <meta property="article:tag" content="<%= t 'work-with.head.article:tag6' %>">
  <meta property="article:tag" content="<%= t 'work-with.head.article:tag7' %>">
  <meta property="article:tag" content="<%= t 'work-with.head.article:tag8' %>">
  <meta property="article:tag" content="<%= t 'work-with.head.article:tag9' %>">
  <meta property="article:tag" content="<%= t 'work-with.head.article:tag10' %>">
  <meta property="article:tag" content="<%= t 'work-with.head.article:tag11' %>">
  <meta property="article:tag" content="<%= t 'work-with.head.article:tag12' %>">
  <meta property="article:tag" content="<%= t 'work-with.head.article:tag13' %>">
  <meta property="article:tag" content="<%= t 'work-with.head.article:tag14' %>">
  <meta name="twitter:url" content="<%= t 'work-with.head.url' %>">
  <meta name="twitter:title" content="<%= t 'work-with.head.title' %>">
  <meta name="twitter:desctiption" content="<%= t 'work-with.head.description' %>">
  <meta name="twitter:image" content='<%= asset_url('Tkachenko-Andrey.jpg')%>'>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="relap-image" content="<%= asset_url('Tkachenko-Andrey.jpg')%>">
  <link rel="image_src" href="<%= asset_url('Tkachenko-Andrey.jpg')%>">
<% end %>

<div class="problem">
  <div class="problem__body container">
    <div class="problem__header header_box" style="margin: 0px 0px 7px 0px">
      <h1 class="problem__title title"><%= t 'work-with.title' %></h1>
    </div>
    <div class="problem__row">
      <a class="problem__column problem__link" href="/<%= I18n.locale%>/Psychotherapy-of-neuroses">
        <div class="problem__item">
          <h3 class="problem__name"><%= t 'work-with.problems.Невроз.title' %></h3>
          <p class="problem__info"><%= t 'work-with.problems.Невроз.info' %></p>
          <p class="problem__text"><%= raw t 'work-with.problems.Невроз.text' %></p>
        </div>
      </a>
      <a class="problem__column problem__link" href="/<%= I18n.locale%>/Psychotherapy-of-anxiety">
        <div class="problem__item">
          <h3 class="problem__name"><%= t 'work-with.problems.Тревога.title' %></h3>
          <p class="problem__info"><%= t 'work-with.problems.Тревога.info' %></p>
          <p class="problem__text"><%= raw t 'work-with.problems.Тревога.text' %></p>
        </div>
      </a>
      <a class="problem__column problem__link" href="/<%= I18n.locale%>/Psychotherapy-for-panic-disorder">
        <div class="problem__item">
          <h3 class="problem__name"><%= t 'work-with.problems.ПА.title' %></h3>
          <p class="problem__info"><%= t 'work-with.problems.ПА.info' %></p>
          <p class="problem__text"><%= raw t 'work-with.problems.ПА.text' %></p>
        </div>
      </a>
      <a class="problem__column problem__link" href="/<%= I18n.locale%>/Psychotherapy-of-depression">
        <div class="problem__item">
          <h3 class="problem__name"><%= t 'work-with.problems.Депрессия.title' %></h3>
          <p class="problem__info"><%= t 'work-with.problems.Депрессия.info' %></p>
          <p class="problem__text"><%= raw t 'work-with.problems.Депрессия.text' %></p>
        </div>
      </a>
      <a class="problem__column problem__link" href="/<%= I18n.locale%>/Psychotherapy-of-psychotrauma">
        <div class="problem__item">
          <h3 class="problem__name"><%= t 'work-with.problems.Пcихотравмы.title' %></h3>
          <p class="problem__info"><%= t 'work-with.problems.Пcихотравмы.info' %></p>
          <p class="problem__text"><%= raw t 'work-with.problems.Пcихотравмы.text' %></p> 
        </div>
      </a>
      <a class="problem__column problem__link" href="/<%= I18n.locale%>/OCD-psychotherapy">
        <div class="problem__item">
          <h3 class="problem__name"><%= t 'work-with.problems.Навязчивости.title' %></h3>
          <p class="problem__info"><%= t 'work-with.problems.Навязчивости.info' %></p>
          <p class="problem__text"><%= raw t 'work-with.problems.Навязчивости.text' %></p>
        </div>
      </a>
      <a class="problem__column problem__link" href="/<%= I18n.locale%>/Low-self-esteem-psychotherapy">
        <div class="problem__item">
          <h3 class="problem__name"><%= t 'work-with.problems.Низкая-самооценка.title' %></h3>
          <p class="problem__info"><%= t 'work-with.problems.Низкая-самооценка.info' %></p>
          <p class="problem__text"><%= raw t 'work-with.problems.Низкая-самооценка.text' %></p>
        </div>
      </a>
      <a class="problem__column problem__link"  href="/<%= I18n.locale%>/Relationship-counseling">
        <div class="problem__item">
          <h3 class="problem__name"><%= t 'work-with.problems.Взаимоотношения.title' %></h3>
          <p class="problem__info"><%= t 'work-with.problems.Взаимоотношения.info' %></p>
          <p class="problem__text"><%= raw t 'work-with.problems.Взаимоотношения.text' %></p>
        </div>
      </a>          
      <a class="problem__column problem__link" href="/<%= I18n.locale%>/Training">
        <div class="problem__item">
          <h3 class="problem__name"><%= t 'work-with.problems.Обучение.title' %></h3>
          <p class="problem__info"><%= t 'work-with.problems.Обучение.info' %></p>
          <p class="problem__text"><%= raw t 'work-with.problems.Обучение.text' %></p>
        </div>
      </a>
      <a class="problem__column problem__link" href="/<%= I18n.locale%>/Sexology">
        <div class="problem__item">
          <h3 class="problem__name"><%= t 'work-with.problems.Sexology.title' %></h3>
          <p class="problem__info"><%= t 'work-with.problems.Sexology.info' %></p>
          <p class="problem__text"><%= raw t 'work-with.problems.Sexology.text' %></p>
        </div>
      </a>
      <a class="problem__column problem__link" href="/<%= I18n.locale%>/Samorozvutok-kouching">
        <div class="problem__item">
          <h3 class="problem__name"><%= t 'work-with.problems.Sexology.title' %></h3>
          <p class="problem__info"><%= t 'work-with.problems.Sexology.info' %></p>
          <p class="problem__text"><%= raw t 'work-with.problems.Sexology.text' %></p>
        </div>
      </a>
      <a class="problem__column problem__link" href="/<%= I18n.locale%>/biznes-conseling">
        <div class="problem__item">
          <h3 class="problem__name"><%= t 'work-with.problems.Sexology.title' %></h3>
          <p class="problem__info"><%= t 'work-with.problems.Sexology.info' %></p>
          <p class="problem__text"><%= raw t 'work-with.problems.Sexology.text' %></p>
        </div>
      </a>
    </div>
  </div>
</div>