<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Направления работы психолога | Ткаченко Андрей</title>
  <meta name="description" content="Я работаю с: неврозом, психосоматикой, тревогой, самооценкой, ОКР, психотравмами, депрессией, паническими атаками и взаимоотношениями.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Направления работы психолога | Ткаченко Андрей">
  <meta property="og:description" content="Я работаю с: неврозом, психосоматикой, тревогой, самооценкой, ОКР, психотравмами, депрессией, паническими атаками и взаимоотношениями.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/work-with">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/Tkachenko-Andrey-0ccd9afe47bf51522e172c3619a0dd1b97986605188615048acbc034288baecf.jpg">
<% end %>

  <div class="problem">
    <div class="problem__body container">
      <div class="problem__header header_box" style="margin: 0px 0px 7px 0px">
        <h1 class="problem__title title">Мои направления работы</h1>
      </div>
      <div class="problem__row">
        <a class="problem__column problem__link" href="Psychotherapy-of-neuroses.html">
          <div class="problem__item">
            <h3 class="problem__name">Невроз и психосоматика</h3>
            <p class="problem__info">Психотерапия</p>
            <p class="problem__text">Устранение раздражительности, ранимости, вины, стыда, обиды, злости, ВСД, проблем со сном, аппетитом, сексом. Избавление от мышечных болей и прочей психосоматики.</p>
          </div>
        </a>
        <a class="problem__column problem__link" href="Psychotherapy-of-anxiety.html">
          <div class="problem__item">
            <h3 class="problem__name">Тревога</h3>
            <p class="problem__info">Психотерапия</p>
            <p class="problem__text">Избавление от повышенной тревоги и ГТР: длительных повторяющихся неконтролируемых тревожных мыслей, предчувствий и сомнений о здоровье и благополучии.</p>
          </div>
        </a>
        <a class="problem__column problem__link" href="Psychotherapy-for-panic-disorder.html">
          <div class="problem__item">
            <h3 class="problem__name">Панические атаки</h3>
            <p class="problem__info">Психотерапия</p>
            <p class="problem__text">Работа с приступами паники, удушья, страхом умереть, сойти с ума или опозориться. Избавление от тремора, головокружения, тахикардии, озноба, онемения.</p>
          </div>
        </a>
        <a class="problem__column problem__link" href="Psychotherapy-of-depression.html">
          <div class="problem__item">
            <h3 class="problem__name">Депрессия</h3>
            <p class="problem__info">Психотерапия</p>
            <p class="problem__text">Избавление от депрессии, подавленности, апатии, грусти. Проработка пессимистичных мыслей, повышение концентрации внимания и активности.</p>
          </div>
        </a>
        <a class="problem__column problem__link" href="Psychotherapy-of-psychotrauma.html">
          <div class="problem__item">
            <h3 class="problem__name">Пcихотравмы</h3>
            <p class="problem__info">Гипнотерапия и ДПДГ</p>
            <p class="problem__text">Работа с последствиями сильного или длительного стресса, детскими психотравмами. Психологическая поддержка в случае насилия, катастроф, утраты близких.</p>
          </div>
        </a>
        <a class="problem__column problem__link" href="OCD-psychotherapy.html">
          <div class="problem__item">
            <h3 class="problem__name">Навязчивости</h3>
            <p class="problem__info">Психотерапия</p>
            <p class="problem__text">Терапия ОКР и ее компонентов: страха загрязнения или заражения, навязчивых сомнений, перепроверок, ритуалов, мыслей сексуального или агрессивного содержания.</p>
          </div>
        </a>
        <a class="problem__column problem__link" href="Low-self-esteem-psychotherapy.html">
          <div class="problem__item">
            <h3 class="problem__name">Низкая самооценка</h3>
            <p class="problem__info">Психотерапия</p>
            <p class="problem__text">Избавление от самообвинений, сравнений себя с другими, комплексов внешности, нерешительности. Работа с установками “Я не смогу”, “Я не достоин”.</p>
          </div>
        </a>
        <a class="problem__column problem__link"  href="Relationship-counseling.html">
          <div class="problem__item">
            <h3 class="problem__name">Взаимоотношения</h3>
            <p class="problem__info">Консультирование</p>
            <p class="problem__text">Помощь в принятии сложных решений. Развитие навыков коммуникации. Работа с чувством одиночества, ревностью, конфликтами.</p>
          </div>
        </a>          
        <a class="problem__column problem__link" href="Training.html">
          <div class="problem__item">
            <h3 class="problem__name">Обучение</h3>
            <p class="problem__info">Тренинг</p>
            <p class="problem__text">Обучение стрессоустойчивости, релаксации, методам принятия решений, постановки целей, самонаблюдения, самоанализа, коммуникации, осознанности, медитации.</p>
          </div>
        </a>
      </div>
    </div>
  </div>






<!-- начало моб версии -->


    <div class="mob" style="background: #F7F7F7; display: none;">
      <div class="container" style="margin-bottom: 8vw">
        <h1 style="padding: 9vw 0vw 6vw 0vw; text-align: center; font-weight: 800; font-size: 5vw; margin: 0px">
          Мои направления работы
        </h1>
        <a href="Relationship-counseling.html" style="text-decoration: none; color: inherit;">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <img src="<%= asset_url('problem/relationship.svg')%>" alt="Улучшение взаимоотношений" style="width: 28vw; margin-right: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Улучшение взаимоотношений
              </h2>
              <p style="font-size: 2.5vw; line-height: 3vw; margin: 1.5vw 0vw 0vw 0vw">
                Помощь в принятии сложных решений, устранение конфликтов в семье и в коллективе. Работа с чувством одиночества, страхом отношений, изменами, ревностью, насилием. Развитие навыков коммуникации.
              </p>
            </div>
          </div>
        </a>

        <a href="Psychotherapy-of-neuroses.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Психотерапия неврозов и психосоматики
              </h2>
              <p style="font-size: 2.4vw; line-height: 2.9vw; margin: 1.5vw 0vw 0vw 0vw">
                Устранение раздражительности, ранимости, вины, стыда, обиды, злости, ВСД, проблем со сном, аппетитом, повышенной утомляемости, мышечных болей и прочей психосоматики.
              </p>
            </div>
            <img src="<%= asset_url('problem/neurosis.svg')%>" alt="Психотерапия неврозов и психосоматики" style="width: 28vw; margin-left: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
          </div>
        </a>

        <a href="Psychotherapy-of-anxiety.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <img src="<%= asset_url('problem/anxiety.svg')%>" alt="Избавление от тревоги" style="width: 28vw; margin-right: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Избавление от тревоги
              </h2>
              <p style="font-size: 2.4vw; line-height: 2.9vw; margin: 1.5vw 0vw 0vw 0vw">
                Генерализованное тревожное расстройство, тревожные мысли, предчувствия, мышечное напряжение, беспокойный сон , частая тревога по поводу и без, беспокойство о множестве вещей.
              </p>
            </div>
          </div>
        </a>
        <a href="Low-self-esteem-psychotherapy.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Повышение самооценки
              </h2>
              <p style="font-size: 2.4vw; line-height: 2.9vw; margin: 1.5vw 0vw 0vw 0vw">
                Избавление от самообвинений, сравнений себя с другими, непринятия своей внешности, комплиментов, нерешительности. Работа с установками “Я не смогу”, “Я не достоин”.
              </p>
            </div>
            <img src="<%= asset_url('problem/self-esteem.svg')%>" alt="Повышение самооценки" style="width: 28vw; margin-left: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
          </div>
        </a>

        <a href="OCD-psychotherapy.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <img src="<%= asset_url('problem/Obsessive-Compulsive-Disorder.svg')%>" alt="Психотерапия навязчивостей" style="width: 28vw; margin-right: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Психотерапия навязчивостей
              </h2>
              <p style="font-size: 2.4vw; line-height: 2.9vw; margin: 1.5vw 0vw 0vw 0vw">
                Работа с навязчивыми мыслями и действиями (ОКР): мысли о нанесении вреда родственникам, частые перепроверки (закрыты ли двери), мытье рук, чистка выщей, компуливный счет, перешагивания.
              </p>
            </div>
          </div>
        </a>

        <a href="Psychotherapy-of-psychotrauma.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Избавление от глубинных психотравм
              </h2>
              <p style="font-size: 2.4vw; line-height: 2.9vw; margin: 1.5vw 0vw 0vw 0vw">
                Работа с последствиями сильного или длительного стресса. Помощь с детскими психотравмами, потерей близких, бизнеса, денег. Помощь в случаее насилия в семье, после катастроф, несчастных случаев.
              </p>
            </div>
            <img src="<%= asset_url('problem/psychological-trauma.svg')%>" alt="Избавление от глубинных психотравм" style="width: 28vw; margin-left: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
          </div>
        </a>
        <a href="Psychotherapy-of-depression.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <img src="<%= asset_url('problem/depression.svg')%>" alt="Психологическая помощь при депрессии" style="width: 28vw; margin-right: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Психологическая помощь при депрессии
              </h2>
              <p style="font-size: 2.4vw; line-height: 2.9vw; margin: 1.5vw 0vw 0vw 0vw">
                Избавление от депрессии, апатии, грусти, печали, подавленности, ощущения того, что ничего не радует. Проработка пессимистичных мыслей, повышение концентрации внимания и активности.
              </p>
            </div>
          </div>
        </a>

        <a href="Psychotherapy-for-panic-disorder.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Избавление от панических атак
              </h2>
              <p style="font-size: 2.4vw; line-height: 2.9vw; margin: 1.5vw 0vw 0vw 0vw">
                Работа с приступами страха, паники, удушья. Преодоление страха умереть, сойти с ума, опозориться. Избавление от симптомов: дрожь, пот, головокружение, тахикардия, озноб, онемение, покалывание.
              </p>
            </div>
            <img src="<%= asset_url('problem/panic-disorder.svg')%>" alt="Избавление от панических атак" style="width: 28vw; margin-left: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15));">
          </div>
        </a>

        <a href="Training.html" style="text-decoration: none; color: inherit; margin-bottom: 7vw; ">
          <div style="padding: 4vw; background-color: white; border-radius: 1vw; display: flex; flex-direction: inherit; justify-content: center; align-items: center; margin-bottom: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));">
            <img src="<%= asset_url('problem/coaching.svg')%>" alt="Коучинг и обучение" style="width: 28vw; margin-right: 4vw; filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.15)); transform: scale(-1, 1);">
            <div>
              <h2 style="font-size: 2.6vw; line-height: 3vw; font-weight: 600; margin: 0vw; padding: 0vw">
                Коучинг и обучение
              </h2>
              <p style="font-size: 2.4vw; line-height: 2.9vw; margin: 1.5vw 0vw 0vw 0vw">
                Помощь в принятии сложных решений. Обучение стрессоустойчивости, релаксации, методу принятия решений, постановки целей, самонаблюдения, самоанализа, коммуникации, осознаности.
              </p>
            </div>
          </div>
        </a>
        </div>
          
    </div>  <!-- конец моб версии -->