<div id="fourth_block" style="">
  <div class="f-b-tabs">
    <div class=" gray-tab" style="background-color: #00a1e6" >
      <div class="card-header" id="headingOne" >
        <h2 class="mb-0">
          <button class="btn btn-link princip-btn" type="button"  href="#princOne">
            Результат консультаций
          </button>
        </h2>
      </div>
    </div>
    <div class=" gray-tab" style="background-color: #2db34a">
      <div class="card-header " type="button" id="headingTwo" >
        <h2 class="mb-0">
          <button class="btn btn-link princip-btn" type="button" href="#princThree" >
            Гарантии результата
          </button>
        </h2>
      </div>
    </div>  
    <div class=" gray-tab" style="background-color: #2b6ca1">
      <div class="card-header " type="button" id="headingThree" >
        <h2 class="mb-0">
          <button class="btn btn-link  princip-btn" type="button" href="#princTwo" >
            Мои принципы работы
          </button>
        </h2>
      </div>
    </div>
  </div>
  <div style="height: 445px">
    <div id="princOne" class="princip" style="text-align: initial;">
      <div class="card-body" style="text-align: none">
        <ul style="list-style-type: none; width: 50%; margin-left: 30%; ">
          <li>
            <div>
              <img src="<%= asset_url('icon/check.png')%>" style="width: 50px">
              Получите быстрый ответ на свой вопрос  
            </div>
          </li>        
          <li>
            <div>
              <img src="<%= asset_url('icon/check.png')%>" style="width: 50px">
              Избавитесь от негативных эмоций и переживаний
            </div>
          </li>
          <li>
            <div>
              <img src="<%= asset_url('icon/check.png')%>" style="width: 50px">
              Поймете причину вашего состояния
            </div>
          </li>
          <li>
            <div>
              <img src="<%= asset_url('icon/check.png')%>" style="width: 50px">
              Станете уверенными в себе и в своем будущем
            </div>
          </li>
          <li>
            <div>
              <img src="<%= asset_url('icon/check.png')%>" style="width: 50px">
              Примете верное решение в сложившейся ситуации
            </div>
          </li>
          <li>
            <div>
              <img src="<%= asset_url('icon/check.png')%>" style="width: 50px">
              Получите искреннюю поддержку и возможность выговориться
            </div>
          </li>
          <li>
            <div>
              <img src="<%= asset_url('icon/check.png')%>" style="width: 50px">
              Обретете умения и навыки для самостоятельного решения проблем
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="princTwo"  class="princip" style="text-align: initial;">
      <div class="card-body">
        <ul style=" ">     
          <li> Врачебный принцип "не навреди"; </li>
          <li> Полная конфиденциальность; </li>
          <li> Решение клиента – закон; </li>
          <li> Безоценочное отношение: уважение и принятие клиента таким, какой он есть; </li>
          <li> Доверительные отношения с клиентом, искренность и честность; </li>
          <li> Компетентность: если я не могу помочь, то я честно об этом сообщаю; </li>
          <li> Ответственность за результат: 50% на мне, 50% на клиенте (выполнение ДЗ и желание сотрудничать). </li>
        </ul>
      </div>
    </div>
    <div id="princThree" class="princip" style="text-align: initial;">
      <div class="card-body">
        <ul style=" ">     
          <li>
            4 года практики психологической помощи;
          </li>
          <li>
            Пол года личной терапии;
          </li>
           <li>
            Личная супервизия раз в месяц (анализ моих консультаций другими психологами);
          </li>
          <li>
            Мои дипломы и сертификаты об официальном образовании;
          </li>
          <li>
            Отзывы моих клиентов, которые достигли положительного результата;
          </li>
          <li>
            Использование научно обоснованного метода психотерапии - КПТ;
          </li>
          <li>
            Соблюдение стандартов работы и этического кодекса психолога;
          </li>
          <li>
            Ежедневный контроль Вашего состояния благодаря прямой связи со мной!
          </li>
          <li>
            Профессиональный подход: сначала полная диагностика - потом психотерапия!
          </li>
          <li>
            Индивидуальный подход: план психотерапии мы создаем ВМЕСТЕ, с учетом всех ваших потребностей и финансовых возможностей!
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>