.container-fluid.gr-border{style: "height: 720px; border-left: none; border-right: none; border-top: none;"}
  
  .container.left{style: 'width:50%; float:left'}
    %img.img-fluid{src: "/assets/photo_x.jpg"}

  .container.left{style: 'width:50%; float:left; margin-top: 15px'}
    .card{style: "width: 36m; margin-left: auto; border: none;"}
      .card-body{style: "padding: 0px; "}
        %h3{style: "margin-left: 30%; font-size: 30px; margin-bottom: 15px"} Ткаченко Андрей
        %h5.card-title{style: "margin-left: 40%"} психолог
        %p.card-text
          Здравствуйте, друзья! Меня зовут Ткаченко Андрей, я психолог. Ко мне обращаются люди, которые попали в непростые жизненные обстоятельства. Я помогаю улучшить качество жизни каждого моего клиента, избавляя его от невроза, тревоги, страхов, депрессии и проблем в личной жизни 
          %br
          ( смотрите полный 
          %a{href: "/work-with" }
            список решаемых проблем
          ).
        %p.card-text
          %b{style: "margin-left: 40%"} МОЙ ПУТЬ
          %br
          Я долго шел к тому, чтоб научиться лечить людей Словом, а не уколами и таблетками. Для начала, я окончил официальное психологическое образование, а также курсы и тренинги по нескольким современным направлениям психотерапии (КПТ, МКТ, АСТ). Чтоб закрепить полученные знания на практике, я получил опыт работы в сфере психологической помощи работая со взрослыми и детьми в психологических центрах, проводил лекции и тренинги, индивидуальные занятия и онлайн-марафоны.
        %p.card-text
          %b{style: "margin-left: 25%"} МОЯ ЗАДАЧА - СДЕЛАТЬ ВАС СИЛЬНЫМ.
          %br
          На моих очных и онлайн-консультациях я поддерживаю своих клиентов, аккуратно и безболезненно обучаю их справляться со своей жизнью самостоятельно, без врачей и таблеток. Стандартная консультация длится 2 часа, во время которой мы нарабатываем те навыки мышления и поведения, которые позволят Вам автоматически избавиться от накопленных проблем. Данные навыки останутся с Вами на всю жизнь и помогут решать трудности в нашем быстроменяющемся мире.
          %a{ href: "/methods"}
            Подробнее о методах работы
  

.container-fluid.gr-border{style: "clear: both; border-left: none; border-right: none;  border-top:none; margin-bottom: 20px; margin-top: 20px; padding: 10px 0px 30px 0px; "}
  = render partial: "work_and_study"

.container-fluid.gr-border{style: " border-left: none; border-right: none;  border-top:none; margin-bottom: 30px; margin-top: 39px; height: 1200px; padding-top: 10px;"}
  .container-fluid{style: "text-align: center; clear: top; margin: auto;  height: 750px; width: 90%; "}
    %h3 Мои направления работы:
    - @problems.each do |problem|
      = render partial: '/articles/min_card', locals: {card: problem, title: card_name(problem), body: card_body(problem)}

.container-fluid{style: " text-align: center; clear: both; width: 1060px; height: 25rem; height: 830px; margin: auto; margin-top: 60px;"}
  %h3 Список услуг и стоимость
  = render partial: 'services_block'
 
.container-fluid.service-include#include{style: ""}
  %h3{style: ""} В стоимость консультации входит:
  #include-block
    = render partial: 'include'


#principles.gr-border{style: "text-align: center; clear: both;  height: 500px; padding-top: 20px; border-left: none; border-right: none;  border-top:none; margin-top: 555px"}
  = render partial: 'principles'

.container-fluid#how_get_to{style: "margin-top: 50px; text-align: center; clear: both;  height: 450px;"}
  %h3{style: "margin-bottom: 60px; "} Как попасть на консультацию?
  %div{style: "width: 1136px;  position:relative; margin: auto; margin-top: 40px; margin-left: 70px;"}
    = render partial: 'how_to_get'

.container-fluid#feedbacks{style: " text-align: center; border: none;"}
  %br
  %h3 Видео-отзывы о моей работе
  = render partial: 'feedbacks'