- content_for :menu do
  %a{ style: "float:left; display:block", 'data-toggle':"collapse", href:"#menu_collapse", role:"button", 'aria-expanded':"false", 'aria-controls':"menu_collapse" }
    %button.btn.btn-outline-info
      Menu

  .collapse#menu_collapse{style: "float:left; ml-5"}
    %a.ml-5{ href: "#{ about_path }" }
      %button.btn.btn-outline-dark{ type:"button" }
        Обо мне
    %a{ href: "#{articles_path}" }
      %button.btn.btn-outline-dark{ type:"button" }
        Статьи
    %a{ href: "#{education_path}" }
      %button.btn.btn-outline-dark{ type:"button" }
        Обучение
    %a{ href: "#{consultation_path}" }
      %button.btn.btn-outline-dark{ type:"button" }
        Консультации
    %a.request
      %button.btn.btn-outline-dark{ type:"button" }
        Оставить заявку

- content_for :consultation do
  %button.btn.btn-success{ type:"button" }
    Тесты

- content_for :information do
  .card.card-info{ style: "background-color: rgba(255, 255, 255, 0.3);" }
    .card-body.ml-10
      %h5.card-title
        Когнитивно-поведенческая терапия
      %h6.card-title
        от
      %h4.card-title
        Андрея Ткаченко
      %p.card-text
        Избавление от невротических, панических и тревожно-депрессивных состояний с помощью психотерапии
      %p.card-text
        Text

      %a{ href:"#", class:"btn btn-success" }
        Оставить заявку

- content_for :main_navigation do
  .nav_panel
    %button.btn.btn-outline-dark{ type:"button" }
      %a{ href: "#{education_path}" }  
        Виды проблем
    %button.btn.btn-outline-dark{ type:"button" }
      %a{ href: "#{education_path}" }
        Саморазвитие
    %button.btn.btn-outline-dark{ type:"button" }
      %a{ href: "#{education_path}" }
        Обучение

- content_for :contacts do
  %a{href: "google.com", style: 'float: right; clear:both; margin-bottom: 5px;'}
    = image_tag( '/assets/icon/Skype.png', size: "65" )
  %a{href: "google.com", style: 'float: right; clear:both; margin-bottom: 5px;' }
    = image_tag( '/assets/icon/Instagram.png', size: "65" )
  %a{href: "google.com", style: 'float: right; clear:both; margin-bottom: 5px;'}
    = image_tag( '/assets/icon/Facebook.png', size: "65" )
  %a{href: "google.com", style: 'float: right; clear:both; margin-bottom: 5px;'}
    = image_tag( '/assets/icon/Tumblr.png', size: "65" )
