- content_for :menu do
  %a{ style: "float:left; display:block", 'data-toggle':"collapse", href:"#menu_collapse", role:"button", 'aria-expanded':"false", 'aria-controls':"menu_collapse" }
    %button.btn.btn-outline-info
      Menu

  = render partial: 'layouts/main_menu'

- content_for :consultation do
  %button.btn.btn-success.client_form_show{ type:"button",  href:"#client_form", role:"button" }
    Оставить заявку

- content_for :information do
  .card.card-info{ style: "background-color: rgba(255, 255, 255, 0.3);" }
    .card-body.ml-10
      %h5.card-title
        Когнитивно-поведенческая терапия
      %h6.card-title
        от
      %h4.card-title
        Андрея Ткаченко
      %p.card-text
        Избавление от невротических, панических и тревожно-депрессивных состояний с помощью психотерапии

      %a.client_form_show{ href:"#", class:"btn btn-success",  href:"#client_form", role:"button"}
        Оставить заявку

- content_for :client_form do
  .collapse#client_form{style:"position:absolute; z-index: 9; margin-left:8.5%;"}
    .row
      %img.close-button#client_form_close{src: "assets/x.png", width:"40px", heght:"40px", style:"float: right; display: block;  margin-bottom: 5px; position: absolute; z-index: 5"}
    .card.card-body{style:"width: 90rem;"}
      = render partial: "clients/form"

- content_for :main_navigation do
  .nav_panel
    %button.btn.btn-outline-dark{ type:"button" }
      %a{ href: "#{education_path}" }  
        Виды проблем
    %button.btn.btn-outline-dark{ type:"button" }
      %a{ href: "#{education_path}" }
        Саморазвитие
    %button.btn.btn-outline-dark{ type:"button" }
      %a{ href: "#{education_path}" }
        Обучение

- content_for :contacts do
  = link_to image_tag("/assets/icon/1fb.png", size: "65"), "https://m.me/tkachenko.psychology", {:class => "c-icon r-icom"} 
  = link_to image_tag("/assets/icon/1insta.png", size: "65"), "https://instagram.com/tkachenko_psychology", {:class => "c-icon r-icom"} 
  = link_to image_tag("/assets/icon/1skype.png", size: "65"), "skype:andreadetotti", {:class => "c-icon r-icom"} 
  = link_to image_tag("/assets/icon/1telegram.png", size: "65"), "https://t.me/tkachenko_psychology", {:class => "c-icon r-icom"} 
  = link_to image_tag("/assets/icon/1viber.png", size: "65"), "viber://chat?number=+380964248025", {:class => "c-icon r-icom"} 
  = link_to image_tag("/assets/icon/1vk.png", size: "65"), "https://vk.com/tkachenko.psychology", {:class => "c-icon r-icom"} 
  = link_to image_tag("/assets/icon/1youtube.png", size: "65"), "https://www.youtube.com/channel/UChccoFGukEuBtMfavtQaHTQ", {:class => "c-icon r-icom"} 
  = link_to image_tag("/assets/icon/1email.png", size: "65"), "mailto:andreadetotti@gmail.com", {:class => "c-icon r-icom"} 

