%table{style: "color: white; font-size: 16pt; margin-left: 250px; border-spacing: 10px 10px;" }
  %thead
    %tr
      %td{style: "width: 350px"}
        %a{ href: "#{ about_path }" }
          Обо мне
      %td{style: "width: 400px"}
        %a{ href: "#{consultation_path}" }
          Консультации
      %td{style: "width: 350px"}
        %a{ href: "#{articles_path}" }
          Статьи
      %td{style: "width: 350px"}
        %a{ href: "#{education_path}" }
          Обучение
    %tr

  %tbody{style: "margin-top: 40px;"}
    %tr
      %td
        Кто я
      %td
        %a{ href: "#{work_with_path}" }
          С чем я работаю
      %td
        Решить проблему
      %td
        

    %tr
      %td
        Моё образование
      %td
        %a{ href: "#{methods_path}" }
          Мои методы работы
      %td
        Психология отношений
      %td
        

    %tr
      %td
        Мой опыт
      %td
        %a{ href: "#{my_reviews_path}" }
          Отзывы клиентов
      %td
        Общая психология
      %td
        


    %tr
      %td
        
      %td
        %a{ href: "#{my_services_path}" }
          Список услуг и стоимость
      %td
        Исследование
      %td
        



    %tr
      %td
        
      %td
        %a{ href: "#{contract_path}" }
          Правила проведения консультации
      %td
        Саморазвитие
      %td
        

    %tr
      %td
        
      %td
        %a{ href: "#{my_faq_path}" } 
          Вопрос - Ответ
      %td
        Для профи
      %td
        



    %tr
      %td
        
      %td
        %a{ href: "#{contacts_path}" }
          Контакты
      %td
        Саморазвитие
      %td
        

.copyrights{style: "margin-left: 250px; margin-top: 50px; text-aligne: center"}
  © 2020 Все права защищены

