<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <nav class="footer__menu">
        <div class="footer__menu-column" style="width: 165px">
          <div class="footer__menu-item"><a class="footer__link" href="/<%= I18n.locale%>/"><%= I18n.t 'menu.Главная' %></a></div>
          <div class="footer__menu-item"><a class="footer__link" href="/<%= I18n.locale%>/about.html"><%= I18n.t 'menu.ОБО МНЕ' %></a></div>
          <div class="footer__menu-item"><a class="footer__link" href="/<%= I18n.locale%>/contacts.html"><%= I18n.t 'menu.КОНТАКТЫ' %></a></div>
          <div class="footer__menu-item"><a class="footer__link" href="/<%= I18n.locale%>/articles.html"><%= I18n.t 'menu.СТАТЬИ' %></a></div>
        </div>
        <div class="footer__menu-column"  style="width: 260px">
          <div class="footer__menu-item"><a class="footer__link" href="/<%= I18n.locale%>/individual_consultation.html"><%= I18n.t 'menu.Индивидуальные сессии' %></a></div>
          <div class="footer__menu-item"><a class="footer__link" href="/<%= I18n.locale%>/family_consultation.html"><%= I18n.t 'menu.Семейные сессии' %></a></div>
          <div class="footer__menu-item"><a class="footer__link" href="/<%= I18n.locale%>/group_consultation.html"><%= I18n.t 'menu.Групповые сессии' %></a></div>
          <div class="footer__menu-item"><a class="footer__link" href="/<%= I18n.locale%>/services.html"><%= I18n.t 'menu.УСЛУГИ' %></a></div>
        </div>
        <div class="footer__menu-column" style="width: 170px">   
          <div class="footer__menu-item"><a class="footer__link" href="/<%= I18n.locale%>/work-with.html"><%= I18n.t 'menu.НАПРАВЛЕНИЯ РАБОТЫ' %></a></div>     
          <div class="footer__menu-item"><a class="footer__link" href="/<%= I18n.locale%>/methods.html"><%= I18n.t 'menu.МЕТОДЫ РАБОТЫ' %></a></div>
          <div class="footer__menu-item"><a class="footer__link" href="/<%= I18n.locale%>/reviews.html"><%= I18n.t 'menu.ОТЗЫВЫ' %></a></div>
          <div class="footer__menu-item"><a class="footer__link" href="/<%= I18n.locale%>/faq.html"><%= I18n.t 'menu.FAQ' %></a></div>
        </div>
      </nav>
      <div class="footer__contacts">
        <a class="footer__contacts_link" href="viber://chat?number=%2B380964248025" target="_blank"><img src="<%= asset_url('icons/viber.svg')%>" alt="viber"> </a>
        <a class="footer__contacts_link" href="https://wa.me/380964248025" target="_blank"><img src="<%= asset_url('icons/whatsapp.svg')%>" alt="whatsapp"></a>
        <a class="footer__contacts_link" href="https://t.me/TkachenkoAndrii" target="_blank"><img src="<%= asset_url('icons/telegram.svg')%>" alt="telegram"></a>
        <a class="footer__contacts_link" href="https://www.facebook.com/tkachenko.psychology" target="_blank"><img src="<%= asset_url('icons/facebook.svg')%>" alt="facebook"></a>
        <a class="footer__contacts_link" href="https://www.instagram.com/tkachenko_psychology" target="_blank"><img src="<%= asset_url('icons/instagram.svg')%>" alt="instagram"></a>
      </div>
      <p class="footer__property"><%= I18n.t 'menu.Права' %></p>
    </div>
  </div>
</footer>