- show = defined?(visible) ? "max-height: 38px; display:block; float: left;  min-width: 660px;" : "min-height: 40px; height: 40px; margin-left: 70px; min-width: 780px; background-color: #2b6ca1; border-radius: 0.25rem; "
- shift = defined?(visible) ? "" : "ml-5"
.collapse#menu_collapse{style: " #{show}"}
  %a{class: shift,  href: "#{ about_path }" }
    %button.btn.btn-white{ type:"button" }
      Обо мне
  #consult
    %a{ href: "#{consultation_path}" }
      %button.btn.btn-white{ type:"button" }
        Консультации
    .collapse#sub_consult
      .card.card-body
        %a.btn.btn-white{ href: "#{work_with_path}" }
          С чем работаю
        %a.btn.btn-white{ href: "#{methods_path}", style: "margin-bottom: 2px;" }
          Мои методы
        %a.btn.btn-white{ href: "#{my_services_path}" }
          Услуги
        %a.btn.btn-white{ href: "#{contract_path}" }
          Договор
        %a.btn.btn-white{ href: "#{my_reviews_path}" }
          Отзывы
        %a.btn.btn-white{ href: "#{my_faq_path}" } 
          Вопрос - Ответ

  %a{ href: "#{articles_path}" }
    %button.btn.btn-white{ type:"button" }
      Статьи
  %a{ href: "#{education_path}" }
    %button.btn.btn-white{ type:"button" }
      Обучение
  %a{ href: "#{contacts_path}" }
    %button.btn.btn-white{ type:"button" }
      Контакты