- show = defined?(visible) ? "display:block" : ""
- shift = defined?(visible) ? "left:540px" : "left:320px"
.collapse#menu_collapse{style: "float:left;  #{show}"}
  %a.ml-5{ href: "#{ about_path }" }
    %button.btn.btn-white{ type:"button" }
      Обо мне
  #consult{style: "display: inline"}
    %a{ href: "#{consultation_path}" }
      %button.btn.btn-white{ type:"button" }
        Консультации
    .collapse#sub_consult{style: "float:left; ml-5; #{shift}"}
      .card.card-body
        %a.btn.btn-white{ href: "#{my_faq_path}" } 
          Вопрос - ответ
        %a.btn.btn-white{ href: "#{contract_path}" }
          Контракт

        %a.btn.btn-white{ href: "#{my_services_path}" }
          Услуги

        %a.btn.btn-white{ href: "#{my_reviews_path}" }
          Отзывы

        %a.btn.btn-white{ href: "#{work_with_path}" }
          С чем работаю

        %a.btn.btn-white{ href: "#{methods_path}" }
          Мои методы
  %a{ href: "#{articles_path}" }
    %button.btn.btn-white{ type:"button" }
      Статьи
  %a{ href: "#{education_path}" }
    %button.btn.btn-white{ type:"button" }
      Обучение
  %a{ href: "#{contacts_path}" }
    %button.btn.btn-white{ type:"button" }
      Контакты