<header class="header">
  <div class="container">
    <div class="header__body">
      <a href="/" class="header__logo" style="display: flex; align-items: center;"> 
        <img src="<%= asset_url('logo.png')%>" alt="логотип">
        <div class="header__logo-name" style="font-family: 'Lora';
    font-family: 'Brygada 1918';
    font-family: 'STIX Two Text';font-family: Playfair Display SC; font-size: 17px; padding-left: 15px; letter-spacing: 0.05em; color: var(--white)">
          <p style="margin: 0px;">Андрей</p>
          <p style="padding-left: 7px; margin: -2px 0px 0px 0px;">Ткаченко</p>
        </div>
      </a>
      <input type="checkbox" id="burger" style="display: none;">
      <label for="burger" class="header__burger">
        <span></span>
      </label>
      <nav class="header__menu">
        <h2 class="menu" style="background: var(--gray); box-shadow: 0px 4px 10px rgb(0 0 0 / 15%);
          margin: -10px 0px 0px 0px; padding: 15px 40px 15px 40px; height: 50px;">Меню</h2>
        <ul class="header__list">
          <li>
            <a href="/about.html" class="header__link">Обо мне</a>
          </li>
          <li id="consultation">
            <input type="checkbox" id="inp_cons" style="display: none;">
            <label for="inp_cons">КОНСУЛЬТАЦИИ<img src="<%= asset_url('arrow.svg')%>" alt="стрелка категории" class="arrow"></label>
            <ul>
              <li class="header__link"><a href="/individual_consultation.html">Индивидуальные</a></li>
              <li class="header__link"><a href="/group_consultation.html">Групповые</a></li>
              <li class="header__link"><a href="/work-with.html">Направления работы</a></li>
              <li class="header__link"><a href="/methods.html">Методы работы</a></li>
              <li class="header__link"><a href="/contract.html" style="border: none;">Договор</a></li>
            </ul>
          </li>
          <!-- <li id="products">
            <input type="checkbox" id="inp_products" style="display: none;">
            <label for="inp_products">ПРОДУКТЫ<img src="<%= asset_url('arrow.svg')%>" alt="стрелка категории" class="arrow"></label>
            <ul>
              <li class="header__link"><a href="/work-with.html">Курс стрессоустойчивости</a></li>
              <li class="header__link"><a href="/webinars.html">Вебинары</a></li>
              <li class="header__link"><a href="/books.html" style="border: none;">Книги</a></li>
            </ul>
          </li> -->
          <li>
            <a href="/reviews.html" class="header__link">Отзывы</a>
          </li>
          <li>
            <a href="/articles.html" class="header__link">Статьи</a>
          </li>
          <li>
            <a href="/contacts.html" class="header__link">Контакты</a>
          </li>
          <li>
            <a href="/faq.html" class="header__link">FAQ</a>
          </li>
        </ul>
      </nav>
      <div class="header__contacts">
        <div class="header__contacts-icon"><a href="https://www.youtube.com/channel/UCmruWY6mnZlAlkYWvooDq3Q" target="_blank"><img alt="ютуб" src="<%= asset_url('icons/youtube.svg')%>"></a></div>
        <div class="header__contacts-icon"><a href="https://www.facebook.com/tkachenko.psychology" target="_blank"><img src="<%= asset_url('icons/facebook.svg')%>" alt="фейсбук"></a></div>
        <div class="header__contacts-icon" style="margin-right: 0px"><a href="https://www.instagram.com/tkachenko_psychology" target="_blank"><img src="<%= asset_url('icons/instagram.svg')%>" alt="инстаграм"></a></div>
      </div>
    </div>
  </div>
</header>