<!DOCTYPE html>
<html>
<head>
  <title>Andrey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>
  <%= csrf_meta_tags %>


  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

  <!-- include summernote css/js --> 
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.js"></script>
</head>
<body>
  <!-- Include the Quill library -->
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

  <div class="container-fluid " style="height:1500px;width:auto;margin-left:250px; margin-right:250px; margin-top: 20px">
    <div class="navigation" style="height:60px; clear:both;">
      <%- unless(defined?(@hide_menu)) %>
        <div class="menu_line">
          <%= render partial: '/layouts/main_menu', locals: {visible: true} %>
          <%= render partial: '/layouts/call_me' %>
        </div>
      <% end %>

      <div class="filters" style="height:60px; margin-top: 10px; clear:both;">
         <%= yield :filters_panel %>
      </div>

      <div class="collapse" id="collapseExample">
        <div class="card card-body" style=" display: block">
          <%= menu_panel(@cat1_ids, 1) if !@cat1_ids.nil?%>        
        </div>
      </div>

    </div>
    <div id="collapseBack" style="position: fixed; left: 0px; top: 0px; width: 100%; height:100%;  background-color: black; opacity: 50%; z-index: 1; display: none"></div>
    <div class="collapse" id="client_form" style="position:absolute; z-index: 9; margin-left:2.5%;" >
      <div class="row">
        <img class="close-button" id="client_form_close" src="assets/x.png" width="40px" heght="40px", style="float: right; display: block;  margin-bottom: 5px; position: absolute; z-index: 5">
        <div class="card card-body" style="width: 90rem;">
          <%= render partial: "clients/form" %>
        </div>
      </div>
    </div>

    <div class="content" style="clear: both; margin: 70px 0 0px;">
      <div> 
        <p>New menu</p>
        <ul>
          
          <li><a href="<%= cathegories_path() %>"> Категории </a></li>
          <li><a href="<%= courses_path() %>">     Курсы </a></li>
          <li><a href="<%= articles_path() %>">    Статьи </a></li>
          <li><a href="<%= services_path() %>">    Услуги </a></li>
          <li><a href="<%= faqs_path() %>">        *ЧАсто задаваемые  </a></li>
          <li><a href="<%= clients_path() %>">     *Клиенты </a></li>
          <li><a href="<%= experiences_path() %>"> *Опыт </a></li>
          <li><a href="<%= reviews_path() %>">     Обзоры </a></li>
        </ul>
      </div>
      <%= yield %>
    </div>
  </div>

</body>
</html>
